<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.trito.tams.web.system.bbs.mapper.BbsMapper">
	
	<!-- 공지사항관리 리스트 출력 -->
	<select id="selectBbsMngList" resultType="kr.co.trito.tams.web.system.bbs.dto.BbsDto" parameterType="kr.co.trito.tams.comm.util.search.SearchCondition">
		SELECT user_id
		     , bbs_grp_id
		     , bbs_dp
		     , bbs_ttl
		     , bbs_cn
		     , view_cnt
		     , del_yn
		     , updr
		     , DATE_FORMAT(up_dt, '%Y-%m-%d') AS up_dt
		     , regr
		     , DATE_FORMAT(reg_dt, '%Y-%m-%d') AS reg_dt
		     , bbs_id
		FROM (
				  SELECT user_id
					   , bbs_grp_id
					   , bbs_dp
					   , bbs_ttl
					   , bbs_cn
					   , view_cnt
					   , del_yn
					   , updr
					   , up_dt
					   , regr
					   , reg_dt
					   , bbs_id
					   , ROW_NUMBER() OVER(ORDER BY bbs_id) AS rn
		     FROM TB_COM_BBS
		     WHERE 1=1
		     	<if test="params.searchText != null">
					AND ( bbs_grp_id LIKE CONCAT('%', #{params.searchText}, '%')
					   OR bbs_ttl LIKE CONCAT('%', #{params.searchText}, '%'))
			 	</if>
			 	
			 	<choose>
			 		<when test="params.searchOption == 'bbs_grp_id'">
			 			<if test="params.searchText != null">
							AND bbs_grp_id LIKE CONCAT('%', #{params.searchText}, '%')
					 	</if>
			 		</when>
			 		
			 		<when test="params.searchOption == 'bbs_ttl'" >
			 			<if test="params.searchText != null">
			 				AND bbs_ttl LIKE CONCAT('%', #{params.searchText}, '%')
			 			</if>
			 		</when>
			 	</choose>
			 	
			 	<if test="params.delYnOption != null">
					AND del_yn = #{params.delYnOption}
		 		</if>
		     ) AS a
		WHERE rn BETWEEN #{start} AND #{end}
		ORDER BY bbs_id
	</select>
	
	<!-- 공지사항관리 카운트 -->
	<select id="selectCountBbsMng" resultType="int" parameterType="kr.co.trito.tams.comm.util.search.SearchCondition"> 
   		SELECT count(*) cnt 
		FROM TB_COM_BBS
		WHERE 1=1
		    <if test="params.searchText != null">
				AND ( bbs_grp_id LIKE CONCAT('%', #{params.searchText}, '%')
				   OR bbs_ttl LIKE CONCAT('%', #{params.searchText}, '%'))
		 	</if>
		 	
		 	<choose>
		 		<when test="params.searchOption == 'bbs_grp_id'">
		 			<if test="params.searchText != null">
						AND bbs_grp_id LIKE CONCAT('%', #{params.searchText}, '%')
				 	</if>
		 		</when>
		 		
		 		<when test="params.searchOption == 'bbs_ttl'" >
		 			<if test="params.searchText != null">
		 				AND bbs_ttl LIKE CONCAT('%', #{params.searchText}, '%')
		 			</if>
		 		</when>
		 	</choose>
		 	
		 	<if test="params.delYnOption != null">
				AND del_yn = #{params.delYnOption}
	 		</if>
   	</select>
   	
   	<!-- 공지사항관리 등록 -->
	<insert id="bbsMngInsert" parameterType="kr.co.trito.tams.web.system.bbs.dto.BbsDto" useGeneratedKeys="true" keyProperty="bbsId">
		INSERT INTO TB_COM_BBS ( 
		       user_id
		     , bbs_grp_id
		     , bbs_dp
		     , bbs_ttl
		     , bbs_cn
		     , view_cnt
		     , regr
			 , reg_dt
		) VALUES (
		       #{userId}
		     , #{bbsGrpId}
		     , #{bbsDp}
		     , #{bbsTtl}
		     , #{bbsCn}
		     , #{viewCnt}
		     , #{regr}
		     , current_timestamp()
		)
	</insert>
	
	<!-- 공지사항관리 수정 -->
	<update id="bbsMngUpdate" parameterType="kr.co.trito.tams.web.system.bbs.dto.BbsDto">
		UPDATE TB_COM_BBS         
		   SET bbs_grp_id = #{bbsGrpId}
		     , bbs_ttl    = #{bbsTtl}
		     , bbs_cn     = #{bbsCn}
		     , updr       = #{updr}
			 , up_dt      = current_timestamp()
		 WHERE bbs_id = #{bbsId}              
	</update>
	
	<!-- 공지사항관리 삭제 -->
	<delete id="bbsMngDelete" parameterType="kr.co.trito.tams.web.system.bbs.dto.BbsDto">
		DELETE FROM TB_COM_BBS
        WHERE bbs_id = #{bbsId}
	</delete>
	
	<!-- 게시판 상세 출력 -->
	<select id="selectBbsInfo" resultType="kr.co.trito.tams.web.system.bbs.dto.BbsDto" parameterType="kr.co.trito.tams.comm.util.search.SearchCondition">
  	     SELECT BBS_ID
		      , USER_ID
		      , BBS_GRP_ID
		      , BBS_DP
		      , BBS_TTL
		      , BBS_CN
		      , VIEW_CNT
		      , DEL_YN
		      , UPDR
		      , UP_DT
		      , REGR
		      , REG_DT
		   FROM TB_COM_BBS A
	      WHERE 1=1
		    AND BBS_ID = #{params.bbsId}
	</select>
	
	<!-- 공지사항 리스트 출력 -->
	<select id="selectBbsList" resultType="kr.co.trito.tams.web.system.bbs.dto.BbsDto" parameterType="kr.co.trito.tams.comm.util.search.SearchCondition">
		SELECT user_id
		     , bbs_grp_id
		     , bbs_dp
		     , bbs_ttl
		     , bbs_cn
		     , view_cnt
		     , del_yn
		     , updr
		     , DATE_FORMAT(up_dt, '%Y-%m-%d') AS up_dt
		     , regr
		     , DATE_FORMAT(reg_dt, '%Y-%m-%d') AS reg_dt
		     , bbs_id
		FROM (
				  SELECT user_id
					   , bbs_grp_id
					   , bbs_dp
					   , bbs_ttl
					   , bbs_cn
					   , view_cnt
					   , del_yn
					   , updr
					   , up_dt
					   , regr
					   , reg_dt
					   , bbs_id
					   , ROW_NUMBER() OVER(ORDER BY bbs_id) AS rn
		     FROM TB_COM_BBS
		     WHERE del_yn = 'N'
		     	<if test="params.searchText != null">
					AND ( bbs_ttl LIKE CONCAT('%', #{params.searchText}, '%'))
			 	</if>
			 	
			 	<choose>
			 		<when test="params.searchOption == 'bbs_ttl'" >
			 			<if test="params.searchText != null">
			 				AND bbs_ttl LIKE CONCAT('%', #{params.searchText}, '%')
			 			</if>
			 		</when>
			 	</choose>
			 	
			 	<if test="params.delYnOption != null">
					AND del_yn = #{params.delYnOption}
		 		</if>
		     ) AS a
		WHERE rn BETWEEN #{start} AND #{end}
		ORDER BY bbs_id
	</select>
	
	<!-- 공지사항 카운트 -->
	<select id="selectCountBbs" resultType="int" parameterType="kr.co.trito.tams.comm.util.search.SearchCondition"> 
   		SELECT count(*) cnt 
		FROM TB_COM_BBS
		WHERE del_yn = 'N'
		    <if test="params.searchText != null">
				AND ( bbs_ttl LIKE CONCAT('%', #{params.searchText}, '%'))
		 	</if>
		 	
		 	<choose>
		 		<when test="params.searchOption == 'bbs_ttl'" >
		 			<if test="params.searchText != null">
		 				AND bbs_ttl LIKE CONCAT('%', #{params.searchText}, '%')
		 			</if>
		 		</when>
		 	</choose>
		 	
		 	<if test="params.delYnOption != null">
				AND del_yn = #{params.delYnOption}
	 		</if>
   	</select>
   	
   	<!-- 조회수 추가 -->
   	<update id="updateViewCnt" parameterType="kr.co.trito.tams.web.system.bbs.dto.BbsDto">
   		UPDATE TB_COM_BBS         
		   SET view_cnt = view_cnt + 1
		 WHERE bbs_id = #{bbsId}
   	</update>
</mapper>