<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout/default">

	<head>
	    <title>[[#{screen.text.menu.screen.title}]]</title>
	</head>
        
	<!-- css -->
	<th:block layout:fragment="css">	
	    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600,400' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/theme.css" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.0.8/css/tabulator.min.css" rel="stylesheet"> 
	</th:block>        
	
	<th:block layout:fragment="script">
		<script type="text/javascript" src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
		<script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.0.7/dist/js/tabulator.min.js"></script>
		
	    <script>
		    
		    let grid;
		    let requestUrl = "/system/menu/menuMng/menuList";
	    
		    $(function(){
		    	
	            //drag 활성화
		     	$("#detailForm").draggable();		    	
		    	
				grid = new Tabulator("#data-table", {
				 	locale:true,
				    langs: $.commGridLocalization(),								
				 	height:"560",
				 	layout:"fitColumns",
				 	movableColumns:true,
				 	pagination:true,
				 	paginationMode:"remote",
				 	ajaxURL:requestUrl,			
				 	ajaxParams: getParams(),
				 	paginationSize:20,				    
				 	paginationSizeSelector:[20, 50, 100, 500],			
				 	dataSendParams:{
				        "page":"currentPage",
				        "size":"numOfRows"
				    } ,							    
				 	placeholder:"No Data Set",				 	
				 	ajaxResponse:function(url, params, res){
				 		$(".result").text("Totals : " + res.condition.totalCount);
						condition = res.condition;				 						 		
				 		return res;
				 	},					 	
				 	columns:[ 
			 	        {formatter:"rowSelection", titleFormatter:"rowSelection", hozAlign:"center", headerHozAlign:"center", 
			 	        	headerSort:false, width:30, cellClick:function(e, cell){
			 	         		cell.getRow().toggleSelect();
			 	        }},	
		                {title: "[[#{screen.text.menu.id}]]"      		, field:"menuId"    	, hozAlign: "center"	, headerHozAlign:"center", width:90},
		                {title: "[[#{screen.text.menu.nm}]]"      	, field:"menuNm"    	, hozAlign: "left"  		, headerHozAlign:"center"},
		                {title: "[[#{screen.text.menu.url}]]"     		, field:"url"       			, hozAlign: "left"  		, headerHozAlign:"center"},
		                {title: "[[#{screen.text.menu.desc}]]"    	, field:"menuDesc"  , hozAlign: "left"  		, headerHozAlign:"center"},
		                {title: "[[#{screen.text.menu.upper.id}]]"	, field:"uppMenuId" 	, hozAlign: "center"	, headerHozAlign:"center", width:100},
		                {title: "[[#{screen.text.menu.level}]]"   		, field:"lvl"       			, hozAlign: "center"	, headerHozAlign:"center", width:100},
		                {title: "[[#{screen.text.comm.useyn}]]"   	, field:"useYn"     		, hozAlign: "center"	, headerHozAlign:"center", width:90},
		                {title: "[[#{screen.text.menu.ispopup}]]" 	, field:"popupYn"   	, hozAlign: "center"	, headerHozAlign:"center", width:90},
		                {title: "[[#{screen.text.menu.sort}]]"    		, field:"sortOdr"   		, hozAlign: "center"	, headerHozAlign:"center", width:90},
		                {title: "[[#{screen.text.comm.regr}]]"    	, field:"regr"      		, hozAlign: "center"	, headerHozAlign:"center", width:100},
		                {title: "[[#{screen.text.comm.regdt}]]"   	, field:"regDt"     		, hozAlign: "center"	, headerHozAlign:"center", width:100},
		                {title: "[[#{screen.text.comm.updr}]]"    	, field:"updr"      		, hozAlign: "center"	, headerHozAlign:"center", width:100},
		                {title: "[[#{screen.text.comm.updt}]]"    	, field:"upDt"      		, hozAlign: "center"	, headerHozAlign:"center", width:100},
				 	],
				});				    	
		    	
				/*-------------------------- Grid Events --------------------------*/
				//row click
				grid.on("rowClick", function(e, row){					
					var rowData = row.getData();		
					showDetailForm(row.getData());
				});	
				
				
				/*-------------------------- UI Events --------------------------*/				

				//조회
		        $(".btn_srch").on("click",function (){
		        	grid.setData(requestUrl, getParams());
		        });
				
				
				//등록
				$(".btn_add").click(function() {
	    	    	showDetailForm();
	    	    });
		        
				//삭제
	    	    $(".btn_del").click(function() {

	    	    	let selectedData  = grid.getSelectedData();
	    	    	let items = [];
	    	    	
	    	    	if(selectedData.length == 0){
	    	    		alert('[[#{screen.info.status.no.selected.item}]]');
	    	    		return;
	    	    	}		    	    	
	    	    	
	            	let chooseVal = confirm("[[#{screen.info.status.default.delete.yn}]]");	    	    	
	            	if(chooseVal) {
		    	    	for(row of selectedData){
		    	    		items.push(row.menuId);	    	    		
		    	    	}	    		    	    	
		    	    	
		    	    	let params = {
			    	    		url : "/system/menu/menuMng/menuDelete",
			    	    		reqType : 'GET',
			    	    		data : {	"items": items.join(",")	}
			    	    	}	    	    	
		    	    	
						$.request(params)
		   				 .then((res) => {
		   					alert("[[#{screen.info.status.delete.success}]]");
		   					$('.btn_srch').click();
		   				 })
		   				 .catch((error) => {
		   					alert("[[#{screen.info.status.error.occur}]]");
		   					console.log(error);
		   				 }) 	            		
	            	}
	    	    });
	    	    
		        
		     	// 팝업창 저장 버튼 처리
	            $('.save_btn').on('click', function (e) {
	            	
	            	let url = '';	            	
	                
	            	if(validationCheck()){
		                let item = {};
		                item.menuId 		= $(".detail_table").find("#menuId").val();
		                item.menuNm 	= $(".detail_table").find("#menuNm").val();
		                item.uppMenuId 	= $(".detail_table").find("#uppMenuId").val();
		                item.menuDesc 	= $(".detail_table").find("#menuDesc").val();
		                item.url 				= $(".detail_table").find("#url").val();
		                item.lvl		 			= $(".detail_table").find("#menuLvl").val();
		                item.useYn	 		= $(".detail_table").find("#useYn").val();
		                item.popupYn	 	= $(".detail_table").find("#popupYn").val();
		                item.sortOdr	 	= $(".detail_table").find("#sortOdr").val();
		
				    	if(save_mode == "insert") {
				    		url = "/system/menu/menuMng/menuInsert";
				    	}else if(save_mode == "update") {
				    		url = "/system/menu/menuMng/menuUpdate";
				    	}			    		
				    		
		    	    	let params = {
			    	    		url : url,
			    	    		reqType : 'GET',
			    	    		data : item,
			    	    	}
		    	    	
		    			$.request(params)
	    				 .then((res) => {
	    					alert("[[#{screen.info.status.save.success}]]");
				            $("#detailForm").hide();	    					 	    					 
	    					$('.btn_srch').click();
	    				 })
	    				 .catch((error) => {
	    					alert("[[#{screen.info.status.error.occur}]]");
	    					console.log(error);
	    				 }) 		            		
	            	}
	            });
	
	          	//수정 버튼
	    	    $(".btn_update").click(function() {
	    	    	let selectedData  = grid.getSelectedData();	    
	    	    	if(selectedData.length > 0){
	    	    		showDetailForm(selectedData[0]);
	    	    	}
	    	    });
	          	
	          	//리셋 버튼
	    	    $(".btn_reset").click(function() {
	    	    	$("#searchText").val("");
	    	    });
		     	
		     	// 팝업창 닫기 버튼 처리
	            $('.close_btn').on('click', function (e) {
	            	$("#detailForm").hide();
	                clearDetailForm();
	            });
	    	});
		    
		    //검색조건
	        function getParams(){
				return {
					"searchText" : $("#searchText").val(),
				}		    	
	         }   		    
		    
			//입력항목 초기화		    
		    function clearDetailForm() {
	    	    $(".detail_table").find("#menuId").val("");
	    		$(".detail_table").find("#menuNm").val("");
	    		$(".detail_table").find("#uppMenuId").val("");
	    		$(".detail_table").find("#menuDesc").val("");
	    		$(".detail_table").find("#url").val("");
	    		$(".detail_table").find("#menuLvl").val("");
	    		$(".detail_table").find("#useYn").val("");
	    		$(".detail_table").find("#popupYn").val("");
	    		$(".detail_table").find("#sortOdr").val("");
	    		save_mode = "";
		    }
			
		    let save_mode = "";
		    function showDetailForm(item) {
		    	
		    	clearDetailForm();
		    	
		    	let title = "메뉴 등록";

		    	 if( item != null ) {
		    		 title = "메뉴 수정";
		    		 save_mode = "update";
		    		 
		    		 $(".detail_table").find("#menuId").val(item.menuId);
		    		 $(".detail_table").find("#menuId").attr("readOnly", true);
		    		 
		    		 $(".detail_table").find("#menuNm").val(item.menuNm);
		    		 $(".detail_table").find("#uppMenuId").val(item.uppMenuId);
		    		 $(".detail_table").find("#menuDesc").val(item.menuDesc);
		    		 $(".detail_table").find("#url").val(item.url);
		    		 $(".detail_table").find("#menuLvl").val(item.lvl);
		    		 $(".detail_table").find("#useYn").val(item.useYn);
		    		 $(".detail_table").find("#popupYn").val(item.popupYn);
		     		 $(".detail_table").find("#sortOdr").val(item.sortOdr);
		    	 } else {
		    		 save_mode = "insert";
		    		 $(".detail_table").find("#menuId").attr("readOnly", false);
		    		 
		    	 }
		    		 
		    	 $(".list_head").find("#head_title").html(title);
		    	
		    	 //상세 팝업 호출
		    	 $('#detailForm').css({
	                 position: 'absolute',
	                 top	 : "10px",
	                 left	 : "10px",
	                 width	 : "650px",
	                 height	 : "auto",
	                 border  : "2px solid navy"
	             }).center().show();
		    }
		    	
		    function enterkey() {
		    	if (window.event.keyCode == 13) {
		    		$('.btn_srch').click();
		        }
		    }

		    // 유효성 검사
		    function validationCheck() {
		    	let isValid = true;
				
				if($.isNull($("#menuId").val())){
					alert("[[#{screen.text.menu.id}]]");
					$("#menuId").focus();
					isValid = false;
				}else if($.isNull($("#menuNm").val())){
					alert("[[#{screen.text.menu.nm}]]");
					$("#menuNm").focus();
					isValid = false;
				}else if($.isNull($("#url").val())){					
					alert("[[#{screen.text.menu.url}]]");
					$("#url").focus();
					isValid = false;
				}else if($.isNull($("#menuLvl").val())){					
					alert("[[#{screen.text.menu.level}]]");
					$("#menuLvl").focus();
					isValid = false;								
				}else if($.isNull($("#useYn").val())){					
					alert("[[#{screen.text.comm.useyn}]]");
					$("#useYn").focus();
					isValid = false;
				}
				
				return isValid;
		    }		    
		    
	    </script>	
	</th:block>

	<div layout:fragment="content">
		<!-- contents_head -->
		<div class="bc">Home &gt; <span th:text="${menuDesc}"></span></div>
		<h3><span th:text="${menuNm}"></span></h3>
		<span th:text="${inqrYn}"></span>
		<!-- //contents_head -->

		<!-- search -->
		<div class="srch_wrap single">
			<table class="srch_table">
				<colgroup>
					<col width="15%"/>
					<col width="15%"/>
					<col width="70%"/>
				</colgroup>
				<tr>
					<td>
						<div style="display: flex; align-items: stretch;">
							<label for="searchText" class="menu_label" style="margin-top: 3px;">[[#{screen.text.role.menu.nm}]]</label>
							<input id="searchText" type="text" onkeyup="enterkey()" placeholder="검색어를 입력해주세요.">
						</div>
					</td>
					<td class="search" colspan="4">
						<!-- [button search] -->
						<header th:replace="layout/fragments/button_srch :: buttonSrchFragment"></header>
					</td>
				</tr>
			</table>
		</div>
		<!-- //search -->
		<div class="list_head">
				<div class="result">Totals : 0,000</div>
				<!-- list_button -->
				<div class="button">
					<a class="btn_add">[[#{screen.btn.insert}]]</a>
					<a class="btn_update">[[#{screen.btn.update}]]</a>
					<a class="btn_del">[[#{screen.btn.delete}]]</a>
				</div>
				<!-- list_button -->
		</div>
		<!-- list -->
		<!-- //search -->

		<!-- list -->
		<div id="data-table"></div>
		<input type="hidden" id="curr_Idx"/>
		<!-- //list -->
	
		<!-- detail popup -->
		<div id="detailForm" class="list_head" style="display:none;">
		  <div id="container">
			  
		        <!-- list_head -->
				<div class="list_head">
					<h6><span id="head_title" ></span></h6>
					<!-- list_button -->
					<div class="button">
						<a class="btn_list save_btn">[[#{screen.btn.save}]]</a>
						<a class="btn_list close_btn">[[#{screen.btn.close}]]</a>
					</div>
					<!-- list_button -->
				</div>
				<!-- //list_head -->
				<!-- detail_table -->
					<table class="detail_table ">
						<colgroup>
						<col style="width:15%" />
						<col style="width:35%" />
						<col style="width:15%" />
						<col style="width:35%" />
						<col />
						</colgroup>
						<tr>
							<th>[[#{screen.text.menu.id}]]</th>
							<td><input type="text" id="menuId" style="width:100%"/></td>
							<th>[[#{screen.text.menu.nm}]]</th>
							<td><input type="text" id="menuNm" style="width:100%"/></td>
						</tr>
						<tr>
							<th>[[#{screen.text.menu.url}]]</th>
							<td><input type="text" id="url" style="width:100%"/></td>
							<th>[[#{screen.text.menu.desc}]]</th>
							<td><input type="text" id="menuDesc" style="width:100%"/></td>
						</tr>
						<tr>
							<th>[[#{screen.text.menu.upper.id}]]</th>
							<td><input type="text" id="uppMenuId" style="width:100%"/></td>
							<th>[[#{screen.text.menu.level}]]</th>
							<td><input type="text" id="menuLvl" style="width:100%"/></td>
						</tr>
						<tr>
							<th>[[#{screen.text.menu.ispopup}]]</th>
							<td><select id="popupYn" style="width:100%">
									<option value="Y">[[#{screen.text.comm.ues}]]</option>
									<option value="N">[[#{screen.text.comm.unuesd}]]</option>
								</select>
							</td>
							<th>Sort Order</th>
							<td><input type="text" id="sortOdr" style="width:100%"/></td>
						</tr>
						<tr>
							<th>[[#{screen.text.comm.useyn}]]</th>
							<td colspan="1">
								<select id="useYn" style="width:100%">
									<option value="Y">[[#{screen.text.comm.ues}]]</option>
									<option value="N">[[#{screen.text.comm.unuesd}]]</option>
								</select>
							</td>
						</tr>
					</table>
				<!-- //detail_table -->
				 
	     	</div>
     	</div>
	
	</div>
	
</html>