<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout/default">

	<head>
	    <title>메뉴관리</title>
	</head>
        
	<!-- css -->
	<th:block layout:fragment="css">
	    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600,400' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/jsgrid.css" />
		<link rel="stylesheet" href="/css/theme.css" />
		
	</th:block>
	
	<th:block layout:fragment="script">
		<script src="/js/jsgrid/db.js"></script>
	    <script src="/js/jsgrid/jsgrid.core.js"></script>
	    <script src="/js/jsgrid/jsgrid.load-indicator.js"></script>
	    <script src="/js/jsgrid/jsgrid.load-strategies.js"></script>
	    <script src="/js/jsgrid/jsgrid.sort-strategies.js"></script>
	    <script src="/js/jsgrid/jsgrid.field.js"></script>
	    <script src="/js/jsgrid/fields/jsgrid.field.text.js"></script>
	    <script src="/js/jsgrid/fields/jsgrid.field.number.js"></script>
	    <script src="/js/jsgrid/fields/jsgrid.field.select.js"></script>
	    <script src="/js/jsgrid/fields/jsgrid.field.checkbox.js"></script>
	    <script src="/js/jsgrid/fields/jsgrid.field.control.js"></script>	
		
	    <script>
	    
	    let numOfRows = 20;
	    let pageIdx = 1;
	    var status = true;
        var selectedItems = [];
	 	var insertedItems = [];
	 	var updatedItems = [];
	    
	    $(function(){
	    	
	        $("#jsGrid").jsGrid({
	        	height: "650",
                width: "100%",
                filtering: false,
                editing: true,
                inserting: true,
                sorting: true,
                paging: true,
                sorter: "number",
                pageIndex:pageIdx,
                pageFirstText:'<a class="first"><img src="/images/common/btn_pn_first.gif"></img></a>',
                pagePrevText: '<a class="pre"><img src="/images/common/btn_pn_pre.gif"></img></a>',
                pageNextText: '<a class="next"><img src="/images/common/btn_pn_next.gif"></img></a>',
                pageLastText: '<a class="last"><img src="/images/common/btn_pn_last.gif"></img></a>',
                pagerFormat: "{first} {prev} {pages} {next} {last}",
                pagerContainer:null,
                pageLoading: true,
                pager: "#pager",
                autoload: status,
                pageSize: numOfRows,
                pageButtonCount: 5,
                loadonce: true,
                updateOnResize: true, 
	            rowClick: function(args) {
	            	var target = args.event.target;
	            	
					if(target instanceof HTMLTableCellElement) {
						//detail form
						showDetailForm(args.item);
					} else {
						
					   	$("<input>").attr("type", "checkbox").attr("class","singleCheckbox")
					                .prop("checked", $.inArray(args.item.firstName, selectedItems) > -1)
					                .on("change", function () {
						  	 $(this).is(":checked") ? selectItem($(this).parent().next().text()) : unselectItem($(this).parent().next().text());
						});
						
					}

	            }, 
	            pagerContainerClass: "paginate",
	            deleteConfirm: function(item) {
	                return "\""+item.menuNm+"("+menuId+")"+"\""+ "을 삭제 하시겠습니까?";
	            },
	            controller:  {
	                loadData: function(filter) {
	                    var d = $.Deferred();
	                    
	                    currentPage = filter.pageIndex; 
               
	                    let url = "/system/menu/menuMng/menuList";
						let reqType = 'GET';	
						let data = {
            				"currentPage": filter.pageIndex,
            				"numOfRows"  : numOfRows,
            				"searchText" : $("#searchText").val(),
            				"sortField"  : filter.sortField,
            				"sortOrder"  : filter.sortOrder
            			}
						$.commRequest(url, reqType, data)
							.then((res) => {
								$(".result").text("Results : " + res.condition.totalCount);
								d.resolve({data : res.data, itemsCount: res.condition.totalCount});
							})
							.catch((error) => {
								console.log('메뉴조회 실패!!');
							});
	                    
	                    return d.promise();
	                },
	            updateItem: function(item) { 
            		updatedItems.push(item);
            		pageIdx = $("#jsGrid").jsGrid("option", "pageIndex");
                	//$("#jsGrid").jsGrid("option", "pageIndex", $("#jsGrid").jsGrid("option", "pageIndex"));
                	let url = "/system/menu/menuMng/menuUpdate";
                	let reqType = 'GET';
                	$.commRequest(url, reqType, item)
                		.then((res) => {
                			console.log(res);
                			//$(".save_btn").click();
                			alert("수정이 완료되었습니다.");
                			$("#jsGrid").jsGrid("loadData");
                		})
                		.catch((error) => {
                			console.log(error);
                		})
                	
                },
             	deleteItem: function(item) { 
        			let url = "/system/menu/menuMng/menuDelete";
        			let reqType = 'GET';
        			$.commRequest(url, reqType, item)
        				.then((res) => {
        					console.log(res);
        				})
        				.catch((error) => {
        					console.log(error);
        				})
        			
            	},
             	insertItem: function(item) {
        		    let url = "/system/menu/menuMng/menuInsert";
        		    let reqType = 'GET';
        		    $.commRequest(url, reqType, item)
        		    	.then((res) => {
        		    		console.log(res);
        		    	})
        		    	.catch((error) => {
        		    		console.log(error);
        		    	})
            	    }
        		    
            	},
	            fields: [
	            	{  name : "chk"
	                	 , align: "center"
	                	 , width: 20
	                	 , title: ""
	                	 , editing: false
	                	 , sorting: false
	                	 , filtering: false
	                	 , itemTemplate: function(value, item) {
	                       return $("<input>").attr("type", "checkbox").attr("class","singleCheckbox")
	                       .prop("checked", $.inArray(item.firstName, selectedItems) > -1)
	                       .on("change", function () {
	  					  	 $(this).is(":checked") ? selectItem($(this).parent().next().text()) : unselectItem($(this).parent().next().text());
	  					  	 });
	            		   }
	                	 , headerTemplate : function ()  { 
						  	 return  $("<input>").attr("type", "checkbox").attr("id","selectAllCheckbox")
		                     .on("change", function (item) {
		             	    	selectedItems = [];
		            	    	if(this.checked) { // check select status
		            	            $('.singleCheckbox').each(function() { 
		            	                this.checked = true;   
		            	                selectItem($(this).parent().next().text());           
		            	            });			         
		            	        }else {
		            	        	
		            	            $('.singleCheckbox').each(function() { 
		            	                this.checked = false;      
		            	                unselectItem(item);
		            	            });  
		            	            selectedItems = [];
		            	        }
		    				   });
					 	 } ,
	                	},
	                { name: "menuId", type: "number", width: 40, readOnly:true , title: "MENU ID" },
	                { name: "menuNm", type: "text", width: 100 ,align: "left"  , title: "MENU NAME" },
	                { name: "url", type: "text", width: 120 ,align: "left"  , title: "URL" },
	                { name: "menuDesc", type: "text", width: 120 ,align: "left"  , title: "MENU DESC" },
	                { name: "uppMenuId", type: "number", width: 40   , title: "UP MENU ID" },
	                { name: "lvl", type: "number", width: 20  , title: "LEVEL" },
	                { name: "useYn", type: "select", width: 40 ,align: "center"
	                	   , items: [
			                    { Name: "사용",  Id: "Y"},
			                    { Name: "미사용", Id: "N"},
			                  ],
	                  valueField: "Id", textField: "Name", autoSelect: true, selectedIndex: -1   , title: "USE YN" }
	                ,{ name: "popupYn", type: "select", width: 40 ,align: "center"
	                	   , items: [
			                    { Name: "사용",  Id: "Y"},
			                    { Name: "미사용", Id: "N"},
			                  ],
	                  valueField: "Id", textField: "Name", autoSelect: true, selectedIndex: -1   , title: "팝업구분" }
	                ,{ name: "sortOdr", type: "number", align: "center", width: 40, title: "SORT" }
	                ,{ name: "regr", type: "text", width: 60, align: "center"  , readOnly:true, title: "등록자" }
	                ,{ name: "regDt", type: "date", width: 80, align: "center", readOnly:true  , title: "등록일시" }
	                ,{ name: "updr", type: "text", width: 60, align: "center", readOnly:true  , title: "수정" }
	                ,{ name: "upDt", type: "date", width: 80, align: "center", readOnly:true  , title: "수정일시" }
	            ]
	        });
	        
		    var selectItem = function(item) {
		    	
		    	if(!selectedItems.includes(item)){
			    	selectedItems.push(item);
		    	}
		    	
			    if($(".singleCheckbox").length == $(".singleCheckbox:checked").length) {
	             $("#selectAllCheckbox").prop("checked", true);
	            } else {
	                $("#selectAllCheckbox").prop("checked", false);
	            }
			};
		     
		    var unselectItem = function(item) {
		    	
			    selectedItems = $.grep(selectedItems, function(i) {
			    return i !== item;
			    });
			    
			    if(selectedItems.length == 0) {
			    	$('#selectAllCheckbox').attr('checked', false);
			    }
			    if($(".singleCheckbox").length == $(".singleCheckbox:checked").length) {
	             	$("#selectAllCheckbox").prop("checked", true);
		        } else {
		            $("#selectAllCheckbox").prop("checked", false);
		        }
		    };
	        
	        $("#pager").on("change", function() {
	            var page = parseInt($(this).val(), 10);
	            $("#jsGrid").find(".jsgrid-table").append("<tr class='jsgrid-row'></tr>");
	        });

    	    $(".btn_add").click(function() {
    	    	//$("#jsGrid").jsGrid("option", "inserting", "true");
    	    	showDetailForm();
    	    });
	        
    	    $(".btn_del").click(function() {
    	    	
    	    	var arr_item = [];
    	    	var items = [];
    	    	
    	    	//$("#jsGrid").jsGrid("deleteItem",delete_item);
    	    	$.each(selectedItems, function(index,item){
    	    		items.push(item);
    	    	});
    	    	
    	    	//별도 호출
    	    	let url = "/system/menu/menuMng/menuDelete";
    			let reqType = 'GET';
    			dataType: 'json';
    			let data={
    				"items": items.join(",")
    			}
    			$.commRequest(url, reqType, data)
    				.then((res) => {
    					console.log(res);
    					alert("삭제 되었습니다!");
    					$('.btn_srch').click();
    				})
    				.catch((error) => {
    					alert("오류가 발생했습니다");
    					console.log(error);
    				})
    	    	
    	    	
    	    });
    	    
	        $(".btn_srch").on("click",function (){
	    	   $("#jsGrid").jsGrid().trigger("loadData");
	        });
	        
	     	// 팝업창 저장 버튼 처리
            $('.save_btn').on('click', function (e) {
                e.preventDefault();
                
                var insert_item = {};
	                insert_item.menuId 		= $(".detail_table").find("#menuId").val();
		    		insert_item.menuNm 		= $(".detail_table").find("#menuNm").val();
		    		insert_item.uppMenuId 	= $(".detail_table").find("#uppMenuId").val();
		    		insert_item.menuDesc 	= $(".detail_table").find("#menuDesc").val();
		    		insert_item.url 		= $(".detail_table").find("#url").val();
		    		insert_item.lvl		 	= $(".detail_table").find("#menuLvl").val();
		    		insert_item.useYn	 	= $(".detail_table").find("#useYn").val();
		    		insert_item.popupYn	 	= $(".detail_table").find("#popupYn").val();
		    		insert_item.sortOdr	 	= $(".detail_table").find("#sortOdr").val();

		        var action = "";
		    	if(save_mode == "insert") {
		    		action = "insertItem";
		    		//insertedItems.push(insert_item); --일괄
		    	}else if(save_mode == "update") {
		    		action = "updateItem";
		    		//updatedItems.push(insert_item); --일괄
		    	}
    	
    			$("#jsGrid").jsGrid(action, insert_item);
                
	    		clearDetailForm();
                $(this).parents("#detailForm").hide();
                save_mode = "";
            });

          	//수정 버튼
    	    $(".btn_update").click(function() {
    	    	var items = $("#jsGrid").jsGrid("option", "data");
    	    	var item = items.filter(arr => arr.menuId == selectedItems[0]);
    	    	showDetailForm(item[0]);
    	    });
          	
          	//리셋 버튼
    	    $(".btn_reset").click(function() {
    	    	$("#searchText").val("");
    	    });
	     	
	     	// 팝업창 닫기 버튼 처리
            $('.close_btn').on('click', function (e) {
                e.preventDefault();
                clearDetailForm();
                $(this).parents("#detailForm").hide();
                selectedItems = [];
            });
	     	
            //drag 활성화
	     	$("#detailForm").draggable();
            
            //팝업 가운데로 띄우기
            jQuery.fn.center = function () {
                this.css("position","absolute");
                this.css("top", Math.max(0, (($(window).height() - $(this).outerHeight()) / 2) + $(window).scrollTop()) + "px");
                this.css("left", Math.max(0, (($(window).width() - $(this).outerWidth()) / 2) + $(window).scrollLeft()) + "px");
                return this;
            }
	    	    
    	});
	    
	    function clearDetailForm() {
    	    $(".detail_table").find("#menuId").val("");
    		$(".detail_table").find("#menuNm").val("");
    		$(".detail_table").find("#uppMenuId").val("");
    		$(".detail_table").find("#menuDesc").val("");
    		$(".detail_table").find("#url").val("");
    		$(".detail_table").find("#menuLvl").val("");
    		$(".detail_table").find("#useYn").val("");
    		$(".detail_table").find("#popupYn").val("");
    		$(".detail_table").find("#sortOdr").val("");
	    }
	    
	    let save_mode = "";
	    function showDetailForm(item) {
	    	
	    	if(selectedItems.length <= 1){
		    	
		    	let title = "메뉴 등록";
		    	 var readOnly = false;
		    	 
		    	 if( item != null ) {
		    		 title = "메뉴 수정";
		    		 save_mode = "update";
		    		 
		    		 readOnly = false;
		    		 $(".detail_table").find("#menuId").val(item.menuId);
		    		 $(".detail_table").find("#menuId").attr("readOnly", true);
		    		 
		    		 
		    		 $(".detail_table").find("#menuNm").val(item.menuNm);
		    		 $(".detail_table").find("#uppMenuId").val(item.uppMenuId);
		    		 $(".detail_table").find("#menuDesc").val(item.menuDesc);
		    		 $(".detail_table").find("#url").val(item.url);
		    		 $(".detail_table").find("#menuLvl").val(item.lvl);
		    		 $(".detail_table").find("#useYn").val(item.useYn);
		    		 $(".detail_table").find("#popupYn").val(item.popupYn);
		     		 $(".detail_table").find("#sortOdr").val(item.sortOdr);
		    	 } else {
		    		 save_mode = "insert";
		    		 $(".detail_table").find("#menuId").attr("readOnly", false);
		    		 
		    	 }
		    		 
		    	 $(".list_head").find("#head_title").html(title);
		    	
		    	 //상세 팝업 호출
		    	 $('#detailForm').css({
	                 position: 'absolute',
	                 top	 : "10px",
	                 left	 : "10px",
	                 width	 : "650px",
	                 height	 : "450px"
	             }).center().show();
	    	}else{
	    		alert("수정은 1개이상 되지 않습니다.");
	    	}
	    }
	    	
	    function enterkey() {
	    	if (window.event.keyCode == 13) {
	    		$("#jsGrid").jsGrid().trigger("loadData");
	        }
	    }  
	    </script>	
	</th:block>

	<div layout:fragment="content">
		<!-- contents_head -->
		<div class="bc">Home &gt; <span th:text="${menuDesc}"></span></div>
		<h3><span th:text="${menuNm}"></span></h3>
		<!-- //contents_head -->

		<!-- search -->
		<div class="srch_wrap single">
			<table class="srch_table">
			<colgroup>
					<col width="10%"/>
					<col width="20%"/>
					<col width="15%"/>
					<col width="20%"/>
					<col width="15%"/>
					<col width=""/>
			</colgroup>
				<tr>
					<td><label for="searchText" class="menu_label">메뉴 명</label></td>
					<td><input id="searchText" type="text" style="width:100%; margin:10px;" onkeyup="enterkey()"></td>
					<td class="search" colspan="3">
						<a href="#;" class="btn_reset">Reset</a>
						<a href="#;" class="btn_srch">Search</a>
					</td>
				</tr>
			</table>
		</div>
		<!-- //search -->
		<div class="list_head">
				<div class="result">Results : 0,000</div>
				<!-- list_button -->
				<div class="button">
					<a class="btn_add">등록</a>
					<a class="btn_update">수정</a>
					<a class="btn_del">삭제</a>
				</div>
				<!-- list_button -->
		</div>
		<!-- list -->
		<!-- //search -->

		<!-- list -->
		<div id="jsGrid"></div>
		<input type="hidden" id="curr_Idx"/>
		<!-- //list -->
	
		<!-- detail popup -->
		<div id="detailForm" class="list_head" style="display:none;">
		  <div id="container">
			  
		        <!-- list_head -->
				<div class="list_head">
					<h6><span id="head_title" ></span></h6>
					<!-- list_button -->
					<div class="button">
						<a class="btn_list save_btn">저장</a>
						<a class="btn_list close_btn">닫기</a>
					</div>
					<!-- list_button -->
				</div>
				<!-- //list_head -->
				<!-- detail_table -->
					<table class="detail_table ">
						<colgroup>
						<col style="width:20%" />
						<col style="width:30%" />
						<col style="width:20%" />
						<col style="width:30%" />
						<col />
						</colgroup>
						<tr>
							<th>메뉴ID</th>
							<td><input type="text" id="menuId" /></td>
							<th>메뉴명</th>
							<td><input type="text" id="menuNm" /></td>
						</tr>
						<tr>
							<th>URL</th>
							<td><input type="text" id="url" /></td>
							<th>메뉴 설명</th>
							<td><input type="text" id="menuDesc" /></td>
						</tr>
						<tr>
							<th>상위메뉴ID</th>
							<td><input type="text" id="uppMenuId" /></td>
							<th>메뉴 Level</th>
							<td><input type="text" id="menuLvl" /></td>
						</tr>
						<tr>
							<th>팝업구분</th>
							<td><select id="popupYn">
									<option value="Y">사용</option>
									<option value="N">미사용</option>
								</select>
							</td>
							<th>Sort Order</th>
							<td><input type="text" id="sortOdr" /></td>
						</tr>
						<tr>
							<th>사용여부</th>
							<td colspan="3">
								<select id="useYn">
									<option value="Y">사용</option>
									<option value="N">미사용</option>
								</select>
							</td>
						</tr>
					</table>
				<!-- //detail_table -->
				 
	     	</div>
     	</div>
	
	</div>
	
</html>