<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.trito.tams.web.asset.unused.reuse.mapper.UnusedReuseMapper">
	
   	<!-- 재활용의뢰목록 카운트 -->
   	<select id="selectCountUnusedReuseList" resultType="int" parameterType="kr.co.trito.tams.comm.util.search.SearchCondition"> 	 	
		SELECT COUNT(*) AS cnt
		  FROM tb_req_mas a
		 INNER JOIN tb_user b
		    ON a.reqtr = b.user_id
		   AND a.reqtr = #{params.userId}
		   AND req_type = "RU"
		  WHERE dept_cd = (SELECT dept_cd FROM tb_user WHERE user_id = #{params.userId})
	     	<if test="params.reqNo != ''">
				AND (CONCAT('RU',DATE_FORMAT(NOW(),'%y%m'),LPAD(req_no,'3','0')) LIKE CONCAT('%', #{params.reqNo}, '%'))
		 	</if>
		 	<if test="params.fromDate != '' and (params.toDate !='')">
				AND (req_dt between #{params.fromDate} and #{params.toDate})
	 		</if>
	 		<if test="params.reqNm != ''">
				AND (req_nm LIKE CONCAT('%', #{params.reqNm}, '%'))
		 	</if>
		 	<if test="params.deptCd1 != ''">
				AND (A.dept_cd LIKE CONCAT(#{params.deptCd1}, '%'))
		 	</if>
		 	<if test="params.deptCd2 != ''">
				AND (A.dept_cd LIKE CONCAT(#{params.deptCd2}, '%'))
		 	</if>
		 	<if test="params.reqtr != ''">
				AND (reqtr LIKE CONCAT('%', #{params.reqtr}, '%'))
		 	</if>
		 	<if test="params.asetNo != ''">
				AND ((SELECT req_no
					   FROM tb_aset_req
					  WHERE aset_no = #{params.asetNo}) = req_no)
		 	</if>
		 	<if test="params.reqStus != ''">
				AND (req_stus LIKE CONCAT('%', #{params.reqStus}, '%'))
		 	</if>
   	</select>	
	
	<!-- 재활용의뢰목록 리스트 출력 -->
   	<select id="selectUnusedReuseList" resultType="kr.co.trito.tams.web.asset.unused.reuse.dto.ReuesReqMasDto" parameterType="kr.co.trito.tams.comm.util.search.SearchCondition">
   		SELECT CONCAT('RU',DATE_FORMAT(NOW(),'%y%m'),LPAD(req_no,'3','0')) AS req_no
		     , req_type
		     , (SELECT code_nm FROM tb_com_code WHERE code_id = A.req_type) AS req_type_nm
		     , req_nm
		     , DATE_FORMAT(req_dt, '%Y-%m-%d') AS req_dt
		     , reqtr
		     , (SELECT dept_nm
	              FROM tb_dept
	             WHERE dept_cd = A.dept_cd ) AS reqtr_dept
		     , appv_doc_id
		     , req_rsn
		     , req_stus
		     , (SELECT code_nm
		          FROM tb_com_code
		         WHERE code_id = A.req_stus ) AS req_stus_nm
		     , move_pupos
		     , move_dt
		     , tkout_sche_yn
		     , tkout_sche_dt
		     , tkout_yn
		     , tkout_dt
		     , rtkin_yn
		     , rtkin_dt
		     , prgs_dcont_yn
		     , A.updr
		     , A.up_dt
		     , A.regr
		     , A.reg_dt
		     , A.dept_cd
	         , (SELECT dept_nm
	  			  FROM tb_dept
	         	 WHERE dept_cd = A.dept_cd) AS dept_nm
	         , upp_dept_cd
	         , (SELECT dept_nm
	  			  FROM tb_dept
	         	 WHERE dept_cd = B.upp_dept_cd) AS upp_dept_nm
		     , (SELECT count(*)
		          FROM tb_aset_req
		         WHERE req_no = A.req_no) AS aset_cnt
		FROM (
			SELECT req_no
			     , req_type
			     , req_nm
			     , req_dt
			     , reqtr
			     , appv_doc_id
			     , req_rsn
			     , req_stus
			     , move_pupos
			     , move_dt
			     , tkout_sche_yn
			     , tkout_sche_dt
			     , tkout_yn
			     , tkout_dt
			     , rtkin_yn
			     , rtkin_dt
			     , prgs_dcont_yn
			     , a.updr
			     , a.up_dt
			     , a.regr
			     , a.reg_dt
			     , b.dept_cd
			  FROM TB_REQ_MAS a
			 INNER JOIN tb_user b
			    ON a.reqtr = b.user_id
			 <if test="params.userId != ''">
			 	WHERE 1=1 AND req_type="RU"
			   	  AND (reqtr = #{params.userId} OR 
			   	  	   dept_cd = (SELECT dept_cd FROM tb_user WHERE user_id = #{params.userId}))
	     	 </if>
	     ) AS A
	     LEFT OUTER JOIN tb_dept B
	       ON A.dept_cd = B.dept_cd
	     WHERE 1=1
	     	<if test="params.reqNo != ''">
				AND (CONCAT('RU',DATE_FORMAT(NOW(),'%y%m'),LPAD(req_no,'3','0')) LIKE CONCAT('%', #{params.reqNo}, '%'))
		 	</if>
		 	<if test="params.fromDate != '' and (params.toDate !='')">
				AND (req_dt between #{params.fromDate} and #{params.toDate})
	 		</if>
	 		<if test="params.reqNm != ''">
				AND (req_nm LIKE CONCAT('%', #{params.reqNm}, '%'))
		 	</if>
		 	<if test="params.deptCd1 != ''">
				AND (A.dept_cd LIKE CONCAT(#{params.deptCd1}, '%'))
		 	</if>
		 	<if test="params.deptCd2 != ''">
				AND (A.dept_cd LIKE CONCAT(#{params.deptCd2}, '%'))
		 	</if>
		 	<if test="params.reqtr != ''">
				AND (reqtr LIKE CONCAT('%', #{params.reqtr}, '%'))
		 	</if>
		 	<if test="params.asetNo != ''">
				AND ((SELECT req_no
					    FROM tb_aset_req
					   WHERE aset_no = #{params.asetNo}) = req_no)
		 	</if>
		 	<if test="params.reqStus != ''">
				AND (req_stus LIKE CONCAT('%', #{params.reqStus}, '%'))
		 	</if>
	  	 ORDER BY req_no DESC
   	</select>
   	   	
   	<!-- 재활용의뢰목록 작성 -->
   	<insert id="unusedReuseListInsert" parameterType="kr.co.trito.tams.web.asset.unused.reuse.dto.ReuesReqMasDto" useGeneratedKeys="true" keyProperty="req_no">
   		INSERT INTO tb_req_mas (req_type, req_nm, req_dt, reqtr, req_rsn, req_stus, regr, reg_dt)
   		VALUES (#{reqType}, #{reqNm}, current_timestamp(), #{reqtr}, #{reqRsn}, #{reqStus}, #{regr} , current_timestamp())
   	</insert>
   	
   	<!-- 재활용의뢰목록 삭제 -->
   	<delete id="unusedReuseListDelete" parameterType="kr.co.trito.tams.web.asset.unused.reuse.dto.ReuesReqMasDto">
		DELETE 
		  FROM TB_REQ_MAS
         WHERE req_no = SUBSTRING(#{reqNo},7,3)+0
	</delete>
	
	<!-- 재활용의뢰목록 삭제 : 자산수가 1이상일경우  -->
	<delete id="unusedReuseListAsetDelete" parameterType="kr.co.trito.tams.web.asset.unused.reuse.dto.ReuesReqMasDto">
		DELETE 
		  FROM TB_ASET_REQ
         WHERE req_no = SUBSTRING(#{reqNo},7,3)+0
	</delete>
   	
   	<!-- 재활용의뢰목록작성 화면 조회 -->
   	<select id="selectUnusedReuseRegist" resultType="kr.co.trito.tams.web.asset.unused.reuse.dto.ReuesReqMasDto" parameterType="kr.co.trito.tams.comm.util.search.SearchCondition">
   		SELECT (SELECT code_nm FROM tb_com_code WHERE code_id = A.req_type) AS req_type_nm
		     , req_type 
			 , CONCAT('RU',DATE_FORMAT(NOW(),'%y%m'),LPAD(req_no,'3','0')) AS req_no
			 , DATE_FORMAT(req_dt, '%Y-%m-%d') AS req_dt
			 , appv_doc_id
			 , dept_cd
			 , (SELECT dept_nm
	  			  FROM tb_dept
	         	 WHERE dept_cd = A.dept_cd) AS dept_nm
			 , reqtr
		     , req_nm
			 , req_rsn
		FROM (
			SELECT req_type
			     , req_no
			     , req_dt
			     , appv_doc_id
			     , b.dept_cd
			     , reqtr
			     , req_nm
			     , req_rsn
			  FROM TB_REQ_MAS a
			 INNER JOIN tb_user b
			    ON a.reqtr = b.user_id
	     ) AS A
	   WHERE 1=1
	   		<if test="params.reqNo != null">
				AND A.req_no = #{params.reqNo}
		 	</if>
   	</select>
   	
   	<!-- 재활용의뢰 대상자산목록 조회 카운트 -->
   	<select id="selectCountAssetList" resultType="int" parameterType="kr.co.trito.tams.comm.util.search.SearchCondition"> 	 	
		SELECT count(*) AS cnt
  		  FROM tb_aset_req
 		 WHERE req_no = #{params.reqNo}
		<if test="params.asetNo != null">
  		   AND aset_no in (#{params.asetNo})
  		</if>
   	</select>
   	
	<!-- 재활용의뢰 대상자산목록 조회 -->
   	<select id="selectAssetList" resultType="kr.co.trito.tams.web.asset.unused.reuse.dto.ReuseAsetReqDto" parameterType="kr.co.trito.tams.comm.util.search.SearchCondition">
	    SELECT aset_no
			 , req_no
			 , aset_nm
		 	 , aset_type1
		     , aset_type2
		     , aset_type3
		     , mftco
		     , model
		     , sn
		     , biz_dept_cd
		     , (SELECT dept_nm
		 	      FROM tb_dept a
		            WHERE dept_cd = b.biz_dept_cd) biz_dept_nm
		     , b.dept_cd
		     , (SELECT dept_nm
		 	      FROM tb_dept a
		            WHERE dept_cd = b.dept_cd) dept_nm
		     , chrgr
		     , c.user_nm as chrgr_nm
		     , b.exp_dept_cd
		     , (SELECT code_nm
		     	  FROM tb_com_code
		     	 WHERE code_grp_id = 'COST_CENTER'
		     	   AND code_id = b.exp_dept_cd) as exp_dept_nm
		     , b.bsplc
		     , (SELECT code_nm
		     	  FROM tb_com_code
		     	 WHERE code_grp_id = 'SITE'
		     	   AND code_id = b.bsplc) as bsplc_nm
		     , b.buld
		     , (SELECT code_nm
		     	  FROM tb_com_code
		     	 WHERE code_grp_id = 'BUILDING'
		     	   AND code_id = b.buld) as buld_nm
		     , b.floor
		     , (SELECT code_nm
		     	  FROM tb_com_code
		     	 WHERE code_grp_id = 'FLOOR'
		     	   AND code_id = b.floor) as floor_nm
		     , b.loc
		     , '' as tag_yn
		 FROM tb_aset_req b
		INNER JOIN tb_user c
           ON c.user_id = b.chrgr
		WHERE b.req_no = #{params.reqNo}
		<if test="params.asetNo != null">
		  AND b.aset_no in (#{params.asetNo})
	   	</if>		  
		ORDER BY b.aset_no DESC
	</select>
   	
   	<!-- 재활용의뢰 작성 화면 : 의뢰정보 수정 -->
   	<update id="unusedReuseUpdate1" parameterType="kr.co.trito.tams.web.asset.unused.reuse.dto.ReuesReqMasDto">
   		UPDATE tb_req_mas     
		   SET req_nm  = #{reqNm}
		     , req_rsn = #{reqRsn}
		 WHERE req_no = #{reqNo}
   	</update>
   	
   	<!-- 재활용의뢰 작성 화면 : 대상자산정보 수정 -->
   	<update id="unusedReuseUpdate2" parameterType="kr.co.trito.tams.web.asset.unused.reuse.dto.ReuseAsetReqDto">
   		INSERT INTO tb_aset_req
   			   SET aset_no     = #{asetNo}
   			     , req_no	   = #{reqNo}
   			     , aset_nm	   = #{asetNm}
   			     , aset_type1  = #{asetType1}
   			     , aset_type2  = #{asetType2}
   			     , aset_type3  = #{asetType3}
   			     , mftco	   = #{mftco}
			     , model	   = #{model}
			     , sn		   = #{sn}
			     , chrgr	   = #{chrgr}
			     , biz_dept_cd = #{bizDeptCd}
			     , dept_cd	   = #{deptCd}
			     , exp_dept_cd = #{expDeptCd}
			     , bsplc	   = #{bsplc}
			     , buld		   = #{buld}
			     , floor	   = #{floor}
			     , loc		   = #{loc}	
			   ON  DUPLICATE KEY UPDATE
			       aset_type1  = #{asetType1}
		         , aset_type2  = #{asetType2}
		         , aset_type3  = #{asetType3}
		         , mftco	   = #{mftco}
		         , model	   = #{model}
		         , sn		   = #{sn}
		         , chrgr	   = #{chrgr}
		         , exp_dept_cd = #{expDeptCd}
			     , bsplc	   = #{bsplc}
			     , buld		   = #{buld}
			     , floor	   = #{floor}
			     , loc		   = #{loc}
   	</update>   	

   	<!-- 재활용의뢰 작성 화면 : 삭제 (화면 상단) -->
   	<delete id="unusedReuseDelete1" parameterType="kr.co.trito.tams.web.asset.unused.reuse.dto.ReuseAsetReqDto">
       	DELETE FROM a, b 
       	 USING tb_req_mas AS a 
       	  LEFT JOIN tb_aset_req AS b 
       		ON a.req_no = b.req_no 
       	 WHERE a.req_no = #{reqNo}
   	</delete>
   	
   	<!-- 자산수정 의뢰작성 화면 : 삭제 (화면 하단) -->
   	<delete id="unusedReuseDelete2" parameterType="kr.co.trito.tams.web.asset.unused.reuse.dto.ReuseAsetReqDto">
       	DELETE FROM tb_aset_req
		 WHERE aset_no = #{asetNo}
		   AND req_no = #{reqNo}
   	</delete>
   	
   	<!-- 재활용의뢰 작성 화면 : 삭제(화면 상단)시 의뢰자산정보 삭제 -->
   	<delete id="unusedReuseDelete3" parameterType="kr.co.trito.tams.web.asset.unused.reuse.dto.ReuseAsetReqDto">
   		DELETE FROM tb_aset_req
		 WHERE req_no = #{reqNo}
   	</delete>
   	
   	<!-- 사용자팝업 조회 -->
	<select id="selectReuseUserPopupList" resultType="kr.co.trito.tams.web.asset.unused.reuse.dto.ReuseAsetReqDto" parameterType="kr.co.trito.tams.comm.util.search.SearchCondition">
		select a.user_id as chrgr
			 , a.user_nm as chrgr_nm
			 , b.dept_cd
			 , b.dept_nm
			 , b.upp_dept_cd as biz_dept_cd
			 , (select dept_nm from tb_dept where b.upp_dept_cd = dept_cd) as biz_dept_nm
		  FROM tb_user a
			 , tb_dept b 
		 WHERE 1=1
		   AND a.dept_cd = b.dept_cd
	   	<if test="params.searchText!=null">
	   	  AND (USER_ID LIKE CONCAT('%', #{params.searchText}, '%') OR USER_NM LIKE CONCAT('%', #{params.searchText}, '%') )
	   	</if>
		ORDER BY DEPT_CD
	</select>
   	
</mapper>