<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
               xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />               
	</head>
	<div id="wrap" class="btnSrch" th:fragment="buttonSrchFragment">
	
				<div th:if="${session.MenuRoleCheck.inqrYn}=='Y'" >
						<a href="#;" class="btn_reset">[[#{screen.btn.reset}]]</a>
						<a href="#;" class="btn_srch">[[#{screen.btn.search}]]</a>
				</div>
	</div>
	
</html>