<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
               xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />               
	</head>
	<div id="wrap" class="btnCud" th:fragment="buttonCudFragment">
				<!-- list_button -->
				<div class="button">
					<!-- 				
					<a class="btn_add">메뉴 등록</a>
					<a class="btn_saveall">일괄 저장</a>
					<a class="btn_del">메뉴 삭제</a> -->
					<a th:if="${session.MenuRoleCheck.regYn}=='Y'" class="btn_add">등록</a>
					<a th:if="${session.MenuRoleCheck.updYn}=='Y'" class="btn_update">수정</a>
					<a th:if="${session.MenuRoleCheck.delYn}=='Y'" class="btn_del">삭제</a>
					<a th:if="${session.MenuRoleCheck.inqrYn}=='Y'" class="btn_download" id="excelDown">엑셀 다운</a>
				</div>
				<!-- list_button -->
	</div>
	
</html>