<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
	<div id="wrap" th:fragment="menuFragment">
		<header id="gnb">
			<!-- header -->
			<h1><a href="#;"><img src="/images/common/logo_TAMS.png" alt="TRiTo Asset Management System"></a></h1>
			
			<!-- 메뉴 조회 -->
			<script >
			    
				function getMyMenu() { 
						let url = '/system/menu/menuList';
						let reqType = 'POST';				
						let data = {
							"email": ""
						};
						$.commRequest(url, reqType, JSON.stringify(data))
							.then((res) => {

								//1 level
								makeMenu(res.data, "1");
								
								//2 level
								makeMenu(res.data, "2");
								
							})
							.catch((error) => {
								alert('메뉴조회 실패!!');
							});								
				}
				
				//조회된 정보로 메뉴를 구성한다.
				function makeMenu(data, level) {
					
					
					//상단 메뉴 초기화
					if(level == "1") {
						//상단 메뉴 초기화
						console.log();
					}
					
					$.each (data, function (index, el) {
						  
						  var menuId = el.menuId;
						  var menuNm = el.menuNm;
						  var menuDesc = el.menuDesc;
						  var url    = el.url;
						  var lvl    = el.lvl;
						  var uppMenuId = el.uppMenuId;
						  
						  if( url == null ) url = "#;";
						  
						  if( lvl == "1" && lvl == level ) {

							  var li_class = "";
								  if( index == 0 ) li_class = "class='first'";
								  else             li_class = "";
									
							  $("#mymenu").append('<li id="'+menuId+'" '+li_class+'><a id="m_'+menuId+'" href="#;">'+ menuNm +'</a><div id="sub_'+menuId+'" ></div></li>');
								   if (url != "#;") {
									 	//$("#mymenu").*/
									 	$("#m_"+menuId).on("click",function (){
											var $form = $('<form id="form_1"></form>'); 
											$form.attr('action', url); 
											$form.attr('method', 'post'); 
											$form.appendTo('body'); 
											
											var menuIdStr 	= $('<input type="hidden" value="'+menuId+'" name="menuId">'); 
											var menuNmStr 	= $('<input type="hidden" value="'+menuNm+'" name="menuNm">'); 
											var menuDescStr= $('<input type="hidden" value="'+menuDesc+'" name="menuDesc">'); 
											
											$form.append(menuIdStr).append(menuNmStr).append(menuDescStr);
											
											$form.submit();
								   	  });
							   	  } 
							  }
						  
						  if( lvl == "2" && lvl == level ) {

							  $("#mymenu").find("#sub_"+uppMenuId).attr("class","dropdown_depth"); 
							  $("#mymenu").find("#sub_"+uppMenuId).attr("style","with:140px;"); 
							  $("#mymenu").find("#sub_"+uppMenuId).append('<ul class="group"><li id="'+menuId+'"><a id="c_'+menuId+'" href="#">'+menuNm+'</a></li></ul>');
							  //
							  //$("#mymenu").find("#sub_"+uppMenuId).
							  $("#c_"+menuId).on("click",function (){ 
							  	
							  	$("#form_2").remove();
							  
								 var $form = $('<form id="form_2"></form>'); 
								 $form.attr('action', url); 
								 $form.attr('method', 'post'); 
								 $form.appendTo('body'); 
								 
								 var menuIdStr 	= $('<input type="hidden" value="'+menuId+'" name="menuId">'); 
								 var menuNmStr 	= $('<input type="hidden" value="'+menuNm+'" name="menuNm">'); 
								 var menuDescStr= $('<input type="hidden" value="'+menuDesc+'" name="menuDesc">'); 
								 
								 $form.append(menuIdStr).append(menuNmStr).append(menuDescStr);
								 
								 $form.submit();

							  
							  });
							  
						  }

					});
				}
				
				
				getMyMenu();
				
				/////////////////////////////////////////////////////
				$(function() {
					
					$(".setting").on("click",function(){
						showLogout();
					});
					$(".setting").mouseover(function(){
						showLogout();
					});
					
					$("#logout").on("click", function(){
						 var $form = $('<form></form>'); 
						 $form.attr('action', "/logout"); 
						 $form.attr('method', 'post'); 
						 $form.appendTo('body'); 
						 
						 $form.submit();
					});
					
/* 					$("#divLogout").mouseout(function(){
						hideLogout();
					}); */
					
				});
				
				function showLogout() {
					var top = $(".function").position().top - 10;
					var left = $(".function").position().left  - 10;
					console.log($(".function").position());
					$("#divLogout").css("top",top)
					               .css("left",left)
					.show();
				}
				
/* 				function hideLogout() {
					$("#divLogout").hide();
				} */
				
				</script>	
			
			<!-- dropdown_menu -->
			<div class="vertical2" id="topmenu">
				<ul class="dropdown" id="mymenu">
				</ul>
			</div>
			<!-- //dropdown_menu -->
	
			<!-- function -->
			<div class="function">
				<a href="#;" class="setting">Setting</a>
				<span class="">l</span>
				<a href="#;" class="user"><strong>
				<span sec:authentication="principal.dto.userNm"></span>|
				<span sec:authentication="name" ></span>|
				<span sec:authentication="principal.authorities[0].authority"></span>
				<span><a href="#;" id="logout"><strong>logout</strong></a></span>
				</strong>
				</a>
 				<span class="confidential">Confidential</span>
			</div>		
			<!-- //function -->
		<!-- //header -->
		</header>
	</div>
	
	

</html>