<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        layout:decorator="layout/default">
        
	<head>
	    <title>[[#{screen.text.asset.status.screen.title}]]</title>
	</head>        
        
	<!-- css -->
	<th:block layout:fragment="css">	
	    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600,400' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/theme.css" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.0.7/css/tabulator_bootstrap3.min.css" rel="stylesheet">
	</th:block>        
        
	<th:block layout:fragment="script">
		<script type="text/javascript" src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
		<script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.0.7/dist/js/tabulator.min.js"></script>
	
		<script>

			$(function(){
				
		        //자산유형1 코드 조회
		        getCommCode("#asetType1", "AS_CLASS", "1", "");
		        
		        //자산상태
		        getCommCode("#asetStatus", "AS_STATUS", "1", "");
		        
		      	//자산유형1 change 이벤트
		        $("#asetType1").change(function(){
		        	let type1 = $("#asetType1").val();

	        		$('#asetType2').children('option:not(:first)').remove();
	        		$('#asetType3').children('option:not(:first)').remove();
	        		
		        	if(type1 != 'ALL') {
		        		getCommCode("#asetType2", "AS_CLASS", "2", type1);
		        	}
		        });
		        
		        //자산유형2 change 이벤트
		        $("#asetType2").change(function(){
		        	let type2 = $("#asetType2").val();
		        	
		        	$('#asetType3').children('option:not(:first)').remove();
		        	
		        	if(type2 != 'ALL') {		        		
		        		getCommCode("#asetType3", "AS_CLASS", "3", type2);
		        	}
		        });		        
		        
    	        let DEPT_URL = "/common/popup/deptTreePopup";
    	        let DEPT_ID = "DeptPopup";
    	        let DEPT_ARGS = {
	        		width:500,
	        	    height:450,
	        	    fullscreen:"no",
	        	    resizable:"no"	        	        		
    	        };	      
		        
    	        //사업부 조회
	     	    $("#bizDeptPopup").on("click", function() {
			     	var params = {
	        	        searchType:"BIZ_DEPT",
	     	        	deptCd:"#bizDeptCd",
	     	        	deptNm:"#bizDeptNm" 	  	        	        	         	    		
	         	    }; 	        		        	        
	        	    openPopup2(DEPT_ID, DEPT_URL, DEPT_ARGS, params);
	         	 });	
	     	    
    	        //부서 조회
	     	    $("#deptPopup").on("click", function() {
			     	var params = {
	        	        searchType:"DEPT",
	     	        	deptCd:"#deptCd",
	     	        	deptNm:"#deptNm" 	  	        	        	         	    		
	         	    }; 	        		        	        
	        	    openPopup2(DEPT_ID, DEPT_URL, DEPT_ARGS, params);
	         	 });		     	    
		        
	          	//리셋 버튼
	    	    $(".btn_reset").click(function() {
	    	    	$("#asetNo").val("");
	    	    	
	    	    	$('#asetType1').val("ALL").attr("selected", "selected");
	    	    	$('#asetType2').children('option:not(:first)').remove();
	    	    	$('#asetType3 ').children('option:not(:first)').remove();
	    	    		    	    	
	    	    	$("#bizDeptCd").val("");
	    	    	$("#bizDeptNm").val("");
	    	    	$("#deptCd").val("");
	    	    	$("#deptNm").val("");
	    	    	
	    	    	$("#chrgr").val("");
	    	    	$("#mftco").val("");
	    	    	$("#model").val("");
	    	    		    	    	
	    	    	$('#asetStatus').val("ALL").attr("selected", "selected");
	    	    });    	        
    	        
	          	//조회 버튼
	    	    $(".btn_srch").on("click",function (){
	    	    	table.replaceData();
		        });	          	
	          	
				//엔터키
	    	    $(document).keypress(function(event){	    	    	
	    	        var keycode = (event.keyCode ? event.keyCode : event.which);
	    	        console.log(event);
	    	        if(keycode == '13'){
	    	        	table.replaceData();
	    	        }
	    	    }); 	
				
				let asetType1;
				
				$.commRequestComCode("AS_CLASS", "1", "")
				 .then((data) => {
					 asetType1 = data;
				 });

				
				//grid
				let table = new Tabulator("#data-table", {
				 	locale:true,
				    langs: $.commGridLocalization(),								
				 	height:"95%",
				 	layout:"fitColumns",
				 	movableColumns:true,
				 	pagination:true,
				 	paginationMode:"remote",
				 	ajaxURL:"/asset/status/information/assetStatusList",				 	
				 	ajaxParams: getParams(),
				 	paginationSize:2,				    
				 	paginationSizeSelector:[10, 25, 50, 100, 500],			
				 	dataSendParams:{
				        "page":"currentPage",
				        "size":"numOfRows"
				    } ,							    
				 	placeholder:"No Data Set",
				 	index:"asetNo",
				 	ajaxResponse:function(url, params, res){
				 		$(".result").text("Results : " + res.condition.totalCount);
				 		return res;
				 	},					 	
				 	columns:[ 
					 	{title:"자산번호"	, field:"asetNo"	 , hozAlign:"center", headerHozAlign:"center"},
					 	{title:"자산유형1"	, field:"asetType1Nm", hozAlign:"left"  , headerHozAlign:"center", editor:"select", editorParams:function(cell){
					 		var values = {};					 		
					 		$.each(asetType1, function(i){
					 			values[asetType1[i].codeNm] = asetType1[i].codeNm;	
							});	
					 		return {values:values};
					 	}},
					 	{title:"유형1코드"	, field:"asetType1"  , visible:false},
					 	{title:"자산유형2"	, field:"asetType2Nm", hozAlign:"left"  , headerHozAlign:"center"},
					 	{title:"자산유형3"	, field:"asetType3Nm", hozAlign:"left"  , headerHozAlign:"center"},
					 	{title:"메이커"	, field:"mftco"		 , hozAlign:"left"  , headerHozAlign:"center", editor:"input"},
					 	{title:"모델"		, field:"mftco"		 , hozAlign:"left"  , headerHozAlign:"center"},
					 	{title:"S/N"	, field:"sn"		 , hozAlign:"left"  , headerHozAlign:"center"},
					 	{title:"사업부"	, field:"bizDeptNm"	 , hozAlign:"left"  , headerHozAlign:"center"},
					 	{title:"부서"		, field:"deptNm"	 , hozAlign:"left"  , headerHozAlign:"center"},
					 	{title:"담당자"	, field:"chrgr"		 , hozAlign:"center", headerHozAlign:"center"},
					 	{title:"자산상태"	, field:"asetStusNm" , hozAlign:"center", headerHozAlign:"center"},
				 	],
				});						
								
				//페이지 사이즈 변경
				$(".table-pagenation").on("change", function(e){ 
					var value = parseInt( $(e.currentTarget).val(), 10); 
					$("#table").tabulator("setPageSize", value); 
				});
				
				//엑셀 다운로드
				$(".btn_list_rd").on("click", function(){
					table.download("xlsx", "AssetStatus.xlsx", {sheetName:"자산현황"});					
				});
				
				//cell값 변경 callback event.
				table.on("cellEdited", function(cell){
					var field = cell.getField();					
					if(field == 'asetType1Nm'){						
				 		$.each(asetType1, function(i){
				 			if(cell.getValue() == asetType1[i].codeNm){
				 				cell.getRow().update({"asetType1":asetType1[i].codeId});		
				 			}	
						});
				 		console.log(cell.getRow().getCell('asetType1').getValue());
					}
					
					//table 전체 row 조회
					//console.log(cell.getRow().getTable().getData());
					
				});
								
			});

			function getParams(){
				return {
        				"asetNo"   	 : $("#asetNo").val(),
    				    "asetType1"	 : $("#asetType1").val(),
    				    "asetType2"	 : $("#asetType2").val(),
    				    "asetType3"	 : $("#asetType3").val(),
    				    "bizDeptCd"	 : $("#bizDeptCd").val(),
    				    "deptCd"	 : $("#deptCd").val(),
    				    "chrgr"		 : $("#chrgr").val(),        				    
        			    "mftco"      : $("#mftco").val(),
    				    "model"      : $("#model").val(),
    				    "asetStatus" : $("#asetStatus").val(),        				    
        			}
			}	

			function getCommCode(id, code, level, upperCodeId){				
				let url = "/common/comm/selectBox";
				let reqType = 'GET';
				$.commRequestSelectbox(url, reqType, id, code, level, upperCodeId);			
			}
		</script>	
	</th:block>
	
	<div layout:fragment="content">
		<!-- contents_head -->
		<div class="bc">Home &gt; <span th:text="${menuDesc}"></span></div>
		<h3><span th:text="${menuNm}"></span></h3>

		<!-- //contents_head -->	
	
		<!-- contents -->
		<div id="contents">
			<div class="srch_wrap">
				<!-- search_form -->
				<div class="srch_form">
					<table class="srch_table">
						<colgroup>
							<col width="10%"/>
							<col width="23%"/>
							<col width="10%"/>
							<col width="23%"/>
							<col width="10%"/>
							<col width="23%"/>
						</colgroup>		
						<tr>
							<th>[[#{screen.text.asset.asetNo}]]</th>
							<td><input id="asetNo" type="text" style="width:100%;"></td>
							<th>[[#{screen.text.asset.asetType}]]</th>
							<td colspan="3">
								<select id="asetType1" style="width:33%;">
									<option>ALL</option>
								</select>							
								<select id="asetType2" style="width:33%;">
									<option>ALL</option>
								</select>
								<select id="asetType3" style="width:33%;">
									<option>ALL</option>
								</select>							
							</td>
						</tr>
						<tr>
							<th>[[#{screen.text.asset.bizDeptCd}]]</th>
							<td>
								<input type="hidden" id="bizDeptCd"/>
								<input type="text" id="bizDeptNm" style="width:91%;" readonly/>							
								<a href="#" id="bizDeptPopup" >
									<img title="" class="ico_search" alt="Search" src="/images/common/ico_search.png">
								</a>
							</td>
							<th>[[#{screen.text.asset.deptCd}]]</th>
							<td>
								<input type="hidden" id="deptCd"/>
								<input type="text" id="deptNm" style="width:91%;" readonly/>							
								<a href="#" id="deptPopup" >
									<img title="" class="ico_search" alt="Search" src="/images/common/ico_search.png">
								</a>
							</td>
							<th>[[#{screen.text.asset.chrgr}]]</th>
							<td><input id="chrgr" type="text" style="width:100%;"></td>
						</tr>
						<tr>
							<th>[[#{screen.text.asset.mftco}]]</th>
							<td><input id="mftco" type="text" style="width:100%;"></td>
							<th>[[#{screen.text.asset.model}]]</th>
							<td><input id="model" type="text" style="width:100%;"></td>
							<th>[[#{screen.text.asset.asetStus}]]</th>
							<td>
								<select id="asetStatus" style="width:100%;">
									<option>ALL</option>
								</select>
							</td>
						</tr>						
					</table>
					<!-- search_button -->
					<div class="button">
						<a href="#;" class="btn_reset">[[#{screen.btn.reset}]]</a>
						<a href="#;" class="btn_srch">[[#{screen.btn.search}]]</a>
					</div>
					<!-- //search_button -->					
				</div>
				<!-- //search_form -->				
			</div>	
			<!-- list -->
			<div class="list_wrap">
				<!-- list_head -->
				<div class="list_head">
					<div class="result">Results : 0,000</div>
					<!-- list_button -->
					<div class="button">
						<a class="btn_list_rd">[[#{screen.btn.excel}]]</a>
					</div>
					<!-- list_button -->
				</div>
				<!-- //list_head -->	
				
				<div style="height:580px;overflow:auto !important;">
					<div id="data-table"></div>
				</div>							
			</div>		
			<!-- //list -->					
					
		</div>		
	</div>	        
</html>        