<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        layout:decorator="layout/default">
        
	<head>
	    <title>[[#{screen.text.asset.status.screen.title}]]</title>
	</head>
        
	<!-- css -->
	<th:block layout:fragment="css">	
	    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600,400' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/theme.css" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.0.8/css/tabulator.min.css" rel="stylesheet"> 
	</th:block>        
        
	<th:block layout:fragment="script">
		<script type="text/javascript" src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
		<script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.0.7/dist/js/tabulator.min.js"></script>
	
		<script>
			
			let requestUrl = "/asset/status/information/assetStatusList";
	
			$(function(){
				
		        //자산유형1 코드 조회
		        getCommCode("#asetType1", "AS_CLASS", "1", "");
		        
		        //자산상태
		        getCommCode("#asetStatus", "AS_STATUS", "1", "");
		        
		      	//자산유형1 change 이벤트
		        $("#asetType1").change(function(){
		        	let type1 = $("#asetType1").val();

	        		$('#asetType2').children('option:not(:first)').remove();
	        		$('#asetType3').children('option:not(:first)').remove();
	        		
		        	if(type1 != 'ALL') {
		        		getCommCode("#asetType2", "AS_CLASS", "2", type1);
		        	}
		        });
		        
		        //자산유형2 change 이벤트
		        $("#asetType2").change(function(){
		        	let type2 = $("#asetType2").val();
		        	
		        	$('#asetType3').children('option:not(:first)').remove();
		        	
		        	if(type2 != 'ALL') {		        		
		        		getCommCode("#asetType3", "AS_CLASS", "3", type2);
		        	}
		        });		        
		        
    	        let DEPT_URL = "/common/popup/deptTreePopup";
    	        let DEPT_ID = "DeptPopup";
    	        let DEPT_ARGS = {
	        		width:500,
	        	    height:450,
	        	    fullscreen:"no",
	        	    resizable:"no"	        	        		
    	        };	      
		        
    	        //사업부 조회
	     	    $("#bizDeptPopup").on("click", function() {
			     	var params = {
	        	        searchType:"BIZ_DEPT",
	     	        	deptCd:"#bizDeptCd",
	     	        	deptNm:"#bizDeptNm" 	  	        	        	         	    		
	         	    }; 	        		        	        
	        	    openPopup2(DEPT_ID, DEPT_URL, DEPT_ARGS, params);
	         	 });	
	     	    
    	        //부서 조회
	     	    $("#deptPopup").on("click", function() {
			     	var params = {
	        	        searchType:"DEPT",
	     	        	deptCd:"#deptCd",
	     	        	deptNm:"#deptNm" 	  	        	        	         	    		
	         	    }; 	        		        	        
	        	    openPopup2(DEPT_ID, DEPT_URL, DEPT_ARGS, params);
	         	 });		     	    
		        
	          	//리셋 버튼
	    	    $(".btn_reset").click(function() {
	    	    	let elements = ['asetNo', 'bizDeptCd', 'bizDeptNm', 'bizDeptCd', 'deptCd', 'deptNm', 'chrgr', 'mftco', 'model']
	    	    	elements.forEach((item) => {$("#"+item).val('')});
	    	    	$('#asetType1').val("ALL").attr("selected", "selected");
	    	    	$('#asetType2').children('option:not(:first)').remove();
	    	    	$('#asetType3 ').children('option:not(:first)').remove();		    	    	
	    	    	$('#asetStatus').val("ALL").attr("selected", "selected");
	    	    });    	        
    	        
	          	//조회 버튼
	    	    $(".btn_srch").on("click",function (){
	    	    	table.setData(requestUrl, getParams());
		        });	          	
	          	
				//엔터키
	    	    $(document).keypress(function(event){	    	    	
	    	        var keycode = (event.keyCode ? event.keyCode : event.which);
	    	        //console.log(event);
	    	        if(keycode == '13'){
	    	        	table.setData(requestUrl, getParams());
	    	        }
	    	    }); 	
				
				let asetType1;
				
				$.commRequestComCode("AS_CLASS", "1", "")
				 .then((data) => {
					 asetType1 = data;
				 });

				
				//grid(Main List)
				let table = new Tabulator("#data-table", {
				 	locale:true,
				    langs: $.commGridLocalization(),								
				 	height:"560",
				 	layout:"fitColumns",
				 	movableColumns:true,
				 	pagination:true,
				 	paginationMode:"remote",
				 	ajaxURL:requestUrl,				 	
				 	ajaxParams: getParams(),
				 	paginationSize:20,				    
				 	paginationSizeSelector:[20, 50, 100, 500],			
				 	dataSendParams:{
				        "page":"currentPage",
				        "size":"numOfRows"
				    } ,							    
				 	placeholder:"No Data Set",
				 	index:"asetNo",
				 	ajaxResponse:function(url, params, res){
				 		$(".result").text("Totals : " + res.condition.totalCount);
				 		return res;
				 	},					 	
				 	columns:[ 
					 	{title:"자산번호"	, field:"asetNo"	 , hozAlign:"center", headerHozAlign:"center"},
					 	{title:"자산유형1"	, field:"asetType1Nm", hozAlign:"left"  , headerHozAlign:"center", editor:"select", editorParams:function(cell){
					 		var values = {};					 		
					 		$.each(asetType1, function(i){
					 			values[asetType1[i].codeNm] = asetType1[i].codeNm;	
							});	
					 		return {values:values};
					 	}},
					 	{title:"유형1코드"	, field:"asetType1"  , visible:false},
					 	{title:"자산유형2"	, field:"asetType2Nm", hozAlign:"left"  , headerHozAlign:"center"},
					 	{title:"자산유형3"	, field:"asetType3Nm", hozAlign:"left"  , headerHozAlign:"center"},
					 	{title:"메이커"	, field:"mftco"		 , hozAlign:"left"  , headerHozAlign:"center"},
					 	{title:"모델"		, field:"mftco"		 , hozAlign:"left"  , headerHozAlign:"center"},
					 	{title:"S/N"	, field:"sn"		 , hozAlign:"left"  , headerHozAlign:"center"},
					 	{title:"사업부"	, field:"bizDeptNm"	 , hozAlign:"left"  , headerHozAlign:"center"},
					 	{title:"부서"		, field:"deptNm"	 , hozAlign:"left"  , headerHozAlign:"center"},
					 	{title:"담당자"	, field:"chrgr"		 , hozAlign:"center", headerHozAlign:"center"},
					 	{title:"자산상태"	, field:"asetStusNm" , hozAlign:"center", headerHozAlign:"center"},
				 	],
				});						
								
				//페이지 사이즈 변경
				$(".table-pagenation").on("change", function(e){ 
					var value = parseInt( $(e.currentTarget).val(), 10); 
					$("#table").tabulator("setPageSize", value); 
				});
				
				//cell값 변경 callback event.
				table.on("cellEdited", function(cell){
					var field = cell.getField();					
					if(field == 'asetType1Nm'){						
				 		$.each(asetType1, function(i){
				 			if(cell.getValue() == asetType1[i].codeNm){
				 				cell.getRow().update({"asetType1":asetType1[i].codeId});		
				 			}	
						});
				 		//console.log(cell.getRow().getCell('asetType1').getValue());
					}
					
					//table 전체 row 조회
					//console.log(cell.getRow().getTable().getData());
					
				});
					
				//row click
				table.on("rowClick", function(e, row){	
					var rowData = row.getData();
					
					//console.log(rowData);
					
					$("#detAsetNo").text(rowData.asetNo);
					$("#detAsetNm").text(rowData.asetNm);
					$("#detAsetType1Nm").text(rowData.asetType1Nm);
					$("#detAsetType2Nm").text(rowData.asetType2Nm);
					$("#detAsetType3Nm").text(rowData.asetType3Nm);
					$("#detMftco").text(rowData.mftco);
					$("#detModel").text(rowData.model);
					$("#detSn").text(rowData.sn);
					$("#detBizDeptNm").text(rowData.bizDeptNm);
					$("#detDeptNm").text(rowData.deptNm);
					$("#detChrgrNm").text(rowData.chrgrNm);
					$("#detBsplcNm").text(rowData.bsplcNm);
					$("#detBuldNm").text(rowData.buldNm);
					$("#detFloorNm").text(rowData.floorNm);
					$("#detLoc").text(rowData.loc);
					$("#detTagYn").text(rowData.tagYn);
					$("#detExpDeptNm").text(rowData.expDeptNm);
					$("#detExpAcctNm").text(rowData.expAcctNm);
					$("#detDurYear").text(rowData.durYear);
					$("#detAcqPrc").text(rowData.acqPrc);					
					$("#detSvalPrc").text(rowData.svalPrc);
					$("#detAcqDt").text(rowData.acqDt);
					
					showDetailForm('#detailForm');
					
					//변경이력 조회
					$.commRequest("/asset/status/information/assetHistoryList", "GET", {asetNo:rowData.asetNo})
					.then((res) => {
						his_table.setData(res.data)				
					})
					.catch((error) => {
						console.log('변경이력 조회 실패');
					});
					
					//투자이력 조회
					$.commRequest("/asset/status/information/assetInvestList", "GET", {asetNo:rowData.asetNo})
					.then((res) => {
						inv_table.setData(res.data)				
					})
					.catch((error) => {
						console.log('투자이력 조회 실패');
					});					
					
				});		
								
				//상세팝업 Tab 이벤트
				$(".tabs li a").on("click", function(){
					const num = $(".tabs li a").index($(this));
					
					$(".tabs li").removeClass("on");
					$('.tabs li:eq(' + num + ')').addClass("on");

					if(num == 0){
						$('#tab-asset').css('display', 'block');	
						$('#tab-history').css('display', 'none');
						$('#tab-invest').css('display', 'none');
					}else if(num ==1){
						$('#tab-asset').css('display', 'none');
						$('#tab-history').css('display', 'block');
						$('#tab-invest').css('display', 'none');
					}else{
						$('#tab-asset').css('display', 'none');
						$('#tab-history').css('display', 'none');
						$('#tab-invest').css('display', 'block');						
					}
				});
								
				let his_table = new Tabulator("#his-table", {
				 	locale:true,
				    langs: $.commGridLocalization(),								
				 	height:"95%",
				 	layout:"fitColumns",
				 	placeholder:"No Data Set",					 	
				 	columns:[ 
					 	{title:"작업구분"	, field:"reqTypeNm"	  , hozAlign:"center" , headerHozAlign:"center", headerSort:false},
					 	{title:"발생일자"	, field:"reqDt"       , hozAlign:"center" , headerHozAlign:"center", headerSort:false},
					 	{title:"의뢰번호"	, field:"reqNo"       , hozAlign:"center" , headerHozAlign:"center", headerSort:false},
					 	{title:"의뢰상태"	, field:"reqStusNm"   , hozAlign:"center" , headerHozAlign:"center", headerSort:false},
					 	{title:"의뢰자"	, field:"reqtrNm"	  , hozAlign:"center" , headerHozAlign:"center", headerSort:false},
					 	{title:"자산상태"	, field:"asetStusNm"  , hozAlign:"left"   , headerHozAlign:"center", headerSort:false},
					 	{title:"사업부"	, field:"bizDeptNm"	  , hozAlign:"left"   , headerHozAlign:"center", headerSort:false},
					 	{title:"부서"	    , field:"deptNm"	  , hozAlign:"left"   , headerHozAlign:"center", headerSort:false},
					 	{title:"담당자"	, field:"chrgrNm"	  , hozAlign:"left"   , headerHozAlign:"center", headerSort:false},
					 	{title:"자산유형1"	, field:"asettype1Nm" , hozAlign:"left"   , headerHozAlign:"center", headerSort:false},
					 	{title:"자산유형2"	, field:"asettype2Nm" , hozAlign:"left"   , headerHozAlign:"center", headerSort:false},
					 	{title:"자산유형3"	, field:"asettype3Nm" , hozAlign:"left"   , headerHozAlign:"center", headerSort:false},
				 	],
				});						
				
				let inv_table = new Tabulator("#inv-table", {
				 	locale:true,
				    langs: $.commGridLocalization(),								
				 	height:"98%",
				 	layout:"fitColumns",
				 	placeholder:"No Data Set",
				 	columns:[ 
					 	{title:"투자구분"	, field:"newYn"	  	, hozAlign:"center" , headerHozAlign:"center", headerSort:false},
					 	{title:"발생일자"	, field:"invDt"     , hozAlign:"center" , headerHozAlign:"center", headerSort:false},
					 	{title:"투자번호"	, field:"invNo"     , hozAlign:"center" , headerHozAlign:"center", headerSort:false},
					 	{title:"투자명" 	, field:"invTtl"   	, hozAlign:"left" 	, headerHozAlign:"center", headerSort:false},
					 	{title:"PO번호"	, field:"poNo"	  	, hozAlign:"center"	, headerHozAlign:"center", headerSort:false},
					 	{title:"품명"		, field:"mfgdNm"  	, hozAlign:"left"   , headerHozAlign:"center", headerSort:false},
					 	{title:"수량"	  	, field:"qty"	  	, hozAlign:"center" , headerHozAlign:"center", headerSort:false},
					 	{title:"투자자"	, field:"invReqrNm"	, hozAlign:"center" , headerHozAlign:"center", headerSort:false},
					 	{title:"처리자"	, field:"poChrgrNm"	, hozAlign:"center" , headerHozAlign:"center", headerSort:false}
				 	],
				});					
				
				//엑셀 다운로드
				$("#tab-main-excel").on("click", function(){
					table.download("xlsx", "AssetStatus.xlsx", {sheetName:"자산현황"});					
				});				
				
				$("#tab-history-excel").on("click", function(){
					his_table.download("xlsx", "AssetHistory.xlsx", {sheetName:"변경이력"});					
				});		
				
				$("#tab-invest-excel").on("click", function(){
					inv_table.download("xlsx", "AssetInvest.xlsx", {sheetName:"투자이력"});					
				});					
				
			});

			function getParams(){
	        	let params = {}
	        	let elements = ['asetNo', 'asetType1', 'asetType2', 'asetType3', 'bizDeptCd', 'deptCd', 'chrgr', 'mftco', 'model', 'asetStatus'];	        	
	        	elements.forEach(item => {params[item] = $("#"+item).val();});	        	
				return params;					
			}	

			function getCommCode(id, code, level, upperCodeId){				
				let url = "/common/comm/selectBox";
				let reqType = 'GET';
				$.commRequestSelectbox(url, reqType, id, code, level, upperCodeId);			
			}
			
			function showDetailForm(element) {				
				//let assetNo = row.getCell('asetNo').getValue();				
		    	let df = $(element).css({
		    		position: 'absolute',
	                top:"10px",	                 
	                width:"1400px",
	                height:"600px",
	                border:"2px solid navy"
	            });
		    	
		    	df.center();
		    	df.css({top:"100px"});
	            df.show();								
			}
			
		    function closePopup(element){
		    	$(element).hide();		    	
				$(".tabs li").removeClass("on");
				$('.tabs li:eq(0)').addClass("on");
				$('#tab-asset').css('display', 'block');	
				$('#tab-history').css('display', 'none');
				$('#tab-invest').css('display', 'none');
			}			
		</script>	
	</th:block>
	
	<div layout:fragment="content">
		<!-- contents_head -->
		<div class="bc">Home &gt; <span th:text="${menuDesc}"></span></div>
		<h3><span th:text="${menuNm}"></span></h3>

		<!-- //contents_head -->	

		<div class="srch_wrap">
			<!-- search_form -->
			<div class="srch_form">
				<table class="srch_table">
					<colgroup>
						<col width="10%"/>
						<col width="23%"/>
						<col width="10%"/>
						<col width="23%"/>
						<col width="10%"/>
						<col width="23%"/>
					</colgroup>		
					<tr>
						<th>[[#{screen.text.asset.asetNo}]]</th>
						<td><input id="asetNo" type="text" style="width:100%;"></td>
						<th>[[#{screen.text.asset.asetType}]]</th>
						<td colspan="3">
							<select id="asetType1" style="width:33%;">
								<option>ALL</option>
							</select>							
							<select id="asetType2" style="width:33%;">
								<option>ALL</option>
							</select>
							<select id="asetType3" style="width:33%;">
								<option>ALL</option>
							</select>							
						</td>
					</tr>
					<tr>
						<th>[[#{screen.text.asset.bizDeptCd}]]</th>
						<td>
							<input type="hidden" id="bizDeptCd"/>
							<input type="text" id="bizDeptNm" style="width:91%;" readonly/>							
							<a href="#" id="bizDeptPopup" >
								<img title="" class="ico_search" alt="Search" src="/images/common/ico_search.png">
							</a>
						</td>
						<th>[[#{screen.text.asset.deptCd}]]</th>
						<td>
							<input type="hidden" id="deptCd"/>
							<input type="text" id="deptNm" style="width:91%;" readonly/>							
							<a href="#" id="deptPopup" >
								<img title="" class="ico_search" alt="Search" src="/images/common/ico_search.png">
							</a>
						</td>
						<th>[[#{screen.text.asset.chrgr}]]</th>
						<td><input id="chrgr" type="text" style="width:100%;"></td>
					</tr>
					<tr>
						<th>[[#{screen.text.asset.mftco}]]</th>
						<td><input id="mftco" type="text" style="width:100%;"></td>
						<th>[[#{screen.text.asset.model}]]</th>
						<td><input id="model" type="text" style="width:100%;"></td>
						<th>[[#{screen.text.asset.asetStus}]]</th>
						<td>
							<select id="asetStatus" style="width:100%;">
								<option>ALL</option>
							</select>
						</td>
					</tr>						
				</table>
				<!-- search_button -->
				<div class="button">
					<a href="#;" class="btn_reset">[[#{screen.btn.reset}]]</a>
					<a href="#;" class="btn_srch">[[#{screen.btn.search}]]</a>
				</div>
				<!-- //search_button -->					
			</div>
			<!-- //search_form -->				
		</div>	
		<!-- list -->
		<div class="list_wrap" style="height:570px">
			<!-- list_head -->
			<div class="list_head">
				<div class="result">Totals : 0,000</div>
				<!-- list_button -->
				<div class="button">
					<a id="tab-main-excel" class="btn_list_rd">[[#{screen.btn.excel}]]</a>
				</div>
				<!-- list_button -->
			</div>
			<!-- //list_head -->	
			
			<div id="data-table"></div>							
		</div>		
		<!-- //list -->					
		
		<!-- detail popup -->
		<div id="detailForm" class="list_head" style="position:absoulte;z-index:1;display:none;">
			<!-- container -->
			<div id="container" style="height:555px;">	
				<!-- contents -->
				<div id="contents">			
					<!-- contents_head -->
					<h3>자산현황 - 자산정보 상세조회</h3>	
				
					<div class="list_head">
						<!-- list_button -->
						<div class="button">
							<a class="btn_list close_btn" onClick="javascript:closePopup('#detailForm')">닫기</a>
						</div>
						<!-- list_button -->
					</div>
						
					<!-- //contents_head -->					
					<!-- tab -->
					<div id="tab" style="overflow:auto !important;display:block;">
						<ul class="tabs">
							<li class="on"><a href="#">자산정보</a></li>
							<li><a href="#">변경이력</a></li>
							<li><a href="#">투자이력</a></li>
						</ul>							
					</div>
					<!-- //tab -->
					
					<!-- 내용 -->
					<div id="tab-asset" class="list_wrap">
						<!-- list_head -->
						<div class="list_head">
							<h6>자산 기본정보</h6>
						</div>
						<!-- //list_head -->
						<!-- detail_table -->
						<table class="detail_table form_s">
							<colgroup>
							<col style="width:12%" />
							<col style="width:20%" />
							<col style="width:12%" />
							<col style="width:20%" />
							<col style="width:12%" />
							<col />
							</colgroup>
							<tr>
								<th>자산번호</th>
								<td id="detAsetNo"></td>
								<th>자산적요</th>
								<td id="detAsetNm" colspan="3" />
							</tr>
							<tr>
								<th>자산유형1</th>
								<td id="detAsetType1Nm" />
								<th>자산유형2</th>
								<td id="detAsetType2Nm" />
								<th>자산유형3</th>
								<td id="detAsetType3Nm" />
							</tr>
							<tr>
								<th>메이커</th>
								<td id="detMftco" />
								<th>모델</th>
								<td id="detModel" />
								<th>시리얼번호</th>
								<td id="detSn" />
							</tr>
							<tr>
								<th>사업부</th>
								<td id="detBizDeptNm" />
								<th>부서</th>
								<td id="detDeptNm" />
								<th>자산담당자</th>
								<td id="detChrgrNm" />
							</tr>
							<tr>
								<th>사업장</th>
								<td id="detBsplcNm" />
								<th>건물</th>
								<td id="detBuldNm" />
								<th>층</th>
								<td id="detFloorNm" />
							</tr>
							<tr>
								<th>세부위치</th>
								<td id="detLoc" colspan="3" />
								<th>자산태그</th>
								<td id="detTagYn" />
							</tr>
							<tr>
								<th>비용부서</th>
								<td id="detExpDeptNm" />
								<th>계정</th>
								<td id="detExpAcctNm" />
								<th>내용연수</th>
								<td id="detDurYear" />
							</tr>
							<tr>
								<th>취득가</th>
								<td id="detAcqPrc" />
								<th>잔존가</th>
								<td id="detSvalPrc" />
								<th>취득일자</th>
								<td id="detAcqDt" />
							</tr>
						</table>
						<!-- //detail_table -->
						<p class="space10"></p>
							<!-- list -->
							<div class="list_wrap">
								<!-- list_head -->

								<div class="list_head">
									<h6>자산 유형 특성정보</h6>
								</div>
								<!-- //list_head -->

								<!-- detail_table -->
								<table class="detail_table form_s">
									<colgroup>
									<col style="width:12%" />
									<col style="width:20%" />
									<col style="width:12%" />
									<col style="width:20%" />
									<col style="width:12%" />
									<col style="width:20%" />										
									</colgroup>
									<tr>
										<th>크기</th>
										<td>28인치</td>
										<th>타입</th>
										<td>LED</td>
										<th>타입</th>
										<td>LED</td>											
									</tr>
								</table>
								<!-- //detail_table -->
							</div>
							<!-- //list -->							
					</div>	
					
					<div id="tab-history" style="height:400px;overflow:auto !important;display:none;">
						<div id="tab-asset" class="list_wrap">
							<!-- list_head -->
							<div class="list_head">
								<div class="button">
									<a id="tab-history-excel" class="btn_list_rd">엑셀 다운로드</a>
								</div>
							</div>
							<!-- //list_head -->
											
							<div id="his-table"></div>
						</div>
					</div>
					
					<div id="tab-invest" style="height:400px;overflow:auto !important;display:none;">
						<div id="tab-asset" class="list_wrap">
							<!-- list_head -->
							<div class="list_head">
								<div class="button">
									<a id="tab-invest-excel" class="btn_list_rd">엑셀 다운로드</a>
								</div>
							</div>
							<!-- //list_head -->
											
							<div id="inv-table"></div>
						</div>
					</div>									
					<!-- //내용 -->					
					
				</div>		
				<!-- contents -->
			</div>
			<!-- //container -->			
		</div>
		<!-- //detail popup -->			
	</div>	        
</html>        