<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.trito.tams.web.asset.change.modify.mapper.AssetModifyMapper">

	<!-- 수정의뢰목록 리스트 출력 -->
   	<select id="selectRequestList" resultType="kr.co.trito.tams.web.asset.change.modify.dto.ReqMasDto" parameterType="kr.co.trito.tams.comm.util.search.SearchCondition">
   		SELECT req_no
		     , req_type
		     , (SELECT code_nm
		          FROM tb_com_code
		         WHERE code_id = A.req_type) AS req_type_nm
		     , req_nm
		     , DATE_FORMAT(req_dt, '%Y-%m-%d') AS req_dt
		     , reqtr
		     , (SELECT dept_nm
	              FROM tb_dept
	             WHERE dept_cd = A.dept_cd ) AS reqtr_dept
		     , appv_doc_id
		     , req_rsn
		     , req_stus
		     , (SELECT code_nm
		          FROM tb_com_code
		         WHERE code_id = A.req_stus ) AS req_stus_nm
		     , move_pupos
		     , move_dt
		     , tkout_sche_yn
		     , tkout_sche_dt
		     , tkout_yn
		     , tkout_dt
		     , rtkin_yn
		     , rtkin_dt
		     , prgs_dcont_yn
		     , A.updr
		     , A.up_dt
		     , A.regr
		     , A.reg_dt
		     , dept_cd
	         , (SELECT dept_nm
	  			  FROM tb_dept
	         	 WHERE dept_cd = A.dept_cd) AS dept_nm
	         , upp_dept_cd
	         , (SELECT dept_nm
	  			  FROM tb_dept
	         	 WHERE dept_cd = A.upp_dept_cd) AS upp_dept_nm
		     , (SELECT count(*)
		          FROM tb_aset_req
		         WHERE req_no = A.req_no) AS aset_cnt
		FROM (
			SELECT
			       req_no
			     , req_type
			     , req_nm
			     , req_dt
			     , reqtr
			     , appv_doc_id
			     , req_rsn
			     , req_stus
			     , move_pupos
			     , move_dt
			     , tkout_sche_yn
			     , tkout_sche_dt
			     , tkout_yn
			     , tkout_dt
			     , rtkin_yn
			     , rtkin_dt
			     , prgs_dcont_yn
			     , a.updr
			     , a.up_dt
			     , a.regr
			     , a.reg_dt
			     , b.dept_cd
			     , (SELECT upp_dept_cd
		  			  FROM tb_dept
		         	 WHERE dept_cd = b.dept_cd) AS upp_dept_cd
			 FROM TB_REQ_MAS a
			 INNER JOIN tb_user b
			    ON a.reqtr = b.user_id
			 <if test="params.userId != ''">
				WHERE 1=1
				AND (reqtr = #{params.userId} OR 
		       		dept_cd = (SELECT dept_cd FROM tb_user WHERE user_id = #{params.userId}))
	     	 </if>
	     ) AS A
	     WHERE 1=1
	     	<if test="params.reqNo != ''">
				AND (req_no LIKE CONCAT('%', #{params.reqNo}, '%'))
		 	</if>
		 	<if test="params.fromDate != '' and (params.toDate !='')">
				AND (req_dt between #{params.fromDate} and #{params.toDate})
	 		</if>
	 		<if test="params.reqNm != ''">
				AND (req_nm LIKE CONCAT('%', #{params.reqNm}, '%'))
		 	</if>
		 	<if test="params.deptCd1 != ''">
				AND (dept_cd LIKE CONCAT(#{params.deptCd1}, '%'))
		 	</if>
		 	<if test="params.deptCd2 != ''">
				AND (dept_cd LIKE CONCAT(#{params.deptCd2}, '%'))
		 	</if>
		 	<if test="params.reqtr != ''">
				AND (reqtr LIKE CONCAT('%', #{params.reqtr}, '%'))
		 	</if>
		 	<if test="params.asetNo != ''">
				AND ((SELECT req_no
					   FROM tb_aset_req
					  WHERE aset_no = #{params.asetNo}) = req_no)
		 	</if>
		 	<if test="params.reqStus != ''">
				AND (req_stus LIKE CONCAT('%', #{params.reqStus}, '%'))
		 	</if>
		 	
	  	 ORDER BY req_no
   	</select>
   	
   	<!-- 수정의뢰목록 카운트 -->
   	<select id="selectCountRequestList" resultType="int" parameterType="kr.co.trito.tams.comm.util.search.SearchCondition"> 	 	
		SELECT count(*) AS cnt
		FROM (
			SELECT
			       req_no
			     , req_dt
			     , (SELECT dept_cd
	  				  FROM tb_user
	  		         WHERE user_id = #{params.userId}) AS dept_cd
	  		     , req_nm
	  		     , reqtr
	  		     , req_stus
			 FROM TB_REQ_MAS
			 WHERE 1=1
			 <if test="params.userId != ''">
	     		AND reqtr = #{params.userId}
	     		OR (SELECT dept_cd
	  				  FROM tb_user
	  		         WHERE user_id = #{params.userId}) = (SELECT dept_cd
			  				      							FROM tb_user
			  		             						   WHERE user_id= reqtr)
	     	 </if>
	     ) AS A
	     WHERE 1=1
	     	<if test="params.reqNo != ''">
				AND (req_no LIKE CONCAT('%', #{params.reqNo}, '%'))
		 	</if>
		 	<if test="params.fromDate != '' and (params.toDate !='')">
				AND (req_dt between #{params.fromDate} and #{params.toDate})
	 		</if>
	 		<if test="params.reqNm != ''">
				AND (req_nm LIKE CONCAT('%', #{params.reqNm}, '%'))
		 	</if>
		 	<if test="params.deptCd1 != ''">
				AND (dept_cd LIKE CONCAT(#{params.deptCd1}, '%'))
		 	</if>
		 	<if test="params.deptCd2 != ''">
				AND (dept_cd LIKE CONCAT(#{params.deptCd2}, '%'))
		 	</if>
		 	<if test="params.reqtr != ''">
				AND (reqtr LIKE CONCAT('%', #{params.reqtr}, '%'))
		 	</if>
		 	<if test="params.asetNo != ''">
				AND ((SELECT req_no
					   FROM tb_aset_req
					  WHERE aset_no = #{params.asetNo}) = req_no)
		 	</if>
		 	<if test="params.reqStus != ''">
				AND (req_stus LIKE CONCAT('%', #{params.reqStus}, '%'))
		 	</if>
   	</select>
   	
   	<!-- 수정의뢰목록 작성 -->
   	<insert id="requestListInsert" parameterType="kr.co.trito.tams.web.asset.change.modify.dto.ReqMasDto" useGeneratedKeys="true" keyProperty="req_no">
   		INSERT INTO tb_req_mas (req_type, req_nm, req_dt, reqtr, req_rsn, req_stus, regr, reg_dt)
   		VALUES (#{reqType}, #{reqNm}, current_timestamp(),  #{reqtr}, #{reqRsn}, #{reqStus}, #{regr} , current_timestamp())
   	</insert>
   	
   	<!-- 수정의뢰목록 삭제 -->
   	<delete id="requestListDelete" parameterType="kr.co.trito.tams.web.asset.change.modify.dto.ReqMasDto">
		DELETE 
		FROM TB_REQ_MAS
        WHERE req_no = #{reqNo}
	</delete>
   	
   	<!-- 자산수정의뢰작성 조회 -->
   	<select id="selectRequestRegist" resultType="kr.co.trito.tams.web.asset.change.modify.dto.ReqMasDto" parameterType="kr.co.trito.tams.comm.util.search.SearchCondition">
   		SELECT    
   	           (SELECT code_nm
		          FROM tb_com_code
		         WHERE code_id = A.req_type) AS req_type_nm
		     , req_type 
			 , req_no
			 , DATE_FORMAT(req_dt, '%Y-%m-%d') AS req_dt
			 , dept_cd
			 , (SELECT dept_nm
	  			  FROM tb_dept
	         	 WHERE dept_cd = A.dept_cd) AS dept_nm
			 , reqtr
		     , req_nm
			 , req_rsn
		FROM (
			SELECT
			  	   req_type
			     , req_no
			     , req_dt
			     , b.dept_cd
			     , reqtr
			     , req_nm
			     , req_rsn
			 FROM TB_REQ_MAS a
			 INNER JOIN tb_user b
			    ON a.reqtr = b.user_id
	     ) AS A
	   WHERE 1=1
	   		<if test="params.reqNo != null">
				AND A.req_no = #{params.reqNo}
		 	</if>
   	</select>
   	
   	<!-- 대상자산목록 조회 -->
   	<select id="selectAsetReqList" resultType="kr.co.trito.tams.web.common.dto.AsetMasDto" parameterType="kr.co.trito.tams.comm.util.search.SearchCondition">
	   	SELECT aset_no
		 	 , aset_type1
		     , aset_type2
		     , aset_type3
		     , mftco
		     , model
		     , sn
		     , biz_dept_cd
		     , (SELECT dept_nm
		 	      FROM tb_dept a
	             WHERE dept_cd = b.biz_dept_cd) biz_dept_nm
		     , dept_cd
		     , (SELECT dept_nm
		 	      FROM tb_dept a
	             WHERE dept_cd = b.dept_cd) dept_nm
		     , chrgr
		  FROM tb_req_mas a
		 INNER JOIN tb_aset_req b
		    ON a.req_no = b.req_no
		  WHERE b.req_no = #{params.reqNo}
	</select>
	
	
	<!-- 수정의뢰목록 엑셀 다운로드 -->
   	<select id="selectReqExcelList" resultType="kr.co.trito.tams.web.asset.change.modify.dto.ReqMasExcelDto" parameterType="kr.co.trito.tams.comm.util.search.SearchCondition">
   		SELECT req_no
		     , req_type
		     , (SELECT code_nm
		          FROM tb_com_code
		         WHERE code_id = A.req_type) AS req_type_nm
		     , req_nm
		     , DATE_FORMAT(req_dt, '%Y-%m-%d') AS req_dt
		     , reqtr
		     , (SELECT dept_nm
	              FROM tb_dept
	             WHERE dept_cd = A.dept_cd ) AS reqtr_dept
		     , appv_doc_id
		     , req_rsn
		     , req_stus
		     , (SELECT code_nm
		          FROM tb_com_code
		         WHERE code_id = A.req_stus ) AS req_stus_nm
		     , move_pupos
		     , move_dt
		     , tkout_sche_yn
		     , tkout_sche_dt
		     , tkout_yn
		     , tkout_dt
		     , rtkin_yn
		     , rtkin_dt
		     , prgs_dcont_yn
		     , updr
		     , up_dt
		     , regr
		     , reg_dt
		     , dept_cd
		     , (SELECT count(*)
		          FROM tb_aset_req
		         WHERE req_no = A.req_no) AS aset_cnt
		FROM (
			SELECT
			       req_no
			     , req_type
			     , req_nm
			     , req_dt
			     , reqtr
			     , appv_doc_id
			     , req_rsn
			     , req_stus
			     , move_pupos
			     , move_dt
			     , tkout_sche_yn
			     , tkout_sche_dt
			     , tkout_yn
			     , tkout_dt
			     , rtkin_yn
			     , rtkin_dt
			     , prgs_dcont_yn
			     , updr
			     , up_dt
			     , regr
			     , reg_dt
			     , (SELECT dept_cd
	  				  FROM tb_user
	  		         WHERE user_id = #{params.userId}) AS dept_cd
			 FROM TB_REQ_MAS
			 WHERE 1=1
			 <if test="params.userId != ''">
	     		AND reqtr = #{params.userId} <!-- 접속한 아이디 비교 -->
	     		<!-- 작성한 사용자의 부서코드와 또 다른 접속자의 코드가 일치하면 조회. -->
	     		OR (SELECT dept_cd
	  				  FROM tb_user
	  		         WHERE user_id = #{params.userId}) = (SELECT dept_cd
			  				      							FROM tb_user
			  		             						   WHERE user_id= Reqtr)
	     	 </if>
	     ) AS A
	     WHERE 1=1
	     	<if test="params.req_no != ''">
				AND (req_no LIKE CONCAT('%', #{params.req_no}, '%'))
		 	</if>
		 	<if test="params.fromDate != '' and (params.toDate !='')">
				AND (req_dt between #{params.fromDate} and #{params.toDate})
	 		</if>
	 		<if test="params.req_nm != ''">
				AND (req_nm LIKE CONCAT('%', #{params.req_nm}, '%'))
		 	</if>
		 	<if test="params.deptCd1 != ''">
				AND (dept_cd LIKE CONCAT(#{params.deptCd1}, '%'))
		 	</if>
		 	<if test="params.deptCd2 != ''">
				AND (dept_cd LIKE CONCAT(#{params.deptCd2}, '%'))
		 	</if>
		 	<if test="params.Reqtr != ''">
				AND (reqtr LIKE CONCAT('%', #{params.Reqtr}, '%'))
		 	</if>
		 	<if test="params.req_no != ''">
				AND ((SELECT req_no
					   FROM tb_aset_req
					  WHERE aset_no = #{params.aset_no}) = req_no)
		 	</if>
		 	<if test="params.req_stus != ''">
				AND (req_stus LIKE CONCAT('%', #{params.req_stus}, '%'))
		 	</if>
	  	 ORDER BY req_no
   	</select>
</mapper>