<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.trito.tams.web.standard.invest.mapper.InvestMapper">
	
	<select id="selectCountInvest" resultType="int" parameterType="kr.co.trito.tams.comm.util.search.SearchCondition">
		SELECT COUNT(*)
		FROM (
				SELECT a.inv_no
					 , a.inv_ttl				
					 , e.dept_nm
					 , b.po_no
					 , b.mfgd_nm
			 		 , d.user_nm as inv_reqr
				FROM TB_INV_MAS A, TB_PO B, TB_USER D, TB_DEPT E
				WHERE 1 = 1
				AND A.inv_no = B.inv_no
				AND D.use_yn = 'Y'
				AND A.inv_reqr = D.user_id
				AND D.dept_cd = E.dept_cd		
		) a
		WHERE 1=1 
		<if test="params.searchType != 'none'">
		AND ${params.searchType} LIKE CONCAT('%', #{params.searchText}, '%')
		</if>
		<if test="params.searchType2 != 'none'">
		AND ${params.searchType2} LIKE CONCAT('%', #{params.searchText2}, '%')
		</if>	
	</select>
	
	<select id="selectInvestMngList" resultType="kr.co.trito.tams.web.standard.invest.dto.InvestDto" parameterType="kr.co.trito.tams.comm.util.search.SearchCondition">
		SELECT a.inv_no 	as invNo
			 , a.inv_ttl 	as invTtl
			 , date_format(a.inv_dt, '%Y-%m-%d') as invDt
			 , FORMAT(a.inv_qty, 0) as invQty
	 		 , FORMAT(a.inv_amt, 0) as invAmt
			 , a.actg_year  as actgYear
			 , a.po_no 		as poNo
			 , a.mfgd_nm 	as mfgdNm
			 , a.qty 		as qty
			 , FORMAT(a.po_amt, 0) as poAmt
			 , a.dept_nm 	as deptNm
			 , a.vend_nm    as vendNm
			 , date_format(a.req_dt, '%Y-%m-%d') as reqDt
			 , date_format(a.dlv_dt, '%Y-%m-%d') as dlvDt
			 , a.inv_reqr 	as invReqr
			 , a.user_nm 	as userNm
			 , (SELECT CASE 
			   	   	   WHEN COUNT(*) >= 1 THEN 'Y'
			   	   	   ELSE 'N' END
			 	FROM TB_PO_ASET
			 	WHERE po_no = a.po_no
			   ) 			as poAsetYn
			 , date_format(a.reg_dt, '%Y-%m-%d') as regDt
		FROM (
				SELECT ROW_NUMBER() OVER(ORDER BY CAST(a.inv_no AS int)) as rn
				  	 , a.inv_no
					 , a.inv_ttl
					 , a.inv_dt
					 , a.inv_qty
					 , a.inv_amt
					 , a.actg_year
					 , b.po_no
					 , b.mfgd_nm
					 , b.qty
					 , b.po_amt
					 , e.dept_nm
					 , a.inv_reqr
					 , b.vend_nm
					 , b.req_dt
					 , b.dlv_dt
			 		 , d.user_nm
					 , a.reg_dt
				FROM TB_INV_MAS A, TB_PO B, TB_USER D, TB_DEPT E
				WHERE 1 = 1
				AND A.inv_no = B.inv_no
				AND D.use_yn = 'Y'
				AND A.inv_reqr = D.user_id
				AND D.dept_cd = E.dept_cd
			) AS a
		WHERE rn BETWEEN #{start} AND #{end}
		<if test="params.searchType != 'none'">
		AND ${params.searchType} LIKE CONCAT('%', #{params.searchText}, '%')
		</if>
		<if test="params.searchType2 != 'none'">
		AND ${params.searchType2} LIKE CONCAT('%', #{params.searchText2}, '%')
		</if>
		<choose> 
		<when test="params.sortField != null">
			ORDER BY ${params.sortField} ${params.sortOrder}
		</when>
		<otherwise>
			ORDER BY poNo asc
		</otherwise>
		</choose>
	</select>
	
	<!-- TB_PO 정보등록 -->
	<insert id="saveInvestInfo" parameterType="kr.co.trito.tams.web.standard.invest.dto.InvestDto">
		INSERT INTO TB_INV_MAS(INV_NO, INV_TTL, INV_QTY, INV_AMT, ACTG_YEAR, INV_DT, INV_REQR, REG_DT, REGR)
                VALUES
                ( #{invNo}
                , #{invTtl}
                , CAST(#{invQty} as int)
                , CAST(#{invAmt} as int)
                , #{actgYear}
                , #{invDt}
                , #{regr}
                , now()
                , #{regr} )
                ON DUPLICATE KEY
                UPDATE INV_TTL = #{invTtl}
                     , INV_DT = #{invDt}
                     , INV_QTY = CAST(#{invQty} as int)
                     , INV_AMT = CAST(#{invAmt} as int)
                     , INV_REQR = #{regr}
                     , UPDR = #{updr}
                     , UP_DT = now()
	</insert>
	
	<!-- TB_PO 정보등록 -->
	<insert id="savePoInfo" parameterType="kr.co.trito.tams.web.standard.invest.dto.InvestDto">
		INSERT INTO TB_PO(PO_NO, INV_NO, MFGD_NM, QTY, PO_AMT, PO_CHRGR, VEND_NM, REQ_DT, DLV_DT, REGR)
                VALUES 
                ( #{poNo}
                , #{invNo}
                , #{mfgdNm}
                , CAST(#{qty} as int)
                , CAST(#{poAmt} as int)
                , #{regr} 
                , #{vendNm}
                , #{reqDt}
                , #{dlvDt}
                , #{regr} )
                ON DUPLICATE KEY
                UPDATE PO_CHRGR = #{regr}
                     , MFGD_NM = #{mfgdNm}
                     , QTY = CAST(#{qty} as int)
                     , PO_AMT = CAST(#{poAmt} as int)
                     , VEND_NM = #{vendNm}
                     , REQ_DT = #{reqDt}
                     , DLV_DT = #{dlvDt}
                     , UPDR = #{updr}
                     , UP_DT = now()
	</insert>

	<!-- TB_PO 정보등록 -->
	<delete id="deletePoInfo" parameterType="kr.co.trito.tams.web.standard.invest.dto.InvestDto">
		DELETE FROM TB_PO
        WHERE  PO_NO = #{poNo}
	</delete>

</mapper>