<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.trito.tams.web.system.role.mapper.RoleMapper">
   
	<select id="selectCountRole" resultType="int" parameterType="kr.co.trito.tams.comm.util.search.SearchCondition">
		SELECT count(*) cnt 
		  FROM TB_COM_ROLE
		 WHERE 1=1
 		<if test="params.searchText != null">
			AND ${params.searchType} LIKE CONCAT('%', #{params.searchText}, '%')
		</if>
	</select>
	
	<select id="selectRoleMngList" resultType="kr.co.trito.tams.web.system.role.dto.RoleDto" parameterType="kr.co.trito.tams.comm.util.search.SearchCondition">
		SELECT a.role_id as roleId
		     , a.role_nm as roleNm
		     , a.role_desc as roleDesc
		     , a.use_yn as useYn
		     , a.reg_dt as regDt
		FROM (
					SELECT ROW_NUMBER() OVER(ORDER BY CAST(role_id AS int)) AS rn, 
					       role_id,
					       role_nm,
					       role_desc,
					       use_yn,
					       date_format(reg_dt, '%Y/%m/%d %h:%i') as reg_dt
					FROM TB_COM_ROLE
					WHERE 1=1 
			 		<if test="params.searchText != null">
						AND ${params.searchType} LIKE CONCAT('%', #{params.searchText}, '%')
					</if>	
			   ) AS a
		WHERE rn BETWEEN #{start} AND #{end}
		<if test="params.sortField != null">
			ORDER BY ${params.sortField} ${params.sortOrder}
		</if>	
	</select>
	
	<insert id="roleMngInsert" parameterType="kr.co.trito.tams.web.system.role.dto.RoleDto">
		INSERT INTO TB_COM_ROLE (ROLE_ID, ROLE_NM, ROLE_DESC, USE_YN, REGR, REG_DT)
		                 VALUES (#{roleId}, #{roleNm}, #{roleDesc}, #{useYn}, #{regr}, now())
	</insert>
	
	<update id="roleMngUpdate" parameterType="kr.co.trito.tams.web.system.role.dto.RoleDto">
		UPDATE TB_COM_ROLE 
		   SET ROLE_NM	 	= #{roleNm}
		     , ROLE_DESC	= #{roleDesc}
		     , UPDR			= #{updr}
		     , USE_YN		= #{useYn}
		     , UP_DT		= current_timestamp()
        WHERE  ROLE_ID = #{roleId}
	</update>
	
	<delete id="roleMngDelete" parameterType="kr.co.trito.tams.web.system.role.dto.RoleDto">
		DELETE FROM TB_COM_ROLE 
        WHERE  ROLE_ID = #{roleId}
	</delete>

</mapper>