<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.trito.tams.web.asset.insp.manage.mapper.InspManageMapper">
	
   	<!-- 자산실사 이름 리스트 조회 -->
    <select id="selectInspNmList" resultType="kr.co.trito.tams.web.asset.insp.manage.dto.InspMasterDto" parameterType="kr.co.trito.tams.comm.util.search.SearchCondition">
    /* InspManageMapper.xml selectInspNmList */          
    SELECT DISTINCT INSP_NM
      FROM TB_INSP_MAS TIM
     WHERE 1=1
     ORDER BY INSP_NM
    </select>  
    
      
   	<!-- 자산실사 카운트 -->
    <select id="selectCountInspManageList" resultType="int" parameterType="kr.co.trito.tams.comm.util.search.SearchCondition">
    /* InspManageMapper.xml selectCountInspManageList */          
    SELECT COUNT(*) AS CNT
       FROM TB_INSP_MAS TIM
      WHERE 1=1
      <if test="params.inspYear != '' and params.inspYear != null">
       AND (INSP_ST_DT LIKE CONCAT(#{params.inspYear}, '%')) 
      </if>
      <if test="params.inspNm != '' and params.inspNm != null">
       AND INSP_NM = #{params.inspNm}
      </if>
      <if test="params.inspNo != '' and params.inspNo != null">
       AND INSP_NO = #{params.inspNo}
      </if>
    </select>    
    
    
   	<!-- 자산실사목록  조회 -->
    <select id="selectInspManageList" resultType="kr.co.trito.tams.web.asset.insp.manage.dto.InspMasterDto" parameterType="kr.co.trito.tams.comm.util.search.SearchCondition">
    /* InspManageMapper.xml selectInspManageList */
    SELECT INSP_NO                       /* 실사번호 */
         , INSP_NM                       /* 실사명 */
         , LEFT(INSP_ST_DT, 4) INSP_YEAR /* 실사연도*/
         , DATE_FORMAT(INSP_ST_DT , "%Y-%m-%d") INSP_ST_DT /* 실사시작일 */  
         , DATE_FORMAT(INSP_END_DT, "%Y-%m-%d") INSP_END_DT /* 실사종료일 */  
         , CASE WHEN ONLINE_INSP_BASE_DT IS NULL THEN ''
                ELSE DATE_FORMAT(ONLINE_INSP_BASE_DT, "%Y-%m-%d")
            END ONLINE_INSP_BASE_DT      /* 온라인실사기준일 */
         , INSP_STUS                     /* 실사상태 */
         , (SELECT TCC.CODE_NM FROM TB_COM_CODE TCC WHERE TCC.CODE_GRP_ID = 'INSP_MAS_STUS' AND TCC.CODE_ID = TIM.INSP_STUS AND TCC.USE_YN = 'Y' ) INSP_STUS_NM /* 실사상태명 */
         , COALESCE((SELECT SUM(CASE WHEN CHAR_LENGTH(DTIM.INSPTR1) > 0 THEN 1 ELSE 0 END)
                          + SUM(CASE WHEN CHAR_LENGTH(DTIM.INSPTR2) > 0 THEN 1 ELSE 0 END)
                          + SUM(CASE WHEN CHAR_LENGTH(DTIM.INSPTR3) > 0 THEN 1 ELSE 0 END)
                          + SUM(CASE WHEN CHAR_LENGTH(DTIM.INSPTR4) > 0 THEN 1 ELSE 0 END)
                          + SUM(CASE WHEN CHAR_LENGTH(DTIM.INSPTR5) > 0 THEN 1 ELSE 0 END) 
                       FROM TB_INSP_MNG DTIM 
                      WHERE DTIM.INSP_NO = TIM.INSP_NO
                      GROUP BY DTIM.INSP_NO) , 0) INSP_TARGET /* 실사대상자 */
         , CONCAT((SELECT CONVERT(COUNT(*),CHAR) FROM TB_INSP_ASET TIA WHERE TIA.INSP_NO = TIM.INSP_NO AND TIA.INSP_CMPL_YN = 'Y'), 
                  '/',
                  (SELECT CONVERT(COUNT(*),CHAR) FROM TB_INSP_ASET TIA WHERE TIA.INSP_NO = TIM.INSP_NO)) INSP_PROGRESS_RATE /* 부서별 진행상황 */ 
         , UPDR   
         , UP_DT  
         , REGR   
         , REG_DT 
      FROM TB_INSP_MAS TIM
     WHERE 1=1
      <if test="params.inspYear != '' and params.inspYear != null">
       AND (INSP_ST_DT LIKE CONCAT(#{params.inspYear}, '%')) 
      </if>
      <if test="params.inspNm != '' and params.inspNm != null">
       AND INSP_NM = #{params.inspNm}
      </if>
      <if test="params.inspNo != '' and params.inspNo != null">
       AND INSP_NO = #{params.inspNo}
      </if>
     ORDER BY INSP_NO DESC
     <!-- 페이징 -->
     LIMIT #{numOfRows}
     OFFSET #{start} 
    </select>    
    
    
   	<!-- 자산실사목록 생성 -->
   	<insert id="insertInspMaster" parameterType="Map">
   	/* InspManageMapper.xml insertInspMaster */
    INSERT INTO TB_INSP_MAS
    (INSP_NO, INSP_NM, INSP_ST_DT, INSP_END_DT, ONLINE_INSP_BASE_DT, INSP_STUS, UPDR, UP_DT, REGR, REG_DT)
    VALUES
    (
     CONCAT('R',DATE_FORMAT(NOW(),'%y%m'),LPAD( NEXTVAL(TAMS.SQ_INSP_NO) ,'3','0'))
    ,#{inspNm} 
    ,#{inspStDt}
    ,#{inspEndDt}
    ,#{onlineInspBaseDt}
    ,#{inspStus} /* NL정상 */
    ,#{regr}
    ,now()
    ,#{regr}
    ,now()
    )
   	</insert>
   	
   	<!-- 자산실사목록 수정 -->
   	<insert id="updateInspMaster" parameterType="Map">
   	/* InspManageMapper.xml updateInspMaster */
    UPDATE TB_INSP_MAS
       SET INSP_NM             = #{inspNm}
         , INSP_ST_DT          = #{inspStDt}
         , INSP_END_DT         = #{inspEndDt}
         , ONLINE_INSP_BASE_DT = #{onlineInspBaseDt}
     WHERE INSP_NO = #{inspNo}
   	</insert>
    
    <!-- 자산실사목록 삭제 -->
    <delete id="deleteInspMaster" parameterType="Map">
   	/* InspManageMapper.xml deleteInspMaster */
    DELETE FROM TB_INSP_MAS
     WHERE INSP_NO = #{inspNo}   
    </delete>
    
    <!-- 자산실사 대상 자산 카운트 조회 -->
    <select id="selectCountInspAsetList" resultType="int" parameterType="kr.co.trito.tams.comm.util.search.SearchCondition">
    /* InspManageMapper.xml selectCountInspAsetList */
    SELECT COUNT(*)
      FROM TB_INSP_ASET TIM
     WHERE 1=1
      <if test="params.inspNo != '' and params.inspNo != null">
       AND INSP_NO = #{params.inspNo} 
      </if>
    </select>
    
    
    <!-- 자산실사 대상 자산 조회  -->
    <select id="selectInspAsetList" resultType="kr.co.trito.tams.web.asset.insp.manage.dto.InspMasterDto" parameterType="kr.co.trito.tams.comm.util.search.SearchCondition">
    /* InspManageMapper.xml selectInspAsetList */
    SELECT TIA.INSP_NO /* 실사번호 */ 
         , TIA.ASET_NO /* 자산번호*/
         , TIA.ASET_NM /* 자산명*/
         , TIA.ASET_TYPE1 /* 자산유형1 */ 
         , (SELECT TCC.CODE_NM FROM TB_COM_CODE TCC WHERE TCC.CODE_GRP_ID = 'AS_CLASS' AND TCC.CODE_ID = TIA.ASET_TYPE1) ASET_TYPE1_NM
         , TIA.ASET_TYPE2 /* 자산유형2 */
         , (SELECT TCC.CODE_NM FROM TB_COM_CODE TCC WHERE TCC.CODE_GRP_ID = 'AS_CLASS' AND TCC.CODE_ID = TIA.ASET_TYPE2) ASET_TYPE2_NM
         , TIA.ASET_TYPE3 /* 자산유형3 */
         , (SELECT TCC.CODE_NM FROM TB_COM_CODE TCC WHERE TCC.CODE_GRP_ID = 'AS_CLASS' AND TCC.CODE_ID = TIA.ASET_TYPE3) ASET_TYPE3_NM
         , TIA.MFTCO  /* 메이커 */
         , TIA.MODEL  /* 모델 */
         , TIA.SN /* S/N */
         , (SELECT TD.UPP_DEPT_CD FROM TB_DEPT TD WHERE TD.DEPT_CD = TIA.DEPT_CD) BIZ_DEPT_CD /* 사업부코드 */
         , (SELECT DEPT_NM FROM TB_DEPT TBUP WHERE DEPT_CD = (SELECT UPP_DEPT_CD FROM TB_DEPT TD WHERE DEPT_CD = TIA.DEPT_CD)) BIZ_DEPT_NM /* 사업부명 */
         , DEPT_CD  /* 부서 */
         , (SELECT DEPT_NM  FROM TB_DEPT TD WHERE TD.DEPT_CD = TIA.DEPT_CD) DEPT_NM  
         , TIA.CHRGR  /* 담당자 */
         , TIA.INSP_STUS  /* 실사상태 */
         , (SELECT CODE_NM FROM TB_COM_CODE TCC WHERE TCC.CODE_GRP_ID = 'INSP_STATUS' AND TCC.CODE_ID = TIA.INSP_STUS AND TCC.USE_YN = 'Y') INSP_STUS_NM 
         , TIA.INSP_MTD  /* 실사방법 */
         , (SELECT CODE_NM FROM TB_COM_CODE TCC WHERE TCC.CODE_GRP_ID = 'INSP_METHOD' AND TCC.CODE_ID = TIA.INSP_MTD AND TCC.USE_YN = 'Y') INSP_MTD_NM 
         , TIA.INSP_CMPL_YN  /* 실사완료여부 */
         , TIA.PTCL  /* 특이사항 */
         , TIA.RMK /* 비고 */
      FROM TB_INSP_ASET TIA 
     WHERE 1=1 
      <if test="params.inspNo != '' and params.inspNo != null">
       AND INSP_NO = #{params.inspNo} 
      </if>
     ORDER BY INSP_NO DESC
     <!-- 페이징 -->
     LIMIT #{numOfRows}
     OFFSET #{start} 
    </select>  
    
    
    <!-- 자산실사 자산추가용 리스트 카운트 조회 -->
    <select id="selectInspAsetAddCoutList" resultType="int" parameterType="kr.co.trito.tams.comm.util.search.SearchCondition">
    /* InspManageMapper.xml selectInspAsetAddCoutList */
    SELECT COUNT(*)
      FROM TB_ASET_MAS TAM
     WHERE 1=1
      <if test="params.asetNo != '' and params.asetNo != null">
       AND ASET_NO = #{params.asetNo} 
      </if>
      <if test="params.asetNm != '' and params.asetNm != null">
       AND ASET_NM = #{params.asetNm} 
      </if>
    </select>
    
    
    <!-- 자산실사 자산추가용 리스트 조회 -->
    <select id="selectInspAsetAddList" resultType="kr.co.trito.tams.web.asset.insp.manage.dto.InspMasterDto" parameterType="kr.co.trito.tams.comm.util.search.SearchCondition">
    /* InspManageMapper.xml selectInspAsetAddList */
    SELECT TAM.ASET_NO    /* 자산번호 */
         , TAM.ASET_NM    /* 자산명 */
         , (SELECT TCC.CODE_NM FROM TB_COM_CODE TCC WHERE TCC.CODE_GRP_ID = 'AS_CLASS' AND TCC.USE_YN = 'Y' AND TCC.CODE_ID = TAM.ASET_TYPE1) ASET_TYPE1 /* 자산유형1 */
         , (SELECT TCC.CODE_NM FROM TB_COM_CODE TCC WHERE TCC.CODE_GRP_ID = 'AS_CLASS' AND TCC.USE_YN = 'Y' AND TCC.CODE_ID = TAM.ASET_TYPE2) ASET_TYPE2 /* 자산유형2 */
         , (SELECT TCC.CODE_NM FROM TB_COM_CODE TCC WHERE TCC.CODE_GRP_ID = 'AS_CLASS' AND TCC.USE_YN = 'Y' AND TCC.CODE_ID = TAM.ASET_TYPE3) ASET_TYPE3 /* 자산유형3 */
         , TAM.MFTCO      /* 제조사 */
         , TAM.MODEL      /* 모델 */
         , TAM.SN         /* S/N */
      FROM TB_ASET_MAS TAM
     WHERE 1=1
       AND NOT EXISTS (SELECT 1 FROM TB_INSP_ASET TIA WHERE TIA.INSP_NO = #{params.inspNo} AND TIA.ASET_NO = TAM.ASET_NO)
      <if test="params.asetNo != '' and params.asetNo != null">
       AND ASET_NO = #{params.asetNo} 
      </if>
      <if test="params.asetNm != '' and params.asetNm != null">
       AND ASET_NM = #{params.asetNm} 
      </if>
     ORDER BY ASET_NO DESC
     <!-- 페이징 -->
     LIMIT #{numOfRows}
     OFFSET #{start} 
    </select>  
    
    <!-- 실사관리화면 자산정보 추가 -->
    <insert id="insertInspAssetList" parameterType="kr.co.trito.tams.web.asset.insp.manage.dto.InspMasterDto" >
    /* InspManageMapper.xml insertInspAssetList */
    INSERT INTO TB_INSP_ASET (
      INSP_NO
    , ASET_NO
    , ASET_NM
    , ASET_TYPE1
    , ASET_TYPE2
    , ASET_TYPE3
    , MFTCO
    , MODEL
    , SN
    , DEPT_CD
    , CHRGR
    , BSPLC
    , BULD
    , FLOOR
    , LOC
    , INSP_DT
    , INSP_STUS
    , INSP_MTD
    , INSP_CMPL_YN
    , REGR
    , REG_DT
    ) 
    SELECT #{inspNo} INSP_NO
         , ASET_NO 
         , ASET_NM 
         , ASET_TYPE1 
         , ASET_TYPE2
         , ASET_TYPE3
         , MFTCO 
         , MODEL 
         , SN 
         , DEPT_CD 
         , CHRGR 
         , BSPLC 
         , BULD 
         , FLOOR 
         , LOC 
         , (SELECT INSP_ST_DT FROM TB_INSP_MAS TIM WHERE TIM.INSP_NO = #{inspNo}) 
         , 'NL' 
         , 'WEB' 
         , 'N' 
         , #{regr} 
         , NOW()
      FROM TB_ASET_MAS TAM
     WHERE ASET_NO = #{asetNo}
        ON DUPLICATE KEY 
    UPDATE UPDR  = #{regr}
         , UP_DT = NOW()
    </insert>
    
    
	<!-- 실사관리화면 자산정보 수정 -->
	<update id="updateInspAsetList" parameterType="Map">
	/* InspManageMapper.xml insertInspAssetList */
    UPDATE TB_INSP_ASET SET
           INSP_STUS    = #{inspStus} 
         , INSP_MTD     = #{inspMtd}
         , INSP_CMPL_YN = #{inspCmplYn}
         , PTCL         = #{ptcl}
         , RMK          = #{rmk}
    WHERE INSP_NO  = #{inspNo}
      AND ASET_NO  = #{asetNo}
	</update>

	<!-- 실사관리화면 자산정보 삭제 --> 
	<delete id="deleteInspAsetList" parameterType="Map">
	/* InspManageMapper.xml deleteInspAsetList */
    DELETE FROM TB_INSP_ASET
     WHERE INSP_NO  = #{inspNo}
      <if test="asetNo != '' and asetNo != null">
       AND ASET_NO  = #{asetNo}
      </if>
	</delete>
	
	<!-- 실사관리화면 담당자 정보 삭제 --> 
	<delete id="deleteInspMngList" parameterType="Map">
	/* InspManageMapper.xml deleteInspMngList */
    DELETE FROM TB_INSP_MNG
     WHERE INSP_NO  = #{inspNo}
      <if test="deptCd != '' and deptCd != null">
       AND DEPT_CD  = #{deptCd}
      </if>
	</delete>

	<!-- 실사담당자 리스트 조회 -->
	<select id="selectCountInspMngList" parameterType="kr.co.trito.tams.comm.util.search.SearchCondition" resultType="int">
    /* InspManageMapper.xml selectCountInspMngList */
    SELECT COUNT(*)
      FROM TB_DEPT TD 
      LEFT JOIN TB_INSP_MNG TIM 
        ON TD.DEPT_CD = TIM.DEPT_CD
       AND TIM.INSP_NO = #{params.inspNo}
     WHERE TD.UPP_DEPT_CD IS NOT NULL
       AND CHAR_LENGTH(TD.DEPT_CD)=9
     ORDER BY TD.LOC
	</select>
	
	<!-- 실사담당자 리스트 조회 -->
	<select id="selectInspMngList" parameterType="kr.co.trito.tams.comm.util.search.SearchCondition" resultType="kr.co.trito.tams.web.asset.insp.manage.dto.InspMasterDto">
    /* InspManageMapper.xml selectInspMngList */
    SELECT TD.UPP_DEPT_CD
         , (SELECT UTD.DEPT_NM FROM TB_DEPT UTD WHERE UTD.DEPT_CD = TD.UPP_DEPT_CD) UPP_DEPT_NM
         , TD.DEPT_CD
         , TD.DEPT_NM 
         , (SELECT MAX(USER_ID)
              FROM TB_USER UTU
             WHERE UTU.DEPT_CD = TD.DEPT_CD 
               AND CLPST = (SELECT MIN(TU.CLPST)
                              FROM TB_USER TU 
                             WHERE TU.DEPT_CD = TD.DEPT_CD)) DPLDR
         , TIM.INSP_NO
         , TIM.INSPTR1
         , TIM.INSPTR2
         , TIM.INSPTR3
         , TIM.INSPTR4
         , TIM.INSPTR5
         , TIM.REGR 
         , TIM.REG_DT
      FROM TB_DEPT TD 
      LEFT JOIN TB_INSP_MNG TIM 
        ON TD.DEPT_CD = TIM.DEPT_CD
       AND TIM.INSP_NO = #{params.inspNo}
     WHERE TD.UPP_DEPT_CD IS NOT NULL
       AND CHAR_LENGTH(TD.DEPT_CD)=9
     ORDER BY TD.LOC
	</select>

    <!-- 실사대상자 머지 -->
	<update id="updateInspMngList" parameterType="Map">
	/* InspManageMapper.xml updateInspMngList */
    INSERT INTO TB_INSP_MNG (INSP_NO, DEPT_CD, DPLDR, INSPTR1, INSPTR2, INSPTR3, INSPTR4, INSPTR5, REGR, REG_DT)
    VALUES (#{inspNo}
          , #{deptCd}
          , #{dpldr}
          , #{insptr1}
          , #{insptr2}
          , #{insptr3}
          , #{insptr4}
          , #{insptr5}
          , #{userId}
          , NOW()
    )
        ON DUPLICATE KEY 
    UPDATE DPLDR   = #{dpldr}
         , INSPTR1 = #{insptr1}
         , INSPTR2 = #{insptr2}
         , INSPTR3 = #{insptr3}
         , INSPTR4 = #{insptr4}
         , INSPTR5 = #{insptr5}
         , UPDR    = #{userId}
         , UP_DT   = NOW()
	</update>
	
	<!-- 실사진행율 리스트 조회 -->
	<select id="selectCountInspProgressList" parameterType="kr.co.trito.tams.comm.util.search.SearchCondition" resultType="int">
    /* InspManageMapper.xml selectCountInspProgressList */
    SELECT COUNT(*)
      FROM TB_INSP_MNG TIA
     WHERE INSP_NO = #{params.inspNo}
	</select>

	<!-- 실사진행율 리스트 조회 -->
	<select id="selectInspProgressList" parameterType="kr.co.trito.tams.comm.util.search.SearchCondition" resultType="kr.co.trito.tams.web.asset.insp.manage.dto.InspMasterDto">
    /* InspManageMapper.xml selectInspProgressList */
    SELECT UTIA.INSP_NO            /* 실사번호 */
         , UTIA.UPP_DEPT_CD        /* 사업부 */
         , UTIA.UPP_DEPT_NM        /* 사업부명 */
         , UTIA.DEPT_CD            /* 부서 */
         , UTIA.DEPT_NM            /* 부서명 */
         , UTIA.DPLDR              /* 부서장 */
         , UTIA.INSP_TARGET_CNT    /* 실사대상 자산수 */
         , UTIA.INSP_CMPL_CNT      /* 실사완료 자산수 */
         , CASE WHEN UTIA.INSP_TARGET_CNT = 0 THEN 0
                ELSE FORMAT(UTIA.INSP_CMPL_CNT / UTIA.INSP_TARGET_CNT * 100 , 1)  
           END INSP_PROGRESS_RATE /* 실사진행율 */
         , UTIA.PAYMENT_YN         /* 결제여부 */
      FROM (
            SELECT TIA.INSP_NO
                 , (SELECT UPP_DEPT_CD FROM TB_DEPT TD WHERE TD.DEPT_CD = TIA.DEPT_CD) UPP_DEPT_CD
                 , (SELECT DEPT_NM FROM TB_DEPT UTD WHERE UTD.DEPT_CD = (SELECT UPP_DEPT_CD FROM TB_DEPT TD WHERE TD.DEPT_CD = TIA.DEPT_CD)) UPP_DEPT_NM 
                 , TIA.DEPT_CD
                 , (SELECT DEPT_NM FROM TB_DEPT TD WHERE TD.DEPT_CD = TIA.DEPT_CD) DEPT_NM
                 , TIA.DPLDR
                 , (SELECT COUNT(*) FROM TB_INSP_ASET TIS WHERE TIS.INSP_NO = TIA.INSP_NO AND TIS.DEPT_CD = TIA.DEPT_CD) INSP_TARGET_CNT
                 , (SELECT COUNT(*) FROM TB_INSP_ASET TIS WHERE TIS.INSP_NO = TIA.INSP_NO AND TIS.DEPT_CD = TIA.DEPT_CD AND TIS.INSP_CMPL_YN = 'Y') INSP_CMPL_CNT
                 , '' PAYMENT_YN 
              FROM TB_INSP_MNG TIA
             WHERE INSP_NO = #{params.inspNo} 
           ) UTIA
      ORDER BY UTIA.DEPT_CD
	</select>
       
    <!-- 실사관리화면 실사상태 수정 -->
	<update id="updateInspStus" parameterType="Map">
	/* InspManageMapper.xml updateInspStus */
	UPDATE TB_INSP_MAS
	   SET INSP_STUS = #{inspStus}
	 WHERE INSP_NO = #{inspNo}
    </update>
    
    
    
    
    
    
</mapper>