<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout/default">

	<head>
	    <title>[[#{screen.text.role.menu.screen.title}]]</title>
	</head>
        
	<!-- css -->
	<th:block layout:fragment="css">	
	    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600,400' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/theme.css" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.0.8/css/tabulator.min.css" rel="stylesheet"> 
	</th:block>    
	
	<th:block layout:fragment="script">
		<script type="text/javascript" src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
		<script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.0.7/dist/js/tabulator.min.js"></script>
		
	    <script>
	    
		    let grid;
	        let requestUrl = "/system/menurole/menuRoleMng/menuRoleMngList";
		    
		    $(function(){
		    	
				$.commRequestSelectbox("/system/menurole/menuRoleMng/roleGroup", "GET", "#searchType", "none");

				grid = new Tabulator("#data-table", {
				 	locale:true,
				    langs: $.commGridLocalization(),								
				 	height:"560",
				 	layout:"fitColumns",
				 	movableColumns:true,
				 	pagination:true,
				 	paginationMode:"remote",
				 	ajaxURL:requestUrl,			
				 	ajaxParams: getParams(),
				 	paginationSize:500,				    
				 	paginationSizeSelector:[20, 50, 100, 500],			
				 	dataSendParams:{
				        "page":"currentPage",
				        "size":"numOfRows"
				    } ,							    
				 	placeholder:"No Data Set",				 	
				 	ajaxResponse:function(url, params, res){
				 		$(".result").text("Totals : " + res.condition.totalCount);				 						 						 		
				 		return res;
				 	},			
				 	index:"rn",
				 	columns:[ 
			 	        {formatter:"rowSelection", titleFormatter:"rowSelection", hozAlign:"center", headerHozAlign:"center", 
			 	        	headerSort:false, width:30, cellClick:function(e, cell){
			 	         		cell.getRow().toggleSelect();
			 	        }},	
			 	        {title: "rn"   															, field:"rn"				,  visible: false},
			 	        {title: "[[#{screen.text.role.menu.id}]]"   				, field:"menuId"	, hozAlign:"left"  		, headerHozAlign:"center", visible: false},
			            {title: "[[#{screen.text.role.menu.nm}]]"   			, field:"menuNm"	, hozAlign:"left"  		, headerHozAlign:"center"},
			            {title: "[[#{screen.text.role.menu.useyn}]]"			, field:"menuYn"	, hozAlign:"center"	, headerHozAlign:"center", editor:true, formatter:"tickCross"},
			            {title: "[[#{screen.text.role.menu.auth.search}]]", field:"inqrYn"		, hozAlign:"center"	, headerHozAlign:"center", editor:true, formatter:"tickCross"},
			            {title: "[[#{screen.text.role.menu.auth.create}]]" , field:"regYn"		,  hozAlign:"center"	, headerHozAlign:"center", editor:true, formatter:"tickCross"},
			            {title: "[[#{screen.text.role.menu.auth.update}]]", field:"updYn"		,  hozAlign:"center"	, headerHozAlign:"center", editor:true, formatter:"tickCross"},
			            {title: "[[#{screen.text.role.menu.auth.delete}]]"	, field:"delYn"		,  hozAlign:"center"	, headerHozAlign:"center", editor:true, formatter:"tickCross"},
				 	],
				});								
				
				/*------------------------- Grid Events -------------------------*/
				//row click
				grid.on("rowClick", function(e, row){	
					//var table = row.getTable().getData();
					//console.log(table);
					
				});					
				
				grid.on("rowSelected", function(row){
				    let data = row.getData();
				    data.menuYn = "true";
				    data.inqrYn = "true";
				    data.regYn = "true";
				    data.updYn = "true";
				    data.delYn = "true";				    
				    grid.updateData([data]);
				});				

				grid.on("rowDeselected", function(row){
				    let data = row.getData();
				    data.menuYn = "false";
				    data.inqrYn = "false";
				    data.regYn = "false";
				    data.updYn = "false";
				    data.delYn = "false";				    
				    grid.updateData([data]);
				});				
				
				/*--------------------- Main Button Events ---------------------*/
				
	    	    // 검색 버튼
		        $(".btn_srch").on("click",function (e){
		        	
		           if($("#searchType").val() != 'none'){
			        	grid.setData(requestUrl, getParams());
		           }else{
		        	   alert("[[#{screen.info.status.error.search.condition}]]");
		           }
		        });
		        
		     	// 저장 버튼
	            $('.btn_save').on('click', function (e) {
	
	                if($("#searchType").val() == 'none'){
	                	alert("[[#{screen.info.status.select.auth.group}]]");
	                	return;
	                }
	            	
					let table = grid.getData();
	            	console.log(table);
	            	
	    	    	let params = {
		    	    		url : "/system/menurole/menuRoleMng/menuRoleSave",
		    	    		reqType : 'POST',
		    	    		data : JSON.stringify(table),
		    	    	}	            	
	            	
	    			$.request(params)
	   				 .then((res) => {
		    					alert("[[#{screen.info.status.save.success}]]");
		    					$('.btn_srch').click();
	   				 })
	   				 .catch((error) => {
		    					alert("[[#{screen.info.status.error.occur}]]");
		    					console.log(error);
	   				 }) 
	            });
	
	          	// 리셋 버튼
	    	    $(".btn_reset").click(function() {
	    	    	$("#searchType option:eq(0)").prop("selected", true);
	    	    });
		     	
				//권한그룹	          	
				$( "#searchType" ).change(function() {
					$('.btn_srch').click();
				});				
				
	    	});
		    
		    //검색조건
		    function getParams(){
		    	return {
		    		"searchType" : $("#searchType").val(),
		    	}
		    }
	    </script>	
	</th:block>

	<div layout:fragment="content">
		<!-- contents_head -->
		<div class="bc">Home &gt; <span th:text="${menuDesc}"></span></div>
		<h3><span th:text="${menuNm}"></span></h3>
		<!-- //contents_head -->

		<!-- search -->
		<div class="srch_wrap single">
			<table class="srch_table">
				<colgroup>
					<col width="15%"/>
					<col width="15%"/>
					<col width="70%"/>
				</colgroup>
				<tr>
					<td>
						<div style="display: flex; align-items: stretch;">
							<label for="searchText" class="menu_label" style="margin-top: 3px;">[[#{screen.text.role.menu.auth.group}]]</label>
							<select id="searchType" onkeyup="enterkey()">
								<option value="none">[[#{screen.text.comm.select.auth.group}]]</option>
							</select>
						</div>
					</td>
					<td class="search" colspan="3">
						<a href="#;" class="btn_reset">[[#{screen.btn.reset}]]</a>
						<a href="#;" class="btn_srch">[[#{screen.btn.search}]]</a>
					</td>
				</tr>
			</table>
		</div>
		<!-- //search -->
		<div class="list_head">
				<div class="result">Results : 0,000</div>
				<!-- list_button -->
				<div class="button">
					<a class="btn_save">[[#{screen.btn.save}]]</a>
				</div>
				<!-- list_button -->
		</div>

		<!-- list -->
		<div id="data-table"></div>
		<!-- //list -->
	
				 
</div>
</html>