<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>RMS 메인화면</title>
<link rel="stylesheet" href="../css/main.css" />
</head>

<body>
<div id="wrap">
				<header id="gnb">
								<!-- header -->
								<h1><a href="#;"><img src="../images/common/logo_TAMS.png" alt="TRiTo Asset Management System"></a></h1>

								<!-- dropdown_menu -->
								<div class="vertical2">
												<ul class="dropdown">
																<li class="first"><a href="#;">자산등록</a></li>
																<li><a href="#;">자산변동</a></li>
																<li><a href="#;">자산유휴</a></li>
																<li><a href="#;">자산처분</a></li>
																<li><a href="#;">자산현황</a></li>
																<li><a href="#;">자산실사</a></li>
																<li><a href="#;">기준정보관리</a></li>
																<li><a href="#;">시스템관리</a></li>
												</ul>
								</div>
								<!-- //dropdown_menu -->

								<!-- function -->
								<div class="function">
												<a href="#;" class="setting">Setting</a>
												<span class="">l</span>
												<a href="#;" class="user"><strong>TAMS 관리자</strong> <em class="tooltip">SI사업팀</em></a>
												<span class="confidential">Confidential</span>
								</div>
								<!-- //function -->
				<!-- //header -->
				</header>

				<!-- container -->
				<div id="container">

												<div class="img_wrap">
																	<h1>TRiTo Asset Management System</h1>
																	<h2>글로벌 리더로의 도약 새로운 경쟁력이 되다.</h2>
												</div>
								<!-- contents -->
								<div id="content">


												<!-- Quarterly Trend -->
												<div class="box1" style="height:570px;">
																<header>
																<h3>Quarterly Trend</h3>
																<!-- <a class="ico_more" href="#;">More</a> -->
																</header>
																<canvas class="chart1"></canvas>
												</div>
												<!-- //Quarterly Trend -->

												<!-- Trend by Item -->
												<div class="box1" style="height:570px;">
																<header>
																<h3>Trend by Item</h3>
																<!-- <a class="ico_more" href="#;">More</a> -->
																</header>
																<canvas class="chart2"></canvas>
												</div>
												<!-- //Trend by Item -->

												<!-- Inventory -->
												<div class="box1" style="height:345px;">
																<header>
																	<h3>Inventory</h3>
																<!-- <a class="ico_more" href="#;">More</a> -->
																</header>
																<ul class="contact">
																					<li><a href="#;"><img src="../images/img/ico_manual.png" alt="" /><span>로얼티 현황정보(관리자)</span></a></li>
																					<li><a href="#;"><img src="../images/img/ico_manual.png" alt="" /><span>로얼티 현황정보(관리자)</span></a></li>
																					<li><a href="#;"><img src="../images/img/ico_manual.png" alt="" /><span>로얼티 정산</span></a></li>
																					<li></li>
																					<li></li>
																					<li></li>
																</ul>
												</div>
												<!-- //Inventory -->

												<!-- Notice -->
												<div class="box1">
																<header>
																<h3>Notice</h3>
																<a class="ico_more" href="#;">More</a>
																</header>
																<ul class="ul_list">
																				<li><label>고객기대를 뛰어넘는 가치 전달하기!</label></li>
																				<li><label>CES 2021: Why The Future is Now</label></li>
																				<li><label>Virtual Reality Training Helps Troops Prepare for High-Risk Situations</label></li>
																				<li><label>CES 2021: Why The Future is Now</label></li>
																</ul>
												</div>
												<!--  //Notice -->

												<!-- footer -->
												<footer><p>
												<span class="link"><a href="#;">Terms of Service</a> l <a href="#;">Privacy Policy</a></span><br>
												&copy; TRITO Co., LTD. ALL RIGHTS RESERVED
												</p></footer>
												<!-- //footer -->


								</div>
								<!-- //content -->
				</div>
				<!-- //container -->
</div>
</body>
</html>