<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>GNB Menu-2</title>
<link rel="stylesheet" href="../css/style.css" />
<!--[if IE]> <script src="../js/html5.js"></script> <![endif]-->
</head>
<body>
<div id="wrap">
				<header id="gnb">
				<!-- header -->
								<h1><a href="#;"><img src="../images/common/logo_TAMS.png" alt="TRiTo Asset Management System"></a></h1>


								<!-- dropdown_menu -->
								<div class="vertical2">
												<ul class="dropdown">
																<li class="first"><a href="#;">Royalty 정산</a>

<!-- menu1_dropdown -->
<div class="dropdown_depth" style="width:280px;"><!-- [D] Style의 넓이 : 140(넓이)*Coulmn(group)수, 넓이는 css에서 바꿀 수 있습니다.-->
				<ul class="group">
								<li><a href="#">ADI</a></li>
				</ul>
				<ul class="group">
								<li><a href="#">Analogix</a></li>
				</ul>
				<ul class="group">
        <li><a href="#">Apical</a></li>
				</ul>
				<ul class="group">
        <li><a href="#">ARM</a>
												<ul>
																<li><a href="#">Cortex A5</a></li>
																<li><a href="#">CPU</a></li>
																<li><a href="#">CPU Report</a></li>
																<li><a href="#">GPU</a></li>
																<li><a href="#">Gpu Report</a></li>
																<li><a href="#">Library</a></li>
												</ul>
								</li>
				</ul>
				<ul class="group">
								<li><a href="#;">Arteris</a></li>
				</ul>
				<ul class="group">
								<li><a href="#;">Bosch</a>
												<ul>
																<li><a href="#">Bosch2</a></li>
																<li><a href="#">Bosch2</a></li>
																<li><a href="#">Bosch2</a>
																				<ul>
																								<li><a href="">Bosch3</a></li>
																								<li><a href="">Bosch3</a></li>
																								<li><a href="">Bosch3</a></li>
																								<li><a href="">Bosch3</a></li>
																				</ul>
																</li>
																<li><a href="#">Bosch2</a></li>
																<li><a href="#">Bosch2</a></li>
												</ul>
								</li>
				</ul>
				<ul class="group">
								<li><a href="#;">Ceva</a></li>
				</ul>
				<ul class="group">
								<li><a href="#;">Chips&Media</a></li>
				</ul>
				<ul class="group">
								<li><a href="#;">E-Globaledge</a></li>
				</ul>
</div>
<!-- //menu1_dropdown -->

																</li>
																<li><a href="#;" class="dir">기준정보</a></li>
																<li><a href="#;" class="dir">시스템관리</a></li>
												</ul>
								</div>
								<!-- //dropdown_menu -->

								<!-- function -->
								<div class="function">
												<a href="#;" class="user"><strong>AMS 관리자</strong> 반갑습니다<em class="tooltip">재경그룹(DS)</em></a>
												<span class="confidential">Confidential</span>
								</div>
								<!-- //function -->

				<!-- //header -->
				</header>


</div>
</body>
</html>