<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>GNB Menu-2</title>
<link rel="stylesheet" href="../css/style.css" />
<!--[if IE]> <script src="../js/html5.js"></script> <![endif]-->
</head>
<body>
<div id="wrap">
				<header id="gnb">
				<!-- header -->
								<h1><a href="#;"><img src="../images/common/logo_TAMS.png" alt="TRiTo Asset Management System"></a></h1>


								<!-- dropdown_menu -->
								<div class="vertical2">
												<ul class="dropdown">
																<li class="first"><a href="#;">자산등록</a>

<!-- menu1_dropdown -->
<div class="dropdown_depth" style="width:140px;"><!-- [D] Style의 넓이 : 140(넓이)*Coulmn(group)수, 넓이는 css에서 바꿀 수 있습니다.-->
				<ul class="group">
								<li><a href="#">투자자산등록</a></li>
				</ul>
				<ul class="group">
        <li><a href="#">부외자산등록</a></li>
				</ul>
</div>
<!-- //menu1_dropdown -->

																</li>
																<li><a href="#;" class="dir">자산변동</a>

<!-- menu1_dropdown -->
<div class="dropdown_depth" style="width:140px;"><!-- [D] Style의 넓이 : 140(넓이)*Coulmn(group)수, 넓이는 css에서 바꿀 수 있습니다.-->
				<ul class="group">
								<li><a href="#">자산정보수정</a></li>
				</ul>
				<ul class="group">
        <li><a href="#">이동의뢰</a></li>
				</ul>
</div>
<!-- //menu1_dropdown -->

																</li>
																<li><a href="#;">자산유휴</a>

<!-- menu1_dropdown -->
<div class="dropdown_depth" style="width:140px;"><!-- [D] Style의 넓이 : 140(넓이)*Coulmn(group)수, 넓이는 css에서 바꿀 수 있습니다.-->
				<ul class="group">
								<li><a href="#">유휴의뢰</a></li>
				</ul>
				<ul class="group">
        <li><a href="#">재활용의뢰</a></li>
				</ul>
</div>
<!-- //menu1_dropdown -->

																</li>
																<li><a href="#;">자산처분</a>

<!-- menu1_dropdown -->
<div class="dropdown_depth" style="width:140px;"><!-- [D] Style의 넓이 : 140(넓이)*Coulmn(group)수, 넓이는 css에서 바꿀 수 있습니다.-->
				<ul class="group">
								<li><a href="#">매각의뢰</a></li>
				</ul>
				<ul class="group">
        <li><a href="#">패기의뢰</a></li>
				</ul>
</div>
<!-- //menu1_dropdown -->

																</li>
																<li><a href="#;">자산현황</a>

<!-- menu1_dropdown -->
<div class="dropdown_depth" style="width:140px;"><!-- [D] Style의 넓이 : 140(넓이)*Coulmn(group)수, 넓이는 css에서 바꿀 수 있습니다.-->
				<ul class="group">
								<li><a href="#">자산정보조회</a></li>
				</ul>
				<ul class="group">
        <li><a href="#">부서별자산현황</a></li>
				</ul>
				<ul class="group">
        <li><a href="#">직원별자산현황</a></li>
				</ul>
</div>
<!-- //menu1_dropdown -->

																</li>
																<li><a href="#;">자산실사</a>

<!-- menu1_dropdown -->
<div class="dropdown_depth" style="width:140px;"><!-- [D] Style의 넓이 : 140(넓이)*Coulmn(group)수, 넓이는 css에서 바꿀 수 있습니다.-->
				<ul class="group">
								<li><a href="#">실사관리</a></li>
				</ul>
				<ul class="group">
        <li><a href="#">자산관리</a></li>
				</ul>
</div>
<!-- //menu1_dropdown -->

																</li>
																<li><a href="#;">기준정보관리</a>

<!-- menu1_dropdown -->
<div class="dropdown_depth" style="width:140px;"><!-- [D] Style의 넓이 : 140(넓이)*Coulmn(group)수, 넓이는 css에서 바꿀 수 있습니다.-->
				<ul class="group">
								<li><a href="#">태그 발행</a></li>
				</ul>
				<ul class="group">
        <li><a href="#">공통코드관리</a></li>
				</ul>
				<ul class="group">
        <li><a href="#">투자정보관리</a></li>
				</ul>
</div>
<!-- //menu1_dropdown -->

																</li>
																<li><a href="#;">시스템관리</a>

<!-- menu1_dropdown -->
<div class="dropdown_depth" style="width:140px;"><!-- [D] Style의 넓이 : 140(넓이)*Coulmn(group)수, 넓이는 css에서 바꿀 수 있습니다.-->
				<ul class="group">
								<li><a href="#">사용자관리</a></li>
				</ul>
				<ul class="group">
        <li><a href="#">메뉴관리</a></li>
				</ul>
				<ul class="group">
        <li><a href="#">역할관리</a></li>
				</ul>
</div>
<!-- //menu1_dropdown -->

																</li>
												</ul>
								</div>
								<!-- //dropdown_menu -->

								<!-- function -->
								<div class="function">
												<a href="#;" class="setting">Setting</a>
												<span class="">l</span>
												<a href="#;" class="user"><strong>TAMS 관리자</strong> <em class="tooltip">SI사업팀</em></a>
												<span class="confidential">Confidential</span>
								</div>
								<!-- //function -->

				<!-- //header -->
				</header>


</div>
</body>
</html>