<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>GNB Menu-1</title>
<link rel="stylesheet" href="../css/style.css" />
<!--[if IE]> <script src="../js/html5.js"></script> <![endif]-->
</head>
<body>
<div id="wrap">
				<header id="gnb">
				<!-- header -->
								<h1><a href="#;"><img src="../images/common/logo_TAMS.png" alt="TRiTo Asset Management System"></a></h1>


<div class="mega_menu">
				<ul class="dropdown">
								<li class="first"><a href="#;">자산등록</a></li><!-- [D]모든 1단계 메뉴 오버시 <ul class="dropdown_mega"> 영역 visible, li class="on" 유지 -->
								<li><a href="#;">자산변동</a></li>
								<li><a href="#;">자산유휴</a></li>
								<li><a href="#;">자산처분</a></li>
								<li><a href="#;">자산현황</a></li>
								<li><a href="#;">자산실사</a></li>
								<li><a href="#;">기준정보관리</a></li>
								<li><a href="#;">시스템관리</a></li>
				</ul>

<!-- dropdown_mega -->
<ul class="dropdown_mega" style="height:260px;">
				<ul class="dropmenu">
								<li><a href="">MENU1</a></li>
								<li><a href="#">MENU2</a></li>
								<li class="on"><a href="#">MENU3</a></li>
								<li><a href="#;">MENU4</a></li>
								<li><a href="#;">MENU5</a></li>
				</ul>

				<!-- Menu1 3depth -->
				<li><a href="#;">Menu2</a>
								<ul class="Nline">
												<li><a href="#;">Menu2 3depth</a></li>
												<li><a href="#;">Menu2 3depth</a></li>
												<li><a href="#;">Menu2 3depth</a></li>
												<li><a href="#;">Menu2 3depth</a></li>
												<li><a href="#;">Menu2 3depth</a></li>
								</ul>
								<hr />
				</li>
				<li><a href="#;">Menu2</a>
								<ul class="Nline">
												<li><a href="#;">Menu2 3depth</a></li>
												<li><a href="#;">Menu2 3depth</a></li>
												<li><a href="#;">Menu2 3depth</a></li>
												<li><a href="#;">Menu2 3depth</a></li>
												<li><a href="#;">Menu2 3depth</a></li>
								</ul>
								<hr />
				</li>
				<li><a href="#;">Menu2</a>
								<ul class="Nline">
												<li><a href="#;">Menu2 3depth</a></li>
												<li><a href="#;">Menu2 3depth</a></li>
												<li><a href="#;">Menu2 3depth</a></li>
												<li><a href="#;">Menu2 3depth</a></li>
												<li><a href="#;">Menu2 3depth</a></li>
								</ul>
								<hr />
				</li>
				<li><a href="#;">Menu2</a>
								<ul class="Nline">
												<li><a href="#;">Menu2 3depth</a></li>
												<li><a href="#;">Menu2 3depth</a></li>
												<li><a href="#;">Menu2 3depth</a></li>
												<li><a href="#;">Menu2 3depth</a></li>
												<li><a href="#;">Menu2 3depth</a></li>
								</ul>
								<hr />
				</li>
				<li><a href="#;">Menu2</a>
								<ul class="Nline">
												<li><a href="#;">Menu2 3depth</a></li>
												<li><a href="#;">Menu2 3depth</a></li>
												<li><a href="#;">Menu2 3depth</a></li>
												<li><a href="#;">Menu2 3depth</a></li>
												<li><a href="#;">Menu2 3depth</a></li>
								</ul>
								<hr />
				</li>
				<li><a href="#;">Menu2</a>
								<ul class="Nline">
												<li><a href="#;">Menu2 3depth</a></li>
												<li><a href="#;">Menu2 3depth</a></li>
												<li><a href="#;">Menu2 3depth</a></li>
												<li><a href="#;">Menu2 3depth</a></li>
												<li><a href="#;">Menu2 3depth</a></li>
								</ul>
								<hr />
				</li>
				<li><a href="#;">Menu2</a>
								<ul class="Nline">
												<li><a href="#;">Menu2 3depth</a></li>
												<li><a href="#;">Menu2 3depth</a></li>
												<li><a href="#;">Menu2 3depth</a></li>
												<li><a href="#;">Menu2 3depth</a></li>
												<li><a href="#;">Menu2 3depth</a></li>
								</ul>
								<hr />
				</li>
				<!-- //Menu1 3depth -->
</ul>
<!-- //dropdown_mega -->

</div>

								<!-- function -->
								<div class="function">
												<a href="#;" class="setting">Setting</a>
												<span class="">l</span>
												<a href="#;" class="user"><strong>TAMS 관리자</strong> <em class="tooltip">SI사업팀</em></a>
												<span class="confidential">Confidential</span>
								</div>
								<!-- //function -->

				<!-- //header -->
				</header>


</div>
</body>
</html>