<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>00-화면 구성</title>
<link rel="stylesheet" href="../css/style.css" />
<!--[if IE]> <script src="../js/html5.js"></script> <![endif]-->
</head>
<body>
<div id="wrap">
				<header id="gnb">
				<!-- header -->
								<h1><a href="#;"><img src="../images/common/logo_TAMS.png" alt="TRiTo Asset Management System"></a></h1>


								<!-- dropdown_menu -->
								<div class="vertical2">
												<ul class="dropdown">
																<li class="first"><a href="#;">자산등록</a></li><!-- [D]모든 1단계 메뉴 오버시 <ul class="dropdown_mega"> 영역 visible, li class="on" 유지 -->
																<li><a href="#;">자산변동</a></li>
																<li><a href="#;">자산유휴</a></li>
																<li><a href="#;">자산처분</a></li>
																<li><a href="#;">자산현황</a></li>
																<li><a href="#;">자산실사</a></li>
																<li><a href="#;">기준정보관리</a></li>
																<li><a href="#;">시스템관리</a></li>
												</ul>
								</div>
								<!-- //dropdown_menu -->

								<!-- function -->
								<div class="function">
												<a href="#;" class="setting">Setting</a>
												<span class="">l</span>
												<a href="#;" class="user"><strong>TAMS 관리자</strong> <em class="tooltip">SI사업팀</em></a>
												<span class="confidential">Confidential</span>
								</div>
								<!-- //function -->

				<!-- //header -->
				</header>

				<!-- container -->
				<div id="container">
				<!-- contents -->
				<div id="contents">

								<!-- contents_head -->
								<!-- breadcrumbs -->
								<div class="bc">Home &gt; Menu &gt; Menu 2depth</div>
								<!-- //breadcrumbs -->
								<h3>화면 타이틀(Page Title)</h3>
								<!-- //contents_head -->

								<!-- list -->
								<div class="list_wrap">
												<!-- list_head -->
												<div class="list_head">

												</div>
												<!-- //list_head -->


								</div>
								<!-- //list -->


				</div>
				<!-- contents -->
				</div>
				<!-- //container -->

</div>
</body>
</html>