<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>01-검색+리스트(팝업뷰)</title>
<link rel="stylesheet" href="../css/style.css" />
</head>
<body >

<!-- pop_alert -->
<div id="pop_wrap" style="width:900px;height:570px;"><!-- [D] 현재 팝업창 크기는 900*570 입니다. 콘텐츠에 따라서 크기를 변경하여 주십시오.-->
				<!-- head -->
				<h3>자산선택
				<a href="#;" class="pop_close" title="닫기">닫기</a>
				</h3>
				<!-- //head -->
				<!-- contents -->
				<div id="contents">

								<!-- search -->
								<div class="srch_wrap">
												<!-- search_form -->
												<div class="srch_form">
																<table class="srch_table">
																<colgroup>
																				<col width="13%"/>
																				<col width="20%"/>
																				<col width="13%"/>
																				<col width="20%"/>
																				<col width="13%"/>
																				<col width=""/>
																</colgroup>
																				<tr>
																								<th>자산번호</th>
																								<td><input type="text" style="width:100%;"></td>
																								<th>등록일자</th>
																								<td colspan="3">
																												<div class="form_wrap_date"><input type="date" style="width:80px;" value="2021-10-20"> <a href="#;"><img src="../images/common/ico_date.png" alt="Calendar" title="Calendar"></a></div>
																								</td>
																				</tr>
																				<tr>
																								<th>자산유형1</th>
																								<td>
																												<select style="width:100%;">
																												<option>ALL</option>
																												</select>
																								</td>
																								<th>자산유형2</th>
																								<td>
																												<select style="width:100%;">
																												<option>ALL</option>
																												</select>
																								</td>
																								<th>자산유형3</th>
																								<td>
																												<select style="width:100%;">
																												<option>ALL</option>
																												</select>
																								</td>
																				</tr>
																				<tr>
																								<th>사업부</th>
																								<td>
																												<select style="width:100%;">
																												<option>ALL</option>
																												</select>
																								</td>
																								<th>부서</th>
																								<td>
																												<select style="width:100%;">
																												<option>ALL</option>
																												</select>
																								</td>
																								<th>담당자</th>
																								<td><input type="text" style="width:100%;"></td>
																				</tr>
																</table>
																<!-- search_button -->
																<div class="button">
																				<a href="#;" class="btn_reset">Reset</a>
																				<a href="#;" class="btn_srch">Search</a>
																</div>
																<!-- //search_button -->
												</div>
												<!-- //search_form -->
								</div>
								<!-- //search -->

								<!-- list 1 -->
								<div class="list_wrap">
												<!-- list_head -->
												<div class="list_head">
																<div class="result">Total : 59</div>
																<!-- list_button -->
																<div class="button">
																				<a class="btn_list">등록</a>
																				<a class="btn_list_rd">일괄업로드</a>
																</div>
																<!-- list_button -->
												</div>
												<!-- //list_head -->
												<!-- list_table -->


												<div style="height:315px;overflow:auto !important;">
												<table class="list_table" >
												<colgroup>
												<col width="30px"/>
												<col width="10%"/>
												<col width="10%"/>
												<col width=""/>
												<col width="8%"/>
												<col width="8%"/>
												<col width="10%"/>
												<col width="10%"/>
												<col width="8%"/>
												<col width="8%"/>
												<col width="8%"/>
												<col width="8%"/>
												</colgroup>
																<thead>
																				<tr>
																								<th><input type="checkbox" name="checkbox" /></th>
																								<th>자산번호</th>
																								<th>자산유형1</th>
																								<th>자산유형2</th>
																								<th>자산유형3</th>
																								<th>메이커</th>
																								<th>모델</th>
																								<th>S/N</th>
																								<th>사업부</th>
																								<th>부서</th>
																								<th>담당자</th>
																								<th>자산상태</th>
																				</tr>
																</thead>
																<tbody>
																				<tr>
																								<td class="tc"><input name="checkbox2" type="checkbox" checked="" /></td>
																								<td>A20211000001</td>
																								<td>유형자산</td>
																								<td>OA</td>
																								<td>모니터</td>
																								<td>S사</td>
																								<td>LED100</td>
																								<td>K12345</td>
																								<td>A사업부</td>
																								<td>A팀</td>
																								<td>홍길동</td>
																								<td class="tc">사용</td>
																				</tr>
																				<tr>
																								<td class="tc"></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tc"></td>
																				</tr>
																				<tr>
																								<td class="tc"></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tc"></td>
																				</tr>
																				<tr>
																								<td class="tc"></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tc"></td>
																				</tr>
																				<tr>
																								<td class="tc"></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tc"></td>
																				</tr>
																				<tr>
																								<td class="tc"></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tc"></td>
																				</tr>
																				<tr>
																								<td class="tc"></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tc"></td>
																				</tr>
																				<tr>
																								<td class="tc"></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tc"></td>
																				</tr>
																				<tr>
																								<td class="tc"></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tc"></td>
																				</tr>
																				<tr>
																								<td class="tc"></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tc"></td>
																				</tr>
																</tbody>
												</table>
												</div>
												<!-- //list_table -->
								</div>
								<!-- //list 1 -->

<!-- pagination -->
<div class="paginate">
<a class="first" href="#;"><img title="첫페이지" alt="첫페이지" src="../images/common/btn_pn_first.gif"></a>
<a class="pre" href="#;"><img title="이전페이지" alt="이전페이지" src="../images/common/btn_pn_pre.gif"></a>
<a href="#;">1</a>
<strong>2</strong>
<a href="#;">3</a>
<a href="#;">4</a>
<a href="#;">5</a>
<a href="#;">6</a>
<a href="#;">7</a>
<a href="#;">8</a>
<a href="#;">9</a>
<a href="#;">10</a>
<a class="next" href="#;"><img title="다음페이지" alt="다음페이지" src="../images/common/btn_pn_next.gif"></a>
<a class="last" href="#;"><img title="마지막페이지" alt="마지막페이지" src="../images/common/btn_pn_last.gif"></a>
</div>
<!-- //pagination -->

				</div>
				<!-- contents -->
</div>
<!-- //pop_alert -->

</body>
</html>