<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>01-탭+상세 변경이력</title>
<link rel="stylesheet" href="../css/style.css" />
<!--[if IE]> <script src="../js/html5.js"></script> <![endif]-->
</head>
<body>
<div id="wrap">
				<header id="gnb">
				<!-- header -->
								<h1><a href="#;"><img src="../images/common/logo_TAMS.png" alt="TRiTo Asset Management System"></a></h1>


								<!-- dropdown_menu -->
								<div class="vertical2">
												<ul class="dropdown">
																<li class="first"><a href="#;">자산등록</a></li>
																<li><a href="#;">자산변동</a></li>
																<li><a href="#;">자산유휴</a></li>
																<li><a href="#;">자산처분</a></li>
																<li><a href="#;">자산현황</a></li>
																<li><a href="#;">자산실사</a></li>
																<li><a href="#;">기준정보관리</a></li>
																<li><a href="#;">시스템관리</a></li>
												</ul>
								</div>
								<!-- //dropdown_menu -->

								<!-- function -->
								<div class="function">
												<a href="#;" class="setting">Setting</a>
												<span class="">l</span>
												<a href="#;" class="user"><strong>TAMS 관리자</strong> <em class="tooltip">SI사업팀</em></a>
												<span class="confidential">Confidential</span>
								</div>
								<!-- //function -->

				<!-- //header -->
				</header>

				<!-- container -->
				<div id="container">
				<!-- contents -->
				<div id="contents">

								<!-- contents_head -->
								<!-- <div class="bc" >Home &gt; 투자정보 조회</div> -->
								<h3>자산현황 - 자산정보 상세조회</h3>
								<!-- //contents_head -->



								<!-- tab -->
								<div class="" id="">
												<ul class="tabs">
																<li><a href="#">자산정보</a></li>
																<li class="on"><a href="#">변경이력</a></li>
																<li><a href="#">투자이력</a></li>
																<div class="button">
																				<a class="btn_list">이전</a>
																</div>
												</ul>
								</div>
								<!-- //tab -->

								<!-- 내용 -->
								<div class="list_wrap">
												<!-- list_head -->
												<div class="list_head">
																<div class="button">
																				<a class="btn_list_rd">엑셀 다운로드</a>
																</div>
												</div>
												<!-- //list_head -->

												<!-- list_table -->
												<table class="list_table">
												<colgroup>
												<col width="30px"/>
												<col width="100px"/>
												<col width="100px"/>
												<col width="100px"/>
												<col width="100px"/>
												<col width="100px"/>
												<col width="100px"/>
												<col width="100px"/>
												<col width="100px"/>
												<col width="100px"/>
												<col width="100px"/>
												<col width="100px"/>
												<col width=""/>
												</colgroup>
																<thead style="">
																				<tr>
																								<th><input type="checkbox" name="checkbox" /></th>
																								<th>작업구분</th>
																								<th>발생일자</th>
																								<th>의뢰번호</th>
																								<th>의뢰상태</th>
																								<th>의뢰자</th>
																								<th>자산상태</th>
																								<th>사업부</th>
																								<th>부서</th>
																								<th>담당자</th>
																								<th>자산유형1</th>
																								<th>자산유형2</th>
																								<th>자산유형3</th>
																				</tr>
																</thead>
																<tbody>
																				<tr>
																								<td class="tc"><input type="checkbox" name="checkbox3" checked="" /></td>
																								<td class="tc"><a href="">매각의뢰</a></td>
																								<td class="tc">2021-09-23</td>
																								<td>DS2021911223</td>
																								<td>임시저장</td>
																								<td>홍길동</td>
																								<td>매각중</td>
																								<td>A사업부</td>
																								<td>A팀</td>
																								<td>김대리</td>
																								<td>유형자산</td>
																								<td>OA자산</td>
																								<td>데스트탑</td>
																				</tr>
																				<tr>
																								<td class="tc"><input type="checkbox" name="checkbox3" /></td>
																								<td class="tc"><a href="">유휴</a></td>
																								<td class="tc">2021-09-23</td>
																								<td>DS2021911223</td>
																								<td>임시저장</td>
																								<td>홍길동</td>
																								<td>매각중</td>
																								<td>A사업부</td>
																								<td>A팀</td>
																								<td>김대리</td>
																								<td>유형자산</td>
																								<td>OA자산</td>
																								<td>데스트탑</td>
																				</tr>
																				<tr>
																								<td class="tc"><input type="checkbox" name="checkbox3" /></td>
																								<td class="tc"><a href="">이동</a></td>
																								<td class="tc">2021-09-23</td>
																								<td>DS2021911223</td>
																								<td>임시저장</td>
																								<td>홍길동</td>
																								<td>매각중</td>
																								<td>A사업부</td>
																								<td>A팀</td>
																								<td>김대리</td>
																								<td>유형자산</td>
																								<td>OA자산</td>
																								<td>데스트탑</td>
																				</tr>
																				<tr>
																								<td class="tc"><input type="checkbox" name="checkbox3" /></td>
																								<td class="tc"><a href="">변경</a></td>
																								<td class="tc">2021-09-23</td>
																								<td>DS2021911223</td>
																								<td>임시저장</td>
																								<td>홍길동</td>
																								<td>매각중</td>
																								<td>A사업부</td>
																								<td>A팀</td>
																								<td>김대리</td>
																								<td>유형자산</td>
																								<td>OA자산</td>
																								<td>데스트탑</td>
																				</tr>
																				<tr>
																								<td class="tc"><input type="checkbox" name="checkbox3" /></td>
																								<td class="tc"><a href="">등록</a></td>
																								<td class="tc">2021-09-23</td>
																								<td>DS2021911223</td>
																								<td>임시저장</td>
																								<td>홍길동</td>
																								<td>매각중</td>
																								<td>A사업부</td>
																								<td>A팀</td>
																								<td>김대리</td>
																								<td>유형자산</td>
																								<td>OA자산</td>
																								<td>데스트탑</td>
																				</tr>
																				<tr class="over">
																								<td class="tc"><input name="checkbox2" type="checkbox" checked="checked" /></td>
																								<td><a href=""></a></td>
																								<td class="tc"></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																				</tr>
																				<tr>
																								<td class="tc"><input type="checkbox" name="checkbox3" /></td>
																								<td><a href=""></a></td>
																								<td class="tc"></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																				</tr>
																</TABLE>
								</div>
								<!-- //list -->
<!-- pagination -->
<div class="paginate">
<a class="first" href="#;"><img title="첫페이지" alt="첫페이지" src="../images/common/btn_pn_first.gif"></a>
<a class="pre" href="#;"><img title="이전페이지" alt="이전페이지" src="../images/common/btn_pn_pre.gif"></a>
<a href="#;">1</a>
<strong>2</strong>
<a href="#;">3</a>
<a href="#;">4</a>
<a href="#;">5</a>
<a href="#;">6</a>
<a href="#;">7</a>
<a href="#;">8</a>
<a href="#;">9</a>
<a href="#;">10</a>
<a class="next" href="#;"><img title="다음페이지" alt="다음페이지" src="../images/common/btn_pn_next.gif"></a>
<a class="last" href="#;"><img title="마지막페이지" alt="마지막페이지" src="../images/common/btn_pn_last.gif"></a>
</div>
<!-- //pagination -->


				</div>
				<!-- contents -->
				</div>
				<!-- //container -->

</div>
</body>
</html>