<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>01-탭+상세 자산정보상세조회</title>
<link rel="stylesheet" href="../css/style.css" />
<!--[if IE]> <script src="../js/html5.js"></script> <![endif]-->
</head>
<body>
<div id="wrap">
				<header id="gnb">
				<!-- header -->
								<h1><a href="#;"><img src="../images/common/logo_TAMS.png" alt="TRiTo Asset Management System"></a></h1>


								<!-- dropdown_menu -->
								<div class="vertical2">
												<ul class="dropdown">
																<li class="first"><a href="#;">자산등록</a></li>
																<li><a href="#;">자산변동</a></li>
																<li><a href="#;">자산유휴</a></li>
																<li><a href="#;">자산처분</a></li>
																<li><a href="#;">자산현황</a></li>
																<li><a href="#;">자산실사</a></li>
																<li><a href="#;">기준정보관리</a></li>
																<li><a href="#;">시스템관리</a></li>
												</ul>
								</div>
								<!-- //dropdown_menu -->

								<!-- function -->
								<div class="function">
												<a href="#;" class="setting">Setting</a>
												<span class="">l</span>
												<a href="#;" class="user"><strong>TAMS 관리자</strong> <em class="tooltip">SI사업팀</em></a>
												<span class="confidential">Confidential</span>
								</div>
								<!-- //function -->

				<!-- //header -->
				</header>

				<!-- container -->
				<div id="container">
				<!-- contents -->
				<div id="contents">

								<!-- contents_head -->
								<!-- <div class="bc" >Home &gt; 투자정보 조회</div> -->
								<h3>자산현황 - 자산정보 상세조회</h3>
								<!-- //contents_head -->



								<!-- tab -->
								<div class="" id="">
												<ul class="tabs">
																<li class="on"><a href="#">자산정보</a></li>
																<li><a href="#">변경이력</a></li>
																<li><a href="#">투자이력</a></li>
																<div class="button">
																				<a class="btn_list">이전</a>
																</div>
												</ul>
								</div>
								<!-- //tab -->

								<!-- 내용 -->
								<div class="list_wrap">
												<!-- list_head -->
												<div class="list_head">
																<h6>자산 기본정보</h6>
												</div>
												<!-- //list_head -->

												<!-- detail_table -->
												<table class="detail_table form_s">
																<colgroup>
																<col style="width:12%" />
																<col style="width:20%" />
																<col style="width:12%" />
																<col style="width:20%" />
																<col style="width:12%" />
																<col />
																</colgroup>
																<tr>
																				<th>자산번호1</th>
																				<td>A20211000001</td>
																				<th>자산적요</th>
																				<td colspan="3">2021년 모니터 정기 구입</td>
																</tr>
																<tr>
																				<th>자산유형1</th>
																				<td>유형자산</td>
																				<th>자산유형2</th>
																				<td>OA</td>
																				<th>자산유형3</th>
																				<td>모니터</td>
																</tr>
																<tr>
																				<th>메이커</th>
																				<td>S사</td>
																				<th>모델</th>
																				<td>모니터1001</td>
																				<th>시리얼번호</th>
																				<td>123456789</td>
																</tr>
																<tr>
																				<th>사업부</th>
																				<td>A사업부</td>
																				<th>부서</th>
																				<td>A팀</td>
																				<th>자산담당자</th>
																				<td>홍길동</td>
																</tr>
																<tr>
																				<th>사업장</th>
																				<td>A사업장</td>
																				<th>건물</th>
																				<td>B동</td>
																				<th>층</th>
																				<td>3층</td>
																</tr>
																<tr>
																				<th>세부위치</th>
																				<td colspan="3">2021년 모니터 정기 구입</td>
																				<th>자산태그</th>
																				<td>Y</td>
																</tr>
																<tr>
																				<th>비용부서</th>
																				<td>A팀</td>
																				<th>계정</th>
																				<td>전산장비</td>
																				<th>내용연수</th>
																				<td>5년</td>
																</tr>
																<tr>
																				<th>취득가</th>
																				<td>1,500,000</td>
																				<th>잔존가</th>
																				<td>1,000,000</td>
																				<th>취득일자</th>
																				<td>2021-09-13</td>
																</tr>
												</table>
												<!-- //detail_table -->


								</div>
								<!-- //list -->

								<p class="space10"></p>

								<!-- list -->
								<div class="list_wrap">
												<!-- list_head -->

												<div class="list_head">
																<h6>자산 유형 특성정보</h6>
												</div>
												<!-- //list_head -->

												<!-- detail_table -->
												<table class="detail_table form_s">
																<colgroup>
																<col style="width:12%" />
																<col style="width:20%" />
																<col style="width:12%" />
																<col />
																</colgroup>
																<tr>
																				<th>크기</th>
																				<td>28인치</td>
																				<th>타입</th>
																				<td>LED</td>
																</tr>
												</table>
												<!-- //detail_table -->


								</div>
								<!-- //list -->



				</div>
				<!-- contents -->
				</div>
				<!-- //container -->

</div>
</body>
</html>