<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>02-메세지창_팝업(경고)</title>
<link rel="stylesheet" href="../css/style.css" />
</head>
<body >

<!-- pop_alert -->
<div id="pop_wrap" style="width:380px;height:170px;"><!-- [D] 현재 팝업창 크기는 380*170 입니다. 콘텐츠에 따라서 크기를 변경하여 주십시오.-->
				<!-- head -->
				<h3>시스템 에러
				<a href="#;" class="pop_close" title="닫기">닫기</a>
				</h3>
				<!-- //head -->
				<!-- contents -->
				<div id="contents">
								<dl class="alert">
												<dt><img src="../images/common/ico_pop_warning.png" alt="Warning/경고"></dt>
												<dd>확인을 누르면 수정사항이 변경됩니다.<br>변경하시겠습니까?</dd>
								</dl>
				</div>
				<!-- contents -->
				<!-- button -->
				<div class="pop_button">
								<p>
								<a href="#;" class="btn_list_rd">확인</a>
								</p>
				</div>
				<!-- //button -->
</div>
<!-- //pop_alert -->

</body>
</html>