<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>02-메세지창_팝업(에러)</title>
<link rel="stylesheet" href="../css/style.css" />
</head>
<body >

<!-- pop_alert -->
<div id="pop_wrap" style="width:380px;height:170px;"><!-- [D] 현재 팝업창 크기는 380*170 입니다. 콘텐츠에 따라서 크기를 변경하여 주십시오.-->
				<!-- head -->
				<h3>시스템 에러
				<a href="#;" class="pop_close" title="닫기">닫기</a>
				</h3>
				<!-- //head -->
				<!-- contents -->
				<div id="contents">
								<dl class="alert">
												<dt><img src="../images/common/ico_pop_error.png" alt="Error/에러"><!-- <img src="../images/common/ico_pop_success.png" alt="Confirm/확인"><img src="../images/common/ico_pop_warning.png" alt="Warning/경고"> --></dt>
												<dd><strong class="error">시스템 에러가 발생되었습니다.</strong>
												시스템 관리자에게 문의하시기 바랍니다.
												<a href="#;" class="email">help.TAMS@trito.co.kr</a>
												</dd>
								</dl>
				</div>
				<!-- contents -->
				<!-- button -->
				<div class="pop_button">
								<p>
								<a href="#;" class="btn_list_rd">확인</a>
								</p>
				</div>
				<!-- //button -->
</div>
<!-- //pop_alert -->

</body>
</html>