<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>02-메세지창_모달</title>
<link rel="stylesheet" href="../css/style.css" />
</head>
<body>

<div class="dim"></div>
<!-- Modal Popup -->
<div class="pop_modal" style="width:300px;"><!-- 크기는 컨텐츠에 따라서 다르게 적용합니다 -->
				<h3>알림
				<a href="#;" class="pop_close" title="닫기">닫기</a>
				</h3>

				<!-- Contents -->
				<div class="contents">
								<div class="model-msg">
												<dt>조회 결과가 없습니다</dt>
								</div>

								<div class="modal_button">
												<a href="#;" class="btn_page_rd">확인</a>
								</div>
				</div>
				<!-- //Contents -->

</div>
<!-- //Modal Popup -->

</body>
</html>