<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>04-탭+검색+리스트_소계</title>
<link rel="stylesheet" href="../css/style.css" />
<!--[if IE]> <script src="../js/html5.js"></script> <![endif]-->
</head>
<body>
<div id="wrap">
				<header id="gnb">
				<!-- header -->
								<h1><a href="#;"><img src="../images/common/logo_TAMS.png" alt="TRiTo Asset Management System"></a></h1>


								<!-- dropdown_menu -->
								<div class="vertical2">
												<ul class="dropdown">
																<li class="first"><a href="#;">자산등록</a></li>
																<li><a href="#;">자산변동</a></li>
																<li><a href="#;">자산유휴</a></li>
																<li><a href="#;">자산처분</a></li>
																<li><a href="#;">자산현황</a></li>
																<li><a href="#;">자산실사</a></li>
																<li><a href="#;">기준정보관리</a></li>
																<li><a href="#;">시스템관리</a></li>
												</ul>
								</div>
								<!-- //dropdown_menu -->

								<!-- function -->
								<div class="function">
												<a href="#;" class="setting">Setting</a>
												<span class="">l</span>
												<a href="#;" class="user"><strong>TAMS 관리자</strong> <em class="tooltip">SI사업팀</em></a>
												<span class="confidential">Confidential</span>
								</div>
								<!-- //function -->

				<!-- //header -->
				</header>

				<!-- container -->
				<div id="container">
				<!-- contents -->
				<div id="contents">

								<!-- contents_head -->
								<div class="bc">Home &gt; Menu &gt; Menu 2depth</div>
								<h3>화면 타이틀</h3>
								<!-- //contents_head -->

								<div class="" id="">
												<!-- tab -->
												<ul class="tabs">
																<li class="on"><a href="#;">IP 단위</a></li>
																<li><a href="#;">제품 단위</a></li>
												</ul>
												<!-- //tab -->
								</div>

								<!-- search -->
								<div class="srch_wrap">
												<!-- search_form -->
												<div class="srch_form">
																<table class="srch_table">
																<colgroup>
																				<col width="8%"/>
																				<col width="15%"/>
																				<col width="10%"/>
																				<col width="8%"/>
																				<col width="15%"/>
																				<col width="8%"/>
																				<col width="15%"/>
																				<col width="8%"/>
																				<col width=""/>
																</colgroup>
																				<tr>
																								<th>Period</th>
																								<td>
																												<div class="form_radio">
																																<label><input type="radio" name="radio" value="radio1">년간</label>
																																<label><input type="radio" name="radio" value="radio2">반기</label>
																																<label><input type="radio" name="radio" value="radio3">분기</label>
																												</div>
																								</td>
																								<td>
																												<select style="width:80%;">
																												<option>2020</option>
																												</select>
																								</td>
																								<th>Section</th>
																								<td>
																												<select style="width:80%;">
																												<option>S.LSI</option>
																												</select>
																								</td>
																								<th>PG2</th>
																								<td>
																												<select style="width:80%;">
																												<option>ALL</option>
																												</select>
																								</td>
																								<th>취합 IP</th>
																								<td><input type="text" style="width:100%;"></td>
																				</tr>
																</table>
																<!-- search_button -->
																<div class="button">
																				<a href="#;" class="btn_reset">Reset</a>
																				<a href="#;" class="btn_srch">Search</a>
																</div>
																<!-- //search_button -->
												</div>
												<!-- //search_form -->
								</div>
								<!-- //search -->

								<!-- list -->
								<div class="list_wrap">
												<!-- list_head -->
												<div class="list_head">
																<div class="result">Results : 0,000</div>
																<!-- list_button -->
																<div class="button">
																				<a class="btn_list_rd">신규 등록</a>
																				<a class="btn_list">다운로드</a>
																</div>
																<!-- list_button -->
												</div>
												<!-- //list_head -->
												<!-- list_table -->
												<table class="list_table">
												<colgroup>
												<col width="70px"/>
												<col width="80px"/>
												<col width="100"/>
												<col width="100px"/>
												<col width=""/>
												<col width="100px"/>
												<col width="80px"/>
												<col width="80px"/>
												<col width="80px"/>
												<col width="80px"/>
												<col width="80px"/>
												<col width="90px"/>
												<col width="90px"/>
												</colgroup>
																<thead>
																				<tr>
																								<th>Period</th>
																								<th>Section</th>
																								<th>제품구분</th>
																								<th>PG3</th>
																								<th>Material No 7</th>
																								<th>Prod Code 7</th>
																								<th>판매량</th>
																								<th>매출액</th>
																								<th>공제액</th>
																								<th>순매출액</th>
																								<th>ASP</th>
																								<th>Royalty Rate</th>
																								<th>Royalty DUE</th>
																				</tr>
																</thead>
																<tbody>
																				<tr>
																								<td class="head1 tc" rowspan="2">2021-3Q</td>
																								<td class="head2 tc">S.LSI</td>
																								<td class="head3 tc">Fusion</td>
																								<td class="tc">Panel DDI</td>
																								<td>GOLF-S3</td>
																								<td class="head2 tc">S4LL128</td>
																								<td class="tr">0</td>
																								<td class="tr">0.00</td>
																								<td class="tr">0.00</td>
																								<td class="tr">0.00</td>
																								<td class="tr">0.00</td>
																								<td class="tr">0.216</td>
																								<td class="tr">0.00</td>
																				</tr>
																				<tr>
																								<td class="head2 tc">S.LSI</td>
																								<td class="head3 tc">Fusion</td>
																								<td class="tc">Panel DDI</td>
																								<td>GOLF-S3</td>
																								<td class="tc">S4LL128</td>
																								<td class="tr">0</td>
																								<td class="tr">0.00</td>
																								<td class="tr">0.00</td>
																								<td class="tr">0.00</td>
																								<td class="tr">0.00</td>
																								<td class="tr">0.216</td>
																								<td class="tr">0.00</td>
																				</tr>
																				<tr>
																								<td class="head1 tc">2021-3Q</td>
																								<td class="head2 tc">S.LSI</td>
																								<td class="head3 tc">Fusion</td>
																								<td class="tc">Panel DDI</td>
																								<td>GOLF-S3</td>
																								<td class="tc">S4LL128</td>
																								<td class="tr">0</td>
																								<td class="tr">0.00</td>
																								<td class="tr">0.00</td>
																								<td class="tr">0.00</td>
																								<td class="tr">0.00</td>
																								<td class="tr">0.216</td>
																								<td class="tr">0.00</td>
																				</tr>
																				<tr class="sub_total">
																								<td class="text_c">2021-3Q</td>
																								<td class="text_c">S.LSI</td>
																								<td class="text_c">Fusion</td>
																								<td class="" colspan="3">소계</td>
																								<td class="tr">0</td>
																								<td class="tr">0.00</td>
																								<td class="tr">0.00</td>
																								<td class="tr">0.00</td>
																								<td class="tr">0.00</td>
																								<td class="tr">0.216</td>
																								<td class="tr">0.00</td>
																				</tr>
																				<tr>
																								<td class="tc"></td>
																								<td class="tc"></td>
																								<td class="tc"></td>
																								<td class="tc"></td>
																								<td>&nbsp;</td>
																								<td class="tc"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td class="tc"></td>
																								<td class="tc"></td>
																								<td class="tc"></td>
																								<td class="tc"></td>
																								<td>&nbsp;</td>
																								<td class="tc"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td class="tc"></td>
																								<td class="tc"></td>
																								<td class="tc"></td>
																								<td class="tc"></td>
																								<td>&nbsp;</td>
																								<td class="tc"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td class="tc"></td>
																								<td class="tc"></td>
																								<td class="tc"></td>
																								<td class="tc"></td>
																								<td>&nbsp;</td>
																								<td class="tc"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr class="sub_total">
																								<td class="text_c">2020-3Q</td>
																								<td class="text_c">S.LSI</td>
																								<td class="text_c">Fusion</td>
																								<td class="" colspan="3">소계</td>
																								<td class="tr">0</td>
																								<td class="tr">0.00</td>
																								<td class="tr">0.00</td>
																								<td class="tr">0.00</td>
																								<td class="tr">0.00</td>
																								<td class="tr">0.216</td>
																								<td class="tr">0.00</td>
																				</tr>
																				<tr class="total">
																								<td class="tc" colspan="6">합계</td>
																								<td class="tr">\ 0</td>
																								<td class="tr">\ 0.00</td>
																								<td class="tr">\ 0.00</td>
																								<td class="tr">\ 0.00</td>
																								<td class="tr">\ 0.00</td>
																								<td class="tr">\ 0.216</td>
																								<td class="tr">\ 0.00</td>
																				</tr>
																</tbody>
												</table>
												<!-- //list_table -->

												<p class="space10"></p>
												<!-- detail_table -->
												<table class="detail_table form_s">
																<colgroup>
																<col style="width:15%" />
																<col style="width:35%" />
																<col style="width:15%" />
																<col />
																</colgroup>
																<tr>
																				<th>항목명</th>
																				<td>출력값</td>
																				<th>항목명</th>
																				<td>출력값</td>
																</tr>
																<tr>
																				<th>항목명</th>
																				<td>출력값</td>
																				<th>항목명</th>
																				<td>출력값</td>
																</tr>
																<tr>
																				<th>항목명</th>
																				<td>출력값</td>
																				<th class="sub">항목명</th>
																				<td>출력값</td>
																</tr>
																<tr>
																				<th>항목명</th>
																				<td>출력값</td>
																				<th class="total">합계</th>
																				<td class="total">\ 10,000</td>
																</tr>
												</table>
												<!-- //detail_table -->
								</div>
								<!-- //list -->


				</div>
				<!-- contents -->
				</div>
				<!-- //container -->

</div>
</body>
</html>