<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>05-팝업_모달</title>
<link rel="stylesheet" href="../css/style.css" />
</head>
<body>

<div class="dim"></div>
<!-- Modal Popup -->
<div class="pop_modal" style="width:600px;"><!-- 크기는 컨텐츠에 따라서 다르게 적용합니다 -->
				<h3>ADI IP별 공제비용
				<a href="#;" class="pop_close" title="닫기">닫기</a>
				</h3>

				<!-- Contents -->
				<div class="contents">

								<!-- search -->
								<div class="srch_wrap single">
												<label for="Period">Period</label>
												<select style="width:100px;">
												<option>20204Q</option>
												</select>
												<!-- search_button -->
												<a href="#;" class="btn_srch">Search</a>
												<!-- //search_button -->
								</div>
								<!-- //search -->
								<!-- list_table -->
								<table class="list_table">
								<colgroup>
								<col width="16%"/>
								<col width="16%"/>
								<col width="17%"/>
								<col width="17%"/>
								<col width="17%"/>
								<col width=""/>
								</colgroup>
												<thead>
																<tr>
																				<th>Period</th>
																				<th>적용IP</th>
																				<th>법인 매출액</th>
																				<th>법인 공제비용</th>
																				<th>본사 매출액</th>
																				<th>본사 공제비용</th>
																</tr>
												</thead>
												<tbody>
																<tr>
																				<td class="tc"></td>
																				<td class="tc"></td>
																				<td class="tr">0</td>
																				<td class="tr">0</td>
																				<td class="tr">0</td>
																				<td class="tr">0</td>
																</tr>
																<tr>
																				<td class="tc"></td>
																				<td class="tc"></td>
																				<td class="tr"></td>
																				<td class="tr"></td>
																				<td class="tr"></td>
																				<td class="tr"></td>
																</tr>
												</tbody>
								</table>
								<!-- //list_table -->
								<br>

								<div class="modal_button">
												<a href="#;" class="btn_page_rd">확인</a>
								</div>
				</div>
				<!-- //Contents -->

</div>
<!-- //Modal Popup -->

</body>
</html>