<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>06-탭+검색+리스트_버튼_선택_입력</title>
<link rel="stylesheet" href="../css/style.css" />
<!--[if IE]> <script src="../js/html5.js"></script> <![endif]-->
</head>
<body>
<div id="wrap">
				<header id="gnb">
				<!-- header -->
								<h1><a href="#;"><img src="../images/common/logo_TAMS.png" alt="TRiTo Asset Management System"></a></h1>


								<!-- dropdown_menu -->
								<div class="vertical2">
												<ul class="dropdown">
																<li class="first"><a href="#;">자산등록</a></li>
																<li><a href="#;">자산변동</a></li>
																<li><a href="#;">자산유휴</a></li>
																<li><a href="#;">자산처분</a></li>
																<li><a href="#;">자산현황</a></li>
																<li><a href="#;">자산실사</a></li>
																<li><a href="#;">기준정보관리</a></li>
																<li><a href="#;">시스템관리</a></li>
												</ul>
								</div>
								<!-- //dropdown_menu -->

								<!-- function -->
								<div class="function">
												<a href="#;" class="setting">Setting</a>
												<span class="">l</span>
												<a href="#;" class="user"><strong>TAMS 관리자</strong> <em class="tooltip">SI사업팀</em></a>
												<span class="confidential">Confidential</span>
								</div>
								<!-- //function -->

				<!-- //header -->
				</header>

				<!-- container -->
				<div id="container">
				<!-- contents -->
				<div id="contents">

								<!-- contents_head -->
								<div class="bc">Home &gt; Menu &gt; Menu 2depth</div>
								<h3>화면 타이틀</h3>
								<!-- //contents_head -->

								<div class="" id="">
												<!-- tab -->
												<ul class="tabs">
																<li><a href="#;">Tap Menu1</a></li>
																<li><a href="#;">Tap Menu2</a></li>
																<li><a href="#;">Tap Menu3</a></li>
																<li><a href="#;">Tap Menu4</a></li>
																<li class="on"><a href="#;">Tap Menu5</a></li>
																<li><a href="#;">Tap Menu6</a></li>
												</ul>
												<!-- //tab -->
								</div>

								<!-- search -->
								<div class="srch_wrap single">
												<label for="Period">기간</label>
												<select style="width:100px;">
												<option>2021-3Q</option>
												</select>
												<!-- search_button -->
												<a href="#;" class="btn_srch">Search</a>
												<!-- //search_button -->
								</div>
								<!-- //search -->

								<!-- list -->
								<div class="list_wrap">
												<!-- list_head -->
												<div class="list_head">
																<div class="result">Results : 0,000</div>
																<!-- list_button -->
																<div class="button">
																				<a class="btn_list_rd">신규 등록</a>
																				<a class="btn_list">다운로드</a>
																</div>
																<!-- list_button -->
												</div>
												<!-- //list_head -->
												<!-- list_table -->
												<table class="list_table">
												<colgroup>
												<col width="30px"/>
												<col width="80px"/>
												<col width="80px"/>
												<col width="100px"/>
												<col width="80px"/>
												<col width="100px"/>
												<col width="80px"/>
												<col width="80px"/>
												<col width="80px"/>
												<col width="80px"/>
												<col width="80px"/>
												<col width="80px"/>
												<col width=""/>
												</colgroup>
																<thead>
																				<tr>
																								<th rowspan="2"><input type="checkbox" name="checkbox" /></th>
																								<th rowspan="2">시작일</th>
																								<th rowspan="2">종료일</th>
																								<th rowspan="2">제품 구분</th>
																								<th colspan="2">ASP</th>
																								<th colspan="2">누적판매량</th>
																								<th rowspan="2">Royalty Rate1</th>
																								<th rowspan="2">단위1</th>
																								<th rowspan="2">Royalty Rate2</th>
																								<th rowspan="2">단위2</th>
																								<th rowspan="2">비고</th>
																				</tr>
																				<tr>
																								<th>금액</th>
																								<th>범위</th>
																								<th>FROM</th>
																								<th>TO</th>
																				</tr>
																</thead>
																<tbody>
																				<tr>
																								<td class="tc"><input name="checkbox2" type="checkbox" checked="checked" /></td>
																								<td><input type="text" style="width:100%;" value="20151Q" class="tc"></td>
																								<td class="tc"><span class="rgst_complete"><a href="">종료</a></span></td>
																								<td>
																												<select style="width:100px;">
																												<option>AUDIO</option>
																												</select>
																								</td>
																								<td><input type="text" style="width:100%;" value="20.20" class="tc"></td>
																								<td class="tc">
																												<select style="width:100px;">
																												<option>이하</option>
																												</select>
																								</td>
																								<td><input type="text" style="width:100%;" readonly="" value="0" class="tr"></td>
																								<td><input type="text" style="width:100%;" disabled="" value="0" class="tr"></td>
																								<td><input type="text" style="width:100%;" value="0.07" class="tc"></td>
																								<td><input type="text" style="width:100%;" value="USD" class="tc"></td>
																								<td><input type="text" style="width:100%;" value="0" class="tc"></td>
																								<td><input type="text" style="width:100%;" value="" class="tc"></td>
																								<td><input type="text" style="width:100%;" value=""></td>
																				</tr>
																				<tr>
																								<td class="tc"><input type="checkbox" name="checkbox3" /></td>
																								<td></td>
																								<td></td>
																								<td class="tc"></td>
																								<td class="tc">&nbsp;</td>
																								<td class="tc"></td>
																								<td class="tc"></td>
																								<td class="tc"></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																				</tr>
																				<tr>
																								<td class="tc"><input type="checkbox" name="checkbox3" /></td>
																								<td></td>
																								<td></td>
																								<td class="tc"></td>
																								<td class="tc">&nbsp;</td>
																								<td class="tc"></td>
																								<td class="tc"></td>
																								<td class="tc"></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																				</tr>
																</tbody>
												</table>
												<!-- //list_table -->
								</div>
								<!-- //list -->
<!-- pagination -->
<div class="paginate">
<a class="first" href="#;"><img title="첫페이지" alt="첫페이지" src="../images/common/btn_pn_first.gif"></a>
<a class="pre" href="#;"><img title="이전페이지" alt="이전페이지" src="../images/common/btn_pn_pre.gif"></a>
<a href="#;">1</a>
<strong>2</strong>
<a href="#;">3</a>
<a href="#;">4</a>
<a href="#;">5</a>
<a href="#;">6</a>
<a href="#;">7</a>
<a href="#;">8</a>
<a href="#;">9</a>
<a href="#;">10</a>
<a class="next" href="#;"><img title="다음페이지" alt="다음페이지" src="../images/common/btn_pn_next.gif"></a>
<a class="last" href="#;"><img title="마지막페이지" alt="마지막페이지" src="../images/common/btn_pn_last.gif"></a>
</div>
<!-- //pagination -->


				</div>
				<!-- contents -->
				</div>
				<!-- //container -->

</div>
</body>
</html>