<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>08-리스트 안내문구</title>
<link rel="stylesheet" href="../css/style.css" />
<!--[if IE]> <script src="../js/html5.js"></script> <![endif]-->
</head>
<body>
<div id="wrap">
				<header id="gnb">
				<!-- header -->
								<h1><a href="#;"><img src="../images/common/logo_TAMS.png" alt="TRiTo Asset Management System"></a></h1>


								<!-- dropdown_menu -->
								<div class="vertical2">
												<ul class="dropdown">
																<li class="first"><a href="#;">자산등록</a></li>
																<li><a href="#;">자산변동</a></li>
																<li><a href="#;">자산유휴</a></li>
																<li><a href="#;">자산처분</a></li>
																<li><a href="#;">자산현황</a></li>
																<li><a href="#;">자산실사</a></li>
																<li><a href="#;">기준정보관리</a></li>
																<li><a href="#;">시스템관리</a></li>
												</ul>
								</div>
								<!-- //dropdown_menu -->

								<!-- function -->
								<div class="function">
												<a href="#;" class="setting">Setting</a>
												<span class="">l</span>
												<a href="#;" class="user"><strong>TAMS 관리자</strong> <em class="tooltip">SI사업팀</em></a>
												<span class="confidential">Confidential</span>
								</div>
								<!-- //function -->

				<!-- //header -->
				</header>

				<!-- container -->
				<div id="container">
				<!-- contents -->
				<div id="contents">

								<!-- contents_head -->
								<div class="bc">Home &gt; Menu &gt; Menu 2depth</div>
								<h3>화면 타이틀</h3>
								<!-- //contents_head -->

								<div class="" id="">
												<!-- tab -->
												<ul class="tabs">
																<li><a href="#;">Tap menu1</a></li>
																<li><a href="#;">Tap menu2</a></li>
																<li><a href="#;">Tap menu3</a></li>
																<li><a href="#;">Tap menu4</a></li>
																<li><a href="#;">Tap menu5</a></li>
																<li><a href="#;">Tap menu6</a></li>
																<li class="on"><a href="#;">Tap menu7</a></li>
																<li><a href="#;">Tap menu8</a></li>
																<div class="button">
																				<a class="btn_list">이전</a>
																</div>
												</ul>
												<!-- //tab -->
								</div>

								<!-- list 1 -->
								<div class="list_wrap">
												<!-- list_head -->
												<div class="list_head">
																<span class="description">※ 2013년 1월 1일 이전에 판매된 제품으로 과거 ASP 조정 조건에 따름</span>
																<!-- list_button -->
																<div class="button">
																				<a class="btn_list">행추가</a>
																				<a class="btn_list">행삭제</a>
																				<a class="btn_list">저장</a>
																				<a class="btn_list">양식다운로드</a>
																				<a class="btn_list">업로드</a>
																				<a class="btn_list_rd">다운로드</a>
																</div>
																<!-- list_button -->
												</div>
												<!-- //list_head -->
												<!-- list_table -->
												<table class="list_table">
												<colgroup>
												<col width="30px"/>
												<col width=""/>
												<col width="40%"/>
												</colgroup>
																<thead>
																				<tr>
																								<th><input type="checkbox" name="checkbox" /></th>
																								<th>Material NO7</th>
																								<th>Product Code7</th>
																				</tr>
																</thead>
																<tbody>
																				<tr>
																								<td class="tc"><input name="checkbox2" type="checkbox" checked="checked" /></td>
																								<td></td>
																								<td class="tc"></td>
																				</tr>
																				<tr>
																								<td class="tc"><input type="checkbox" name="checkbox3" /></td>
																								<td></td>
																								<td class="tc"></td>
																				</tr>
																				<tr>
																								<td class="tc"><input type="checkbox" name="checkbox3" /></td>
																								<td></td>
																								<td class="tc"></td>
																				</tr>
																				<tr>
																								<td class="tc"><input type="checkbox" name="checkbox3" /></td>
																								<td></td>
																								<td class="tc"></td>
																				</tr>
																</tbody>
												</table>
												<!-- //list_table -->
								</div>
								<!-- //list 1 -->
<!-- pagination -->
<div class="paginate">
<a class="first" href="#;"><img title="첫페이지" alt="첫페이지" src="../images/common/btn_pn_first.gif"></a>
<a class="pre" href="#;"><img title="이전페이지" alt="이전페이지" src="../images/common/btn_pn_pre.gif"></a>
<a href="#;">1</a>
<strong>2</strong>
<a href="#;">3</a>
<a href="#;">4</a>
<a href="#;">5</a>
<a href="#;">6</a>
<a href="#;">7</a>
<a href="#;">8</a>
<a href="#;">9</a>
<a href="#;">10</a>
<a class="next" href="#;"><img title="다음페이지" alt="다음페이지" src="../images/common/btn_pn_next.gif"></a>
<a class="last" href="#;"><img title="마지막페이지" alt="마지막페이지" src="../images/common/btn_pn_last.gif"></a>
</div>
<!-- //pagination -->


				</div>
				<!-- contents -->
				</div>
				<!-- //container -->

</div>
</body>
</html>