<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>10-팝업뷰 2단 리스트</title>
<link rel="stylesheet" href="../css/style.css" />
</head>
<body >

<!-- pop_alert -->
<div id="pop_wrap" style="width:900px;height:600px;"><!-- [D] 현재 팝업창 크기는 600*600 입니다. 콘텐츠에 따라서 크기를 변경하여 주십시오.-->
				<!-- head -->
				<h3>자산정보조회
				<a href="#;" class="pop_close" title="닫기">닫기</a>
				</h3>
				<!-- //head -->
				<!-- contents -->
				<div id="contents">

								<!-- search -->
								<div class="srch_wrap">
												<!-- search_form -->
												<div class="srch_form">
																<table class="srch_table">
																<colgroup>
																				<col width="15%"/>
																				<col width="20%"/>
																				<col width="15%"/>
																				<col width=""/>
																</colgroup>
																				<tr>
																								<th>기간</th>
																								<td>
																												<select style="width:80%;">
																												<option>20201</option>
																												</select>
																								</td>
																								<th>반출여부</th>
																								<td>
																												<select style="width:60%;">
																												<option>Y</option>
																												</select>
																								</td>
																				</tr>
																</table>
																<!-- search_button -->
																<div class="button">
																				<a href="#;" class="btn_srch">Search</a>
																</div>
																<!-- //search_button -->
												</div>
												<!-- //search_form -->
								</div>
								<!-- //search -->

								<!-- list 1 -->
								<div class="list_wrap">
												<!-- list_head -->
												<div class="list_head">
																<h6>IP별 총계</h6>
																<!-- list_button -->
																<div class="button">
																				<a class="btn_list">다운로드</a>
																				<a class="btn_list_rd">매출/로열티 구분</a>
																</div>
																<!-- list_button -->
												</div>
												<!-- //list_head -->
												<!-- list_table -->


												<div style="height:174px;overflow:auto !important;">
												<table class="list_table" >
												<colgroup>
												<col width="70px"/>
												<col width="70px"/>
												<col width=""/>
												<col width="100px"/>
												<col width="100px"/>
												<col width="100px"/>
												<col width="100px"/>
												<col width="100px"/>
												<col width="100px"/>
												<col width="100px"/>
												<col width="100px"/>
												<col width="100px"/>
												</colgroup>
																<thead>
																				<tr>
																								<th>Period</th>
																								<th>Section</th>
																								<th>Material Name</th>
																								<th>Prod Code7</th>
																								<th>수량</th>
																								<th>조정매출</th>
																								<th>Royalty Rate1</th>
																								<th>Royalty Rate1</th>
																								<th>Royalty Rate1</th>
																				</tr>
																</thead>
																<tbody>
																				<tr>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																</tbody>
												</table>
												</div>
												<!-- //list_table -->
								</div>
								<!-- //list 1 -->

								<p class="space5"></p>
								<!-- list 2 -->
								<div class="list_wrap">
												<!-- list_head -->
												<div class="list_head">
																<h6>대상 자산목록</h6>
																<!-- list_button -->
																<div class="button">
																				<a class="btn_list">다운로드</a>
																</div>
																<!-- list_button -->
												</div>
												<!-- //list_head -->
												<!-- list_table -->

												<div style="height:204px;overflow:auto;">
												<table class="list_table">
												<colgroup>
												<col width="8%"/>
												<col width=""/>
												<col width="18%"/>
												<col width="18%"/>
												<col width="16%"/>
												<col width="16%"/>
												</colgroup>
																<thead>
																				<tr>
																								<th>Period</th>
																								<th>Section</th>
																								<th>수량</th>
																								<th>조정매출</th>
																								<th>Royalty Rate</th>
																								<th>Royalty Due</th>
																				</tr>
																</thead>
																<tbody>
																				<tr>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																</tbody>
												</table>
												</div>
												<!-- //list_table -->
								</div>
								<!-- //list 2 -->


				</div>
				<!-- contents -->
				<!-- button -->
				<div class="pop_button">
								<p>
								<a href="#;" class="btn_list_rd">확인</a>
								</p>
				</div>
				<!-- //button -->
</div>
<!-- //pop_alert -->

</body>
</html>