<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>11-Help 팝업뷰</title>
<link rel="stylesheet" href="../css/style.css" />
</head>
<body >

<!-- pop_alert -->
<div id="pop_wrap" style="width:500px;height:690px;"><!-- [D] 현재 팝업창 크기는 600*500 입니다. 콘텐츠에 따라서 크기를 변경하여 주십시오.-->
				<!-- head -->
				<h3>
				<a href="#;" class="pop_close" title="닫기">닫기</a>
				</h3>
				<!-- //head -->
				<!-- contents -->
				<div id="contents">

								<h6>로얼티 지급 기준</h6>
								<ul class="box_index">
												<p>Description Sample / description sample  description sample  description sample<br/>Description Sample description sample
												<br/>Description Sample description sample
												<p class="space10"></p>
												<!-- detail_table -->
												<table class="amt_table" style="width:200px;">
																<colgroup>
																<col style="width:35%" />
																<col />
																</colgroup>
																<tr>
																				<th>수량</th>
																				<th>Royalty</th>
																</tr>
																<tr>
																				<td>1M 이하</td>
																				<td class="tc">$0.17</td>
																</tr>
																<tr>
																				<td>1M - 3M</td>
																				<td class="tc">$0.15</td>
																</tr>
																<tr>
																				<td>3M - 7M</td>
																				<td class="tc">$0.12</td>
																</tr>
																<tr>
																				<td>7M - 13M</td>
																				<td class="tc">$0.18</td>
																</tr>
																<tr>
																				<td><span class="focus">13M 이상</span></td>
																				<td class="tc"><span class="focus">$0.05</span></td>
																</tr>
															</table>
												</p>
								</ul>

								<p class="space10"></p>

								<p><strong>IP 구분</strong></p>
								<ul class="nobox_l">
								<p>Description Sample / description sample  description sample  description sample<br />Description Sample description sample
								<br/>Description Sample description sample
								<br/>Description Sample description sample
								<br/>
								</p>
								</ul>

								<hr class="section" />
								<p><strong>계약 History</strong></p>
								<ul class="nobox_l">
								<p>Description Sample / description sample  description sample  description sample<br />Description Sample description sample
								<br/>Description Sample description sample
								<br/>Description Sample description sample
								<br/>Description Sample description sample
								<br/>Description Sample description sample
								<br/>Description Sample description sample
								<br/>Description Sample description sample
								<br/>Description Sample description sample
								<br/>Description Sample description sample
								<br/>Description Sample description sample
								</p>
								</ul>

				</div>
				<!-- contents -->
				<!-- button -->
				<div class="pop_button">
								<p>
								<a href="#;" class="btn_list_rd">확인</a>
								</p>
				</div>
				<!-- //button -->
</div>
<!-- //pop_alert -->

</body>
</html>