<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>14-화면하단안내문구</title>
<link rel="stylesheet" href="../css/style.css" />
<!--[if IE]> <script src="../js/html5.js"></script> <![endif]-->
</head>
<body>
<div id="wrap">
				<header id="gnb">
				<!-- header -->
								<h1><a href="#;"><img src="../images/common/logo_TAMS.png" alt="TRiTo Asset Management System"></a></h1>


								<!-- dropdown_menu -->
								<div class="vertical2">
												<ul class="dropdown">
																<li class="first"><a href="#;">자산등록</a></li>
																<li><a href="#;">자산변동</a></li>
																<li><a href="#;">자산유휴</a></li>
																<li><a href="#;">자산처분</a></li>
																<li><a href="#;">자산현황</a></li>
																<li><a href="#;">자산실사</a></li>
																<li><a href="#;">기준정보관리</a></li>
																<li><a href="#;">시스템관리</a></li>
												</ul>
								</div>
								<!-- //dropdown_menu -->

								<!-- function -->
								<div class="function">
												<a href="#;" class="setting">Setting</a>
												<span class="">l</span>
												<a href="#;" class="user"><strong>TAMS 관리자</strong> <em class="tooltip">SI사업팀</em></a>
												<span class="confidential">Confidential</span>
								</div>
								<!-- //function -->

				<!-- //header -->
				</header>

				<!-- container -->
				<div id="container">
				<!-- contents -->
				<div id="contents">

								<!-- contents_head -->
								<div class="bc">Home &gt; Menu &gt; Menu 2depth</div>
								<h3>화면 타이틀</h3>
								<!-- //contents_head -->

								<div class="" id="">
												<!-- tab -->
												<ul class="tabs">
																<li><a href="#;">Tap Menu1</a></li>
																<li><a href="#;">Tap Menu2</a></li>
																<li><a href="#;">Tap Menu3</a></li>
																<li><a href="#;">Tap Menu4</a></li>
																<li><a href="#;">Tap Menu5</a></li>
																<li><a href="#;">Tap Menu6</a></li>
																<li class="on"><a href="#;">Tap Menu7</a></li>
																<li><a href="#;">Tap Menu8</a></li>
																<div class="button">
																				<a class="btn_list">이전</a>
																</div>
												</ul>
												<!-- //tab -->
								</div>

								<!-- list 1 -->
								<div class="list_wrap">
												<div class="list_head">
																<span class="description">※ 2013년 1월 1일 이전에 판매된 제품으로 과거 ASP 조정 조건에 따름</span>
																<!-- list_button -->
																<div class="button">
																				<a class="btn_dis">행추가</a>
																				<a class="btn_list">행삭제</a>
																				<a class="btn_list">저장</a>
																				<a class="btn_list">양식다운로드</a>
																				<a class="btn_list">업로드</a>
																				<a class="btn_list_rd">다운로드</a>
																</div>
																<!-- list_button -->
												</div>
												<!-- list_table --><!-- [D] 리스트 헤드 각각셀의 값을 지정하고 마지막 셀넓이에 스크롤 사이즈값 17px추가하여 적어줌  -->
												<table class="list_table" >
												<colgroup>
												<col width="30px"/>
												<col width=""/>
												<col width="457px"/>
												</colgroup>
																<thead>
																				<tr>
																								<th><input type="checkbox" name="checkbox" /></th>
																								<th>Material NO7</th>
																								<th>Product Code7</th>
																				</tr>
																</thead>
												</table>
												<!-- //list_table -->
												<!-- 리스트 데이타뷰 스크롤이 생길려면 DIV지정 해줘야 한다. -->
												<div style="height:133px;" class="bot_line"><!-- [D] 스크롤 생성 속성 지정 [overflow] 지정, 스크롤 생길 높이사이즈 지정 -->
																<table class="list_table">
																<colgroup>
																<col width="30px"/>
																<col width=""/>
																<col width="440px"/>
																</colgroup>
																				<tbody>
																								<tr>
																												<td class="tc"><input name="checkbox2" type="checkbox" checked="checked" /></td>
																												<td></td>
																												<td class="tc"></td>
																								</tr>
																								<tr>
																												<td class="tc"><input type="checkbox" name="checkbox3" /></td>
																												<td></td>
																												<td class="tc"></td>
																								</tr>
																								<tr>
																												<td class="tc"><input type="checkbox" name="checkbox3" /></td>
																												<td></td>
																												<td class="tc"></td>
																								</tr>
																								<tr>
																												<td class="tc"><input type="checkbox" name="checkbox3" /></td>
																												<td></td>
																												<td class="tc"></td>
																								</tr>
																								<tr>
																												<td class="tc"><input type="checkbox" name="checkbox3" /></td>
																												<td></td>
																												<td class="tc"></td>
																								</tr>
																								<tr>
																												<td class="tc"><input type="checkbox" name="checkbox3" /></td>
																												<td></td>
																												<td class="tc"></td>
																								</tr>
																								<tr>
																												<td class="tc"><input type="checkbox" name="checkbox3" /></td>
																												<td></td>
																												<td class="tc"></td>
																								</tr>
																								<tr>
																												<td class="tc"><input type="checkbox" name="checkbox3" /></td>
																												<td></td>
																												<td class="tc"></td>
																								</tr>
																								<tr>
																												<td class="tc"><input type="checkbox" name="checkbox3" /></td>
																												<td></td>
																												<td class="tc"></td>
																								</tr>
																								<tr>
																												<td class="tc"><input type="checkbox" name="checkbox3" /></td>
																												<td></td>
																												<td class="tc"></td>
																								</tr>
																								<tr>
																												<td class="tc"><input type="checkbox" name="checkbox3" /></td>
																												<td></td>
																												<td class="tc"></td>
																								</tr>
																								<tr>
																												<td class="tc"><input type="checkbox" name="checkbox3" /></td>
																												<td></td>
																												<td class="tc"></td>
																								</tr>
																								<tr>
																												<td class="tc"><input type="checkbox" name="checkbox3" /></td>
																												<td></td>
																												<td class="tc"></td>
																								</tr>
																								<tr>
																												<td class="tc"><input type="checkbox" name="checkbox3" /></td>
																												<td></td>
																												<td class="tc"></td>
																								</tr>
																								<tr>
																												<td class="tc"><input type="checkbox" name="checkbox3" /></td>
																												<td></td>
																												<td class="tc"></td>
																								</tr>
																								<tr>
																												<td class="tc"><input type="checkbox" name="checkbox3" /></td>
																												<td></td>
																												<td class="tc"></td>
																								</tr>
																								<tr>
																												<td class="tc"><input type="checkbox" name="checkbox3" /></td>
																												<td></td>
																												<td class="tc"></td>
																								</tr>
																								<tr>
																												<td class="tc"><input type="checkbox" name="checkbox3" /></td>
																												<td></td>
																												<td class="tc"></td>
																								</tr>
																								<tr>
																												<td class="tc"><input type="checkbox" name="checkbox3" /></td>
																												<td></td>
																												<td class="tc"></td>
																								</tr>
																				</tbody>
																</table>
												</div>
												<!-- //리스트 데이타뷰 스크롤이 생길려면 DIV지정 해줘야 한다. -->

								</div>
								<!-- //list 1 -->

								<ul class="box_index">
												<li><strong>대상기술</strong></li>
												<p>A-SiAION 계열의 Yellow형광체 및 B-SiAION 계열의 Green 형광체 제조 및 적용 제품</p>
								</ul>


				</div>
				<!-- contents -->
				</div>
				<!-- //container -->

</div>
</body>
</html>