<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>15-비활성버튼</title>
<link rel="stylesheet" href="../css/style.css" />
<!--[if IE]> <script src="../js/html5.js"></script> <![endif]-->
</head>
<body>
<div id="wrap">
				<header id="gnb">
				<!-- header -->
								<h1><a href="#;"><img src="../images/common/logo_TAMS.png" alt="TRiTo Asset Management System"></a></h1>


								<!-- dropdown_menu -->
								<div class="vertical2">
												<ul class="dropdown">
																<li class="first"><a href="#;">자산등록</a></li>
																<li><a href="#;">자산변동</a></li>
																<li><a href="#;">자산유휴</a></li>
																<li><a href="#;">자산처분</a></li>
																<li><a href="#;">자산현황</a></li>
																<li><a href="#;">자산실사</a></li>
																<li><a href="#;">기준정보관리</a></li>
																<li><a href="#;">시스템관리</a></li>
												</ul>
								</div>
								<!-- //dropdown_menu -->

								<!-- function -->
								<div class="function">
												<a href="#;" class="setting">Setting</a>
												<span class="">l</span>
												<a href="#;" class="user"><strong>TAMS 관리자</strong> <em class="tooltip">SI사업팀</em></a>
												<span class="confidential">Confidential</span>
								</div>
								<!-- //function -->

				<!-- //header -->
				</header>

				<!-- container -->
				<div id="container">
				<!-- contents -->
				<div id="contents">

								<!-- contents_head -->
								<div class="bc">Home &gt; Menu &gt; Menu 2depth</div>
								<h3>화면 타이틀</h3>
								<!-- //contents_head -->

								<div class="" id="">
												<!-- tab -->
												<ul class="tabs">
																<li><a href="#;">Tap Menu1</a></li>
																<li><a href="#;">Tap Menu2</a></li>
																<li><a href="#;">Tap Menu3</a></li>
																<li><a href="#;">Tap Menu4</a></li>
																<li><a href="#;">Tap Menu5</a></li>
																<li><a href="#;">Tap Menu6</a></li>
																<li class="on"><a href="#;">Tap Menu7</a></li>
																<div class="button">
																				<a class="btn_list">이전</a>
																</div>
												</ul>
												<!-- //tab -->
								</div>

								<!-- search -->
								<div class="srch_wrap">
												<!-- search_form -->
												<div class="srch_form">
																<table class="srch_table">
																<colgroup>
																				<col width="8%"/>
																				<col width="15%"/>
																				<col width="8%"/>
																				<col width="15%"/>
																				<col width="8%"/>
																				<col width="15%"/>
																				<col width="8%"/>
																				<col width=""/>
																</colgroup>
																				<tr>
																								<th>Period</th>
																								<td>
																												<select style="width:80%;">
																												<option>2020</option>
																												</select>
																								</td>
																								<th>Section</th>
																								<td>
																												<select style="width:80%;">
																												<option>S.LSI</option>
																												</select>
																								</td>
																								<th>IP Group</th>
																								<td>
																												<select style="width:80%;">
																												<option></option>
																												</select>
																								</td>
																								<th>IP</th>
																								<td>
																												<select style="width:55%;">
																												<option></option>
																												</select>
																								</td>
																				</tr>
																</table>
																<!-- search_button -->
																<div class="button">
																				<a href="#;" class="btn_dis">비활성버튼</a>
																				<a href="#;" class="btn_reset">Reset</a>
																				<a href="#;" class="btn_srch">Search</a>
																</div>
																<!-- //search_button -->
												</div>
												<!-- //search_form -->
								</div>
								<!-- //search -->

								<!-- contents_button -->
								<div class="box_index">
								<table class="form_table_NLine">
												<colgroup>
																<col style="width:15%;">
																<col>
												</colgroup>
												<tbody>
																<tr class="line">
																				<th>매출정보</th>
																				<td>
																				<a class="btn_list_sm" href="#;">IP별 매출정보</a>
																				<a class="btn_list_sm" href="#;">제품별 매출정보</a>
																				<a class="btn_list_sm" href="#;">IP별 ASP</a>
																				<a class="btn_list_dis" href="#;">IP별 ASP</a>
																				<a class="btn_list_sm" href="#;">제품별 매출조정 결과</a>
																				</td>
																</tr>
																<tr class="line">
																				<th>SIP 2013년 이후 매출발생 제품</th>
																				<td>
																				<a class="btn_list_sm" href="#;">해당분기 단품칩 기준 매출조정</a>
																				<a class="btn_list_sm" href="#;">최근 12개월내 단품칩 기준 매출조정</a>
																				<a class="btn_list_sm" href="#;">기타제품 구매가 차감</a>
																				<a class="btn_list_dis" href="#;">기타제품 구매가 차감</a>
																				</td>
																</tr>
																<tr class="line">
																				<th>Period 정보</th>
																				<td>
																				<a class="btn_list_sm" href="#;">CIS TSV 매출조정</a>
																				<a class="btn_list_sm" href="#;">SELANTEK</a>
																				<a class="btn_list_sm_rd" href="#;">CIS TSV 매출조정</a>
																				<a class="btn_iconRunned" href="#;">Selantek</a>
																				<a class="btn_iconReady" href="#;">Selantek</a>
																				</td>
																</tr>
												</tbody>
								</table>
								<!-- //contents_button -->
								</div>

								<!-- list 1 -->
								<div class="list_wrap">
												<!-- list_head -->
												<div class="list_head">
																<h6>로열티 산출 반영금액</h6>
																<!-- list_button -->
																<div class="button">
																				<a class="btn_dis">엑셀다운로드</a>
																				<a class="btn_list_rd">다운로드</a>
																</div>
																<!-- list_button -->
												</div>
												<!-- //list_head -->
												<!-- list_table -->
												<table class="list_table">
												<colgroup>
												<col width=""/>
												<col width="15%"/>
												<col width="15%"/>
												<col width="15%"/>
												<col width="15%"/>
												</colgroup>
																<thead>
																				<tr>
																								<th>ARM CPU 로얼티 Discount 구분</th>
																								<th>SIP 구분</th>
																								<th>수량</th>
																								<th>매출</th>
																								<th>조정매출</th>
																				</tr>
																</thead>
																<tbody>
																				<tr>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																</tbody>
												</table>
												<!-- //list_table -->
								</div>
								<!-- //list 1 -->

								<p class="space1"></p>
								<!-- list 2-->
								<div class="list_wrap">
												<!-- list_head -->
												<div class="list_head">
																<h6>Single Royalty로 인한 Deduction</h6>
																<!-- list_button -->
																<div class="button">
																				<a class="btn_list_rd">다운로드</a>
																</div>
																<!-- list_button -->
												</div>
												<!-- //list_head -->
												<!-- list_table -->
												<table class="list_table">
												<colgroup>
												<col width=""/>
												<col width="15%"/>
												<col width="15%"/>
												<col width="15%"/>
												<col width="15%"/>
												</colgroup>
																<thead>
																				<tr>
																								<th>ARM CPU 로얼티 Discount 구분</th>
																								<th>SIP 구분</th>
																								<th>수량</th>
																								<th>매출</th>
																								<th>조정매출</th>
																				</tr>
																</thead>
																<tbody>
																				<tr>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																</tbody>
												</table>
												<!-- //list_table -->
								</div>
								<!-- //list 2-->

								<p class="space1"></p>
								<!-- list 3-->
								<div class="list_wrap">
												<!-- list_head -->
												<div class="list_head">
																<h6>Multi Core Use(Multiplier)</h6>
																<!-- list_button -->
																<div class="button">
																				<a class="btn_list_rd">다운로드</a>
																</div>
																<!-- list_button -->
												</div>
												<!-- //list_head -->
												<!-- list_table -->
												<table class="list_table">
												<colgroup>
												<col width=""/>
												<col width="15%"/>
												<col width="15%"/>
												<col width="15%"/>
												<col width="15%"/>
												<col width="15%"/>
												</colgroup>
																<thead>
																				<tr>
																								<th>ARM CPU 로얼티 Discount 구분</th>
																								<th>SIP 구분</th>
																								<th>Core Count</th>
																								<th>수량</th>
																								<th>매출</th>
																								<th>조정매출</th>
																				</tr>
																</thead>
																<tbody>
																				<tr>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																</tbody>
												</table>
												<!-- //list_table -->
								</div>
								<!-- //list 3-->


				</div>
				<!-- contents -->
				</div>
				<!-- //container -->

</div>
</body>
</html>