<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>16-공통버튼_라디오버튼</title>
<link rel="stylesheet" href="../css/style.css" />
</head>
<body >

<!-- pop_alert -->
<div id="pop_wrap" style="width:900px;height:510px;"><!-- [D] 현재 팝업창 크기는 600*510 입니다. 콘텐츠에 따라서 크기를 변경하여 주십시오.-->
				<!-- head -->
				<h3>엑셀업로드
				<a href="#;" class="pop_close" title="닫기">닫기</a>
				</h3>
				<!-- //head -->
				<!-- contents -->
				<div id="contents">

								<!-- search -->
								<div class="srch_wrap single">
												<label for="Period">파일첨부</label>
												<input type="file" style="width:40%;" class="text">
												<!-- search_button -->
												<a href="#;" class="btn_list">양식다운로드</a>
												<a href="#;" class="btn_list">업로드</a>
												<!-- //search_button -->
								</div>
								<!-- //search -->

								<!-- list -->
								<div class="list_wrap">
												<!-- list_head -->
												<div class="list_head">
																<div class="result">Results : 0,000</div>

																<!-- list_button radio -->
																<div class="button">
																				<label><input type="radio" checked="">All</label>
																				<label><input type="radio">Nomal</label>
																				<a class="btn_list">다운로드</a>
																</div>
																<!-- list_button radio -->

												</div>
												<!-- //list_head -->
												<!-- list_table --><!-- [D] 리스트 헤드 각각셀의 값을 지정하고 마지막 셀넓이에 스크롤 사이즈값 17px추가하여 적어줌  -->
												<table class="list_table">
												<colgroup>
												<col width="70px"/>
												<col width="70px"/>
												<col width=""/>
												<col width="100px"/>
												<col width="90px"/>
												<col width="90px"/>
												<col width="100px"/>
												<col width="100px"/>
												<col width="117px"/>
												</colgroup>
																<thead>
																				<tr>
																								<th>Period</th>
																								<th>Section</th>
																								<th>Material Name</th>
																								<th>Prod Code7</th>
																								<th>수량</th>
																								<th>조정매출</th>
																								<th>Royalty Rate1</th>
																								<th>Royalty Rate1</th>
																								<th>Royalty Rate1</th>
																				</tr>
																</thead>
												</table>
												<div style="height:305px;" class="bot_line"><!-- [D] 스크롤 생성 속성 지정  -->
												<table class="list_table" >
												<colgroup>
												<col width="70px"/>
												<col width="70px"/>
												<col width=""/>
												<col width="100px"/>
												<col width="90px"/>
												<col width="90px"/>
												<col width="100px"/>
												<col width="100px"/>
												<col width="100px"/>
												</colgroup>
																<tbody>
																				<tr>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																</tbody>
												</table>
												</div>
												<!-- //list_table -->
								</div>
								<!-- //list -->

				</div>
				<!-- contents -->
				<!-- button -->
				<div class="pop_button">
								<p>
								<a href="#;" class="btn_list_rd">확인</a>
								</p>
				</div>
				<!-- //button -->
</div>
<!-- //pop_alert -->

</body>
</html>