<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>10-팝업뷰 2단 리스트</title>
<link rel="stylesheet" href="../css/style.css" />
</head>
<body >

<!-- pop_alert -->
<div id="pop_wrap" style="width:900px;height:515px;"><!-- [D] 현재 팝업창 크기는 600*515 입니다. 콘텐츠에 따라서 크기를 변경하여 주십시오.-->
				<!-- head -->
				<h3>자산관리
				<a href="#;" class="pop_close" title="닫기">닫기</a>
				</h3>
				<!-- //head -->
				<!-- contents -->
				<div id="contents">

								<!-- search -->
								<div class="srch_wrap">
												<!-- search_form -->
												<div class="srch_form">
																<table class="srch_table">
																<colgroup>
																				<col width="15%"/>
																				<col width="20%"/>
																				<col width="15%"/>
																				<col width=""/>
																</colgroup>
																				<tr>
																								<th>Period</th>
																								<td>
																												<select style="width:80%;">
																												<option>2020</option>
																												</select>
																								</td>
																								<th>Section</th>
																								<td>
																												<select style="width:60%;">
																												<option>S.LSI</option>
																												</select>
																								</td>
																				</tr>
																</table>
																<!-- search_button -->
																<div class="button">
																				<a href="#;" class="btn_srch">Search</a>
																</div>
																<!-- //search_button -->
												</div>
												<!-- //search_form -->
								</div>
								<!-- //search -->

								<!-- list 1 -->
								<div class="list_wrap">
												<!-- list_head -->
												<div class="list_head">
																<h6>IP별 로열티 총계</h6>
																<!-- list_button -->
																<div class="button">
																				<a class="btn_list">다운로드</a>
																				<a class="btn_list_rd">매출/로열티 구분</a>
																</div>
																<!-- list_button -->
												</div>
												<!-- //list_head -->
												<!-- list_table --><!-- [D] 리스트 헤드 각각셀의 값을 지정하고 마지막 셀넓이에 스크롤 사이즈값 17px추가하여 적어줌  -->
												<table class="list_table">
												<colgroup>
												<col width="70px"/>
												<col width="70px"/>
												<col width=""/>
												<col width="100px"/>
												<col width="90px"/>
												<col width="90px"/>
												<col width="100px"/>
												<col width="100px"/>
												<col width="117px"/>
												</colgroup>
																<thead>
																				<tr>
																								<th>Period</th>
																								<th>Section</th>
																								<th>Material Name</th>
																								<th>Prod Code7</th>
																								<th>수량</th>
																								<th>조정매출</th>
																								<th>Royalty Rate1</th>
																								<th>Royalty Rate1</th>
																								<th>Royalty Rate1</th>
																				</tr>
																</thead>
												</table>
												<div style="height:132px;" class="bot_line"><!-- [D] 스크롤 생성 속성 지정  -->
												<table class="list_table" >
												<colgroup>
												<col width="70px"/>
												<col width="70px"/>
												<col width=""/>
												<col width="100px"/>
												<col width="90px"/>
												<col width="90px"/>
												<col width="100px"/>
												<col width="100px"/>
												<col width="100px"/>
												</colgroup>
																<tbody>
																				<tr>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																</tbody>
												</table>
												</div>
												<!-- //list_table -->
								</div>
								<!-- //list 1 -->

								<p class="space"></p>
								<!-- list 2 -->
								<div class="list_wrap">
												<!-- list_head -->
												<div class="list_head">
																<h6>IP별 로열티 지급실적</h6>
																<!-- list_button -->
																<div class="button">
																				<a class="btn_list">다운로드</a>
																</div>
																<!-- list_button -->
												</div>
												<!-- //list_head -->
												<!-- list_table -->
												<table class="list_table">
												<colgroup>
												<col width="70px"/>
												<col width=""/>
												<col width="110px"/>
												<col width="120px"/>
												<col width="120px"/>
												<col width="127px"/>
												</colgroup>
																<thead>
																				<tr>
																								<th>Period</th>
																								<th>Section</th>
																								<th>수량</th>
																								<th>조정매출</th>
																								<th>Royalty Rate</th>
																								<th>Royalty Due</th>
																				</tr>
																</thead>
												</table>
												<div style="height:110px;"  class="bot_line">
												<table class="list_table">
												<colgroup>
												<col width="70px"/>
												<col width=""/>
												<col width="110px"/>
												<col width="120px"/>
												<col width="120px"/>
												<col width="110px"/>
												</colgroup>
																<tbody>
																				<tr>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																				<tr>
																								<td></td>
																								<td></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																								<td class="tr"></td>
																				</tr>
																</tbody>
												</table>
												</div>
												<!-- //list_table -->
								</div>
								<!-- //list 2 -->


				</div>
				<!-- contents -->
				<!-- button -->
				<div class="pop_button">
								<p>
								<a href="#;" class="btn_list_rd">확인</a>
								</p>
				</div>
				<!-- //button -->
</div>
<!-- //pop_alert -->

</body>
</html>