<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>20-게시판 상세</title>
<link rel="stylesheet" href="../css/style.css" />
<!--[if IE]> <script src="../js/html5.js"></script> <![endif]-->
</head>
<body>
<div id="wrap">
				<header id="gnb">
				<!-- header -->
								<h1><a href="#;"><img src="../images/common/logo_TAMS.png" alt="TRiTo Asset Management System"></a></h1>


								<!-- dropdown_menu -->
								<div class="vertical2">
												<ul class="dropdown">
																<li class="first"><a href="#;">자산등록</a>

<!-- menu1_dropdown -->
<div class="dropdown_depth" style="width:140px;"><!-- [D] Style의 넓이 : 140(넓이)*Coulmn(group)수, 넓이는 css에서 바꿀 수 있습니다.-->
				<ul class="group">
								<li><a href="#">자산등록Y</a>
												<ul>
																<li><a href="#">자산등록 Menu</a></li>
																<li><a href="#">자산등록 Menu</a></li>
																<li><a href="#">자산등록 Menu</a></li>
																<li><a href="#">자산등록 Menu</a></li>
												</ul>
								</li>
				</ul>
				<ul class="group">
        <li><a href="#">자산등록</a>
												<ul>
																<li><a href="#">자산등록 Menu</a></li>
																<li><a href="#">자산등록 Menu</a></li>
																<li><a href="#">자산등록 Menu</a></li>
																<li><a href="#">자산등록 Menu</a></li>
												</ul>
								</li>
				</ul>
</div>
<!-- //menu1_dropdown -->

																</li>
																<li><a href="#;">자산변동</a>

<!-- menu1_dropdown -->
<div class="dropdown_depth" style="width:140px;"><!-- [D] Style의 넓이 : 140(넓이)*Coulmn(group)수, 넓이는 css에서 바꿀 수 있습니다.-->
				<ul class="group">
								<li><a href="#">자산변동</a>
												<ul>
																<li><a href="#">자산변동 Menu</a></li>
																<li><a href="#">자산변동 Menu</a></li>
																<li><a href="#">자산변동 Menu</a></li>
																<li><a href="#">자산변동 Menu</a></li>
												</ul>
								</li>
				</ul>
				<ul class="group">
        <li><a href="#">자산변동</a>
												<ul>
																<li><a href="#">자산변동 Menu</a></li>
																<li><a href="#">자산변동 Menu</a></li>
																<li><a href="#">자산변동 Menu</a></li>
																<li><a href="#">자산변동 Menu</a></li>
												</ul>
								</li>
				</ul>
</div>
<!-- //menu1_dropdown -->

																</li>
																<li><a href="#;">자산유휴</a></li>
																<li><a href="#;">자산처분</a></li>
																<li><a href="#;">자산현황</a></li>
																<li><a href="#;">자산실사</a></li>
																<li><a href="#;">기준정보관리</a></li>
																<li><a href="#;">시스템관리</a></li>
												</ul>
								</div>
								<!-- //dropdown_menu -->

								<!-- function -->
								<div class="function">
												<a href="#;" class="setting">Setting</a>
												<span class="">l</span>
												<a href="#;" class="user"><strong>TAMS 관리자</strong> <em class="tooltip">SI사업팀</em></a>
												<span class="confidential">Confidential</span>
								</div>
								<!-- //function -->

				<!-- //header -->
				</header>

				<!-- container -->
				<div id="container">
				<!-- contents -->
				<div id="contents"><div class="bc">관리기능 &gt; SDP 관리자용게시판 &gt; <strong>공지사항</strong></div><h3>공지사항</h3>
			<!-- 각 개발된 화면 UI 입력되는 Part -->

								<!-- list_head -->
								<div class="list_head">
												<!-- list_button -->
												<div class="button">
																<a class="btn_list">수정</a>
																<a class="btn_list">삭제</a>
																<a class="btn_list">목록</a>
												</div>
												<!-- list_button -->
								</div>
								<!-- //list_head -->
								<!-- detail_table -->
								<div class="view_wrap">
												<h4>Test</h4>
												<div class="view_write">AMS 관리자 Senior Professional/재경그룹(DS)/삼성전자</div>
												<dl class="view_info">
																<dt>등록일 :</dt><dd>2021-03-31</dd>
																<dt>조회수:</dt><dd>23</dd>
												</dl>
												<div class="view_article">내용	내용내용내용내용내용내용내용내용내용</div>


								</div>
								<!-- //detail_table -->
								<!-- 첨부파일 attach_file -->
								<ul class="box_index">
								<div class="attach_check">
												<label><input type="checkbox" value=""> 첨부파일</label>
												<a class="btn_list_sm_rd">PC 실행</a>
												<a class="btn_list_sm">실행</a>
												<div class="file_size"><b>총 1 </b>(712.79KB/10MB)</div><!-- 전체용량 적용 가능시 -->
								</div>
								<div class="attach_file">
												<ul>
												<li><label><input type="checkbox" value=""><a href="#"><img src="../images/common/ico_f_ppt.gif">첨부파일이름.ppt</a></label>
												<div class="file_size">1,301.5KB</div>
												</li>
												<li><label><input type="checkbox" value=""><a href="#"><img src="../images/common/ico_f_xls.gif">첨부파일이름.xls</a></label>
												<div class="file_size">901.5KB</div>
												</li>
												<li><label><input type="checkbox" value=""><a href="#"><img src="../images/common/ico_f_doc.gif">첨부파일이름.doc</a></label>
												<div class="file_size">5301.15KB</div>
												</li>
												</ul>
								</div>
								</ul>
								<!-- // 첨부파일 attach_file -->

				</div>
				<!-- contents -->
				</div>
				<!-- //container -->

</div>
</body>
</html>