/* dropdown */
.dropdown {position:relative;z-index:100;width:auto;height:38px;background:none;border:0px solid #bcbfc5;margin-left:200px;padding-top:15px;}
.dropdown li{float:left;margin-right:1px;margin-top:0px;}
.dropdown li a{display:block;height:20px;margin-left:3px;padding:6px 15px 12px 15px;color:#c1c9df;font-weight:bold;font-size:15px;letter-spacing:-0.03em;}
.dropdown li.on{background:none;color:#fff;}
.dropdown li.first{margin-left:0px;color:#fff;}
.dropdown li:hover{background:none}
.dropdown li:hover a{color:#fff;}
.dropdown li.menu_cf,.dropdown li.menu_cf:hover{position:absolute;top:5px;right:15px;width:33px!important;}
.dropdown li.menu_cf:hover,.dropdown li.menu_cf a,.dropdown li.menu_cf a:hover{padding:0;background:none;}
.dropdown ul li,.dropdown ul li a,.dropdown ul li:hover{background:none!important;}
.dropdown ul li a{font-weight:normal;color:#000!important;}

/* vertical2 */
.vertical2 li{position:relative;}
.vertical2 .group{float:left;width:160px;}
.vertical2 .group li{margin-bottom:10px;}
.vertical2 .group li a{padding:0px 0 0 13px;font-weight:bold;font-size:12px;color:#2f3942!important;cursor:pointer;}
.vertical2 .group li a:hover{color:#000!important;text-decoration:underline;}
.vertical2 .group ul li{margin:0;padding:0;}
.vertical2 .group ul li a{width:120px;height:auto;padding:1px 0 3px 20px;font-weight:normal;font-size:12px;cursor:pointer;background:url(../images/common/menu_bul.gif) no-repeat 15px 9px!important;}
.vertical2 .group ul li a:hover{color:#2e7dab!important;}
.vertical2 .group ul li ul li{margin:0;padding:0;}
.vertical2 .group ul li ul li a{width:120px;height:auto;padding:0px 0 2px 25px;font-weight:normal;font-size:12px;cursor:pointer;color:#747b85!important;background:none!important;}
.vertical2 .group ul li ul li a:hover{color:#2e7dab!important;text-decoration:underline;}

.dropdown_depth{visibility:hidden;position:absolute;top:38px;left:-1px;padding-top:10px;border:1px solid #2f5887;border-top:none;background:#fff;}
.vertical2 li:hover > div{visibility:visible;}
.vertical2 li.mymenu ul{visibility:hidden;position:absolute;top:100%;left:0;z-index:598;width:150px;margin-left:2px;border:1px solid #3a58a9;border-top:none;}
.vertical2 li.mymenu ul li{width:100%;border-bottom:1px solid #eee;}
.vertical2 li.mymenu ul li a{padding:6px 5px 4px 13px;}
.vertical2 li.mymenu ul li a:hover{color:#3957a7!important;}
.vertical2 li.mymenu:hover > ul{visibility:visible;}

/* mega_menu */
.mega_menu{position:relative;}
.mega_menu .dropdown li{margin-bottom:15px;}
.mega_menu .dropdown li.on{color:#fff;}
.mega_menu .dropdown li.on a{color:#fff;}
.mega_menu .dropdown li.on a:hover{cursor:pointer;}
.mega_menu .dropdown_mega{position:absolute;top:53px;left:0;width:100%;height:100%;padding-top:10px; background:#fff; border-bottom:1px solid #2f5887;}
.mega_menu .dropdown_mega li{float:left;width:150px;text-align:left;margin-left:10px;}
.mega_menu .dropdown_mega li ul.Nline{ border-top:1px solid #d7d9dc; width:140px;padding-top:5px!important;}
.mega_menu .dropdown_mega li.first{margin-left:20px;}
.mega_menu .dropdown_mega li a{display:block;padding:3px 5px 5px 10px;font-weight:bold;font-size:14px;cursor:default;}
.mega_menu .dropdown_mega li a:hover{color:#2e75b7;}
.mega_menu .dropdown_mega li ul li{clear:both;}
.mega_menu .dropdown_mega li ul li a{width:130px;height:auto;padding:3px 0 3px 0px;font-weight:normal;font-size:12px;cursor:pointer;}
.mega_menu .dropdown_mega li ul li a:hover{color:#2e75b7;text-decoration:underline;}
.mega_menu .dropdown_mega hr{visibility:hidden;}

.mega_menu .dropdown_mega ul.dropmenu {float:left;width:190px;text-align:left; background:#f7f5f5;margin-top:-10px;margin-left:0px;height:102%;}
.mega_menu .dropdown_mega ul.dropmenu li {margin-left:-10px;}
.mega_menu .dropdown_mega ul.dropmenu li a{display:block;padding:3px 0 5px 20px;font-weight:bold;font-size:15px;line-height:2.9em;color:#424242;}
.mega_menu .dropdown_mega ul.dropmenu li a:hover{color:#000;background:#c9d7e7;width:180px;cursor:pointer;}
.mega_menu .dropdown_mega ul.dropmenu li.on{background-color:#c9d7e7;color:#000!important;cursor:default;width:200px;}
/* 
.mega_menu .dropdown_mega ul.dropmenu li.on{background-color:#c9d7e7;width:190px;color:#000!important;cursor:default;background:url(../images/common/meag_bul.png) no-repeat 170px 16px;} */


.mob_templates #lnb h2{background:#f1a744}
.mob_templates #lnb ul li li.on a{color:#e08521}
#lnb{position:absolute;top:0;left:0;width:199px}
#lnb h2{background:#5ca8e8;height:60px;line-height:60px;border-bottom:1px solid #e5e5e5;color:#fff;font-size:14px;padding-left:20px}