<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout/default">

	<head>
	    <title>[[#{screen.text.bbs.screen.title}]]</title>
	</head>
        
	<!-- css -->
	<th:block layout:fragment="css">
	    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600,400' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/jsgrid.css" />
		<link rel="stylesheet" href="/css/theme.css" />
		
	</th:block>
	
	<th:block layout:fragment="script">
		<!-- include summernote css/js -->
		<link href="/css/summernote/summernote-lite.css" rel="stylesheet">
		<script src="/js/summernote/summernote-lite.js"></script>
		<script src="/js/summernote/lang/summernote-ko-KR.min.js"></script>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
		<script src="/js/jsgrid/db.js"></script>
	    <script src="/js/jsgrid/jsgrid.core.js"></script>
	    <script src="/js/jsgrid/jsgrid.load-indicator.js"></script>
	    <script src="/js/jsgrid/jsgrid.load-strategies.js"></script>
	    <script src="/js/jsgrid/jsgrid.sort-strategies.js"></script>
	    <script src="/js/jsgrid/jsgrid.field.js"></script>
	    <script src="/js/jsgrid/fields/jsgrid.field.text.js"></script>
	    <script src="/js/jsgrid/fields/jsgrid.field.number.js"></script>
	    <script src="/js/jsgrid/fields/jsgrid.field.select.js"></script>
	    <script src="/js/jsgrid/fields/jsgrid.field.checkbox.js"></script>
	    <script src="/js/jsgrid/fields/jsgrid.field.control.js"></script>	
		
	    <script>
	    let numOfRows = 10;
	    var status = true;
        var selectedItems = [];
	 	var insertedItems = [];
	 	var updatedItems = [];
	 	
	 	var attachData = new FormData();
	 	
	    var fileItems  = [];
	    var deleteItems  = [];
	    
	    var addCnt = 0;
	    var rowIdx = 0;
	    
	 	var attachGridField = [
			{ name: "chk"	, type: "checkbox" , width: 30  , title: "[[#{screen.text.comm.choice}]]"
			 ,itemTemplate: function(value, item) {
				 return '<input type="checkbox" name="add_file" value="'+item.name+'" gbn="'+item.gbn+'" id="'+item.id+'" >';
			 }	
			},
			{ name: "name" , type: "text" , width: 200 , align: "left", title: "[[#{screen.text.comm.file.nm}]]"
			 ,itemTemplate: function(value, item) {
				 return '<span style="cursor:hand;" onclick="fileDownload(\''+item.gbn+'\',\''+item.realName+'\',\''+item.name+'\')">'+item.name+'</span>';
			 }
			},
			{ name: "size" , type: "number"   , width: 100 , align: "center" , title: "[[#{screen.text.comm.file.size}]]"
			 ,itemTemplate: function(value, item) {
				 return '<span>'+ bytesToSize(item.size) +'</span>';
			 }
			}
		];
	 	
	 	function rowCount() {    
		    var count = fileItems.length; 
		    var totalSize = 0;
		    
		    $.each(fileItems, function(index, el){
		    	totalSize += el.size;
		    });
		    
		    $("#totalSize").val(bytesToSize(totalSize));
		}
	 	
	 	function getGridBody() {
			return {
		        	height: "100",
		            width: "100%",
		            data: fileItems, 
		            autoload: false,
		            loadonce: false,
		            updateOnResize: true, 
		            fields: attachGridField
		            ,onDataLoaded: rowCount()
		    	};
		}
	 	
	 	function addFile(gbn) {
	 		alert(gbn);
	 		
			var addFiles;
			var obj;
			
			if( gbn != null ) {
				addFiles = $("#upFile")[0].files;
			} else {
				obj = e.target? e.target:e.srcElement;
				addFiles = obj.files;
			}
			
			//화면 표시용
			var html = "";
			
			$.each(addFiles, function(index, item){
				var fileval = item.name.replace(/^C:\\fakepath\\/i, '');
				
				//첨부파일 추가
				attachData.append("files", item);
				addCnt++;
				
				//그리드 표시용
				item.gbn = "NEW";
				fileItems.push(item); 
			});
			
			reloadFileGrid();
		}
		
	    $(function(){
	    	// 공지사항 그룹
		 	getCommCode("#bbsGrpId", "BBS", "1", "");
	    	
	        $("#jsGrid").jsGrid({
	        	height: "400",
                width: "100%",
                filtering: false,
                editing: true,
                inserting: true,
                sorting: true,
                paging: true,
                sorter: "number",
                pageIndex:1,
                pageFirstText:'<a class="first"><img src="/images/common/btn_pn_first.gif"></img></a>',
                pagePrevText: '<a class="pre"><img src="/images/common/btn_pn_pre.gif"></img></a>',
                pageNextText: '<a class="next"><img src="/images/common/btn_pn_next.gif"></img></a>',
                pageLastText: '<a class="last"><img src="/images/common/btn_pn_last.gif"></img></a>',
                pagerFormat: "{first} {prev} {pages} {next} {last}",
                pagerContainer:null,
                pageLoading: true,
                pager: "#pager",
                autoload: status,
                pageSize: numOfRows,
                pageButtonCount: 5,
                loadonce: true,
                updateOnResize: true, 
	            rowClick: function(args) {
	            	var target = args.event.target;
	            	
					if(target instanceof HTMLTableCellElement) {
						// detail form
						showDetailForm(args.item);
						
					} else {
					   	$("<input>").attr("type", "checkbox").attr("class","singleCheckbox")
					                .prop("checked", $.inArray(args.item.firstName, selectedItems) > -1)
					                .on("change", function () {
						  	 $(this).is(":checked") ? selectItem($(this).parent().next().text()) : unselectItem($(this).parent().next().text());
						});
					}
	            }, 
	            pagerContainerClass: "paginate",
	            deleteConfirm: function(item) {
	                return "\""+item.menuNm+"("+menuId+")"+"\""+ "[[#{screen.info.status.delete.yn}]]";
	            },
	            controller:  {
	                loadData: function(filter) {
	                    var d = $.Deferred();
	                    
	                    currentPage = filter.pageIndex; 
               			
	                    let url = "/system/bbs/bbsMng/bbsMngList";
						let reqType = 'GET';	
						let data = {
            				"currentPage"  : filter.pageIndex,
            				"numOfRows"    : numOfRows,
            				"searchText"   : $("#searchText").val(),
            				"searchOption" : $("#searchOption option:selected").val(),
            				"useYnOption"  : $("#delYnOption option:selected").val(),
            				"sortField"    : filter.sortField,
            				"sortOrder"    : filter.sortOrder
            			}
						$.commRequest(url, reqType, data)
							.then((res) => {
								$(".result").text("Totals : " + res.condition.totalCount);
								d.resolve({data : res.data, itemsCount: res.condition.totalCount});

							})
							.catch((error) => {
								console.log('조회 실패!!');
							});						
	                    
	                    return d.promise();
	                },

            },
	            fields: [
	            	{  name : "chk"
	                	 , align: "center"
	                	 , width: 15
	                	 , title: ""
	                	 , editing: false
	                	 , sorting: false
	                	 , filtering: false
	                	 , itemTemplate: function(value, item) {
	                       return $("<input>").attr("type", "checkbox").attr("class","singleCheckbox")
	                       .prop("checked", $.inArray(item.firstName, selectedItems) > -1)
	                       .on("change", function () {
	  					  	 $(this).is(":checked") ? selectItem($(this).parent().next().text()) : unselectItem($(this).parent().next().text());
	  					  	 });
	            		   }
	                	 , headerTemplate : function ()  { 
						  	 return  $("<input>").attr("type", "checkbox").attr("id","selectAllCheckbox")
		                     .on("change", function (item) {
		             	    	selectedItems = [];
		            	    	if(this.checked) { // check select status
		            	            $('.singleCheckbox').each(function() { 
		            	                this.checked = true;   
		            	                selectItem($(this).parent().next().text());           
		            	            });			         
		            	        }else {
		            	        	
		            	            $('.singleCheckbox').each(function() { 
		            	                this.checked = false;      
		            	                unselectItem(item);
		            	            });  
		            	            selectedItems = [];
		            	        }
		    				   });
					 	 } ,
	                },
	                { name:"bbsId",    type:"number", align:"center", width:25,  title:"[[#{screen.text.bbs.id}]]"},
	                { name:"bbsTtl",   type:"number", align:"left",   width:150, title:"[[#{screen.text.bbs.title}]]"},
	                { name:"bbsGrpId", type:"text",   align:"left",   width:35,  readOnly:true, title:"[[#{screen.text.bbs.group}]]"},
	                { name:"bbsDp",    type:"text",   align:"center", width:15,  readOnly:true, title:"[[#{screen.text.bbs.level}]]"},
	                { name:"viewCnt",  type:"number", align:"center", width:20,  title:"[[#{screen.text.bbs.view.cnt}]]"},
	                { name:"delYn",    type:"select", align:"center", width:20
	                	   , items: [
			                    { Name: "[[#{screen.text.comm.delete.yes}]]",  Id: "Y"},
			                    { Name: "[[#{screen.text.comm.delete.no}]]", Id: "N"},
			                  ],
	                  valueField: "Id", textField: "Name", autoSelect:true, selectedIndex:-1, title:"[[#{screen.text.bbs.delete.yn}]]"},
	                { name:"updr",  type:"text", align:"center", width:20, title:"[[#{screen.text.comm.updr}]]"},
	                { name:"upDt",  type:"text", align:"center", width:30, title:"[[#{screen.text.comm.updt}]]"},
	                { name:"regr",  type:"text", align:"center", width:20, title:"[[#{screen.text.comm.regr}]]"},
	                { name:"regDt", type:"text", align:"center", width:30, title:"[[#{screen.text.comm.regdt}]]"},
	            ]
	        });
	        
		    var selectItem = function(item) {
		    	if(!selectedItems.includes(item))
			    selectedItems.push(item);
			    if($(".singleCheckbox").length == $(".singleCheckbox:checked").length) {
	             $("#selectAllCheckbox").prop("checked", true);
	         } else {
	             $("#selectAllCheckbox").prop("checked", false);
	         }
			};
		     
		    var unselectItem = function(item) {
			    selectedItems = $.grep(selectedItems, function(i) {
			    return i !== item;
			    });
			    if(selectedItems.length == 0) {
			    	$('#selectAllCheckbox').attr('checked', false);
			    }
			    if($(".singleCheckbox").length == $(".singleCheckbox:checked").length) {
	             $("#selectAllCheckbox").prop("checked", true);
	         } else {
	             $("#selectAllCheckbox").prop("checked", false);
	         }
		    };
	        
	        $("#pager").on("change", function() {
	            var page = parseInt($(this).val(), 10);
	            $("#jsGrid").find(".jsgrid-table").append("<tr class='jsgrid-row'></tr>");
	        });

    	    $(".btn_add").click(function() {
    	    	showDetailForm();
    	    });
	        
    	    $(".btn_del").click(function() {
    	    	
    	    	var arr_item = [];
    	    	var items = [];
    	    	
    	    	$.each(selectedItems, function(index,item){
    	    		items.push(item);
    	    	});
    	    	
    	    	//별도 호출
    	    	let url = "/system/bbs/bbsMng/bbsDelete";
    			let reqType = 'GET';
    			dataType: 'json';
    			let data={
    				"items": items.join(",")
    			}
    			
    			$.commRequest(url, reqType, data)
    				.then((res) => {
    					console.log(res);
    					alert("[[#{screen.info.status.delete.success}]]");
    					
    					selectedItems = [];
    					$('.btn_srch').click();
    				})
    				.catch((error) => {
    					alert("[[#{screen.info.status.error.occur}]]");
    					console.log(error);
    				})
    	    });
    	    
    	    $(".btn_srch").on("click",function (){
	    	   $("#jsGrid").jsGrid().trigger("loadData");
	        });
	        
	     	// 팝업창 저장 버튼 처리
            $('.save_btn').on('click', function (e) {
            	
            	if (validationCheck() == '202') {
	                e.preventDefault();
	                
	                attachData.append("bbsTtl", $("#bbsTtl").val());
	                attachData.append("bbsGrpId", $("#bbsGrpId option:selected").text());
					var markupStr = $('#summernote').summernote('code');
					attachData.append("bbsDp", 1);
					attachData.append("bbsCn", markupStr);
					attachData.append("viewCnt", 0);
					attachData.append("bbsId", $("#bbsId").val());
					
					console.log($("#bbsId").val());
					
					var files = attachData.getAll("files");
					
					let reqType = 'POST';
			        
			    	if(save_mode == "insert") {
			    		url = "/system/bbs/bbsMng/bbsInsert";
			    	}else if(save_mode == "update") {
			    		url = "/system/bbs/bbsMng/bbsUpdate";
			    	}
			    	
			    	$.commRequestFile(url, reqType, attachData)
						.then((res) => {
							if(save_mode=="update")
								alert("[[#{screen.info.status.update.success}]]");
							
							console.log(save_mode);
							console.log('게시판 저장 성공!!');
							selectedItems = [];
							
	            			$("#jsGrid").jsGrid("loadData");
							setFormClear();
							unselectItem(selectedItems);
						})
						.catch((error) => {
							console.log('게시판 저장 실패!!');
						});
			    	
	    			attachData.delete("files");
					attachData.delete("delFiles");
					attachData.delete("bbsId");
					attachData.delete("bbsTtl");
					attachData.delete("bbsGrpId");
					attachData.delete("bbsCn");
		    		
	                $(this).parents("#detailForm").hide();
	                save_mode = "";
            	}
            });
	     	
    	  	//수정 버튼
    	    $(".btn_update").click(function() {
    	    	var items = $("#jsGrid").jsGrid("option", "data");
    	    	var item = items.filter(arr => arr.bbsId == selectedItems[0]);
    	    	showDetailForm(item[0]);
    	    });
          	
          	//리셋 버튼
    	    $(".btn_reset").click(function() {
    	    	$("#searchText").val("");
    	    	$("#searchOption option:eq(0)").prop("selected",true);
    	    	$("#delYnOption option:eq(0)").prop("selected",true);
    	    });
	     	
	     	// 팝업창 닫기 버튼 처리
            $('.close_btn').on('click', function (e) {
                e.preventDefault();
                setFormClear();
                $(this).parents("#detailForm").hide();
                selectedItems = [];
            });
	     	
            //팝업 가운데로 띄우기
            jQuery.fn.center = function () {
                this.css("position","absolute");
                this.css("top", Math.max(0, (($(window).height() - $(this).outerHeight()) / 2) + $(window).scrollTop()) + "px");
                this.css("left", Math.max(0, (($(window).width() - $(this).outerWidth()) / 2) + $(window).scrollLeft()) + "px");
                return this;
            }
            
          	//web editor 설정
			$("#summernote").summernote({
	            placeholder: '[[#{screen.text.bbs.note.placeholder}]]',
	            height: 150,
	            maxHeight: 170,
	            minHeight: 170,
	            lang:"ko-KR",
	            toolbar: [
	    		    ['style', ['style']],
	    		    ['font', ['bold', 'italic', 'underline', 'clear']],
	    		    ['fontname', ['fontname']],
	    		    ['color', ['color']],
	    		    ['para', ['ul', 'ol', 'paragraph']],
	    		    ['height', ['height']],
	    		    ['table', ['table']],
	    		    ['insert', ['link', 'hr']],
	    		    ['help', ['help']]
	    		]
	        });

			$("#addFile").on("click", function(){
				$("#upFile").click();
			});
			
			$("#upFile").on("change", function(){
				addFile();
			});
			
			//추가파일 삭제
			$("#delFile").on("click", function(){
				var chks = $("[name='add_file']");
				$.each(chks, function(index, item){
					var tmpDel = [];
					if( $(item).is(":checked") ) {
						var del = item.id;
						
						if( $(item).attr("gbn") != "NEW" ){ 
						tmpDel 
							  =  fileItems.filter( function(n,i) {
								    return n.id == del;
							    });	
						} 
						fileItems 
						  =  fileItems.filter( function(n,i) {
							    return n.id != del;
						    });
					}
					
					if(tmpDel.length > 0) {
						$.each(tmpDel, function(index, el){ deleteItems.push(el); }); 
					}
					
				});
				
				//추가 파일
				if( addCnt > 0  ) {
					attachData.delete("files");
					attachData.append("files", fileItems);
				}
				
				//기존파일 -삭제건
				attachData.delete("delFiles");
				attachData.append("delFiles", JSON.stringify(deleteItems));
				
				reloadFileGrid();
				
			});
			
			var dropZone = $("#dragFile");
	        //Drag기능 
	        dropZone.on('dragenter', function(e) {
	            e.stopPropagation();
	            e.preventDefault();
	            // 드롭다운 영역 css
	            dropZone.css('background-color', '#E3F2FC');
	        });
	        dropZone.on('dragleave', function(e) {
	            e.stopPropagation();
	            e.preventDefault();
	            // 드롭다운 영역 css
	            dropZone.css('background-color', '#FFFFFF');
	        });
	        dropZone.on('dragover', function(e) {
	            e.stopPropagation();
	            e.preventDefault();
	            // 드롭다운 영역 css
	            dropZone.css('background-color', '#E3F2FC');
	        });
	        dropZone.on('drop', function(e) {  
				e.preventDefault();
				// 드롭다운 영역 css
	            dropZone.css('background-color', '#FFFFFF');
				
				$("#upFile").prop("files", e.originalEvent.dataTransfer.files);
				addFile("Drop");
			});
    	});
	    
	    let save_mode = "";
	    function showDetailForm(item) {
	    	if(selectedItems.length <= 1){
	    		$("#fileGrid").jsGrid(getGridBody());
	    		
		    	let title = "[[#{screen.text.bbs.insert.title}]]";
		    	 var readOnly = false;
		    	 
		    	 if( item != null ) {
		    		 title = "[[#{screen.text.bbs.update.title}]]";
		    		 save_mode = "update";
		    		 
		    		 readOnly = false;
		    		 
		    		 $(".detail_table").find("#bbsId").val(item.bbsId);
		    		 $("#bbsGrpId option:contains("+item.bbsGrpId+")").prop("selected", true);
		    		 $(".detail_table").find("#bbsTtl").val(item.bbsTtl);
		    		 $('#summernote').summernote('code',item.bbsCn);
		    		 
		    		 let url = "/system/bbs/bbsMng/bbsView";
						let reqType = 'POST';	
						$.commRequestFile(url, reqType, item.bbsId)
							.then((res) => {
								console.log(res);
								var bbsInfo = res.data.bbsInfo;
								
								var bbsFiles = res.data.files;
								
								fileItems.length = 0
								deleteItems.length = 0;
								attachData.delete("files");
								attachData.delete("bbsTtl");
								attachData.delete("bbsCn");
								
								$.each(bbsFiles, function(index, el) {
									var f = {};
									f.name = el.orgFileNm;
									f.realName = el.fileNm;
									f.size = el.fileSize;
									f.id   = el.fileId;
									if( el.fileId == "undefined" || el.fileId == null ) f.id = index;
									
									fileItems.push(f);
								});
								
								reloadFileGrid();
							})
							.catch((error) => {
								console.log('게시판 조회 실패!!');
							});

		    	 } else {
		    		 save_mode = "insert";
		    	 }
		    		
		    	 $(".list_head").find("#head_title").html(title);
		    	 
		    	 //상세 팝업 호출
		    	 $('#detailForm').css({
		    		 
	                 position: 'absolute',
	                 top	 : "10px",
	                 left	 : "10px",
	                 width	 : "700px",
	                 height	 : "auto",
	                 border  : "2px solid navy"
	             }).center().show();
		    	 
	    	}else{
	    		alert("[[#{screen.info.status.modify.just.one}]]");
	    	}
	    }
	    
	    function enterkey() {
	    	if (window.event.keyCode == 13) {
	    		$("#jsGrid").jsGrid().trigger("loadData");
	        }
	    }
	    
	    function addFile(gbn) {
			var addFiles;
			var obj;
			
			if( gbn == "undefined" || gbn != null ) {
				addFiles = $("#upFile")[0].files;
			} else {
				obj = event.target? event.target:evnet.srcElement;
				addFiles = obj.files;
			}
			
			//화면 표시용
			var html = "";
			
			$.each(addFiles, function(index, item){
				//console.log(index,item);
				var fileval = item.name.replace(/^C:\\fakepath\\/i, '');
				
				//첨부파일 추가
				attachData.append("files", item);
				addCnt++;
				
				//그리드 표시용
				item.gbn = "NEW";
				fileItems.push(item); 
			});
			
			reloadFileGrid();
		}
	    
	    function reloadFileGrid() {
			//신규 추가 파일에 id값 세팅(삭제시 필요)
			var len = fileItems.length;
			for(var i=0; i<len; i++) {
				if( fileItems[i].id == null || fileItems[i].id == "undefined" || fileItems[i].id == "" ) {
					fileItems[i].id = i;
				}   
			}
			
			$("#fileGrid").jsGrid(getGridBody());
			$("#fileGrid").jsGrid().trigger("reload");
		}
	    
	  	//폼 리셋 - 저장후...
		function setFormClear() {
			
			$("#bbsGrpId option:eq(0)").prop("selected",true);
			$("#bbsTtl").val("");
			$("#bbsCn").val("");
			$('#summernote').summernote('code', "");
			$("#bbsId").val("");
			
			fileItems.length=0;
		    deleteItems.length=0;
		    
			attachData.delete("files");
			attachData.delete("delFiles");
			attachData.delete("bbsId");
			attachData.delete("bbsTtl");
			attachData.delete("bbsCn");
			
			reloadFileGrid();
		}
	  	
	  	// 공통코드 호출
		function getCommCode(id, code, level, upperCodeId){				
			let url = "/common/comm/selectBox";
			let reqType = 'GET';
			$.commRequestSelectbox(url, reqType, id, code, level, upperCodeId);			
		}
	  	
		// 유효성 검사
		function validationCheck() {
	    	let code = '202';
			
			if($("#bbsTtl").val() == "") {
				alert("[[#{screen.info.status.error.input.title}]]");
				$("#bbsTtl").focus();
				code = '200';
			}else if($("#summernote").val() == "") {
				alert("[[#{screen.info.status.error.input.content}]]");
				$("#summernote").focus();
				code = '200';
			}
			
			return code;
	    }
	    
	    </script>	
	</th:block>

	<div layout:fragment="content">
		<!-- contents_head -->
		<div class="bc">Home &gt; <span th:text="${menuDesc}"></span></div>
		<h3><span th:text="${menuNm}"></span></h3>
		<!-- //contents_head -->

		<!-- search -->
		<div class="srch_wrap single">
			<table class="srch_table">
				<tr>
					<td>
						<div style="display: flex; align-items: stretch;">
							<select id="searchOption">
								<option value="">[[#{screen.text.comm.select.search.condition}]]</option>
								<option value="bbs_grp_id">[[#{screen.text.bbs.group}]]</option>
								<option value="bbs_ttl">[[#{screen.text.bbs.title}]]</option>
							</select>
							<input id="searchText" type="text" onkeyup="enterkey()" placeholder="검색어를 입력해주세요." style="margin-left: 5px;">
							<select id="delYnOption" style="margin-left: 5px;">
								<option value="">[[#{screen.text.bbs.delete.sel}]]</option>
								<option value="Y">[[#{screen.text.comm.delete.yes}]]</option>
								<option value="N">[[#{screen.text.comm.delete.no}]]</option>
							</select>
						</div>
					</td>
					<td></td>
					<td class="search" colspan="3">
						<a href="#;" class="btn_reset">[[#{screen.btn.reset}]]</a>
						<a href="#;" class="btn_srch">[[#{screen.btn.search}]]</a>
					</td>
				</tr>
			</table>
		</div>
		<!-- //search -->
		<div class="list_head">
				<div class="result">Totals : 0,000</div>
				<!-- list_button -->
				<div class="button">
					<a class="btn_add">[[#{screen.btn.insert}]]</a>
					<a class="btn_update">[[#{screen.btn.update}]]</a>
					<a class="btn_del">[[#{screen.btn.delete}]]</a>
				</div>
				<!-- list_button -->
		</div>
		<!-- list -->
		<!-- //search -->

		<!-- list -->
		<div id="jsGrid"></div>
		
		<input type="hidden" id="curr_Idx"/>
		<!-- //list -->
	
		<!-- detail popup -->
		<div id="detailForm" class="list_head" style="display:none;">
	  		<div id="container">
		        <!-- list_head -->
				<div class="list_head">
					<h6><span id="head_title" ></span></h6>
					<!-- list_button -->
					<div class="button">
						<a class="btn_list save_btn">[[#{screen.btn.save}]]</a>
						<a class="btn_list close_btn">[[#{screen.btn.close}]]</a>
					</div>
					<!-- list_button -->
				</div>
				<!-- //list_head -->
				
				<table class="detail_table form_s">
					<colgroup>
						<col style="width:15%"/>
						<col style="width:85%"/>
						<col style="width:15%"/>
						<col style="width:85%"/>
					</colgroup>
					
					<tr>
						<th style="text-align:center;">[[#{screen.text.bbs.group}]]</th>
						<td>
							<select id="bbsGrpId" style="width:100%">
								<option selected value="">[[#{screen.text.bbs.groupSel}]]</option>
							</select>
						</td>
					</tr>
									
					<tr>
						<th style="text-align:center;">[[#{screen.text.bbs.title}]]</th>
						<td colspan="5">
							<input id="bbsId" type="hidden">
							<input id="bbsTtl" style="width:100%" type="text" >
						</td>
					</tr>
					<tr>
						<th style="text-align:center;">[[#{screen.text.bbs.content}]]</th>
						<td>
							<textarea id="summernote" class="bbsCn" ></textarea>
						</td>
					</tr>
					<tr>
						<th style="text-align:center;">[[#{screen.text.comm.file}]]</th>
						<td>
							<table>
								<tr>
									<td width="55%">
										<input type="file" id="upFile" style="display:none;">
											<a id="addFile" class="btn_file_srch">[[#{screen.text.comm.file.search}]]</a>
											<a id="delFile" class="btn_list">[[#{screen.text.comm.file.delete}]]</a>
											&nbsp;<label for="totalSize" >[[#{screen.text.comm.file.size}]]</label> :
										<input type="text" name="totalSize" id="totalSize" readonly style="width:50px;">
									</td>
									<td>
										<div id="dragFile" class="box_form" style="cursor:pointer;text-align:center;" >[[#{screen.text.comm.file.drag.text}]]</div>
									</td>
								</tr>
								<tr>
									<td colspan="2">
										<div id="fileGrid"></div>
									</td>
								</tr>
							</table>							
						</td>
					</tr>
				</table>
				<!-- detail_table -->
				
			</div>
		</div>
	</div>
</html>