<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout/default">

	<head>
	    <title>게시판 관리</title>
	</head>
        
	<!-- css -->
	<th:block layout:fragment="css">
	    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600,400' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/jsgrid.css" />
		<link rel="stylesheet" href="/css/theme.css" />
		
	</th:block>
	
	<th:block layout:fragment="script">
		<!-- include summernote css/js -->
		<link href="/js/summernote/summernote-lite.css" rel="stylesheet">
		<script src="/js/summernote/summernote-lite.js"></script>
		<script src="/js/summernote/lang/summernote-ko-KR.min.js"></script>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
		<script src="/js/jsgrid/db.js"></script>
	    <script src="/js/jsgrid/jsgrid.core.js"></script>
	    <script src="/js/jsgrid/jsgrid.load-indicator.js"></script>
	    <script src="/js/jsgrid/jsgrid.load-strategies.js"></script>
	    <script src="/js/jsgrid/jsgrid.sort-strategies.js"></script>
	    <script src="/js/jsgrid/jsgrid.field.js"></script>
	    <script src="/js/jsgrid/fields/jsgrid.field.text.js"></script>
	    <script src="/js/jsgrid/fields/jsgrid.field.number.js"></script>
	    <script src="/js/jsgrid/fields/jsgrid.field.select.js"></script>
	    <script src="/js/jsgrid/fields/jsgrid.field.checkbox.js"></script>
	    <script src="/js/jsgrid/fields/jsgrid.field.control.js"></script>	
		
	    <script th:inline="javascript">
	    let numOfRows = 10;
	    var status = true;
        var selectedItems = [];
	 	var insertedItems = [];
	 	var updatedItems = [];
	 	
		var attachData = new FormData();
	 	
	    var fileItems  = [];
	    var deleteItems  = [];
	    
	    var addCnt = 0;
	    var rowIdx = 0;
	    
	 	$(document).ready(function(){                                                                    
		 	let url = '/system/bbs/bbsMng/codeList';                                                      
		 	let reqType = 'POST';                                                                        
		 	let data = {                                                                                 
		 		"email" : ""                                                                             
		 	};                                                                                           
		 	$.commRequest(url, reqType, JSON.stringify(data))                                            
		 		.then((res) => {                                                                         
		 			$.each(res.data, function(i){                                                        
		 				var codeGrpList = res.data[i];                                                  
		 				$("#bbsGrpId").append('<option value="">' + codeGrpList.codeNm+ '</option>');
		 			})
		 		})
		 		.catch((error) => {                                                                      
		 			alert('메뉴조회 실패!!');                                                                  
		 		});
		 });
	 	
	 	function rowCount() {    
		    var count = fileItems.length; 
		    var totalSize = 0;
		    
		    $.each(fileItems, function(index, el){
		    	totalSize += el.size;
		    });
		    
		    $("#totalSize").val(bytesToSize(totalSize));
		}
	 	
	 	function getGridBody() {
			return {
		        	height: "100",
		            width: "100%",
		            data: fileItems, 
		            autoload: false,
		            loadonce: false,
		            updateOnResize: true, 
		            /* rowClick:function(args) { 
		            	fileDownload(args.item);
		            }, */
		            fields: attachGridField
		            ,onDataLoaded: rowCount()
		    	};
		}
	 	
	 	function fileData(){	 	
	    	let files = [[${files}]];
	        
	        $.each(files, function(index, item){
	        	var f = {};
	        	f.name = item.orgFileNm;
	        	f.realName = item.fileNm;
	        	f.size = item.fileSize;
	        	f.id   = item.fileId;
				
 				fileItems.push(f);                                              
 			})
 			
 			reloadFileGrid();
		}
	 	
	 	var attachGridField = [
			{ name: "chk"	, type: "checkbox" , width: 30  , title: "선택"
			 ,itemTemplate: function(value, item) {
				 return '<input type="checkbox" name="add_file" value="'+item.name+'" gbn="'+item.gbn+'" id="'+item.id+'" >';
			 }	
			},
			{ name: "name"	, type: "text"     , width: 200 , align: "left", title: "파일명"
			 ,itemTemplate: function(value, item) {
				 return '<span style="cursor:hand;" onclick="fileDownload(\''+item.gbn+'\',\''+item.realName+'\',\''+item.name+'\')">'+item.name+'</span>';
			 }
			},
			{ name: "size"	, type: "number"   , width: 100 , align: "center" , title: "파일사이즈"
			 ,itemTemplate: function(value, item) {
				 return '<span>'+ bytesToSize(item.size) +'</span>';
			 }
			}
		];
	 	
	 	function fileDownload(gbn, realName, name) { 
			 if( gbn == "undefined" && confirm("다운로드 하시겠습니까?") ) {
			      
	           	//파일 다운로드
	           	var $form = $('<form></form>'); 
					$form.attr('action', "/file/download"); 
					$form.attr('target','_blank'); 
					$form.attr('method','post'); 
					$form.appendTo('body'); 
					
					var str1 = '<input type="hidden" name="fileName" value="'+realName+'">';
					var str2 = '<input type="hidden" name="orgFileName" value="'+name+'">';
					
					$form.append(str1).append(str2);
					$form.submit(); 		 			 
					
					return false;
	       }
		}
	 	
 	    function addFile(gbn) {
	   		
	   		var addFiles;
	   		var obj;
	   		
	   		if( gbn == "undefined" || gbn != null ) {
	   			addFiles = $("#upFile")[0].files;
	   		} else {
	   			obj = event.target? event.target:evnet.srcElement;
	   			addFiles = obj.files;
	   		}
	   		
	   		console.log(gbn+" :: "+addFiles.length);
	   		
	   		//화면 표시용
	   		var html = "";
	   		
	   		$.each(addFiles, function(index, item){
	   			//console.log(index,item);
	   			var fileval = item.name.replace(/^C:\\fakepath\\/i, '');
	   			console.log(fileval);
	   			
	   			//첨부파일 추가
	   			attachData.append("files", item);
	   			addCnt++;
	   			
	   			//그리드 표시용
	   			item.gbn = "NEW";
	   			fileItems.push(item); 
	   		});
	   		
	   		reloadFileGrid();
	   	}
	    	
	    $(function(){
	    	
	    	fileData();
	    	
	    	$("#fileGrid").jsGrid(getGridBody());
	        
 			$("#addFile").on("click", function(){
				
				$("#upFile").click();
			});
			
			$("#upFile").on("change", function(){
				addFile();
			});
	    	
			$("#delFile").on("click", function(){
				var chks = $("[name='add_file']");
				$.each(chks, function(index, item){
					var tmpDel = [];
					if( $(item).is(":checked") ) {
						var del = item.id;
						
						if( $(item).attr("gbn") != "NEW" ){ 
						tmpDel 
							  =  fileItems.filter( function(n,i) {
								    return n.id == del;
							    });	
						} 
						fileItems 
						  =  fileItems.filter( function(n,i) {
							    return n.id != del;
						    });
					}
					
					if(tmpDel.length > 0) {
						$.each(tmpDel, function(index, el){ deleteItems.push(el); }); 
					}
					
				});
				
				//추가 파일
				if( addCnt > 0  ) {
					attachData.delete("files");
					attachData.append("files", fileItems);
				}
				
				//기존파일 -삭제건
				attachData.delete("delFiles");
				attachData.append("delFiles", JSON.stringify(deleteItems));
				
				reloadFileGrid();
				
			});
			
			var dropZone = $("#dragFile");
	        //Drag기능 
	        dropZone.on('dragenter', function(e) {
	            e.stopPropagation();
	            e.preventDefault();
	            // 드롭다운 영역 css
	            dropZone.css('background-color', '#E3F2FC');
	        });
	        dropZone.on('dragleave', function(e) {
	            e.stopPropagation();
	            e.preventDefault();
	            // 드롭다운 영역 css
	            dropZone.css('background-color', '#FFFFFF');
	        });
	        dropZone.on('dragover', function(e) {
	            e.stopPropagation();
	            e.preventDefault();
	            // 드롭다운 영역 css
	            dropZone.css('background-color', '#E3F2FC');
	        });
	        dropZone.on('drop', function(e) {  
				e.preventDefault();
				// 드롭다운 영역 css
	            dropZone.css('background-color', '#FFFFFF');
				
				$("#upFile").prop("files", e.originalEvent.dataTransfer.files);
				addFile("Drop");
			});
			
	        ////////////////////////////////////////////////////////////////////
	        
    	    $(".btn_del").click(function() {
    	    	
    	    	var items = $("#bbs_Id").text();
    	    	
    	    	//별도 호출
    	    	let url = "/system/bbs/bbsMng/bbsDelete";
    			let reqType = 'GET';
    			dataType: 'json';
    			let data={
    				"items": items
    			}
    			
    			$.commRequest(url, reqType, data)
    				.then((res) => {
    					console.log(res);
    					$('.btn_srch').click();
    				})
    				.catch((error) => {
    					alert("오류가 발생했습니다");
    					console.log(error);
    				})
    			
    			alert("삭제 되었습니다!");
    			
    			var $form = $('<form id="form"></form>'); 
				$form.attr('action', "/system/bbs/bbsList"); 
				$form.attr('method', 'post'); 
				$form.appendTo('body');
				
				$form.submit();
    	    });
	        
	     	// 팝업창 저장 버튼 처리
            $('.save_btn').on('click', function (e) {
                e.preventDefault();
                
                attachData.append("bbsTtl", $("#bbsTtl").val());
                attachData.append("bbsGrpId", $("#bbsGrpId option:selected").text());
				var markupStr = $('#summernote').summernote('code');
				attachData.append("bbsCn", markupStr);
				attachData.append("bbsId", $("#bbsId").val());
				
				var bbsId = $("#bbsId").val();
				
				var files = attachData.getAll("files");
				
				let reqType = 'POST';
		        
		    	if(save_mode == "insert") {
		    		url = "/system/bbs/bbsMng/bbsInsert";
		    	}else if(save_mode == "update") {
		    		url = "/system/bbs/bbsMng/bbsUpdate";
		    	}
		    	
		    	$.commRequestFile(url, reqType, attachData)
					.then((res) => {
						console.log('게시판 저장 성공!!');
						
            			$("#jsGrid").jsGrid("loadData");
					})
					.catch((error) => {
						console.log('게시판 저장 실패!!');
				});
		    	
    			attachData.delete("files");
				attachData.delete("delFiles");
				attachData.delete("bbsId");
				attachData.delete("bbsTtl");
				attachData.delete("bbsGrpId");
				attachData.delete("bbsCn");
	    		
                $(this).parents("#detailForm").hide();
                
                var $form = $('<form id="form"></form>'); 
    			$form.attr('action', "/system/bbs/detailBbs"); 
    			$form.attr('method', 'post'); 
    			$form.appendTo('body');
    			
    			var bbsIdStr = $('<input type="hidden" value="'+ bbsId +'" name="bbsId">');
    			
    			$form.append(bbsIdStr);
    			$form.submit();
            });
	     	
    	  	// 수정 버튼
    	    $(".btn_update").click(function() {
    	    	
    	    	var insert_item = {};
    	    	insert_item.bbsId  = $("#bbs_Id").text();
    	    	insert_item.bbsGrpId = $("#bbs_GrpId").text();
            	insert_item.bbsTtl = $("#bbs_Ttl").text();
            	
    	    	showDetailForm(insert_item);
    	    });
          	
          	// 목록 버튼
	     	$(".btn_back").click(function() {
	     		
	     		var $form = $('<form id="form"></form>'); 
				$form.attr('action', "/system/bbs/bbsList"); 
				$form.attr('method', 'post'); 
				$form.appendTo('body');
				
				$form.submit();
	     	});
          	
	     	// 팝업창 닫기 버튼 처리
            $('.close_btn').on('click', function (e) {
                $(this).parents("#detailForm").hide();
            });
	     	
            //drag 활성화
	     	/* $("#detailForm").draggable(); */
            
            //팝업 가운데로 띄우기
            jQuery.fn.center = function () {
                this.css("position","absolute");
                this.css("top", Math.max(0, (($(window).height() - $(this).outerHeight()) / 2) + $(window).scrollTop()) + "px");
                this.css("left", Math.max(0, (($(window).width() - $(this).outerWidth()) / 2) + $(window).scrollLeft()) + "px");
                return this;
            }
            
            //web editor 설정
            $("#summernote").summernote({
	            placeholder: '내용을 작성하세요',
	            height: 150,
	            maxHeight: 300,
	            lang:"ko-KR",
	            toolbar: [
	    		    ['style', ['style']],
	    		    ['font', ['bold', 'italic', 'underline', 'clear']],
	    		    ['fontname', ['fontname']],
	    		    ['color', ['color']],
	    		    ['para', ['ul', 'ol', 'paragraph']],
	    		    ['height', ['height']],
	    		    ['table', ['table']],
	    		    ['insert', ['link', 'hr']],
	    		    // ['insert', ['link', 'picture', 'hr']],
	    		    // ['view', ['fullscreen', 'codeview']],
	    		    ['help', ['help']]
	    		  ]
	        });
            $('#summernote').summernote('focus');
    	});
	    
	    function reloadFileGrid() {
			
			//신규 추가 파일에 id값 세팅(삭제시 필요)
			var len = fileItems.length;
			for(var i=0; i<len; i++) {
				if( fileItems[i].id == null || fileItems[i].id == "undefined" || fileItems[i].id == "" ) {
					fileItems[i].id = i;
				}   
			}
			
			$("#fileGrid2").jsGrid(getGridBody());	
			$("#fileGrid2").jsGrid().trigger("reload");
		}
	    
	    let save_mode = "";
	    function showDetailForm(item) {
	    	if(selectedItems.length <= 1){
		    	
	    		$("#fileGrid2").jsGrid(getGridBody());
	    		
		    	let title = "게시글 등록";
		    	 var readOnly = false;
		    	 
		    	 save_mode = "update";
		    	 
		    	 if( item != null ) {
		    		 title = "게시글 수정";
		    		 
		    		 readOnly = false;
		    		 
		    		 $(".detail_table").find("#bbsId").val(item.bbsId);
		    		 $("#bbsGrpId option:contains("+item.bbsGrpId+")").prop("selected", true);
		    		 $(".detail_table").find("#bbsTtl").val(item.bbsTtl);
		    		 $('#summernote').summernote('code',item.bbsCn);
		    		 
		    		 let url = "/system/bbs/bbsMng/bbsView";
						let reqType = 'POST';	
						$.commRequestFile(url, reqType, item.bbsId)
							.then((res) => {
								console.log(res);
								var bbsInfo = res.data.bbsInfo;
								
								var bbsFiles = res.data.files;
								
								fileItems.length = 0
								deleteItems.length = 0;
								attachData.delete("files");
								attachData.delete("bbsTtl");
								attachData.delete("bbsCn");
								
								$.each(bbsFiles, function(index, el) {
									var f = {};
									f.name = el.orgFileNm;
									f.realName = el.fileNm;
									f.size = el.fileSize;
									f.id   = el.fileId;
									if( el.fileId == "undefined" || el.fileId == null ) f.id = index;
									
									fileItems.push(f);
								});
								
								reloadFileGrid();
							})
							.catch((error) => {
								console.log('게시판 조회 실패!!');
							});
		    	 }
		    		
		    	 $(".list_head").find("#head_title").html(title);
		    	 
		    	 //상세 팝업 호출
		    	 $('#detailForm').css({
	                 position: 'absolute',
	                 top	 : "10px",
	                 left	 : "10px",
	                 width	 : "700px",
	                 height	 : "700px"
	             }).center().show();
	    	}else{
	    		alert("수정은 1개이상 되지 않습니다.");
	    	}
	    }
	    
	    function enterkey() {
	    	if (window.event.keyCode == 13) {
	    		$("#jsGrid").jsGrid().trigger("loadData");
	        }
	    }
	    </script>	
	</th:block>

	<div layout:fragment="content">
		<!-- contents_head -->
		<div class="bc">Home &gt; 공지사항
		</div>
		<h3><span id="bbs_GrpId" th:text="${bbsDto.bbsGrpId}"></span></h3>
		<!-- //contents_head -->
		
		<div class="list_head">
				<!-- list_button -->
				<div class="button">
					<!-- 				
					<a class="btn_add">메뉴 등록</a>
					<a class="btn_saveall">일괄 저장</a>
					<a class="btn_del">메뉴 삭제</a>
					-->
					<a class="btn_update">수정</a>
					<a class="btn_del">삭제</a>
					<a class="btn_back">목록</a>
				</div>
		</div>
		
		<div class="view_wrap">
			<span id="bbs_Id" th:text="${bbsDto.bbsId}" style="display:none;"></span>
			
			<h4><span id="bbs_Ttl" th:text="${bbsDto.bbsTtl}"></span></h4>
			<div class="view_write">작성자 : <span id="user_Id" th:text="${bbsDto.userId}"></span></div>
			<dl class="view_info">
				<dt>등록일 :</dt><dd><span id="reg_Dt" th:text="${bbsDto.regDt}"></span></dd>
				<dt>조회수:</dt><dd><span id="view_Cnt" th:text="${bbsDto.viewCnt}"></span></dd>
			</dl>
			<div id="bbs_Cn" class="view_article" style="padding:20px 0px 50px 0px;">
				<th:block th:utext="${bbsDto.bbsCn}"></th:block>
			</div>
		</div>
		
		<div id="fileGrid" style="padding:10px 0px 10px 0px;"></div>
		
		<!-- detail popup -->
		<div id="detailForm" class="list_head" style="display:none;">
	  		<div id="container">
		        <!-- list_head -->
				<div class="list_head">
					<h6><span id="head_title" ></span></h6>
					<!-- list_button -->
					<div class="button">
						<a class="btn_list save_btn">저장</a>
						<a class="btn_list close_btn">닫기</a>
					</div>
					<!-- list_button -->
				</div>
				<!-- //list_head -->
				
				<table class="detail_table form_s">
					<colgroup>
						<col style="width:15%"/>
						<col style="width:85%"/>
						<col style="width:15%"/>
						<col style="width:85%"/>
					</colgroup>
					
					<tr>
						<th style="text-align:center;">게시글 그룹</th>
						<td>
							<select id="bbsGrpId" style="width:100%">
								<option selected value="">검색항목 선택</option>
							</select>
						</td>
					</tr>
									
					<tr>
						<th style="text-align:center;">제목</th>
						<td colspan="5">
							<input id="bbsId" type="hidden">
							<input id="bbsTtl" style="width:100%" type="text" >
						</td>
					</tr>
					<tr>
						<th style="text-align:center;">게시글 내용</th>
						<td>
							<textarea id="summernote" class="bbsCn" th:text="${bbsDto.bbsCn}"></textarea>
						</td>
					</tr>
					<tr>
						<th style="text-align:center;">첨부파일</th>
						<td>
							<table>
								<tr>
									<td width="40%">
										<input type="file" id="upFile" style="display:none;">
											<a id="addFile" class="btn_file_srch">파일찾기</a>
											<a id="delFile" class="btn_list">파일삭제</a>
											<label for="totalSize" >총 파일크기</label> :
										<input type="text" name="totalSize" id="totalSize" readonly style="width:50px;">
									</td>
									<td>
										<div id="dragFile" class="box_form" style="cursor:pointer;text-align:center;" >파일을 여기에 끌어다 놓으세요.</div>
									</td>
								</tr>
								<tr>
									<td colspan="2">
										<div id="fileGrid2"></div>
									</td>
								</tr>
							</table>							
						</td>
					</tr>
				</table>
			</div>
		</div>
		<!-- detail popup -->
	</div>
</html>