<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout/default">

	<head>
	    <title>[[#{screen.text.code.grp.screen.title}]]</title>
	</head>
        
	<!-- css -->
	<th:block layout:fragment="css">	
	    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600,400' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/theme.css" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.0.8/css/tabulator.min.css" rel="stylesheet"> 
	</th:block>  
	
	<th:block layout:fragment="script">
		<script type="text/javascript" src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
		<script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.0.7/dist/js/tabulator.min.js"></script>
		
	    <script>
	    
    		let grid;
    		let requestUrl = "/standard/codegrp/codegrpMng/codegrpList";		
	    		
		    $(function(){
		    	
	            //drag 활성화
		     	$("#detailForm").draggable();						    	
		    	
				grid = new Tabulator("#data-table", {
				 	locale:true,
				    langs: $.commGridLocalization(),								
				 	height:"560",
				 	layout:"fitColumns",
				 	movableColumns:true,
				 	pagination:true,
				 	paginationMode:"remote",
				 	ajaxURL:requestUrl,			
				 	ajaxParams: getParams(),
				 	paginationSize:20,				    
				 	paginationSizeSelector:[20, 50, 100, 500],			
				 	dataSendParams:{
				        "page":"currentPage",
				        "size":"numOfRows"
				    } ,							    
				 	placeholder:"No Data Set",				 	
				 	ajaxResponse:function(url, params, res){
				 		$(".result").text("Totals : " + res.condition.totalCount);				 						 						 		
				 		return res;
				 	},					 	
				 	columns:[ 
			 	        {formatter:"rowSelection", titleFormatter:"rowSelection", hozAlign:"center", headerHozAlign:"center", 
			 	        	headerSort:false, width:30, cellClick:function(e, cell){
			 	         		cell.getRow().toggleSelect();
			 	        }},			
			 	        
		                { title:"[[#{screen.text.code.grp.id}]]"			, field:"codeGrpId"			, hozAlign:"left"		, headerHozAlign:"center", width:170},
		                { title:"[[#{screen.text.code.grp.nm}]]"			, field:"codeGrpNm"			, hozAlign:"left"		, headerHozAlign:"center", width:200},
		                { title:"[[#{screen.text.code.grp.eng.nm}]]"	, field:"codeGrpEngNm"	, hozAlign:"left"		, headerHozAlign:"center", width:200},
		                { title:"[[#{screen.text.code.grp.desc}]]"		, field:"codeGrpDesc"		, hozAlign:"left"		, headerHozAlign:"center"},
		                { title:"[[#{screen.text.code.grp.sort}]]"		, field:"sortOdr"				, hozAlign:"center"	, headerHozAlign:"center", width:100},
		                { title:"[[#{screen.text.comm.useyn}]]"		, field:"useYn"					, hozAlign:"center"	, headerHozAlign:"center", width:90},
		                { title:"[[#{screen.text.comm.updr}]]"			, field:"updr"						, hozAlign:"center"	, headerHozAlign:"center", width:100},
		                { title:"[[#{screen.text.comm.updt}]]"			, field:"upDt"						, hozAlign:"center"	, headerHozAlign:"center", width:120},	    
		                { title:"[[#{screen.text.comm.regr}]]"			, field:"regr"						, hozAlign:"center"	, headerHozAlign:"center", width:100},
		                { title:"[[#{screen.text.comm.regdt}]]"			, field:"regDt"					, hozAlign:"center"	, headerHozAlign:"center", width:120},	        		                
				 	],
				});							    	
				
				/*------------------------- Grid Events -------------------------*/
				//row click
				grid.on("rowClick", function(e, row){	
					var rowData = row.getData();		
					showDetailForm(row.getData());
				});				            
	            
		    	/* ------------------------ UI Events  ------------------------*/
	    	    
		    	//조회
	    	    $(".btn_srch").on("click",function (){
	    	    	grid.setData(requestUrl, getParams());
		        });		    	
		    	
		    	//등록
		    	$(".btn_add").click(function() {
	    	    	showDetailForm();
	    	    });
		        
		    	//삭제
	    	    $(".btn_del").click(function() {
	    	    	
	    	    	let selectedData  = grid.getSelectedData();
	    	    	let items = [];
	    	    	
	    	    	if(selectedData.length == 0){
	    	    		alert('[[#{screen.info.status.no.selected.item}]]');
	    	    		return;
	    	    	}	    	    	
	    	    	
	            	let chooseVal = confirm("[[#{screen.info.status.default.delete.yn}]]");	    	    	
	            	if(chooseVal) {
		    	    	for(row of selectedData){
		    	    		items.push(row.codeGrpId);	    	    		
		    	    	}	    	    	
		    	    	
		    	    	let params = {
			    	    		url : "/standard/codegrp/codegrpMng/codegrpDelete",
			    	    		reqType : 'GET',
			    	    		data : {	"items": items.join(",")	}
			    	    	}

						$.request(params)
		   				 .then((res) => {
		   					alert("[[#{screen.info.status.delete.success}]]");
		   					$('.btn_srch').click();
		   				 })
		   				 .catch((error) => {
		   					alert("[[#{screen.info.status.error.occur}]]");
		   					console.log(error);
		   				 }) 	 	            		
	            	}
	    	    });

		        
		     	// 팝업창 저장 버튼 처리
	            $('.save_btn').on('click', function (e) {
	                
	            	let url = '';
	            	
	            	if (validationCheck()) {
		                var item = {
				                codeGrpId : $(".detail_table").find("#codeGrpId").val().toUpperCase(),
				                codeGrpNm : $(".detail_table").find("#codeGrpNm").val(),
				                codeGrpEngNm 	: $(".detail_table").find("#codeGrpEngNm").val(),
						    	codeGrpDesc : $(".detail_table").find("#codeGrpDesc").val(),
						    	sortOdr : $(".detail_table").find("#sortOdr").val(),
						    	useYn : $(".detail_table").find("#useYn").val(),
		                }
				        
				    	if(save_mode == "insert") {
				    		url = "/standard/codegrp/codegrpMng/codegrpMerge";
				    	}else if(save_mode == "update") {
				    		url = "/standard/codegrp/codegrpMng/codegrpMerge";
				    	}
		    			
		    	    	let params = {
			    	    		url : url,
			    	    		reqType : 'GET',
			    	    		data : item,
			    	    	}
		    	    	
		    			$.request(params)
	    				 .then((res) => {
				            $("#detailForm").hide();	    					 	    					 
	    					$('.btn_srch').click();
	    				 })
	    				 .catch((error) => {
	    					alert("[[#{screen.info.status.error.occur}]]");
	    					console.log(error);
	    				 }) 				    			    	    	
	            	}
	            });
		     	
	    	  	//수정 버튼
	    	    $(".btn_update").click(function() {
	    	    	let selectedData  = grid.getSelectedData();	    
	    	    	if(selectedData.length > 0){
	    	    		showDetailForm(selectedData[0]);
	    	    	}
	    	    });
	          	
	          	//리셋 버튼
	    	    $(".btn_reset").click(function() {
	    	    	$("#searchText").val("");
	    	    	$("#searchOption option:eq(0)").prop("selected",true);
	    	    	$("#useYnOption option:eq(0)").prop("selected",true);
	    	    });
		     	
		     	// 팝업창 닫기 버튼 처리
	            $('.close_btn').on('click', function (e) {
	                $("#detailForm").hide();
	            });
	    	});
		    
		    //검색조건
			function getParams(){
				return  {
        				"searchText"     : $("#searchText").val(),
        				"searchOption" : $("#searchOption option:selected").val(),
        				"useYnOption"  : $("#useYnOption option:selected").val(),
        			}				
			}	    
		    
		    function clearDetailForm() {
	    	    $(".detail_table").find("#codeGrpId").val("");
	    		$(".detail_table").find("#codeGrpNm").val("");
	    		$(".detail_table").find("#codeGrpEngNm").val("");
	    		$(".detail_table").find("#codeGrpDesc").val("");
	    		$(".detail_table").find("#sortOdr").val("");
	    		save_mode = "";
		    }
		    
		    let save_mode = "";
		    function showDetailForm(item) {
		    	
		    	clearDetailForm();

		    	let title = "[[#{screen.text.code.grp.insert.title}]]";
		    	
		    	 if( item != null ) {
		    		 title = "[[#{screen.text.code.grp.update.title}]]";
		    		 save_mode = "update";
		    		 
		    		 readOnly = false;
		    		 $(".detail_table").find("#codeGrpId").val(item.codeGrpId);
		    		 $(".detail_table").find("#codeGrpId").attr("readOnly", true);
		     		 $(".detail_table").find("#codeGrpNm").val(item.codeGrpNm);
		     		 $(".detail_table").find("#codeGrpEngNm").val(item.codeGrpEngNm);
		     		 $(".detail_table").find("#codeGrpDesc").val(item.codeGrpDesc);
		     		 $(".detail_table").find("#sortOdr").val(item.sortOdr);
		     		 $(".detail_table").find("#useYn").val(item.useYn);
		    	 } else {
		    		 save_mode = "insert";
		    		 $(".detail_table").find("#codeGrpId").attr("readOnly", false);
		    	 }
		    		
		    	 $(".list_head").find("#head_title").html(title);
		    	
		    	 //상세 팝업 호출
		    	 $('#detailForm').css({
	                 position: 'absolute',
	                 top	 : "10px",
	                 left	 : "10px",
	                 width	 : "450px",
	                 height	 : "auto",
	                 border  : "2px solid navy"
	             }).center().show();		    	
		    }
		    
		    function enterkey() {
		    	if (window.event.keyCode == 13) {
		    		$('.btn_srch').click();
		        }
		    }
		    
		    // 유효성 검사
		    function validationCheck() {
		    	let isValid = true;
				
				if($("#codeGrpId").val() == "") {
					alert("[[#{screen.info.status.error.code.grp.id}]]");
					$("#codeGrpId").focus();
					isValid = false;
				}else if($("#codeGrpNm").val() == "") {
					alert("[[#{screen.info.status.error.code.grp.nm}]]");
					$("#codeGrpNm").focus();
					isValid = false;
				}else if($("#sortOdr").val() == "") {
					alert("[[#{screen.info.status.error.code.grp.sort}]]");
					$("#sortOdr").focus();
					isValid = false;
				}
				
				return isValid;
		    }
	    </script>	
	</th:block>

	<div layout:fragment="content">
		<!-- contents_head -->
		<div class="bc"><span th:text="${menuDesc}"></span></div>
		<h3><span th:text="${menuNm}"></span></h3>
		<!-- //contents_head -->

		<!-- search -->
		<div class="srch_wrap single">
			<table class="srch_table">
				<tr>
					<td>
						<div style="display: flex; align-items: stretch;">
							<select id="searchOption">
								<option value="">[[#{screen.text.comm.select.search.condition}]]</option>
								<option value="code_grp_id">[[#{screen.text.code.grp.id}]]</option>
								<option value="code_grp_nm">[[#{screen.text.code.grp.nm}]]</option>
								<option value="code_grp_desc">[[#{screen.text.code.grp.desc}]]</option>
							</select>
							<input id="searchText" type="text" onkeyup="enterkey()" placeholder="검색어를 입력해주세요." style="margin-left:5px;">
							<select id="useYnOption" style="margin-left: 5px;">
								<option value="">[[#{screen.text.comm.useyn}]]</option>
								<option value="Y">[[#{screen.text.comm.ues}]]</option>
								<option value="N">[[#{screen.text.comm.unuesd}]]</option>
							</select>
						</div>
					</td>
					
					<td class="search" colspan="3">
						<a href="#;" class="btn_reset">[[#{screen.btn.reset}]]</a>
						<a href="#;" class="btn_srch">[[#{screen.btn.search}]]</a>
					</td>
				</tr>
			</table>
		</div>
		<!-- //search -->
		<div class="list_head">
			<div class="result">Totals : 0,000</div>
			<!-- list_button -->
			<div class="button">
				<a class="btn_add">[[#{screen.btn.insert}]]</a>
				<a class="btn_update">[[#{screen.btn.update}]]</a>
				<a class="btn_del">[[#{screen.btn.delete}]]</a>
			</div>
			<!-- list_button -->
		</div>

		<!-- list -->
		<div id="data-table"></div>
		<input type="hidden" id="curr_Idx"/>
		<!-- //list -->
	
		<!-- detail popup -->
		<div id="detailForm" class="list_head" style="display:none;">
		  <div id="container">
			  
		        <!-- list_head -->
				<div class="list_head">
					<h6><span id="head_title" ></span></h6>
					<!-- list_button -->
					<div class="button">
						<a class="btn_list save_btn">[[#{screen.text.comm.save}]]</a>
						<a class="btn_list close_btn">[[#{screen.text.comm.close}]]</a>
					</div>
					<!-- list_button -->
				</div>
				<!-- //list_head -->
				<!-- detail_table -->
					<table class="detail_table ">
						<colgroup>
							<col style="width:35%" />
							<col style="width:65%" />
						<col />
						</colgroup>
						<tr>
							<th>[[#{screen.text.code.grp.id}]]</th>
							<td><input type="text" style="width:100%" id="codeGrpId" /></td>
						</tr>
						<tr>
							<th>[[#{screen.text.code.grp.nm}]]</th>
							<td><input type="text" style="width:100%" id="codeGrpNm" /></td>
						</tr>
						<tr>
							<th>[[#{screen.text.code.grp.eng.nm}]]</th>
							<td><input type="text" style="width:100%" id="codeGrpEngNm" /></td>
						</tr>
						<tr>
							<th>[[#{screen.text.code.grp.desc}]]</th>
							<td><input type="text" style="width:100%" id="codeGrpDesc" /></td>
						</tr>
						<tr>
							<th>[[#{screen.text.code.grp.sort}]]</th>
							<td><input type="text" style="width:100%" id="sortOdr" /></td>
						</tr>
						<tr>
							<th>[[#{screen.text.comm.useyn}]]</th>
							<td colspan="3">
								<select id="useYn">
									<option value="Y">[[#{screen.text.comm.ues}]]</option>
									<option value="N">[[#{screen.text.comm.unuesd}]]</option>
								</select>
							</td>
						</tr>
					</table>
				<!-- //detail_table -->
	     	</div>
     	</div>
	</div>
</html>