<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout/default">

<head>
    <title>Sample Page</title>
</head>

<!-- css -->
	<th:block layout:fragment="css">	
	    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600,400' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/theme.css" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.0.8/css/tabulator.min.css" rel="stylesheet"> 
	</th:block>    

	<th:block layout:fragment="script">
		<script type="text/javascript" src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
		<script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.0.7/dist/js/tabulator.min.js"></script>
	
	    <script>

	    	let grid;
	    	let requestUrl = '/system/role/roleMng/roleList';	    	    
		    
		        $(function() {
		
			        //drag 활성화
			     	$("#detailForm").draggable();		        	
		        	
					grid = new Tabulator("#data-table", {
					 	locale:true,
					    langs: $.commGridLocalization(),								
					 	height:"560",
					 	layout:"fitColumns",
					 	movableColumns:true,
					 	pagination:true,
					 	paginationMode:"remote",
					 	ajaxURL:requestUrl,			
					 	ajaxParams: getParams(),
					 	paginationSize:20,				    
					 	paginationSizeSelector:[20, 50, 100, 500],			
					 	dataSendParams:{
					        "page":"currentPage",
					        "size":"numOfRows"
					    } ,							    
					 	placeholder:"No Data Set",				 	
					 	ajaxResponse:function(url, params, res){
					 		$(".result").text("Totals : " + res.condition.totalCount);				 						 						 		
					 		return res;
					 	},					 	
					 	columns:[ 
				 	        {formatter:"rowSelection", titleFormatter:"rowSelection", hozAlign:"center", headerHozAlign:"center", 
				 	        	headerSort:false, width:30, cellClick:function(e, cell){
				 	         		cell.getRow().toggleSelect();
				 	        }},					 		
		                	{title: "[[#{screen.text.role.auth.code}]]"	, field:"roleId"		, hozAlign:"left"  		, headerHozAlign:"center", width:170},
		                	{title: "[[#{screen.text.role.auth.nm}]]" 	, field:"roleNm"		, hozAlign:"left"  		, headerHozAlign:"center", width:200},
		                	{title: "[[#{screen.text.role.desc}]]"     		, field:"roleDesc"	, hozAlign:"left"  		, headerHozAlign:"center"},
		                	{title: "[[#{screen.text.role.useyn}]]"    		, field:"useYn"		, hozAlign:"center"	, headerHozAlign:"center", width:100},
		                	{title: "[[#{screen.text.comm.regdt}]]"    	, field:"regDt"		, hozAlign:"center"	, headerHozAlign:"center", width:140},

					 	],
					});
					
				/*------------------------- Grid Events -------------------------*/
				//row click
				grid.on("rowClick", function(e, row){	
					var rowData = row.getData();		
					showDetailForm(row.getData());
				});		
				
				
				/*--------------------- UI Events ---------------------*/
				
	    	    //조회
		        $(".btn_srch").on("click",function (){
		        	grid.setData(requestUrl, getParams());
		        });						
				
				//등록
			    $(".btn_add").click(function() {
			    	showDetailForm();
			    });
		        
				//삭제
			    $(".btn_del").click(function() {
			    	
	    	    	let selectedData  = grid.getSelectedData();	    	    	
	    	    	let items = [];
	    	    	
	    	    	if(selectedData.length == 0){
	    	    		alert('[[#{screen.info.status.no.selected.item}]]');
	    	    		return;
	    	    	}				    	
			    	
	            	let chooseVal = confirm("[[#{screen.info.status.default.delete.yn}]]");	    	    	
	            	if(chooseVal) {

		    	    	for(row of selectedData){
		    	    		items.push(row.roleId);	    	    		
		    	    	}	   	            		
	            		
		    	    	let params = {
			    	    		url : "/system/role/roleMng/roleDelete",
			    	    		reqType : 'GET',
			    	    		data : {	"items": items.join(",")	}
			    	    	}

						$.request(params)
		   				 .then((res) => {
		   					alert("[[#{screen.info.status.delete.success}]]");
		   					$('.btn_srch').click();
		   				 })
		   				 .catch((error) => {
		   					alert("[[#{screen.info.status.error.occur}]]");
		   					console.log(error);
		   				 }) 	            		
	            	}
			    });
		        
		     	// 팝업창 저장 버튼 처리
		        $('.save_btn').on('click', function (e) {
		            
					let save_url;
					
		            // 권한코드에 ROLE_이 포함되었는지 확인한다.
		            if($(".detail_table").find("#roleId").val().toUpperCase().includes("ROLE_")){
		            
			            var item = {};
			            item.roleId 		= $(".detail_table").find("#roleId").val().toUpperCase();
			            item.roleNm 	= $(".detail_table").find("#roleNm").val();
			            item.roleDesc 	= $(".detail_table").find("#roleDesc").val();
			            item.useYn	 	= $(".detail_table").find("#useYn").val();
			
				    	if(save_mode == "insert") {
				    		save_url = '/system/role/roleMng/roleInsert';
				    	}else if(save_mode == "update") {
				    		save_url = '/system/role/roleMng/roleUpdate';
				    	}				    		
			    		
		    	    	let params = {
			    	    		url : save_url,
			    	    		reqType : 'GET',
			    	    		data : item,
			    	    	}
			    	    	
		    			$.request(params)
	    				 .then((res) => {
	    		                $("#detailForm").hide();	    					 	    					 
	    						$('.btn_srch').click();
	    				 })
	    				 .catch((error) => {
	    					alert("[[#{screen.info.status.error.occur}]]");
	    					console.log(error);
	    				 })		   				    		;
		            }else{
		            	alert("[[#{screen.info.status.error.role.code}]]");
		            }
		        });
		     	
		      	//수정 버튼
			    $(".btn_update").click(function() {
	    	    	let selectedData  = grid.getSelectedData();	    
	    	    	if(selectedData.length > 0){
	    	    		showDetailForm(selectedData[0]);
	    	    	}
			    });
		      	
		      	//리셋 버튼
			    $(".btn_reset").click(function() {
			    	$("#searchText").val("");
			    	$("#searchType option:eq(0)").prop("selected", true);
			    });
		     	
		     	// 팝업창 닫기 버튼 처리
		        $('.close_btn').on('click', function (e) {
	                $("#detailForm").hide();	 
		        });
		     });
		        
			function getParams(){
				return {
					"searchType" : $("#searchType").val(),
					"searchText": $("#searchText").val(),
				}				
			}		        
		        
		    function clearDetailForm() {
			    $(".detail_table").find("#roleId").val("");
				$(".detail_table").find("#roleNm").val("");
				$(".detail_table").find("#roleDesc").val("");
				$(".detail_table").find("#useYn").val("");
				save_mode = "";
		    }
		    
		    let save_mode = "";
		    function showDetailForm(item) {
		    	
		    	clearDetailForm();		
		    	
		    	let title = "[[#{screen.text.role.regist.title}]]";		    	
		    	
		    	 if( item != null ) {
		    		 title = "[[#{screen.text.role.modify.title}]]";
		    		 save_mode = "update";
		    		 
		    		 $(".detail_table").find("#roleId").val(item.roleId);
		    		 $(".detail_table").find("#roleId").attr("readOnly", true);
		    		 $(".detail_table").find("#roleNm").val(item.roleNm);
		    		 $(".detail_table").find("#roleDesc").val(item.roleDesc);
		    		 $(".detail_table").find("#useYn").val(item.useYn);
		    	 } else {
		    		 save_mode = "insert";
		    		 $(".detail_table").find("#roleId").attr("readOnly", false);
		    		 
		    	 }
		    		 
		    	 $(".list_head").find("#head_title").html(title);
		    	
		    	 //상세 팝업 호출
		    	 $('#detailForm').css({
	                 position: 'absolute',
	                 top	 : "10px",
	                 left	 : "10px",
	                 width	 : "400px",
	                 height	 : "auto",
	                 border  : "2px solid navy"
	             }).center().show();
		    }
		    
		    function enterkey() {
		    	if (window.event.keyCode == 13) {
		    		$('.btn_srch').click();
		        }
		    }
	    </script>
</th:block>
	<div layout:fragment="content">
		<!-- contents_head -->
		<div class="bc">Home &gt; <span th:text="${menuDesc}"></span></div>
		<h3><span th:text="${menuNm}"></span></h3>
		<!-- //contents_head -->

		<!-- search -->
		<div class="srch_wrap single">
			<table class="srch_table">
				<tr>
					<td>
						<div style="display: flex; align-items: stretch;">
							<select id="searchType">
								<option value="none">[[#{screen.text.comm.select.search.condition}]]</option>
								<option value="role_id">[[#{screen.text.role.auth.code}]]</option>
								<option value="role_nm">[[#{screen.text.role.auth.nm}]]</option>
							</select>
							<input id="searchText" type="text" placeholder="검색어를 입력해주세요." onkeyup="enterkey()" style="margin-left: 5px;">
						</div>
					</td>
					<td class="search" colspan="4">
						<a href="#;" class="btn_reset">[[#{screen.btn.reset}]]</a>
						<a href="#;" class="btn_srch">[[#{screen.btn.search}]]</a>
					</td>
				</tr>
			</table>
		</div>
		<!-- //search -->
		<div class="list_head">
				<div class="result">Total : 0,000</div>
				<!-- list_button -->
				<div class="button">
					<a class="btn_add">[[#{screen.btn.insert}]]</a>
					<a class="btn_update">[[#{screen.btn.update}]]</a>
					<a class="btn_del">[[#{screen.btn.delete}]]</a>
				</div>
				<!-- list_button -->
		</div>
		<!-- list -->
		<!-- //search -->

		<!-- list -->
		<div id="data-table"></div>
		<input type="hidden" id="curr_Idx"/>
		<!-- //list -->
	
		<!-- detail popup -->
		<div id="detailForm" class="list_head" style="display:none;">
		  <div id="container">
		        <!-- list_head -->
				<div class="list_head">
					<h6><span id="head_title" ></span></h6>
					<!-- list_button -->
					<div class="button">
						<a class="btn_list save_btn">[[#{screen.btn.save}]]</a>
						<a class="btn_list close_btn">[[#{screen.btn.close}]]</a>
					</div>
					<!-- list_button -->
				</div>
				<!-- //list_head -->
				<!-- detail_table -->
					<table class="detail_table">
					<colgroup>
						<col width="25%"/>
						<col width="75%"/>
					</colgroup>
						<tr>
							<th>[[#{screen.text.role.auth.code}]]</th>
							<td style="width:400px"><input type="text" id="roleId" placeholder="ROLE_" style="width:100%"/></td>
						</tr>
						<tr>
							<th>[[#{screen.text.role.auth.nm}]]</th>
							<td><input type="text" id="roleNm" style="width:100%"/></td>
						</tr>
						<tr>
							<th>[[#{screen.text.role.desc}]]</th>
							<td><input type="text" id="roleDesc" style="width:100%"/></td>
						</tr>
						<tr>
							<th>[[#{screen.text.role.useyn}]]</th>
							<td>
								<select id="useYn" style="width:100%">
									<option value="Y">[[#{screen.text.comm.ues}]]</option>
									<option value="N">[[#{screen.text.comm.unuesd}]]</option>
								</select>
							</td>
						</tr>
					</table>
				<!-- //detail_table -->
	     	</div>
     	</div>
	</div>
</html>