<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout/default">

<head>
    <title>Sample Page</title>
</head>

<!-- css -->
<th:block layout:fragment="css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600,400' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/css/jsgrid.css" />
	<link rel="stylesheet" href="/css/theme.css" />
</th:block>

<th:block layout:fragment="script">
	<script src="/js/jsgrid/db.js"></script>
    <script src="/js/jsgrid/jsgrid.core.js"></script>
    <script src="/js/jsgrid/jsgrid.load-indicator.js"></script>
    <script src="/js/jsgrid/jsgrid.load-strategies.js"></script>
    <script src="/js/jsgrid/jsgrid.sort-strategies.js"></script>
    <script src="/js/jsgrid/jsgrid.field.js"></script>
    <script src="/js/jsgrid/fields/jsgrid.field.text.js"></script>
    <script src="/js/jsgrid/fields/jsgrid.field.number.js"></script>
    <script src="/js/jsgrid/fields/jsgrid.field.select.js"></script>
    <script src="/js/jsgrid/fields/jsgrid.field.checkbox.js"></script>
    <script src="/js/jsgrid/fields/jsgrid.field.control.js"></script>
	
    <script>
    
    //let nowPageIndex = 1;
    let currentPage = 1;
    var status = true;
    var selectedItems = [];
 	var insertedItems = [];
 	var updatedItems = [];
    
        $(function() {

            $("#jsGrid").jsGrid({
                height: "500",
                width: "100%",
                filtering: false,
                editing: true,
                inserting: true,
                sorting: true,
                paging: true,
                sorter: "number",
                pageIndex:currentPage,
                pageFirstText: '<a class="first"><img src="/images/common/btn_pn_first.gif"></img></a>',
                pagePrevText: '<a class="pre"><img src="/images/common/btn_pn_pre.gif"></img></a>',
                pageNextText: '<a class="next"><img src="/images/common/btn_pn_next.gif"></img></a>',
                pageLastText: '<a class="last"><img src="/images/common/btn_pn_last.gif"></img></a>',
                pagerFormat: "{first} {prev} {pages} {next} {last}",
                pagerContainer:null,
                pageLoading: true,
                pager: "#pager",
                autoload: status,
                pageSize: 12,
                pageButtonCount: 5,
                loadonce: true,
                updateOnResize: true,
	            rowClick: function(args) {
	            	var target = args.event.target;
	            	
					if(target instanceof HTMLTableCellElement) {
						//detail form
						showDetailForm(args.item);
					} else {
						
					   	$("<input>").attr("type", "checkbox").attr("class","singleCheckbox")
					                .prop("checked", $.inArray(args.item.firstName, selectedItems) > -1)
					                .on("change", function () {
						  	 $(this).is(":checked") ? selectItem($(this).parent().next().text()) : unselectItem($(this).parent().next().text());
						});
						
					}

	            }, 
	            pagerContainerClass: "paginate",
	            deleteConfirm: function(item) {
	                return "\""+item.menuNm+"("+menuId+")"+"\""+ "을 삭제 하시겠습니까?";
	            },
                controller: {
                	loadData:function(filter){
                		let d = $.Deferred();
                		
	                	currentPage = filter.pageIndex;    
                		
            			let url = '/system/role/roleMng/roleList';
            			let reqType = 'GET';				
            			let data = {
            					"currentPage":currentPage,
            					"numOfRows":"16",
            					"searchType" : $("#searchType").val(),
            					"searchText": $("#searchText").val(),
            					"sortField": filter.sortField,
            					"sortOrder": filter.sortOrder
            			}
            			$.commRequest(url, reqType, data)
            				.then((res) => {
            					$(".result").text("Total : " + res.data.length);
            					d.resolve({data : res.data, itemsCount: res.condition.totalCount});
            				})
            				.catch((error) => {
            					console.log(error);
            				})
            			
            			return d.promise();
                	},
                	updateItem: function(item) {
                		updatedItems.push(item);
	                	$("#jsGrid").jsGrid("option", "pageIndex", $("#jsGrid").jsGrid("option", "pageIndex"));
	                	let url = '/system/role/roleMng/roleUpdate';
	                	let reqType = 'GET';
	                	$.commRequest(url, reqType, item)
	                		.then((res) => {
	                			console.log(res);
	                			alert("권한이 수정되었습니다.");
	                		})
	                		.catch((error) => {
	                			console.log(error);
	                		})
                    },
                 	deleteItem: function(item) {
            			$("#curr_Idx").val(currentPage);
            			let url = '/system/role/roleMng/roleDelete';
            			let reqType = 'GET';
            			$.commRequest(url, reqType, item)
            				.then((res) => {
            					console.log(res);
            				})
            				.catch((error) => {
            					console.log(error);
            				})
                	},
                 	insertItem: function(item) {
            			let url = '/system/role/roleMng/roleInsert';
            			let reqType = 'GET';
            			$.commRequest(url, reqType, item)
            				.then((res) => {
            					alert("권한이 등록되었습니다.");
            				})
            				.catch((error) => {
            					console.log(error);
            				})
                	}
                },
                fields: [
                	{  name : "checkbox"
                	 , align: "center"
                	 , width: 10
                	 , title: ""
                	 , editing: false
                	 , sorting: false
                	 , filtering: false, 
                	   itemTemplate: function(value, item) {
                       return $("<input>").attr("type", "checkbox").attr("class","singleCheckbox")
                       .prop("checked", $.inArray(item.firstName, selectedItems) > -1)
                       .on("change", function () {
  					  	 $(this).is(":checked") ? selectItem($(this).parent().next().text()) : unselectItem($(this).parent().next().text());
  					  	 });
            		}
                	 , headerTemplate : function ()  { 
					  	 return  $("<input>").attr("type", "checkbox").attr("id","selectAllCheckbox")
	                     .on("change", function (item) {
	             	    	selectedItems = [];
	            	    	if(this.checked) { // check select status
	            	            $('.singleCheckbox').each(function() { 
	            	                this.checked = true;   
	            	                selectItem($(this).parent().next().text());           
	            	            });			         
	            	        }else {
	            	        	
	            	            $('.singleCheckbox').each(function() { 
	            	                this.checked = false;      
	            	                unselectItem(item);
	            	            });  
	            	            selectedItems = [];
	            	        }
	    				   });
				 	 } ,
                	},
                	{name : "roleId", index:"role_id", type: "disabled", width: 40, title: "권한코드"},
                	{name : "roleNm", index:"role_nm", type: "text", width: 70, title: "권한명"},
                	{name : "roleDesc", index:"role_desc", type: "text", width: 150, title: "설명"},
                	{name : "useYn", index:"use_yn", type: "text", width: 40, title: "사용구분", sorting: false},
                	{name : "regDt", index:"reg_dt", type: "text", width: 70, title: "등록일자"},
                ]
            });
        
		    var selectItem = function(item) {
		    	if(!selectedItems.includes(item))
			    selectedItems.push(item);
			    if($(".singleCheckbox").length == $(".singleCheckbox:checked").length) {
	             $("#selectAllCheckbox").prop("checked", true);
	         } else {
	             $("#selectAllCheckbox").prop("checked", false);
	         }
			};
		     
		    var unselectItem = function(item) {
		    	
			    selectedItems = $.grep(selectedItems, function(i) {
			    return i !== item;
			    });
			    
			    if(selectedItems.length == 0) {
			    	$('#selectAllCheckbox').attr('checked', false);
			    }
			    if($(".singleCheckbox").length == $(".singleCheckbox:checked").length) {
	             	$("#selectAllCheckbox").prop("checked", true);
		        } else {
		            $("#selectAllCheckbox").prop("checked", false);
		        }
			    
		    };
        
        $("#pager").on("change", function() {
            var page = parseInt($(this).val(), 10);
            $("#jsGrid").find(".jsgrid-table").append("<tr class='jsgrid-row'></tr>");
        });

        
        ////////////////////////////////////////////////////////////////////
	    $(".btn_add").click(function() {
	    	//$("#jsGrid").jsGrid("option", "inserting", "true");
	    	showDetailForm();
	    });
        
	    $(".btn_del").click(function() {
	    	
	    	var arr_item = [];
	    	var items = [];
	    	
	    	//$("#jsGrid").jsGrid("deleteItem",delete_item);
	    	$.each(selectedItems, function(index,item){
	    		items.push(item);
	    	});
	    	
	    	//별도 호출
	    	let url = "/system/role/roleMng/roleDelete";
			let reqType = 'GET';
			dataType: 'json';
			let data={
				"items": items.join(",")
			}
			$.commRequest(url, reqType, data)
				.then((res) => {
					console.log(res);
					alert("삭제 되었습니다!");
					$('.btn_srch').click();
				})
				.catch((error) => {
					alert("오류가 발생했습니다");
					console.log(error);
				})
	    	
	    	
	    });
	    
        $(".btn_srch").on("click",function (){
	    	   $("#jsGrid").jsGrid().trigger("loadData");
	    });
        
     	// 팝업창 저장 버튼 처리
        $('.save_btn').on('click', function (e) {
            e.preventDefault();
            
            // 권한코드에 ROLE_이 포함되었는지 확인한다.
            if($(".detail_table").find("#roleId").val().toUpperCase().includes("ROLE_")){
            
	            var insert_item = {};
	                insert_item.roleId 		= $(".detail_table").find("#roleId").val().toUpperCase();
		    		insert_item.roleNm 		= $(".detail_table").find("#roleNm").val();
		    		insert_item.roleDesc 	= $(".detail_table").find("#roleDesc").val();
		    		insert_item.useYn	 	= $(".detail_table").find("#useYn").val();
	
		        var action = "";
		    	if(save_mode == "insert") {
		    		action = "insertItem";
		    		//insertedItems.push(insert_item); --일괄
		    	}else if(save_mode == "update") {
		    		action = "updateItem";
		    		//updatedItems.push(insert_item); --일괄
		    	}
		
				$("#jsGrid").jsGrid(action, insert_item);
	            
	    		clearDetailForm();
	            $(this).parents("#detailForm").hide();
	            save_mode = "";
            }else{
            	alert("권한코드를 확인해주세요.");
            }
        });
     	
      	//수정 버튼
	    $(".btn_update").click(function() {
	    	var items = $("#jsGrid").jsGrid("option", "data");
	    	var item = items.filter(arr => arr.roleId == selectedItems[0]);
	    	showDetailForm(item[0]);
	    });
      	
      	//리셋 버튼
	    $(".btn_reset").click(function() {
	    	$("#searchText").val("");
	    	$("#searchType option:eq(0)").prop("selected", true);
	    });
     	
     	// 팝업창 닫기 버튼 처리
        $('.close_btn').on('click', function (e) {
            e.preventDefault();
            clearDetailForm();
            $(this).parents("#detailForm").hide();
            selectedItems = [];
        });
     	
        //drag 활성화
     	$("#detailForm").draggable();
        
        //팝업 가운데로 띄우기
        jQuery.fn.center = function () {
            this.css("position","absolute");
            this.css("top", Math.max(0, (($(window).height() - $(this).outerHeight()) / 2) + $(window).scrollTop()) + "px");
            this.css("left", Math.max(0, (($(window).width() - $(this).outerWidth()) / 2) + $(window).scrollLeft()) + "px");
            return this;
        }
        
     });
        
    function clearDetailForm() {
	    $(".detail_table").find("#roleId").val("");
		$(".detail_table").find("#roleNm").val("");
		$(".detail_table").find("#roleDesc").val("");
		$(".detail_table").find("#useYn").val("");
    }
    
    let save_mode = "";
    function showDetailForm(item) {
    	
    	if(selectedItems.length <= 1){
	    	
	    	let title = "권한 등록";
	    	 var readOnly = false;
	    	 
	    	 if( item != null ) {
	    		 title = "권한 수정";
	    		 save_mode = "update";
	    		 
	    		 readOnly = false;
	    		 $(".detail_table").find("#roleId").val(item.roleId);
	    		 $(".detail_table").find("#roleId").attr("readOnly", true);
	    		 
	    		 $(".detail_table").find("#roleNm").val(item.roleNm);
	    		 $(".detail_table").find("#roleDesc").val(item.roleDesc);
	    		 $(".detail_table").find("#useYn").val(item.useYn);
	    	 } else {
	    		 save_mode = "insert";
	    		 $(".detail_table").find("#roleId").attr("readOnly", false);
	    		 
	    	 }
	    		 
	    	 $(".list_head").find("#head_title").html(title);
	    	
	    	 //상세 팝업 호출
	    	 $('#detailForm').css({
                 position: 'absolute',
                 top	 : "10px",
                 left	 : "10px",
                 width	 : "650px",
                 height	 : "450px"
             }).center().show();
    	}else{
    		alert("수정은 1개이상 되지 않습니다.");
    	}
    }
        
    </script>	
	
</th:block>

	<div layout:fragment="content">
		<!-- contents_head -->
		<div class="bc">Home &gt; <span th:text="${menuDesc}"></span></div>
		<h3><span th:text="${menuNm}"></span></h3>
		<!-- //contents_head -->

		<!-- search -->
		<div class="srch_wrap single">
			<table class="srch_table">
			<colgroup>
					<col width="10%"/>
					<col width="20%"/>
					<col width="15%"/>
					<col width="20%"/>
					<col width="15%"/>
					<col width=""/>
			</colgroup>
				<tr>
					<td>
						<select id="searchType">
							<option value="none">검색항목 선택</option>
							<option value="role_id">권한코드</option>
							<option value="role_nm">권한명</option>
						</select>
					</td>
					<td><input id="searchText" type="text" style="width:100%; margin:10px;"></td>
					<td class="search" colspan="3">
						<a href="#;" class="btn_reset">Reset</a>
						<a href="#;" class="btn_srch">Search</a>
					</td>
				</tr>
			</table>
		</div>
		<!-- //search -->
		<div class="list_head">
				<div class="result">Total : 0,000</div>
				<!-- list_button -->
				<div class="button">
					<a class="btn_add">등록</a>
					<a class="btn_update">수정</a>
					<a class="btn_del">삭제</a>
				</div>
				<!-- list_button -->
		</div>
		<!-- list -->
		<!-- //search -->

		<!-- list -->
		<div id="jsGrid"></div>
		<input type="hidden" id="curr_Idx"/>
		<!-- //list -->
	
		<!-- detail popup -->
		<div id="detailForm" class="list_head" style="display:none;">
		  <div id="container">
		        <!-- list_head -->
				<div class="list_head">
					<h6><span id="head_title" ></span></h6>
					<!-- list_button -->
					<div class="button">
						<a class="btn_list save_btn">저장</a>
						<a class="btn_list close_btn">닫기</a>
					</div>
					<!-- list_button -->
				</div>
				<!-- //list_head -->
				<!-- detail_table -->
					<table class="detail_table">
						<tr>
							<th>권한코드</th>
							<td style="width:400px"><input type="text" id="roleId" placeholder="ROLE_" /></td>
						</tr>
						<tr>
							<th>권한명</th>
							<td><input type="text" id="roleNm" /></td>
						</tr>
						<tr>
							<th>설명</th>
							<td><input type="text" id="roleDesc" /></td>
						</tr>
						<tr>
							<th>사용여부</th>
							<td>
								<select id="useYn">
									<option value="Y">사용</option>
									<option value="N">미사용</option>
								</select>
							</td>
						</tr>
					</table>
				<!-- //detail_table -->
	     	</div>
     	</div>
	</div>
</html>