<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout/default">

	<head>
	    <title>[[#{screen.text.code.screen.title}]]</title>
	</head>
        
	<!-- css -->
	<th:block layout:fragment="css">	
	    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600,400' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/theme.css" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.0.8/css/tabulator.min.css" rel="stylesheet"> 
	</th:block>    
	
	<th:block layout:fragment="script">
		<script type="text/javascript" src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
		<script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.0.7/dist/js/tabulator.min.js"></script>
		
	    <script>

		    let grid;
		    let requestUrl = "/standard/code/codeMng/codeList";	    
	    
			// 공통코드 그룹 출력                                                                                    
			$(document).ready(function(){                                                                    
				let url = '/standard/code/codeGrpList';                                                      
			 	let reqType = 'POST';                                                                        
			 	let data = {                                                                                 
			 		"email" : ""                                                                             
			 	};                                                                                           
			 	$.commRequest(url, reqType, JSON.stringify(data))                                            
			 		.then((res) => {                                                                         
			 			$.each(res.data, function(i){                                                        
			 				var codeGrpList = res.data[i];                                                  
			 				$("#codeGrpId").append('<option value='+codeGrpList.codeGrpId+'>'+codeGrpList.codeGrpId+'</option>');
			 			})
			 		})
			 		.catch((error) => {                                                                      
			 			alert('[[#{screen.info.status.error.occur}]]');                                                                  
			 		});
			});
	 	
		    $(function(){

		    	getCodeGrp();
		    	
	            //drag 활성화
		     	$("#detailForm").draggable();
	            
				grid = new Tabulator("#data-table", {
				 	locale:true,
				    langs: $.commGridLocalization(),								
				 	height:"560",
				 	layout:"fitColumns",
				 	movableColumns:true,
				 	pagination:true,
				 	paginationMode:"remote",
				 	ajaxURL:requestUrl,			
				 	ajaxParams: getParams(),
				 	paginationSize:20,				    
				 	paginationSizeSelector:[20, 50, 100, 500],			
				 	dataSendParams:{
				        "page":"currentPage",
				        "size":"numOfRows"
				    } ,							    
				 	placeholder:"No Data Set",				 	
				 	ajaxResponse:function(url, params, res){
				 		$(".result").text("Totals : " + res.condition.totalCount);				 						 						 		
				 		return res;
				 	},					 	
				 	columns:[ 
			 	        {formatter:"rowSelection", titleFormatter:"rowSelection", hozAlign:"center", headerHozAlign:"center", 
			 	        	headerSort:false, width:30, cellClick:function(e, cell){
			 	         		cell.getRow().toggleSelect();
			 	        }},					 		
		                { title:"[[#{screen.text.code.id}]]"       		, field:"codeId"   			,  hozAlign:"left"  		, headerHozAlign:"center"},
		                { title:"[[#{screen.text.code.grp.id}]]"   		, field:"codeGrpId"		,  hozAlign:"left"  		, headerHozAlign:"center"},
		                { title:"[[#{screen.text.code.nm}]]"       	, field:"codeNm"  		 	,  hozAlign:"left"  		, headerHozAlign:"center"},
		                { title:"[[#{screen.text.code.eng.nm}]]"   	, field:"codeEngNm"	,  hozAlign:"left"  		, headerHozAlign:"center"},
		                { title:"[[#{screen.text.code.upper.id}]]" 	, field:"uppCodeId"		,  hozAlign:"left"  		, headerHozAlign:"center"},
		                { title:"[[#{screen.text.code.level}]]"    		, field:"codeLvl"  			,  hozAlign:"center"	, headerHozAlign:"center"},
		                { title:"[[#{screen.text.code.desc}]]"     	, field:"codeDesc"		,  hozAlign:"left"  		, headerHozAlign:"center"},
		                { title:"[[#{screen.text.code.sort}]]"     		, field:"sortOdr"  			,  hozAlign:"center"	, headerHozAlign:"center"},
		                { title:"[[#{screen.text.comm.useyn}]]"   	, field:"useYn"    			,  hozAlign:"center"	, headerHozAlign:"center"},
		                { title:"[[#{screen.text.comm.updr}]]"     	, field:"updr"     			,  hozAlign:"center"	, headerHozAlign:"center"},
		                { title:"[[#{screen.text.comm.updt}]]"     	, field:"upDt"     			,  hozAlign:"center"	, headerHozAlign:"center"},
		                { title:"[[#{screen.text.comm.regr}]]"     	, field:"regr"     				,  hozAlign:"center"	, headerHozAlign:"center"},
		                { title:"[[#{screen.text.comm.regdt}]]"    	, field:"regDt"    			,  hozAlign:"center"	, headerHozAlign:"center"},
				 	],
				});			    	
		    	
				/*------------------------- Grid Events -------------------------*/
				//row click
				grid.on("rowClick", function(e, row){	
					var rowData = row.getData();		
					showDetailForm(row.getData());
				});				            
	            
		    	/* ------------------------ UI Events  ------------------------*/
		    	
		    	//조회버튼
	    	    $(".btn_srch").on("click",function (){
	    	    	grid.setData(requestUrl, getParams());
		        });
		    	
		    	//등록
	    	    $(".btn_add").click(function() {
	    	    	showDetailForm();
	    	    });
		        
		    	//삭제
	    	    $(".btn_del").click(function() {
	    	    	
	    	    	let selectedData  = grid.getSelectedData();
	    	    	let items = [];	    	    	
	    	    	
	    	    	if(selectedData.length == 0){
	    	    		alert('[[#{screen.info.status.no.selected.item}]]');
	    	    		return;
	    	    	}
	    	    	
	            	let chooseVal = confirm("[[#{screen.info.status.default.delete.yn}]]");	    	    	
	            	if(chooseVal) {
		    	    	let params = {
			    	    		url : "/standard/code/codeMng/codeDelete",
			    	    		reqType : 'POST',
			    	    		data : JSON.stringify(selectedData),
			    	    	}

						$.request(params)
		   				 .then((res) => {
		    					alert("[[#{screen.info.status.delete.success}]]");
		    					$('.btn_srch').click();
		   				 })
		   				 .catch((error) => {
		    					alert("[[#{screen.info.status.error.occur}]]");
		    					console.log(error);
		   				 }) 
	            	}
	    	    });
		        
	    	    //저장
	            $('.save_btn').on('click', function (e) {
	            	
	            	let url = '';
	            	
	            	if (validationCheck()) {
		                
		                var item = {};
		                item.codeId 	  = $(".detail_table").find("#codeId").val();
		                item.codeGrpId = $("#codeGrpId option:selected").text();
		                item.codeNm 	  = $(".detail_table").find("#codeNm").val();
		                item.codeEngNm = $(".detail_table").find("#codeEngNm").val();
		                item.uppCodeId = $(".detail_table").find("#uppCodeId").val();
		                item.codeLvl   = $(".detail_table").find("#codeLvl").val();
		                item.codeDesc  = $(".detail_table").find("#codeDesc").val();
		                item.sortOdr   = $(".detail_table").find("#sortOdr").val();
		                item.resv1     = $(".detail_table").find("#resv1").val();
		                item.resv2     = $(".detail_table").find("#resv2").val();
		                item.resv3     = $(".detail_table").find("#resv3").val();
		                item.useYn 	  = $(".detail_table").find("#useYn").val();
		                item.regr      = $(".detail_table").find("#regr").val();
		                item.regDt     = $(".detail_table").find("#regDt").val();
						
				    	if(save_mode == "insert") {
				    		url = "/standard/code/codeMng/codeMerge";
				    	}else if(save_mode == "update") {
				    		url = "/standard/code/codeMng/codeMerge";
				    	}				    		
				    		
		    	    	let params = {
			    	    		url : url,
			    	    		reqType : 'GET',
			    	    		data : item,
			    	    	}				        
				    	
		    			$.request(params)
	    				 .then((res) => {
				            $("#detailForm").hide();	    					 	    					 
	    					$('.btn_srch').click();
	    				 })
	    				 .catch((error) => {
	    					alert("[[#{screen.info.status.error.occur}]]");
	    					console.log(error);
	    				 }) 					    	
		          	}
	            });
		     	
	    	  	//수정 버튼
	    	    $(".btn_update").click(function() {
	    	    	let selectedData  = grid.getSelectedData();	    
	    	    	if(selectedData.length > 0){
	    	    		showDetailForm(selectedData[0]);
	    	    	}
	    	    });
	          	
	          	//리셋 버튼
	    	    $(".btn_reset").click(function() {
	    	    	$("#searchText").val("");
	    	    	$("#searchOption option:eq(0)").prop("selected",true);
	    	    	$("#useYnOption option:eq(0)").prop("selected",true);
	    	    });
		     	
		     	// 팝업창 닫기 버튼 처리
	            $('.close_btn').on('click', function (e) {
	            	$("#detailForm").hide();
	            });
		     	
	            
	         	// 정렬 순서 유효성 검사
	            $("#codeLvl").on("input", function() {
	        		$(this).val($(this).val().replace( /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]|[a-zA-Z]|[-]/g,''));
	        	});
	        	
	            $("#sortOdr").on("input", function() {
	        		$(this).val($(this).val().replace( /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]|[a-zA-Z]|[-]/g,''));
	        	}); 
	    	});

		    //검색조건
			function getParams(){
				return  {
						"searchText"   : $("#searchText").val(),
						"searchOption" : $("#searchOption option:selected").val(),
						"useYnOption"  : $("#useYnOption option:selected").val(),	
        			}				
			}			    
		    
		    //공통코드 그룹 조회
		    function getCodeGrp(){
    	    	let params = {
	    	    		url : '/standard/code/codeGrpList',
	    	    		reqType : 'POST',
	    	    		data : {"email" : ""},
	    	    	}
    	    	
    			$.request(params)
				 .then((res) => {
			 			$.each(res.data, function(i){                                                        
			 				var codeGrpList = res.data[i];                                                  
			 				$("#codeGrpId").append('<option value='+codeGrpList.codeGrpId+'>'+codeGrpList.codeGrpId+'</option>');
			 			})
				 })
				 .catch((error) => {
					console.log(error);
				 })     	    	
		    }
		    
		    function clearDetailForm() {
	    	    $(".detail_table").find("#codeId").val("");
	    		$(".detail_table").find("#codeNm").val("");
	   			$(".detail_table").find("#codeGrpId").val("");
	    		$(".detail_table").find("#codeNm").val("");
	    		$(".detail_table").find("#codeEngNm").val("");
	    		$(".detail_table").find("#uppCodeId").val("");
	    		$(".detail_table").find("#codeLvl").val("");
	    		$(".detail_table").find("#codeDesc").val("");
	    		$(".detail_table").find("#sortOdr").val("");
	    		$(".detail_table").find("#resv1").val("");
	    		$(".detail_table").find("#resv2").val("");
	    		$(".detail_table").find("#resv3").val("");
	    		save_mode = "";
		    }
		    
		    let save_mode = "";
		    function showDetailForm(item) {
		    		
		    	clearDetailForm();
		    	
		    	let title = "[[#{screen.text.code.insert.title}]]";
		    	
		    	 if( item != null ) {
		    		 title = "[[#{screen.text.code.update.title}]]";
		    		 save_mode = "update";
	 				 
		    		 readOnly = false;
	 				 
		    		 $(".detail_table").find("#codeId").val(item.codeId);
		    		 $(".detail_table").find("#codeId").attr("readOnly", true);    
		    		 $(".detail_table").find("#codeGrpId").val(item.codeGrpId);
		    		 $("#codeGrpId option").not(":selected").attr("disabled", true);
		     		 $(".detail_table").find("#codeNm").val(item.codeNm);
		     		 $(".detail_table").find("#codeEngNm").val(item.codeEngNm);
		     		 $(".detail_table").find("#uppCodeId").val(item.uppCodeId);
		     		 $(".detail_table").find("#codeLvl").val(item.codeLvl);
		     		 $(".detail_table").find("#codeDesc").val(item.codeDesc);
		     		 $(".detail_table").find("#sortOdr").val(item.sortOdr);
		     		 $(".detail_table").find("#resv1").val(item.resv1);
		     		 $(".detail_table").find("#resv2").val(item.resv2);
		     		 $(".detail_table").find("#resv3").val(item.resv3);
		     		 $(".detail_table").find("#useYn").val(item.useYn);
		    	 } else {
		    		 save_mode = "insert";
		    		 $(".detail_table").find("#codeId").attr("readOnly", false);
		    		 $("#codeGrpId option").not(":selected").attr("disabled", false);
		    	 }
		    	 
		    	 $(".list_head").find("#head_title").html(title);
		    	
		    	 //상세 팝업 호출
		    	 $('#detailForm').css({
	                 position: 'absolute',
	                 top	 : "10px",
	                 left	 : "10px",
	                 width	 : "650px",
	                 height	 : "auto",
	                 border  : "2px solid navy"
	             }).center().show();		    	

		    }
		    
		    function enterkey() {
		    	if (window.event.keyCode == 13) {
		    		$("#jsGrid").jsGrid().trigger("loadData");
		        }
		    }
		    
		 	// 유효성 검사
		    function validationCheck() {
		    	let isValid = true;
				
				if($("#codeId").val() == "") {
					alert("[[#{screen.info.status.error.code.id}]]");
					$("#codeId").focus();
					isValid = false;
				}else if($("#codeNm").val() == "") {
					alert("[[#{screen.info.status.error.code.nm}]]");
					$("#codeNm").focus();
					isValid = false;
				}else if($("#codeLvl").val() == "") {
					alert("[[#{screen.info.status.error.code.level}]]");
					$("#codeLvl").focus();
					isValid = false;
				}else if($("#sortOdr").val() == "") {
					alert("[[#{screen.info.status.error.code.sort}]]");
					$("#sortOdr").focus();
					isValid = false;
				}
				
				return isValid;
		    }
	    </script>	
	</th:block>

	<div layout:fragment="content">
		<!-- contents_head -->
		<div class="bc">Home &gt; <span th:text="${menuDesc}"></span></div>
		<h3><span th:text="${menuNm}"></span></h3>
		<!-- //contents_head -->

		<!-- search -->
		<div class="srch_wrap single">
			<table class="srch_table">
				<tr>
					<td>
						<div style="display: flex; align-items: stretch;">
							<select id="searchOption">
								<option selected value="">[[#{screen.text.comm.select.search.condition}]]</option>
								<option value="code_id">[[#{screen.text.code.id}]]</option>
								<option value="code_grp_id">[[#{screen.text.code.grp.id}]]</option>
								<option value="code_nm">[[#{screen.text.code.nm}]]</option>
								<option value="code_desc">[[#{screen.text.code.desc}]]</option>
							</select>
							<input id="searchText" type="text" onkeyup="enterkey()" placeholder="검색어를 입력해주세요." style="margin-left: 5px;">
							<select id="useYnOption" style="margin-left: 5px;">
								<option selected value="">[[#{screen.text.comm.useyn}]]</option>
								<option value="Y">[[#{screen.text.comm.ues}]]</option>
								<option value="N">[[#{screen.text.comm.unuesd}]]</option>
							</select>
						</div>
					</td>
					
					<td class="search" colspan="3">
						<a href="#;" class="btn_reset">[[#{screen.btn.reset}]]</a>
						<a href="#;" class="btn_srch">[[#{screen.btn.search}]]</a>
					</td>
				</tr>
			</table>
		</div>
		<!-- //search -->
		<div class="list_head">
			<div class="result">Totals : 0,000</div>
			<!-- list_button -->
			<div class="button">
				<a class="btn_add">[[#{screen.btn.insert}]]</a>
				<a class="btn_update">[[#{screen.btn.update}]]</a>
				<a class="btn_del">[[#{screen.btn.delete}]]</a>
			</div>
			<!-- list_button -->
		</div>
		<!-- //search -->

		<!-- list -->
		<div id="data-table"></div>
		<input type="hidden" id="curr_Idx"/>
		<!-- //list -->
	
		<!-- detail popup -->
		<div id="detailForm" class="list_head" style="display:none;">
		  <div id="container">
			  
		        <!-- list_head -->
				<div class="list_head">
					<h6><span id="head_title" ></span></h6>
					<!-- list_button -->
					<div class="button">
						<a class="btn_list save_btn">[[#{screen.btn.save}]]</a>
						<a class="btn_list close_btn">[[#{screen.btn.close}]]</a>
					</div>
					<!-- list_button -->
				</div>
				<!-- //list_head -->
				<!-- detail_table -->
					<table class="detail_table ">
						<colgroup>
							<col style="width:20%" />
							<col style="width:30%" />
							<col style="width:20%" />
							<col style="width:30%" />
						<col />
						<tr>
							<th>[[#{screen.text.code.id}]]</th>
							<td><input type="text" style="width:100%" id="codeId" /></td>
							<th>[[#{screen.text.code.grp.id}]]</th>
							<td>
								<select id="codeGrpId" style="width:100%;">
								</select>
							</td>
						</tr>
						<tr>
							<th>[[#{screen.text.code.nm}]]</th>
							<td><input type="text" style="width:100%" id="codeNm" /></td>
							<th>[[#{screen.text.code.eng.nm}]]</th>
							<td><input type="text" style="width:100%" id="codeEngNm" /></td>
						</tr>
						<tr>
							<th>[[#{screen.text.code.upper.id}]]</th>
							<td><input type="text" style="width:100%" id="uppCodeId" /></td>
							<th>[[#{screen.text.code.desc}]]</th>
							<td><input type="text" style="width:100%" id="codeDesc" /></td>
						</tr>
						<tr>
							<th>[[#{screen.text.code.level}]]</th>
							<td><input type="text" style="width:100%" id="codeLvl"/></td>
							<th>[[#{screen.text.code.sort}]]</th>
							<td><input type="text" style="width:100%" id="sortOdr" /></td>
						</tr>
						<tr>
							<th>[[#{screen.text.code.resv1}]]</th>
							<td><input type="text" style="width:100%" id="resv1" /></td>
							<th>[[#{screen.text.code.resv2}]]</th>
							<td><input type="text" style="width:100%" id="resv2" /></td>
						</tr>
						<tr>
							<th>[[#{screen.text.code.resv3}]]</th>
							<td><input type="text" style="width:100%" id="resv3" /></td>
							<th>[[#{screen.text.comm.useyn}]]</th>
							<td colspan="3">
								<select id="useYn" style="width:100%">
									<option value="Y">[[#{screen.text.comm.ues}]]</option>
									<option value="N">[[#{screen.text.comm.unuesd}]]</option>
								</select>
							</td>
						</tr>
					</table>
				<!-- //detail_table -->
	     	</div>
     	</div>
	</div>
</html>