<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout/default">

	<head>
	    <title>[[#{screen.text.code.screen.title}]]</title>
	</head>
        
	<!-- css -->
	<th:block layout:fragment="css">
	    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600,400' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/jsgrid.css" />
		<link rel="stylesheet" href="/css/theme.css" />
		
	</th:block>
	
	<th:block layout:fragment="script">
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
		<script src="/js/jsgrid/db.js"></script>
	    <script src="/js/jsgrid/jsgrid.core.js"></script>
	    <script src="/js/jsgrid/jsgrid.load-indicator.js"></script>
	    <script src="/js/jsgrid/jsgrid.load-strategies.js"></script>
	    <script src="/js/jsgrid/jsgrid.sort-strategies.js"></script>
	    <script src="/js/jsgrid/jsgrid.field.js"></script>
	    <script src="/js/jsgrid/fields/jsgrid.field.text.js"></script>
	    <script src="/js/jsgrid/fields/jsgrid.field.number.js"></script>
	    <script src="/js/jsgrid/fields/jsgrid.field.select.js"></script>
	    <script src="/js/jsgrid/fields/jsgrid.field.checkbox.js"></script>
	    <script src="/js/jsgrid/fields/jsgrid.field.control.js"></script>	
		
	    <script>
	    let numOfRows = 30;
	    var status = true;
        var selectedItems = [];
	 	var insertedItems = [];
	 	var updatedItems = [];
	 	var codeGrpMngList = [];
	 	
		// 공통코드 그룹 출력                                                                                    
		$(document).ready(function(){                                                                    
			let url = '/standard/code/codeGrpList';                                                      
		 	let reqType = 'POST';                                                                        
		 	let data = {                                                                                 
		 		"email" : ""                                                                             
		 	};                                                                                           
		 	$.commRequest(url, reqType, JSON.stringify(data))                                            
		 		.then((res) => {                                                                         
		 			$.each(res.data, function(i){                                                        
		 				var codeGrpList = res.data[i];                                                  
		 				$("#codeGrpId").append('<option value='+codeGrpList.codeGrpId+'>'+codeGrpList.codeGrpId+'</option>');
		 			})
		 		})
		 		.catch((error) => {                                                                      
		 			alert('[[#{screen.info.status.error.occur}]]');                                                                  
		 		});
		});
	 	
	    $(function(){
	        $("#jsGrid").jsGrid({
	        	height: "600",
                width: "100%",
                filtering: false,
                editing: true,
                inserting: true,
                sorting: true,
                paging: true,
                sorter: "number",
                pageIndex:1,
                pageFirstText:'<a class="first"><img src="/images/common/btn_pn_first.gif"></img></a>',
                pagePrevText: '<a class="pre"><img src="/images/common/btn_pn_pre.gif"></img></a>',
                pageNextText: '<a class="next"><img src="/images/common/btn_pn_next.gif"></img></a>',
                pageLastText: '<a class="last"><img src="/images/common/btn_pn_last.gif"></img></a>',
                pagerFormat: "{first} {prev} {pages} {next} {last}",
                pagerContainer:null,
                pageLoading: true,
                pager: "#pager",
                autoload: status,
                pageSize: numOfRows,
                pageButtonCount: 5,
                loadonce: true,
                updateOnResize: true, 
	            rowClick: function(args) {
	            	var target = args.event.target;
	            	
					if(target instanceof HTMLTableCellElement) {
						showDetailForm(args.item);
						
					} else {
					   	$("<input>").attr("type", "checkbox").attr("class","singleCheckbox")
					                .prop("checked", $.inArray(args.item.firstName, selectedItems) > -1)
					                .on("change", function () {
						  	 $(this).is(":checked") ? selectItem(item) : unselectItem(item);
						});
					}
	            }, 
	            pagerContainerClass: "paginate",
	            deleteConfirm: function(item) {
	                return "\""+item.menuNm+"("+menuId+")"+"\""+ "[[#{screen.info.status.delete.yn}]]";
	            },
	            controller:  {
	                loadData: function(filter) {
	                    var d = $.Deferred();
	                    
	                    currentPage = filter.pageIndex; 
               			
	                    let url = "/standard/code/codeMng/codeList";
						let reqType = 'GET';	
						let data = {
            				"currentPage"  : filter.pageIndex,
            				"numOfRows"    : numOfRows,
            				"searchText"   : $("#searchText").val(),
            				"searchOption" : $("#searchOption option:selected").val(),
            				"useYnOption"  : $("#useYnOption option:selected").val(),
            				"sortField"    : filter.sortField,
            				"sortOrder"    : filter.sortOrder
            			}
						$.commRequest(url, reqType, data)
							.then((res) => {
								codeGrpMngList = res.data;
								$(".result").text("Results : " + res.condition.totalCount);
								d.resolve({data : res.data, itemsCount: res.condition.totalCount});
							})
							.catch((error) => {
								console.log('조회 실패!!');
							});						
	                    
	                    return d.promise();
	                },

	            updateItem: function(item) { 
                	let url = "/standard/code/codeMng/codeMerge";
                	let reqType = 'GET';
                	$.commRequest(url, reqType, item)
                		.then((res) => {
                			console.log(res);
                			unselectItem(item);
                			
                			alert("[[#{screen.info.status.update.success}]]");
                			selectedItems = [];
                			$("#jsGrid").jsGrid("loadData");
                		})
                		.catch((error) => {
                			console.log(error);
                		})
                },

             	insertItem: function(item) { 
        			let url = "/standard/code/codeMng/codeMerge";
        			let reqType = 'GET';
        			
        			$.commRequest(url, reqType, item)
        				.then((res) => {
        					console.log(res);
        					
        					$("#jsGrid").jsGrid("loadData");
        				})
        				.catch((error) => {
        					console.log(error);
        				})
            	}
        		    
            },
	            fields: [
	            	{  	   name : "chk"
	                	 , align: "center"
	                	 , width: 15
	                	 , title: ""
	                	 , editing: false
	                	 , sorting: false
	                	 , filtering: false
	                	 , itemTemplate: function(value, item) {
	                       return $("<input>").attr("type", "checkbox").attr("class","singleCheckbox")
	                       .prop("checked", $.inArray(item.firstName, selectedItems) > -1)
	                       .on("change", function () {
	  					  	 $(this).is(":checked") ? selectItem(item) : unselectItem(item);
	  					  	 });
	            		   }
	                	 , headerTemplate : function ()  { 
						  	 return  $("<input>").attr("type", "checkbox").attr("id","selectAllCheckbox")
		                     .on("change", function (item) {
		             	    	selectedItems = [];
		            	    	if(this.checked) { // check select status
		            	            $('.singleCheckbox').each(function() { 
		            	                this.checked = true;   
		            	                selectItem($(this).parent().next().text());           
		            	            });			         
		            	        }else {
		            	        	
		            	            $('.singleCheckbox').each(function() { 
		            	                this.checked = false;      
		            	                unselectItem(item);
		            	            });  
		            	            selectedItems = [];
		            	        }
		    				   });
					 	 } ,
	                },
	                { name: "codeId", type: "text", align: "left", width: 40,  title: "[[#{screen.text.code.id}]]" },
	                { name: "codeGrpId", type: "text", align: "left", width: 45,  title: "[[#{screen.text.code.grp.id}]]" },
	                { name: "codeNm", type: "text", align: "left", width: 50, readOnly:true , title: "[[#{screen.text.code.nm}]]" },
	                { name: "codeEngNm", type: "text", align: "left", width: 50, readOnly:true , title: "[[#{screen.text.code.eng.nm}]]" },
	                { name: "uppCodeId", type: "text", align: "left", width: 45, readOnly:true , title: "[[#{screen.text.code.upper.id}]]" },
	                { name: "codeLvl", type: "number", align: "right", width: 25, readOnly:true , title: "[[#{screen.text.code.level}]]" },
	                { name: "codeDesc", type: "text", align: "center", width: 60, readOnly:true , title: "[[#{screen.text.code.desc}]]" },
	                { name: "sortOdr", type: "number", align: "right", width: 25, title: "[[#{screen.text.code.sort}]]" },
	                { name: "useYn", type: "select", width: 25 ,align: "center"
	                	   , items: [
			                    { Name: "[[#{screen.text.comm.ues}]]",  Id: "Y"},
			                    { Name: "[[#{screen.text.comm.unuesd}]]", Id: "N"},
			                  ],
	                  valueField: "Id", textField: "Name", autoSelect: true, selectedIndex: -1, title: "[[#{screen.text.comm.useyn}]]" },
	                { name: "updr", type: "text", align: "left", width: 30, title: "[[#{screen.text.comm.updr}]]" },
	                { name: "upDt", type: "text", align: "center", width: 40, title: "[[#{screen.text.comm.updt}]]" },
	                { name: "regr", type: "text", align: "left", width: 30, title: "[[#{screen.text.comm.regr}]]" },
	                { name: "regDt", type: "text", align: "center", width: 40, title: "[[#{screen.text.comm.regdt}]]" },
	            ]
            	
	        });
	        
		    var selectItem = function(item) {
		    	if(!selectedItems.includes(item))
			    	selectedItems.push(item);
		    	
			    if($(".singleCheckbox").length == $(".singleCheckbox:checked").length) {
	             $("#selectAllCheckbox").prop("checked", true);
	         } else {
	             $("#selectAllCheckbox").prop("checked", false);
	         }
			};
		     
		    var unselectItem = function(item) {
			    selectedItems = $.grep(selectedItems, function(i) {
			  		return i !== item;
			    });
			    
			    if(selectedItems.length == 0) {
			    	$('#selectAllCheckbox').attr('checked', false);
			    }
			    if($(".singleCheckbox").length == $(".singleCheckbox:checked").length) {
	             $("#selectAllCheckbox").prop("checked", true);
	         } else {
	             $("#selectAllCheckbox").prop("checked", false);
	         }
		    };
	        
	        $("#pager").on("change", function() {
	            var page = parseInt($(this).val(), 10);
	            $("#jsGrid").find(".jsgrid-table").append("<tr class='jsgrid-row'></tr>");
	        });

    	    $(".btn_add").click(function() {
    	    	showDetailForm();
    	    });
	        
    	    $(".btn_del").click(function() {
    	    	
    	    	var arr_item = [];
    	    	var items = [];
    	    	
    	    	let url = "/standard/code/codeMng/codeDelete";
    			let reqType = 'POST';
    			dataType: 'json';
    			
    			$.commRequest(url, reqType, JSON.stringify(selectedItems))
    				.then((res) => {
    					console.log(res);
    					selectedItems = [];
    					alert("[[#{screen.info.status.delete.success}]]");
    					$('.btn_srch').click();
    				})
    				.catch((error) => {
    					alert("[[#{screen.info.status.error.occur}]]");
    					console.log(error);
    				})
    	    });
    	    
    	    $(".btn_srch").on("click",function (){
	    	   $("#jsGrid").jsGrid().trigger("loadData");
	        });
	        
            $('.save_btn').on('click', function (e) {
            	if (validationCheck() == '202') {
	            	e.preventDefault();
	                
	                var insert_item = {};
		                insert_item.codeId 	  = $(".detail_table").find("#codeId").val();
		                insert_item.codeGrpId = $("#codeGrpId option:selected").text();
			    		insert_item.codeNm 	  = $(".detail_table").find("#codeNm").val();
			    		insert_item.codeEngNm = $(".detail_table").find("#codeEngNm").val();
			    		insert_item.uppCodeId = $(".detail_table").find("#uppCodeId").val();
			    		insert_item.codeLvl   = $(".detail_table").find("#codeLvl").val();
			    		insert_item.codeDesc  = $(".detail_table").find("#codeDesc").val();
			    		insert_item.sortOdr   = $(".detail_table").find("#sortOdr").val();
			    		insert_item.resv1     = $(".detail_table").find("#resv1").val();
			    		insert_item.resv2     = $(".detail_table").find("#resv2").val();
			    		insert_item.resv3     = $(".detail_table").find("#resv3").val();
			    		insert_item.useYn 	  = $(".detail_table").find("#useYn").val();
			    		insert_item.regr      = $(".detail_table").find("#regr").val();
			    		insert_item.regDt     = $(".detail_table").find("#regDt").val();
					
			        var action = "";
			        
			    	if(save_mode == "insert") {
			    		action = "insertItem";
			    	}else if(save_mode == "update") {
			    		action = "updateItem";
			    	}
	    			
	    			$("#jsGrid").jsGrid(action, insert_item);
	                
		    		clearDetailForm();
	                $(this).parents("#detailForm").hide();
	                save_mode = "";
	          	}
            });
	     	
    	  	//수정 버튼
    	    $(".btn_update").click(function() {
    	    	var items = $("#jsGrid").jsGrid("option", "data");
    	    	var item = items.filter(arr => arr.codeId == selectedItems[0].codeId);
    	    	showDetailForm(item[0]);
    	    });
          	
          	//리셋 버튼
    	    $(".btn_reset").click(function() {
    	    	$("#searchText").val("");
    	    	$("#searchOption option:eq(0)").prop("selected",true);
    	    	$("#useYnOption option:eq(0)").prop("selected",true);
    	    });
	     	
	     	// 팝업창 닫기 버튼 처리
            $('.close_btn').on('click', function (e) {
                e.preventDefault();
                clearDetailForm();
                $(this).parents("#detailForm").hide();
                selectedItems = [];
            });
	     	
            //drag 활성화
	     	$("#detailForm").draggable();
            
            //팝업 가운데로 띄우기
            jQuery.fn.center = function () {
                this.css("position","absolute");
                this.css("top", Math.max(0, (($(window).height() - $(this).outerHeight()) / 2) + $(window).scrollTop()) + "px");
                this.css("left", Math.max(0, (($(window).width() - $(this).outerWidth()) / 2) + $(window).scrollLeft()) + "px");
                return this;
            }
            
         	// 정렬 순서 유효성 검사
            $("#codeLvl").on("input", function() {
        		$(this).val($(this).val().replace( /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]|[a-zA-Z]|[-]/g,''));
        	});
        	
            $("#sortOdr").on("input", function() {
        		$(this).val($(this).val().replace( /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]|[a-zA-Z]|[-]/g,''));
        	}); 
    	});
	    
	    function clearDetailForm() {
    	    $(".detail_table").find("#codeId").val("");
    		$(".detail_table").find("#codeNm").val("");
   			$(".detail_table").find("#codeGrpId").val("");
    		$(".detail_table").find("#codeNm").val("");
    		$(".detail_table").find("#codeEngNm").val("");
    		$(".detail_table").find("#uppCodeId").val("");
    		$(".detail_table").find("#codeLvl").val("");
    		$(".detail_table").find("#codeDesc").val("");
    		$(".detail_table").find("#sortOdr").val("");
    		$(".detail_table").find("#resv1").val("");
    		$(".detail_table").find("#resv2").val("");
    		$(".detail_table").find("#resv3").val("");
	    }
	    
	    let save_mode = "";
	    function showDetailForm(item) {
	    		
	    	if(selectedItems.length <= 1){
		    	
		    	let title = "[[#{screen.text.code.insert.title}]]";
		    	 var readOnly = false;
		    	 
		    	 if( item != null ) {
		    		 title = "[[#{screen.text.code.update.title}]]";
		    		 save_mode = "update";
	 				 
		    		 readOnly = false;
	 				 
		    		 $(".detail_table").find("#codeId").val(item.codeId);
		    		 $(".detail_table").find("#codeId").attr("readOnly", true);    
		    		 $(".detail_table").find("#codeGrpId").val(item.codeGrpId);
		    		 $("#codeGrpId option").not(":selected").attr("disabled", true);
		     		 $(".detail_table").find("#codeNm").val(item.codeNm);
		     		 $(".detail_table").find("#codeEngNm").val(item.codeEngNm);
		     		 $(".detail_table").find("#uppCodeId").val(item.uppCodeId);
		     		 $(".detail_table").find("#codeLvl").val(item.codeLvl);
		     		 $(".detail_table").find("#codeDesc").val(item.codeDesc);
		     		 $(".detail_table").find("#sortOdr").val(item.sortOdr);
		     		 $(".detail_table").find("#resv1").val(item.resv1);
		     		 $(".detail_table").find("#resv2").val(item.resv2);
		     		 $(".detail_table").find("#resv3").val(item.resv3);
		     		 $(".detail_table").find("#useYn").val(item.useYn);
		    	 } else {
		    		 save_mode = "insert";
		    		 $(".detail_table").find("#codeId").attr("readOnly", false);
		    		 $("#codeGrpId option").not(":selected").attr("disabled", false);
		    	 }
		    	 
		    	 $(".list_head").find("#head_title").html(title);
		    	
		    	 //상세 팝업 호출
		    	 $('#detailForm').css({
	                 position: 'absolute',
	                 top	 : "10px",
	                 left	 : "10px",
	                 width	 : "650px",
	                 height	 : "450px"
	             }).center().show();
	    	}else{
	    		alert("[[#{screen.info.status.modify.just.one}]]");
	    	}
	    }
	    
	    function enterkey() {
	    	if (window.event.keyCode == 13) {
	    		$("#jsGrid").jsGrid().trigger("loadData");
	        }
	    }
	    
	 	// 유효성 검사
	    function validationCheck() {
	    	let code = '202';
			
			if($("#codeId").val() == "") {
				alert("[[#{screen.info.status.error.code.id}]]");
				$("#codeId").focus();
				code = '200';
			}else if($("#codeNm").val() == "") {
				alert("[[#{screen.info.status.error.code.nm}]]");
				$("#codeNm").focus();
				code = '200';
			}else if($("#codeLvl").val() == "") {
				alert("[[#{screen.info.status.error.code.level}]]");
				$("#codeLvl").focus();
				code = '200';
			}else if($("#sortOdr").val() == "") {
				alert("[[#{screen.info.status.error.code.sort}]]");
				$("#sortOdr").focus();
				code = '200';
			}
			
			return code;
	    }
	    </script>	
	</th:block>

	<div layout:fragment="content">
		<!-- contents_head -->
		<div class="bc">Home &gt; <span th:text="${menuDesc}"></span></div>
		<h3><span th:text="${menuNm}"></span></h3>
		<!-- //contents_head -->

		<!-- search -->
		<div class="srch_wrap single">
			<table class="srch_table">
			<colgroup>
					<col width="10%"/>
					<col width="20%"/>
					<col width="15%"/>
					<col width="20%"/>
					<col width="15%"/>
			</colgroup>
				<tr>
					<td>
						<select id="searchOption" style="width:90%;">
							<option selected value="">[[#{screen.text.comm.select.search.condition}]]</option>
							<option value="code_id">[[#{screen.text.code.id}]]</option>
							<option value="code_grp_id">[[#{screen.text.code.grp.id}]]</option>
							<option value="code_nm">[[#{screen.text.code.nm}]]</option>
							<option value="code_desc">[[#{screen.text.code.desc}]]</option>
						</select>
					</td>	
					<td>
						<input id="searchText" type="text" onkeyup="enterkey()" style="width:90%; margin:10px;">
					</td>
					
					<td>
						<select id="useYnOption" style="width:40%;">
							<option selected value="">[[#{screen.text.comm.useyn}]]</option>
							<option value="Y">[[#{screen.text.comm.ues}]]</option>
							<option value="N">[[#{screen.text.comm.unuesd}]]</option>
						</select>
					</td>
					
					<td class="search" colspan="3">
						<a href="#;" class="btn_reset">[[#{screen.btn.reset}]]</a>
						<a href="#;" class="btn_srch">[[#{screen.btn.search}]]</a>
					</td>
				</tr>
			</table>
		</div>
		<!-- //search -->
		<div class="list_head">
				<div class="result">Results : 0,000</div>
				<!-- list_button -->
				<div class="button">
					<a class="btn_add">[[#{screen.btn.insert}]]</a>
					<a class="btn_update">[[#{screen.btn.update}]]</a>
					<a class="btn_del">[[#{screen.btn.delete}]]</a>
				</div>
				<!-- list_button -->
		</div>
		<!-- list -->
		<!-- //search -->

		<!-- list -->
		<div id="jsGrid"></div>
		<input type="hidden" id="curr_Idx"/>
		<!-- //list -->
	
		<!-- detail popup -->
		<div id="detailForm" class="list_head" style="display:none;">
		  <div id="container">
			  
		        <!-- list_head -->
				<div class="list_head">
					<h6><span id="head_title" ></span></h6>
					<!-- list_button -->
					<div class="button">
						<a class="btn_list save_btn">[[#{screen.btn.save}]]</a>
						<a class="btn_list close_btn">[[#{screen.btn.close}]]</a>
					</div>
					<!-- list_button -->
				</div>
				<!-- //list_head -->
				<!-- detail_table -->
					<table class="detail_table ">
						<colgroup>
							<col style="width:20%" />
							<col style="width:30%" />
							<col style="width:20%" />
							<col style="width:30%" />
						<col />
						<tr>
							<th>[[#{screen.text.code.id}]]</th>
							<td><input type="text" style="width:100%" id="codeId" /></td>
							<th>[[#{screen.text.code.grp.id}]]</th>
							<td>
								<select id="codeGrpId" style="width:100%;">
								</select>
							</td>
						</tr>
						<tr>
							<th>[[#{screen.text.code.nm}]]</th>
							<td><input type="text" style="width:100%" id="codeNm" /></td>
							<th>[[#{screen.text.code.eng.nm}]]</th>
							<td><input type="text" style="width:100%" id="codeEngNm" /></td>
						</tr>
						<tr>
							<th>[[#{screen.text.code.upper.id}]]</th>
							<td><input type="text" style="width:100%" id="uppCodeId" /></td>
							<th>[[#{screen.text.code.desc}]]</th>
							<td><input type="text" style="width:100%" id="codeDesc" /></td>
						</tr>
						<tr>
							<th>[[#{screen.text.code.level}]]</th>
							<td><input type="text" style="width:100%" id="codeLvl"/></td>
							<th>[[#{screen.text.code.sort}]]</th>
							<td><input type="text" style="width:100%" id="sortOdr" /></td>
						</tr>
						<tr>
							<th>[[#{screen.text.code.resv1}]]</th>
							<td><input type="text" style="width:100%" id="resv1" /></td>
							<th>[[#{screen.text.code.resv2}]]</th>
							<td><input type="text" style="width:100%" id="resv2" /></td>
						</tr>
						<tr>
							<th>[[#{screen.text.code.resv3}]]</th>
							<td><input type="text" style="width:100%" id="resv3" /></td>
							<th>[[#{screen.text.comm.useyn}]]</th>
							<td colspan="3">
								<select id="useYn">
									<option value="Y">[[#{screen.text.comm.ues}]]</option>
									<option value="N">[[#{screen.text.comm.unuesd}]]</option>
								</select>
							</td>
						</tr>
					</table>
				<!-- //detail_table -->
				 
	     	</div>
     	</div>
	
	</div>
	
</html>