<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout/default">

<head>
    <title>Sample Page</title>
</head>

<!-- css -->
<th:block layout:fragment="css">
	<link rel="stylesheet" href="css/style.css" />
</th:block>

<th:block layout:fragment="script">
	<script>
		$(function(){
			
			// 사용자 팝업 호출 
    	    $("#openUserPopup").on("click", function() { 
    	        // 팝업 호출 url
    	        var url = "/common/popup/userPopup";
    	        var popId = "userPopup";
    	        var args = {};
    	        args.width = 650;
    	        args.height = 416;
    	        args.fullscreen = "no";
    	        args.resizable = "no";
    	        
    	        openPopup(popId, url, args);
    	    });
			
			//투장정보 일괄 업로드 팝업 호출 
    	    $("#openInvPopup").on("click", function() { 
    	        // 팝업 호출 url
    	        var url = "/common/popup/invUploadPopup";
    	        var popId = "invUpPopup";
    	        var args = {};
    	        args.width = 1200;
    	        args.height = 710;
    	        args.fullscreen = "no";
    	        args.resizable = "no";
    	        
    	        openPopup(popId, url, args);
    	    });
			
			//공통코드팝업(트리) 호출 
    	    $("#openCommCodePopup").on("click", function() { 
    	        // 팝업 호출 url
    	        var url = "/common/popup/commCodePopup";
    	        var popId = "commCodePopup";
    	        var args = {};
    	        args.width = 500;
    	        args.height = 450;
    	        args.fullscreen = "no";
    	        args.resizable = "no";
    	        
    	        openPopup(popId, url, args);
    	    });
			
		});
		
		//팝업호출 공통함수
		function openPopup(popId, url, args) {
			
	        var options;
			
			var width 	= args.width;
	        var height 	= args.height;
	        var fullscreen = args.fullscreen;
	        if( fullscreen == null || fullscreen == "" ) fullscreen = "no";
	        var resizeable = args.resizeable;
	        if( resizeable == null || resizeable == "" ) full = "no";
	        
	        var sTop  = Math.max(0, (($(window).height() - height) / 2) + $(window).scrollTop()) + "px";
	        var sLeft = Math.max(0, (($(window).width() - width) / 2) + $(window).scrollLeft()) + "px";
	        
	        options = "";
	        options += "position=absolute";
	        options += ",top="+sTop+", left="+sLeft+", height="+height+"px, width="+width+"px";
	        options += ",fullscreen="+fullscreen+", resizeable="+resizeable;
	        
	        var child;
	        child = window.open(url, popId, options);
	        
		}
		
		//팝업에서 받은 결과 처리
		function setResult(obj) {
			$("#userId").val(obj.userId);
			$("#userNm").val(obj.userNm);
		}
		
		//팝업에서 받은 결과 처리
		function setResult2(obj) {
			$("#codeCd").val(obj.codeCd);
			$("#codeNm").val(obj.codeNm);
		}
	</script>
</th:block>

	<div layout:fragment="content">
		<!-- contents_head -->
		<div class="bc">Home &gt; Menu &gt; 샘플자료</div>
		<h3>화면 개발 자료</h3>
		<!-- //contents_head -->
		<div>
			<div>
				<h5>메뉴</h5>
				<a href="/sample/menu1">예시1</a>&nbsp;/&nbsp;<a href="/sample/menu2">예시2</a>&nbsp;/&nbsp;<a href="/sample/menu3">예시3</a>&nbsp;/&nbsp;<a href="/sample/menu4">예시4</a>&nbsp;/&nbsp;<a href="/sample/menu5">예시5</a>
				<br>
				<h5>화면구성</h5>
				<a href="/sample/screen">예시</a>
				<br/>
				<h5>리스트화면</h5>
				<a href="/sample/list1">정보조회</a>&nbsp;/&nbsp;<a href="/sample/list2">팝업</a>&nbsp;/&nbsp;<a href="/sample/list3">의뢰작성</a>&nbsp;/&nbsp;<a href="/sample/list4">일괄업로드</a>&nbsp;/&nbsp;<a href="/sample/list5">검색</a>&nbsp;/&nbsp;<a href="/sample/list6">탭 • 소계</a>&nbsp;/&nbsp;<a href="/sample/list7">탭 • 검색 • 버튼선택 • 입력</a>&nbsp;/&nbsp;<a href="/sample/list8">리스트안내문구</a>&nbsp;/&nbsp;<a href="/sample/list9">리스트헤더유지</a>
				<br/>
				<h5>등록화면</h5>
				<a href="/sample/regist1">신규자산등록</a>&nbsp;/&nbsp;<a href="/sample/regist2">등록된자산목록</a>
				<br/>
				<h5>탭</h5>
				<a href="/sample/tab1">검색</a>&nbsp;/&nbsp;<a href="/sample/tab2">상세_변경이력</a>&nbsp;/&nbsp;<a href="/sample/tab3">상세_자산정보탭</a>
				<br/>
				<h5>팝업</h5>
				<a href="/sample/popup1">모달</a>&nbsp;/&nbsp;<a href="/sample/popup2">알림메세지창</a>&nbsp;/&nbsp;<a href="/sample/popup3">팝업_경고</a>&nbsp;/&nbsp;<a href="/sample/popup4">팝업_에러</a>&nbsp;/&nbsp;<a href="/sample/popup5">팝업_확인</a>&nbsp;/&nbsp;<a href="/sample/popup6">팝업_호출버튼</a>&nbsp;/&nbsp;<a href="/sample/popup7">팝업_뷰</a>&nbsp;/&nbsp;<a href="/sample/popup8">팝업_이미지뷰</a>
				<br/>
				<h5>체크박스 및 버튼</h5>
				<a href="/sample/btn1">선택박스(다중)</a>&nbsp;/&nbsp;<a href="/sample/btn2">비활성화버튼</a>&nbsp;/&nbsp;<a href="/sample/btn3">공통_라디오버튼</a>
				<br/>
				<h5>게시판</h5>
				<a href="/sample/board1">등록</a>&nbsp;/&nbsp;<a href="/sample/board2">상세</a>
				<br/>
				<h5>기타</h5>
				<a href="/sample/etc1">로딩</a>&nbsp;/&nbsp;<a href="/sample/etc2">메일폼</a>&nbsp;/&nbsp;<a href="/sample/etc3">달력</a>
				<br/>
				<h5>팝업호출</h5>
				<a href="#;" id="openUserPopup">사용자팝업 호출</a>
				<br/>
				사용자id&nbsp;<input type="text" id="userId" name="userId"/>&nbsp;&nbsp;사용자명&nbsp;<input type="text" id="userNm" name="userNm"/>&nbsp;
				<h5>투자정보 일괄 업로드 호출</h5>
				<a href="#;" id="openInvPopup">투자정보 일괄 업로드 호출</a>
				<br/><br/><br/>
				<h5>공통코드팝업(트리)</h5>
				<a href="#;" id="openCommCodePopup">공통코드팝업(트리) 호출</a>
				<br/>
				코드 &nbsp;<input type="text" id="codeCd" name="codeCd"/>&nbsp;&nbsp;코드명&nbsp;<input type="text" id="codeNm" name="codeNm"/>&nbsp;
			</div>
			
			
		</div>
	</div>
</html>