<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout/none">

<head>
    <title>Sample Page</title>
</head>

<!-- css -->
<th:block layout:fragment="css">
	<link rel="stylesheet" href="css/style.css" />
</th:block>

<th:block layout:fragment="script">
	<script>
		$(function(){
			
			// 사용자 팝업 호출 
    	    $("#openUserPopup").on("click", function() { 
    	        // 팝업 호출 url
    	        var url = "/common/popup/userPopup";
    	        var popId = "userPopup";
    	        var args = {};
    	        args.width = 650;
    	        args.height = 416;
    	        args.fullscreen = "no";
    	        args.resizable = "no";
    	        
    	        openPopup(popId, url, args);
    	    });
			
			//투장정보 일괄 업로드 팝업 호출 
    	    $("#openInvPopup").on("click", function() { 
    	        // 팝업 호출 url
    	        var url = "/common/popup/invUploadPopup";
    	        var popId = "invUpPopup";
    	        var args = {};
    	        args.width = 1200;
    	        args.height = 710;
    	        args.fullscreen = "no";
    	        args.resizable = "no";
    	        
    	        openPopup(popId, url, args);
    	    });
			
			//공통코드팝업(트리) 호출 
    	    $("#openCommCodePopup").on("click", function() { 
    	        // 팝업 호출 url
    	        var url = "/common/popup/commCodePopup";
    	        var popId = "commCodePopup";
    	        var args = {
    	        };
    	        args.width = 500;
    	        args.height = 450;
    	        args.fullscreen = "no";
    	        args.resizable = "no";
    	        
    	        var param = {};
    	        param.id    = "codeGrpId";
    	        param.value = "AS_CLASS";
    	        
    	        openPopup(popId, url, args, param);
    	    });
			
			//달력팝업 호출 
    	    $("#openCalendarPopup").on("click", function() { 
    	        // 팝업 호출 url
    	        var url = "/common/popup/calendarPopup";
    	        var popId = "calendarPopup";
    	        var args = {
    	        };
    	        args.width = 380;
    	        args.height = 260;
    	        args.fullscreen = "no";
    	        args.resizable = "no";
    	        
    	        openPopup(popId, url, args);
    	    });
			
			//달력팝업 호출 
    	    $("#openApprovalPopup").on("click", function() { 
    	        // 팝업 호출 url
    	        var url = "/approval/approvalPopup";
    	        var popId = "approvalPopup";
    	        var args = {};
    	        args.width = 1100;
    	        args.height = 800;
    	        args.fullscreen = "no";
    	        args.resizable = "no";
    	        
    	        var param = {};
    	        param.id = 'asset_no';
    	        param.value = 'A2021010001'	//자산번호
   	        
    	        openPopup(popId, url, args, param);
    	    });
			
    		// 자산선택(팝업-공통) 호출
    	    $("#openAsetMasPopup").on("click", function() { 
    	        // 팝업 호출 url
    	        var url = "/common/popup/asetMasPopup";
    	        var popId = "AsetMasPopup";
    	        var args = {
    	        };
    	        args.width = 1300;
    	        args.height = 800;
    	        args.fullscreen = "no";
    	        args.resizable = "no";
    	        
    	        openPopup(popId, url, args);
    	    });
			
		});
		
		
		//팝업에서 받은 결과 처리
		function setResult(obj) {
			$("#userId").val(obj.userId);
			$("#userNm").val(obj.userNm);
		}
		
		//팝업에서 받은 결과 처리
		function setResult2(obj) {
			$("#codeCd").val(obj.codeCd);
			$("#codeNm").val(obj.codeNm);
		}
		
		//팝업에서 받은 결과 처리
		function setResult3(obj) {
			$("#deptCd").val(obj.deptCd);
			$("#deptNm").val(obj.deptNm);
		}
		
		//팝업에서 받은 결과 처리
		function setReturnDate(dateStr) {
			$("#selDate").val(dateStr);
		}
		
		function selectAsetList(obj) {
			console.log("데이터 전달 확인"+JSON.stringify(obj));
			$("#asetNo").val(obj[0].asetNo);
			$("#asetNm").val(obj[0].asetNm);
			$("#asetType1").val(obj[0].asetType1);
			$("#asetType2").val(obj[0].asetType2);
			$("#asetType3").val(obj[0].asetType3);
			$("#mftco").val(obj[0].mftco);
			$("#model").val(obj[0].model);
			$("#sn").val(obj[0].sn);
			$("#bizDeptCd").val(obj[0].bizDeptCd);
			$("#deptCd1").val(obj[0].deptCd);
			$("#chrgr").val(obj[0].chrgr);
			$("#asetStus").val(obj[0].asetStus);
		}
		
	  $( function() {
   	    $( "#selDate" ).datepicker();
   	  } );
	</script>
</th:block>

	<div layout:fragment="content">
		<!-- contents_head -->
		<div class="bc">Home &gt; Menu &gt; 샘플자료</div>
		<h3>화면 개발 자료</h3>
		<!-- //contents_head -->
		<div>
			<div>
				<h5>메뉴</h5>
				<a href="/sample/menu1">예시1</a>&nbsp;/&nbsp;<a href="/sample/menu2">예시2</a>&nbsp;/&nbsp;<a href="/sample/menu3">예시3</a>&nbsp;/&nbsp;<a href="/sample/menu4">예시4</a>&nbsp;/&nbsp;<a href="/sample/menu5">예시5</a>
				<br>
				<h5>화면구성</h5>
				<a href="/sample/screen">예시</a>
				<br/>
				<h5>리스트화면</h5>
				<a href="/sample/list1">정보조회</a>&nbsp;/&nbsp;<a href="/sample/list2">팝업</a>&nbsp;/&nbsp;<a href="/sample/list3">의뢰작성</a>&nbsp;/&nbsp;<a href="/sample/list4">일괄업로드</a>&nbsp;/&nbsp;<a href="/sample/list5">검색</a>&nbsp;/&nbsp;<a href="/sample/list6">탭 • 소계</a>&nbsp;/&nbsp;<a href="/sample/list7">탭 • 검색 • 버튼선택 • 입력</a>&nbsp;/&nbsp;<a href="/sample/list8">리스트안내문구</a>&nbsp;/&nbsp;<a href="/sample/list9">리스트헤더유지</a>
				<br/>
				<h5>등록화면</h5>
				<a href="/sample/regist1">신규자산등록</a>&nbsp;/&nbsp;<a href="/sample/regist2">등록된자산목록</a>
				<br/>
				<h5>탭</h5>
				<a href="/sample/tab1">검색</a>&nbsp;/&nbsp;<a href="/sample/tab2">상세_변경이력</a>&nbsp;/&nbsp;<a href="/sample/tab3">상세_자산정보탭</a>
				<br/>
				<h5>팝업</h5>
				<a href="/sample/popup1">모달</a>&nbsp;/&nbsp;<a href="/sample/popup2">알림메세지창</a>&nbsp;/&nbsp;<a href="/sample/popup3">팝업_경고</a>&nbsp;/&nbsp;<a href="/sample/popup4">팝업_에러</a>&nbsp;/&nbsp;<a href="/sample/popup5">팝업_확인</a>&nbsp;/&nbsp;<a href="/sample/popup6">팝업_호출버튼</a>&nbsp;/&nbsp;<a href="/sample/popup7">팝업_뷰</a>&nbsp;/&nbsp;<a href="/sample/popup8">팝업_이미지뷰</a>
				<br/>
				<h5>체크박스 및 버튼</h5>
				<a href="/sample/btn1">선택박스(다중)</a>&nbsp;/&nbsp;<a href="/sample/btn2">비활성화버튼</a>&nbsp;/&nbsp;<a href="/sample/btn3">공통_라디오버튼</a>
				<br/>
				<h5>게시판</h5>
				<a href="/sample/board1">등록</a>&nbsp;/&nbsp;<a href="/sample/board2">상세</a>
				<br/>
				<h5>기타</h5>
				<a href="/sample/etc1">로딩</a>&nbsp;/&nbsp;<a href="/sample/etc2">메일폼</a>&nbsp;/&nbsp;<a href="/sample/etc3">달력</a>
				<br/>
				<h5>팝업호출</h5>
				<a href="#;" id="openUserPopup">사용자팝업 호출</a>
				<br/>
				사용자id&nbsp;<input type="text" id="userId" name="userId"/>&nbsp;&nbsp;사용자명&nbsp;<input type="text" id="userNm" name="userNm"/>&nbsp;
				<h5>투자정보 일괄 업로드 호출</h5>
				<a href="#;" id="openInvPopup">투자정보 일괄 업로드 호출</a>
				<br/><br/><br/>
				<h5>공통코드팝업(트리)</h5>
				<a href="#;" id="openCommCodePopup">공통코드팝업(트리) 호출</a>
				<br/>
				코드 &nbsp;<input type="text" id="codeCd" name="codeCd"/>&nbsp;&nbsp;코드명&nbsp;<input type="text" id="codeNm" name="codeNm"/>&nbsp;
				<br/><br/><br/>
				<h5>달력팝업</h5>
				<a href="#;" id="openCalendarPopup">달력팝업 호출</a>
				선택한 날짜 &nbsp;<input type="text" id="selDate" name="selDate"/> 
				<br/><br/><br/>
				<h5>결재팝업</h5>
				<a href="#;" id="openApprovalPopup">결재팝업 호출</a>
				<br/><br/><br/>
				<h5>자산 선택(팝업-공통)</h5>
				<a href="#;" id="openAsetMasPopup">자산 선택(팝업-공통)</a>
				<br/>
				자산번호 &nbsp;<input type="text" id="asetNo" style="width:60px;"/>&nbsp;&nbsp;
				자산명 &nbsp;<input type="text" id="asetNm" style="width:60px;"/>&nbsp;&nbsp;
				<br/><br/>
				공통코드(자산유형1) &nbsp;<input type="text" id="asetType1" style="width:60px;"/>&nbsp;&nbsp;
				공통코드(자산유형2) &nbsp;<input type="text" id="asetType2" style="width:60px;"/>&nbsp;&nbsp;
				공통코드(자산유형3) &nbsp;<input type="text" id="asetType3" style="width:60px;"/>&nbsp;&nbsp;
				<br/><br/>
				제조사 &nbsp;<input type="text" id="mftco" style="width:60px;"/>&nbsp;&nbsp;
				모델 &nbsp;<input type="text" id="model" style="width:60px;"/>&nbsp;&nbsp;
				제품번호 &nbsp;<input type="text" id="sn" style="width:60px;"/>&nbsp;&nbsp;
				<br/><br/>
				사업부 &nbsp;<input type="text" id="bizDeptCd" style="width:60px;"/>&nbsp;&nbsp;
				부서코드 &nbsp;<input type="text" id="deptCd1" style="width:60px;"/>&nbsp;&nbsp;
				담당자 &nbsp;<input type="text" id="chrgr" style="width:60px;"/>&nbsp;&nbsp;
				공통코드(자산상태) &nbsp;<input type="text" id="asetStus" style="width:60px;"/>&nbsp;&nbsp;
			</div>
			
		</div>
	</div>
</html>