<!DOCTYPE html>
<html 	lang="ko" xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout/default">

	<head>
	    <title>[[#{screen.text.user.screen.title}]]</title>
	</head>
        
	<!-- css -->
	<th:block layout:fragment="css">	
	    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600,400' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/theme.css" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.0.8/css/tabulator.min.css" rel="stylesheet"> 
	</th:block>    
	
	<th:block layout:fragment="script">
		<script type="text/javascript" src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
		<script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.0.7/dist/js/tabulator.min.js"></script>
		
	    <script>

		    let grid;
		    let requestUrl = "/system/user/usermng/userlist";	    

		    $(function(){
		    	
	            //drag 활성화
		     	$("#detailForm").draggable();
		     	$(".modal-body").draggable();		    	
		     	
		     	getCommCode("#clpstNm", "USER_CLPST", "1", "");
				
				grid = new Tabulator("#data-table", {
				 	locale:true,
				    langs: $.commGridLocalization(),								
				 	height:"560",
				 	layout:"fitColumns",
				 	movableColumns:true,
				 	pagination:true,
				 	paginationMode:"remote",
				 	ajaxURL:requestUrl,			
				 	ajaxParams: getParams(),
				 	paginationSize:20,				    
				 	paginationSizeSelector:[20, 50, 100, 500],			
				 	dataSendParams:{
				        "page":"currentPage",
				        "size":"numOfRows"
				    } ,							    
				 	placeholder:"No Data Set",				 	
				 	ajaxResponse:function(url, params, res){
				 		$(".result").text("Totals : " + res.condition.totalCount);				 						 						 		
				 		return res;
				 	},					 	
				 	columns:[ 
			 	        {formatter:"rowSelection", titleFormatter:"rowSelection", hozAlign:"center", headerHozAlign:"center", 
			 	        	headerSort:false, width:30, cellClick:function(e, cell){
			 	         		cell.getRow().toggleSelect();
			 	        }},					 		
		                { title: "[[#{screen.text.user.id}]]"      	, field: "userId"  	, hozAlign: "center" 	, headerHozAlign:"center" },
		                { title: "[[#{screen.text.user.nm}]]"      	, field: "userNm"  , hozAlign: "left"   	, headerHozAlign:"center" },
		                { title: "[[#{screen.text.user.dept}]]"    	, field: "deptNm"  , hozAlign: "left"   		, headerHozAlign:"center" },
		                { title: "[[#{screen.text.user.position}]]", field: "clpstNm" , hozAlign: "left"   		, headerHozAlign:"center" },
		                { title: "[[#{screen.text.user.email}]]"   , field: "email"   	, hozAlign: "left"   	, headerHozAlign:"center" },
		                { title: "[[#{screen.text.user.telno}]]"   	, field: "telno"   		, hozAlign: "center" , headerHozAlign:"center" },
		                { title: "[[#{screen.text.user.sex}]]"     	, field: "sexNm"	, hozAlign: "center" , headerHozAlign:"center" },
		                { title: "[[#{screen.text.user.useyn}]]"   , field: "useYn"   	, hozAlign: "center" , headerHozAlign:"center" },
		                { title: "[[#{screen.text.comm.regr}]]"  , field: "regr"    		, hozAlign: "center",  headerHozAlign:"center" },
		                { title: "[[#{screen.text.comm.regdt}]]", field: "regdt"   		, hozAlign: "center",  headerHozAlign:"center" },
		                { title: "[[#{screen.text.comm.updr}]]" , field: "updr"    		, hozAlign: "center",  headerHozAlign:"center" },
		                { title: "[[#{screen.text.comm.updt}]]" , field: "updt"    		, hozAlign: "center",  headerHozAlign:"center" },
				 	],
				});				
				
				/*------------------------- Grid Events -------------------------*/
				//row click
				grid.on("rowClick", function(e, row){	
					var rowData = row.getData();		
					showDetailForm(row.getData());
				});					
				
				/*--------------------- Main Button Events ---------------------*/
				
	    	    //조회
		        $(".btn_srch").on("click",function (){
		        	grid.setData(requestUrl, getParams());
		        });				
				
				//등록
	    	    $(".btn_add").click(function() {
	    	    	showDetailForm();
	    	    });
		        
				//삭제
	    	    $(".btn_del").click(function() {
	    	    	
	    	    	let selectedData  = grid.getSelectedData();	    	    	
	    	    	
	    	    	if(selectedData.length == 0){
	    	    		alert('[[#{screen.info.status.no.selected.item}]]');
	    	    		return;
	    	    	}	    	    	
	    	    		    	    	
	    	    	let params = {
		    	    		url : "/system/user/usermng/userdelete",
		    	    		reqType : 'POST',
		    	    		data : JSON.stringify(selectedData),
		    	    	}

	    			$.request(params)
    				 .then((res) => {
	    					alert("[[#{screen.info.status.delete.success}]]");
	    					$('.btn_srch').click();
    				 })
    				 .catch((error) => {
	    					alert("[[#{screen.info.status.error.occur}]]");
	    					console.log(error);
    				 }) 	    	    	
	    	    });
	    	    
		     	// 팝업창 저장 버튼 처리
	            $('.save_btn').on('click', function (e) {
	                var item = {};
	                item.userId 		= $(".detail_table").find("#userId").val();
	                item.userNm 	= $(".detail_table").find("#userNm").val();
	                item.userPw 	= $(".detail_table").find("#userPw").val();
	                item.passRe 	= $(".detail_table").find("#passRe").val();
	                item.deptCd 	= $(".detail_table").find("#deptCd").val();
		    		item.clpst			= $(".detail_table").find("#clpstNm").val();
		    		item.email 		= $(".detail_table").find("#email").val();
		    		item.telno 		= $(".detail_table").find("#telno").val();
		    		item.sex		 	= $(".detail_table").find("#sex").val();
		    		item.useYn	 	= $(".detail_table").find("#useYn").val();
		    	
		    		if(validationCheck()){
		    			
				    	if(save_mode == "insert") {
				    		url = "/system/user/usermng/userinsert";
				    	}else if(save_mode == "update") {
				    		url = "/system/user/usermng/userupdate";
				    	}
		    			
		    	    	let params = {
			    	    		url : url,
			    	    		reqType : 'POST',
			    	    		data : JSON.stringify(item),
			    	    	}
		    	    	
		    			$.request(params)
	    				 .then((res) => {
	    		                $("#detailForm").hide();	    					 	    					 
	    						$('.btn_srch').click();
	    				 })
	    				 .catch((error) => {
	    					alert("[[#{screen.info.status.error.occur}]]");
	    					console.log(error);
	    				 })		    			
		    		}		
	            });
	
	          	//수정 버튼
	    	    $(".btn_update").click(function() {
	    	    	let selectedData  = grid.getSelectedData();	    
	    	    	if(selectedData.length > 0){
	    	    		showDetailForm(selectedData[0]);
	    	    	}	    	    	
	    	    });
	          	
	    	 	//검색어 입력후 키를 누를 경우
	            $("#searchText").keydown(function(key) {
	                //키의 코드가 13번일 경우 (13번은 엔터키)
	                if (key.keyCode == 13) {
	                	$('.btn_srch').click();
	                }
	            });
	    	 
	          	//리셋 버튼
	    	    $(".btn_reset").click(function() {
	    	    	$("#searchText").val("");
	    	    });
		     	
		     	// 팝업창 닫기 버튼 처리
	            $('.close_btn').on('click', function (e) {
	                $("#detailForm").hide();
	            });
		     	
	            
	          //모달 팝업 호출 
	    	    $("#openModalPopup").on("click", function() { 
					console.log("openModelPopup..............");
					
	    	        // 팝업 호출 url
	    	        var url = "/common/popup/deptPopup";
	    	        
	    	        // 팝업 호출
	    	        $(".modal-body").load(url, function() {
	    	        	
	    	        	var modal =  $(".modal-body");
	    	        	modal.center();
	    	        	
	    	            $("#ModalPopup").css( "style", "width:'100%'" );
	    	            $("#ModalPopup").css( "style", "height:'100%'" );
	    	            $("#ModalPopup").css( "style", "top:'0px'" );
	    	            $("#ModalPopup").css( "style", "left:'0px'" );
	    	            $("#ModalPopup").css( "zIndex", 999 );
	    	            $("#ModalPopup").show(); 
	    	        }); 					
					
	    	    });
	          
				$("#excelDown").on("click", function(){
					grid.download("xlsx", "UserList.xlsx", {sheetName:"사용자 리스트"});					
				});	    	    
	    	});
		    
		    //검색조건
	        function getParams(){
	        	return {
	        		"searchText" : $("#searchText").val(),
	        	}   	
	         }   		    
		    
		    //상세팝업 초기화
		    function clearDetailForm() {
	    	    $(".detail_table").find("#userId").val("");
	    		$(".detail_table").find("#userNm").val("");
	    		$(".detail_table").find("#userPw").val("");
	    		$(".detail_table").find("#passRe").val("");
	    		$(".detail_table").find("#deptCd").val("");
	    		$(".detail_table").find("#clpstNm").val("");
	    		$(".detail_table").find("#deptNm").val("");
	    		$(".detail_table").find("#email").val("");
	    		$(".detail_table").find("#telno").val("");
	    		$(".detail_table").find("#sex").val("");
	    		$(".detail_table").find("#useYn").val("");
	    		save_mode = "";
		    }
		    
		    //공통코드-selectbox
			function getCommCode(id, code, level, upperCodeId){				
				let url = "/common/comm/selectBox";
				let reqType = 'GET';
				$.commRequestSelectbox(url, reqType, id, code, level, upperCodeId);			
			}		    
		    
		    let save_mode = "";
		    //상세팝업 보여주기(등록/수정)
		    function showDetailForm(item) {
		    	
		    	clearDetailForm();
		    	let title = "[[#{screen.text.user.regist.title}]]";
		    	
		    	
		    	 if( item != null ) {
		    		 title = "[[#{screen.text.user.modify.title}]]";
		    		 save_mode = "update";

		    		 $(".detail_table").find("#userId").val(item.userId);
		    		 $(".detail_table").find("#userId").attr("readOnly", true);
		    		 $(".detail_table").find("#userNm").val(item.userNm);
		    		 $(".detail_table").find("#deptNm").val(item.deptNm);
		    		 $(".detail_table").find("#deptCd").val(item.deptCd);
		    		 $("#clpstNm option:contains("+item.clpstNm+")").prop("selected", true).val();
		    		 $(".detail_table").find("#email").val(item.email);
		    		 $(".detail_table").find("#telno").val(item.telno);
		    		 $(".detail_table").find("#sex").val(item.sex);
		    		 $(".detail_table").find("#useYn").val(item.useYn);
		    	 } else {
		    		 save_mode = "insert";
		    		 $(".detail_table").find("#userId").attr("readOnly", false);
		    	 }
		    		 
		    	 $(".list_head").find("#head_title").html(title);
		    	
		    	 //상세 팝업 호출
		    	 var df = $('#detailForm').css({
	                 position: 'absolute',
	                 top	 : "10px",
	                 left	 : "10px",
	                 width	 : "650px",
	                 height	 : "auto",
	                 border  : "2px solid navy"
	             });
		    	 //df = center(df);
		    	 df.center();
	             df.show();		    	
		    } 
		    
			//모달 팝업 리턴값 세팅
		    function setResult(rst){ 
		    	$(".detail_table #deptCd").val(rst.deptCd);
		    	$(".detail_table #deptNm").val(rst.deptNm);
			}
			
			//모달 팝업 닫기
		    function closePopup(obj){ 
				$(obj).hide();
			}

			function validationCheck(){
				
	    		let required    = ["userId", "userNm", "userPw", "passRe"   ,"deptCd", "clpstNm", "email", "useYn"];
	    		let requiredStr = ["[[#{screen.text.user.id}]]", 
	    						   "[[#{screen.text.user.nm}]]", 
	    						   "[[#{screen.text.user.pw}]]", 
	    						   "[[#{screen.text.user.pw.check}]]", 
	    						   "[[#{screen.text.user.dept}]]", 
	    						   "[[#{screen.text.user.position}]]", 
	    						   "[[#{screen.text.user.email}]]",
	    						   "[[#{screen.text.comm.useyn}]]"
	    						   ];
	    		
	    		for(var i=0; i<required.length; i++){
	    			console.log(required[i] + " - " + $.isNull($("#" + required[i]).val()));
	    			
	    			if($.isNull($("#" + required[i]).val())) {
	    				alert(requiredStr[i]);
	    				$("#" + required[i]).focus();
	    				return false;
	    			}
	    		}
	    		
	    		if($("#userPw").val() != $("#passRe").val()) {
	    			alert("[[#{screen.info.status.pw.not.match}]]");
	    			$("#userPw").focus();
	    			return false;
	    		}	    		
	    		
	    		return true;
			}
	    </script>	
	</th:block>

	<div layout:fragment="content">
		<!-- contents_head -->
		<div class="bc">Home &gt; <span th:text="${menuDesc}"></span></div>
		<h3><span th:text="${menuNm}"></span></h3>
		<!-- //contents_head -->

		<!-- search -->
		<div class="srch_wrap single">
			<table class="srch_table">
				<colgroup>
					<col width="15%"/>
					<col width="15%"/>
					<col width="70%"/>
				</colgroup>
				<tr>
					<td>
						<div style="display: flex; align-items: stretch;">
							<label for="searchText" class="menu_label" style="margin-top: 3px;">[[#{screen.text.user.nm}]]</label>
							<input id="searchText" type="text"  placeholder="검색어를 입력해주세요.">
						</div>
					</td>
					<td class="search" colspan="4">
						<!-- [button search] -->
						<header th:replace="layout/fragments/button_srch :: buttonSrchFragment"></header>
					</td>
				</tr>
			</table>
		</div>
		
		<div class="list_head">
			<div class="result">Totals : 0,000</div>
			<!-- [button cud ] -->
			<header th:replace="layout/fragments/button_cud :: buttonCudFragment"></header>
		</div>

		<!-- list -->
		<div id="data-table"></div>
		<input type="hidden" id="curr_Idx"/>
		<!-- //list -->
		
		<!-- modal -->
		<div class="modal" id="ModalPopup" role="dialog" tabindex="-1" style="position:absolute;left:0px;top:0px;width:100%;height:100%;display:none;background-color: rgb(0,0,0,0.5);">
		        <div class="modal-body" style="position:absoulte;width:650px;height:300px;">
		        </div>
		</div>
		<!-- //modal -->
	
		<!-- detail popup -->
		<div id="detailForm" class="list_head" style="position:absoulte;z-index:1;display:none;">
			<div id="container">
				<div class="list_head">
					<h6><span id="head_title" ></span></h6>
					<!-- list_button -->
					<div class="button">
						<a class="btn_list save_btn">[[#{screen.text.comm.save}]]</a>
						<a class="btn_list close_btn">[[#{screen.text.comm.close}]]</a>
					</div>
					<!-- list_button -->
				</div>
				<!-- //list_head -->
				
				<!-- detail_table -->
				<table class="detail_table ">
					<colgroup>
						<col style="width:20%" />
						<col style="width:30%" />
						<col style="width:20%" />
						<col style="width:30%" />
					</colgroup>
					<tr>
						<th>[[#{screen.text.user.id}]]</th>
						<td><input type="text" id="userId" style="width:100%;"/></td>
						<th>[[#{screen.text.user.nm}]]</th>
						<td><input type="text" id="userNm" style="width:100%;"/></td>
					</tr>
					<tr>
						<th>[[#{screen.text.user.pw}]]</th>
						<td><input type="password" id="userPw" style="width:100%;"/></td>
						
						<th>[[#{screen.text.user.pw.check}]]</th>
						<td><input type="password" id="passRe" style="width:100%;"/></td>
					</tr>
					<tr>
						<th>[[#{screen.text.user.clpst}]]</th>
						<td>
							<select id="clpstNm" style="width:100%;">
								<option value="">[[#{screen.text.comm.choice}]]</option>
							</select>
						</td>
						<th>[[#{screen.text.user.dept}]]</th>
						<td>
							<div class="form_wrap_ico">
								<input type="text" id="deptNm" style="width:40%;" readOnly/>&nbsp;<input type="text" id="deptCd" style="width:50%;" readOnly />
								<a href="#" id="openModalPopup" ><img title="[[#{screen.text.user.img.dept}]]" class="ico_search" alt="Search" src="/images/common/ico_search.png"></a>
							</div>
						</td>
					</tr>
					<tr>
						<th>[[#{screen.text.user.email}]]</th>
						<td><input type="text" id="email" style="width:100%;"/></td>
						<th>[[#{screen.text.user.telno}]]</th>
						<td><input type="text" id="telno" style="width:100%;"/></td>
					</tr>
					<tr>
						<th>[[#{screen.text.user.sex}]]</th>
						<td>
							<select id="sex" style="width:100%;">
								<option value="M">[[#{screen.text.user.male}]]</option>
								<option value="F">[[#{screen.text.user.female}]]</option>
							</select>
						</td>
						<th>[[#{screen.text.user.useyn}]]</th>
						<td >
							<select id="useYn" style="width:100%;">
								<option value="Y">[[#{screen.text.user.use}]]</option>
								<option value="N">[[#{screen.text.user.unused}]]</option>
							</select>
						</td>
					</tr>
				</table>
				<!-- //detail_table -->
	     	</div>
     	</div>
     	<div id="excelDownTarget"></div>
	</div>
</html>