<!DOCTYPE html>
<html 	lang="ko" xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout/default">

	<head>
	    <title>[[#{screen.text.user.screen.title}]]</title>
	</head>
        
	<!-- css -->
	<th:block layout:fragment="css">
	    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600,400' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/jsgrid.css" />
		<link rel="stylesheet" href="/css/theme.css" />
	</th:block>
	
	<th:block layout:fragment="script">
		<script src="/js/jsgrid/db.js"></script>
	    <script src="/js/jsgrid/jsgrid.core.js"></script>
	    <script src="/js/jsgrid/jsgrid.load-indicator.js"></script>
	    <script src="/js/jsgrid/jsgrid.load-strategies.js"></script>
	    <script src="/js/jsgrid/jsgrid.sort-strategies.js"></script>
	    <script src="/js/jsgrid/jsgrid.field.js"></script>
	    <script src="/js/jsgrid/fields/jsgrid.field.text.js"></script>
	    <script src="/js/jsgrid/fields/jsgrid.field.number.js"></script>
	    <script src="/js/jsgrid/fields/jsgrid.field.select.js"></script>
	    <script src="/js/jsgrid/fields/jsgrid.field.checkbox.js"></script>
	    <script src="/js/jsgrid/fields/jsgrid.field.control.js"></script>	
	    <script>
	    
	    let numOfRows = 20;
	    let pageIdx = 1;
	    var status = true;
        var selectedItems = [];
	 	var insertedItems = [];
	 	var updatedItems = [];
	    
	 	// 공통코드 그룹 출력                                                                                    
		$(document).ready(function(){                                                                    
			let url = '/system/user/codeClpstList';                                                      
			let reqType = 'POST';                                                                        
			let data = {                                                                                 
				"email" : ""                                                                             
			};                                                                                           
			$.commRequest(url, reqType, JSON.stringify(data))                                            
				.then((res) => {                                                                         
					$.each(res.data, function(i){                                                        
						var clpstList = res.data[i];
						$("#clpstNm").append('<option value="'+clpstList.codeId+'">' + clpstList.codeNm+ '</option>');
					})
				})
				.catch((error) => {                                                                      
					alert('[[#{screen.info.status.error.search.comcode}]]');                                                                  
				});
		});
	 	
	    $(function(){
	    	$("#jsGrid").jsGrid({
	        	height: "600",
                width: "100%",
                filtering: false,
                editing: true,
                inserting: true,
                sorting: true,
                paging: true,
                sorter: "number",
                pageIndex:pageIdx,
                pageFirstText:'<a class="first"><img src="/images/common/btn_pn_first.gif"></img></a>',
                pagePrevText: '<a class="pre"><img src="/images/common/btn_pn_pre.gif"></img></a>',
                pageNextText: '<a class="next"><img src="/images/common/btn_pn_next.gif"></img></a>',
                pageLastText: '<a class="last"><img src="/images/common/btn_pn_last.gif"></img></a>',
                pagerFormat: "{first} {prev} {pages} {next} {last}",
                pagerContainer:null,
                pageLoading: true,
                pager: "#pager",
                autoload: status,
                pageSize: numOfRows,
                pageButtonCount: 5,
                loadonce: true,
                updateOnResize: true, 
	            rowClick: function(args) {
	            	var target = args.event.target;
	            	
					if(target instanceof HTMLTableCellElement) {
						//detail form
						showDetailForm(args.item);
					} else {
						
					   	$("<input>").attr("type", "checkbox").attr("class","singleCheckbox")
					                .prop("checked", $.inArray(args.item.firstName, selectedItems) > -1)
					                .on("change", function () {
						  	 $(this).is(":checked") ? selectItem($(this).parent().next().text()) : unselectItem($(this).parent().next().text());
						});
						
					}

	            }, 
	            pagerContainerClass: "paginate",
	            deleteConfirm: function(item) {
	                return "\""+item.userNm+"("+userId+")"+"\""+ "[[#{screen.info.status.delete.yn}]]";
	            },
	            controller:  {
	                loadData: function(filter) { 
	                    var d = $.Deferred();
	                    
	                    currentPage = filter.pageIndex; 
               
	                    let url = "/system/user/usermng/userlist";
						let reqType = 'GET';	
						let data = {
            				"currentPage": filter.pageIndex,
            				"numOfRows"  : numOfRows,
            				"searchText" : $("#searchText").val(),
            				"sortField"  : filter.sortField,
            				"sortOrder"  : filter.sortOrder
            			}
						$.commRequest(url, reqType, data)
							.then((res) => {
								$(".result").text("Totals : " + res.condition.totalCount);
								d.resolve({data : res.data, itemsCount: res.condition.totalCount});
							})
							.catch((error) => {
								console.log('[[#{screen.info.status.error.search.user}]]');
							});
	                    
	                    return d.promise();
	                },
	            updateItem: function(item) { 
            		//updatedItems.push(item);
            		pageIdx = $("#jsGrid").jsGrid("option", "pageIndex");
                	//$("#jsGrid").jsGrid("option", "pageIndex", $("#jsGrid").jsGrid("option", "pageIndex"));
                	let url = "/system/user/usermng/userupdate";
                	let reqType = 'post';
                	/* let userInfo = {
                		"userInfo":JSON.stringify(item)
                	};  */ 
                	$.commRequest(url, reqType, JSON.stringify(item))
                		.then((res) => {
                			console.log(res);
                			//$(".save_btn").click();
                			alert("[[#{screen.info.status.update.success}]]");
                			$("#jsGrid").jsGrid("loadData");
                		})
                		.catch((error) => {
                			console.log(error);
                		})
                	
                },
             	deleteItem: function(item) { 
        			let url = "/system/user/usermng/userdelete";
        			let reqType = 'POST';
        			$.commRequest(url, reqType, JSON.stringify(item))
        				.then((res) => {
        					console.log(res);
        				})
        				.catch((error) => {
        					console.log(error);
        				})
        			
            	},
             	insertItem: function(item) { 
        		    let url = "/system/user/usermng/userinsert";
        		    let reqType = 'POST';
        		    /* let data = {
                   		"userInfo":	JSON.stringify(item)
                   	}; */
        		    //console.log(">>>>>> "+JSON.stringify(item));
        		    $.commRequest(url, reqType, JSON.stringify(item))
        		    	.then((res) => {
        		    		console.log(res);
        		    		$("#jsGrid").jsGrid().trigger("loadData"); 
        		    	})
        		    	.catch((error) => {
        		    		console.log(error);
        		    	})
            	    }
        		    
            	},
	            fields: [
	            	{  name : "chk"
	                	 , align: "center"
	                	 , width: 20
	                	 , title: ""
	                	 , editing: false
	                	 , sorting: false
	                	 , filtering: false
	                	 , itemTemplate: function(value, item) {
	                       return $("<input>").attr("type", "checkbox").attr("class","singleCheckbox")
	                       .prop("checked", $.inArray(item.firstName, selectedItems) > -1)
	                       .on("change", function () {
	  					  	 $(this).is(":checked") ? selectItem($(this).parent().next().text()) : unselectItem($(this).parent().next().text());
	  					  	 });
	            		   }
	                	 , headerTemplate : function ()  { 
						  	 return  $("<input>").attr("type", "checkbox").attr("id","selectAllCheckbox")
		                     .on("change", function (item) {
		             	    	selectedItems = [];
		            	    	if(this.checked) { // check select status
		            	            $('.singleCheckbox').each(function() { 
		            	                this.checked = true;   
		            	                selectItem($(this).parent().next().text());           
		            	            });			         
		            	        }else {
		            	        	
		            	            $('.singleCheckbox').each(function() { 
		            	                this.checked = false;      
		            	                unselectItem(item);
		            	            });  
		            	            selectedItems = [];
		            	        }
		    				   });
					 	 } ,
	                	},
	                { name: "userId", type: "text", width: 50, align: "center", readOnly:true , title: "[[#{screen.text.user.id}]]" },
	                { name: "userNm", type: "text", width: 90 ,align: "left"  , title: "[[#{screen.text.user.nm}]]" },
	                { name: "deptNm", type: "text", width: 80 ,align: "left"  , title: "[[#{screen.text.user.dept}]]" },
	                { name: "clpstNm", type: "text", width: 80 ,align: "left"  , title: "[[#{screen.text.user.position}]]" },
	                { name: "email", type: "text", width: 120 ,align: "left"  , title: "[[#{screen.text.user.email}]]" },
	                { name: "telno", type: "text", width: 100 ,align: "center"  , title: "[[#{screen.text.user.telno}]]" },
	                { name: "sex", type: "select", width: 50 ,align: "center"
	                	   , items: [
			                    { Name: "[[#{screen.text.user.male}]]",  Id: "M"},
			                    { Name: "[[#{screen.text.user.female}]]", Id: "F"},
			                  ],
	                  valueField: "Id", textField: "Name", autoSelect: true, selectedIndex: -1 , title: "[[#{screen.text.user.sex}]]" },
	                { name: "useYn", type: "select", width: 40 ,align: "center"
	                	   , items: [
			                    { Name: "[[#{screen.text.comm.ues}]]",  Id: "Y"},
			                    { Name: "[[#{screen.text.comm.unuesd}]]", Id: "N"},
			                  ],
	                  valueField: "Id", textField: "Name", autoSelect: true, selectedIndex: -1   , title: "[[#{screen.text.user.useyn}]]" },
	                { name: "regr", type: "text", width: 60, align: "center"  , readOnly:true, title: "[[#{screen.text.comm.regr}]]" },
	                { name: "regdt", type: "date", width: 80, align: "center", readOnly:true  , title: "[[#{screen.text.comm.regdt}]]" },
	                { name: "updr", type: "text", width: 60, align: "center", readOnly:true  , title: "[[#{screen.text.comm.updr}]]" },
	                { name: "updt", type: "date", width: 80, align: "center", readOnly:true  , title: "[[#{screen.text.comm.updt}]]" }
	                /*
	                ,
	                { name: "Country", type: "select", items: db.countries, valueField: "Id", textField: "Name" },
	                { name: "Married", type: "checkbox", title: "Is Married", sorting: false },
	                */
	                /*
	                ,
	                {   type: "control"
	                   ,updateButton: false
	                   ,deleteButton: false
	                   ,inserting: false
	                }
	                */
	            ]
	        });
	    	
		    var selectItem = function(item) {
		    	if(!selectedItems.includes(item))
			    selectedItems.push(item);
			    if($(".singleCheckbox").length == $(".singleCheckbox:checked").length) {
	             $("#selectAllCheckbox").prop("checked", true);
	         } else {
	             $("#selectAllCheckbox").prop("checked", false);
	         }
			};
		     
		    var unselectItem = function(item) {
		    	
			    selectedItems = $.grep(selectedItems, function(i) {
			    return i !== item;
			    });
			    
			    if(selectedItems.length == 0) {
			    	$('#selectAllCheckbox').attr('checked', false);
			    }
			    if($(".singleCheckbox").length == $(".singleCheckbox:checked").length) {
	             	$("#selectAllCheckbox").prop("checked", true);
		        } else {
		            $("#selectAllCheckbox").prop("checked", false);
		        }
			    
		    };
	        
	        $("#pager").on("change", function() {
	            var page = parseInt($(this).val(), 10);
	            $("#jsGrid").find(".jsgrid-table").append("<tr class='jsgrid-row'></tr>");
	        });

	        
	        ////////////////////////////////////////////////////////////////////
    	    $(".btn_add").click(function() {
    	    	//$("#jsGrid").jsGrid("option", "inserting", "true");
    	    	showDetailForm();
    	    });
	        
    	    $(".btn_del").click(function() {
    	    	
    	    	var items = [];
    	    	
    	    	//$("#jsGrid").jsGrid("deleteItem",delete_item);
   	    		var gridDatas = $("#jsGrid").jsGrid("option", "data");
    	    	$.each(selectedItems, function(index,item){
    	    		$.each(gridDatas, function(idx,rowItem){
    	    			if( item == rowItem.userId ) {
    	    				items.push(rowItem);
    	    			}
    	    		});
    	    	});
    	    	
    	    	//별도 호출
    	    	let url = "/system/user/usermng/userdelete";
    			let reqType = 'POST';
    			dataType: 'json';
    			/* let data={
    				"items": items.join(",")
    			} */
    			$.commRequest(url, reqType, JSON.stringify(items))
    				.then((res) => {
    					console.log(res);
    					alert("[[#{screen.info.status.delete.success}]]");
    					$('.btn_srch').click();
    				})
    				.catch((error) => {
    					alert("[[#{screen.info.status.error.occur}]]");
    					console.log(error);
    				})
    	    	
    	    	
    	    });
    	    
    	    $(".btn_download").click(function() {
    	    	//$("#jsGrid").jsGrid().trigger("");
    	    });
    	    
	        $(".btn_srch").on("click",function (){
	    	   $("#jsGrid").jsGrid().trigger("loadData");
	        });
	        
	        
	        
	     	// 팝업창 저장 버튼 처리
            $('.save_btn').on('click', function (e) {
                e.preventDefault();
                
                var insert_item = {};
                insert_item.userId 		= $(".detail_table").find("#userId").val();
	    		insert_item.userNm 		= $(".detail_table").find("#userNm").val();
	    		insert_item.userPw 		= $(".detail_table").find("#userPw").val();
	    		insert_item.passRe 		= $(".detail_table").find("#passRe").val();
	    		insert_item.deptCd 		= $(".detail_table").find("#deptCd").val();
	    		insert_item.clpst		= $(".detail_table").find("#clpstNm").val();
	    		insert_item.email 		= $(".detail_table").find("#email").val();
	    		insert_item.telno 		= $(".detail_table").find("#telno").val();
	    		insert_item.sex		 	= $(".detail_table").find("#sex").val();
	    		insert_item.useYn	 	= $(".detail_table").find("#useYn").val();
	    	
	    		// <--- 유효성 검사..
		    	if( save_mode == "insert" ) {	
		    		//validation check
		    		var required    = ["userId", "userNm", "userPw", "passRe"   ,"deptCd", "clpst", "email"];
		    		var requiredStr = ["[[#{screen.text.user.id}]]", 
		    						   "[[#{screen.text.user.nm}]]", 
		    						   "[[#{screen.text.user.pw}]]", 
		    						   "[[#{screen.text.user.pw.check}]]", 
		    						   "[[#{screen.text.user.dept}]]", 
		    						   "[[#{screen.text.user.position}]]", 
		    						   "[[#{screen.text.user.email}]]"];
		    		var invalidCnt = 0;
		    		var invalidMsg = "";
		    		for(var i=0; i<required.length; i++) {
		    			//console.log(required[i]+" @@@ "+insert_item[required[i]]);
		    			if( insert_item[required[i]] == "" || insert_item[required[i]] == null ) {
		    				invalidMsg += requiredStr[i]+"[[#{screen.info.status.required.input}]] \n";
		    				invalidCnt++;
		    			}
		    		}
		    		
		    		// console.log(invalidMsg);
		    		if( invalidCnt > 0 ) {
		    			alert(invalidMsg);
		    			return false;
		    		}
		    	}
		    		if( insert_item.userPw != insert_item.passRe ) {
		    			alert("[[#{screen.info.status.pw.not.match}]]");
		    			return false;
		    		}
	          // <--- 유효성 검사..	    		

		        var action = "";
		    	if(save_mode == "insert") {
		    		action = "insertItem";
		    		//insertedItems.push(insert_item); --일괄
		    	}else if(save_mode == "update") {
		    		action = "updateItem";
		    		//updatedItems.push(insert_item); --일괄
		    	}
    	
    			$("#jsGrid").jsGrid(action, insert_item);
                
	    		clearDetailForm();
                $("#detailForm").hide();
                save_mode = "";
            });
	     	
          	//일괄저장
    	    $(".btn_saveall").click(function() {
    	    	
    	    	if( insertedItems.length > 0 ) {
        			let url = "/system/user/usermng/userinsert";
        			let reqType = 'GET';
        			let data = {
        				"items": JSON.stringify(insertedItems)
        			};
        			$.commRequest(url, reqType, data)
        				.then((res) => {
        					console.log(res);
        					alert("[[#{screen.info.status.save.success}]]");
        					$(".btn_srch").click();
        					insertedItems = [];
        				})
        				.catch((error) => {
        					console.log(error);
        					alert("[[#{screen.info.status.error.occur}]] "+error);
        				})
    	    	}
    	    	
    	    	if( updatedItems.length > 0 ) {
    	    		let url = "/system/user/userumng/userupdate";
        			let reqType = 'GET';
        			let data = {
        				"items": JSON.stringify(updatedItems)
        			};
        			$.commRequest(url, reqType, data)
        				.then((res) => {
        					console.log(res);
        					alert("[[#{screen.info.status.save.success}]]");
        					updatedItems = [];
        					$(".btn_srch").click();
        				})
        				.catch((error) => {
        					console.log(error);
        					alert("[[#{screen.info.status.error.occur}]]");
        				})
    	    	}
    	    	
    	    });

          	//수정 버튼
    	    $(".btn_update").click(function() {
    	    	var items = $("#jsGrid").jsGrid("option", "data");
    	    	var item = items.filter(arr => arr.userId == selectedItems[0]);
    	    	showDetailForm(item[0]);
    	    });
          	
    	 	//검색어 입력후 키를 누를 경우
            $("#searchText").keydown(function(key) {
                //키의 코드가 13번일 경우 (13번은 엔터키)
                if (key.keyCode == 13) {
                	 $("#jsGrid").jsGrid().trigger("loadData"); 
                }
            });
    	 
          	//리셋 버튼
    	    $(".btn_reset").click(function() {
    	    	$("#searchText").val("");
    	    });
	     	
	     	// 팝업창 닫기 버튼 처리
            $('.close_btn').on('click', function (e) {
                e.preventDefault();
                clearDetailForm();
                $("#detailForm").hide();
                selectedItems = [];
            });
	     	
            //drag 활성화
	     	$("#detailForm").draggable();
	     	$(".modal-body").draggable();

            
            //팝업 가운데로 띄우기
             $.fn.center = function () {
                this.css("position","absolute");
                this.css("top", Math.max(0, (($(window).height() - $(this).outerHeight()) / 2) + $(window).scrollTop()) + "px");
                this.css("left", Math.max(0, (($(window).width() - $(this).outerWidth()) / 2) + $(window).scrollLeft()) + "px");
                return this;
            } 
            
            
            
          //모달 팝업 호출 
    	    $("#openModalPopup").on("click", function() { 
    	        // 팝업 호출 url
    	        var url = "/common/popup/deptPopup";
    	       
    	        
    	        //var child;
    	        //child = window.open(url, "_blank", "height:650, width:400"); //선언과 초기화 동시에 해도 됨
    	        
    	        
    	        // 팝업 호출
    	        $(".modal-body").load(url, function() {
    	        	
    	        	var modal =  $(".modal-body");
    	        	//modal.attr("style","position:'absolute'");
    	        	//modal.attr("style","width:'650px'");
    	        	//modal.attr("style","top:'400px'");
    	        	//modal.attr("style","top:'50%'");
    	        	//modal.attr("style","left:'50%'");
    	        	//modal.attr("style","-webkit-transform:'translate(-50%, -50%)'");
    	        	//modal.attr("style","-moz-transform:'translate(-50%, -50%)'");
    	        	//modal.attr("style","-ms-transform:'translate(-50%, -50%)'");
    	        	//modal.attr("style","-o-transform:'translate(-50%, -50%)'");
    	        	//modal.attr("style","transform:'translate(-50%, -50%)'");
    	        	//modal.center();
    	        	//modal = center(modal);
    	        	modal.center();
    	        	
    	            $("#ModalPopup").css( "style", "width:'100%'" );
    	            $("#ModalPopup").css( "style", "height:'100%'" );
    	            $("#ModalPopup").css( "style", "top:'0px'" );
    	            $("#ModalPopup").css( "style", "left:'0px'" );
    	            $("#ModalPopup").css( "zIndex", 999 );
    	            $("#ModalPopup").show(); 
    	            //$("#ModalPopup").css("display","block"); 
    	            
    	        }); 
    	        
    	    });
          
    	    
	    	    
    	});
	    
	    //상세팝업 초기화
	    function clearDetailForm() {
    	    $(".detail_table").find("#userId").val("");
    		$(".detail_table").find("#userNm").val("");
    		$(".detail_table").find("#userPw").val("");
    		$(".detail_table").find("#passRe").val("");
    		$(".detail_table").find("#deptCd").val("");
    		$(".detail_table").find("#clpstNm").val("");
    		$(".detail_table").find("#deptNm").val("");
    		$(".detail_table").find("#email").val("");
    		$(".detail_table").find("#telno").val("");
    		$(".detail_table").find("#sex").val("");
    		$(".detail_table").find("#useYn").val("");
	    }
	    
	    let save_mode = "";
	    //상세팝업 보여주기(등록/수정)
	    function showDetailForm(item) {
	    	
	    	if(selectedItems.length <= 1){
		    	
		    	let title = "[[#{screen.text.user.regist.title}]]";
		    	 var readOnly = false;
		    	 
		    	 if( item != null ) {
		    		 title = "[[#{screen.text.user.modify.title}]]";
		    		 save_mode = "update";
		    		 
		    		 readOnly = false;
		    		 $(".detail_table").find("#userId").val(item.userId);
		    		 $(".detail_table").find("#userId").attr("readOnly", true);
		    		 $(".detail_table").find("#userNm").val(item.userNm);
		    		 $(".detail_table").find("#deptNm").val(item.deptNm);
		    		 $(".detail_table").find("#deptCd").val(item.deptCd);
		    		 $("#clpstNm option:contains("+item.clpstNm+")").prop("selected", true).val();
		    		 $(".detail_table").find("#email").val(item.email);
		    		 $(".detail_table").find("#telno").val(item.telno);
		    		 $(".detail_table").find("#sex").val(item.sex);
		    		 $(".detail_table").find("#useYn").val(item.useYn);
		    	 } else {
		    		 save_mode = "insert";
		    		 $(".detail_table").find("#userId").attr("readOnly", false);
		    		 
		    	 }
		    		 
		    	 $(".list_head").find("#head_title").html(title);
		    	
		    	 //상세 팝업 호출
		    	 var df = $('#detailForm').css({
	                 position: 'absolute',
	                 top	 : "10px",
	                 left	 : "10px",
	                 width	 : "650px",
	                 height	 : "auto",
	                 border  : "2px solid navy"
	             });
		    	 //df = center(df);
		    	 df.center();
	             df.show();
	    	}else{
	    		alert("[[#{screen.info.status.modify.just.one}]]");
	    	}
	    } 
	    
		//모달 팝업 리턴값 세팅
	    function setResult(rst){ 
	    	$(".detail_table #deptCd").val(rst.deptCd);
	    	$(".detail_table #deptNm").val(rst.deptNm);
			//console.log("resut : "+JSON.stringify(rst));
		}
		
		//모달 팝업 닫기
	    function closePopup(obj){ 
			$(obj).hide();
		}
	    
		
		$(function(){
			
			$("#excelDown").on("click", function(){
				
		       	event.preventDefault();
                let url = "/system/user/usermng/userlistExcel";
				
				var $form = $('<form id="downForm"></form>'); 
					$form.attr('action', url); 
					$form.attr('method', 'post'); 
					$form.attr('target', '_self'); 
				var searchTextStr 	= $('<input type="hidden" value="'+$("#searchText").val()+'" name="searchText">'); 
					$form.append(searchTextStr);
					$form.appendTo('body'); 
					$form.submit();
			});
			
		});
	    </script>	
	</th:block>

	<div layout:fragment="content">
		<!-- contents_head -->
		<div class="bc">Home &gt; <span th:text="${menuDesc}"></span></div>
		<h3><span th:text="${menuNm}"></span></h3>
		<!-- //contents_head -->

		<!-- search -->
		<div class="srch_wrap single">
			<table class="srch_table">
			<colgroup>
					<col width="15%"/>
					<col width="20%"/>
					<col width="15%"/>
					<col width="20%"/>
					<col width="15%"/>
					<col width=""/>
			</colgroup>
				<tr>
					<td><label for="searchText" class="menu_label">사용자 명</label></td>
					<td><input id="searchText" type="text" style="width:100%; margin:10px;" onkeyup="enterkey()"></td>
					<td class="search" colspan="3">
					<!-- [button search] -->
					<header th:replace="layout/fragments/button_srch :: buttonSrchFragment"></header>
					</td>
				</tr>
			</table>
		</div>
		<!-- //search -->
		<div class="list_head">
				<div class="result">Totals : 0,000</div>
				
				<!-- [button cud ] -->
				<header th:replace="layout/fragments/button_cud :: buttonCudFragment"></header>
				
		</div>
		<!-- list -->
		<!-- //search -->

		<!-- list -->
		<div id="jsGrid"></div>
		<input type="hidden" id="curr_Idx"/>
		<!-- //list -->
		
		<!-- modal -->
		<div class="modal" id="ModalPopup" role="dialog" tabindex="-1" style="position:absolute;left:0px;top:0px;width:100%;height:100%;display:none;background-color: rgb(0,0,0,0.5);">
		        <div class="modal-body" style="position:absoulte;width:650px;height:300px;">
		        </div>
		</div>
		<!-- //modal -->
	
		<!-- detail popup -->
		<div id="detailForm" class="list_head" style="position:absoulte;z-index:1;display:none;">
		  <div id="container">
			  
		        <!-- list_head -->
				<div class="list_head">
					<h6><span id="head_title" ></span></h6>
					<!-- list_button -->
					<div class="button">
						<a class="btn_list save_btn">저장</a>
						<a class="btn_list close_btn">닫기</a>
					</div>
					<!-- list_button -->
				</div>
				<!-- //list_head -->
				<!-- detail_table -->
					<table class="detail_table ">
						<colgroup>
						<col style="width:20%" />
						<col style="width:30%" />
						<col style="width:20%" />
						<col style="width:30%" />
						<col />
						</colgroup>
						<tr>
							<th>사용자ID</th>
							<td><input type="text" id="userId" style="width:100%;"/></td>
							<th>사용자명</th>
							<td><input type="text" id="userNm" style="width:100%;"/></td>
						</tr>
						<tr>
							<th>비밀번호</th>
							<td><input type="password" id="userPw" style="width:100%;"/></td>
							
							<th>비밀번호 확인</th>
							<td><input type="password" id="passRe" style="width:100%;"/></td>
						</tr>
						<tr>
							<th>직급</th>
							<td ><select id="clpstNm" style="width:100%;">
									<option value="">선택</option>
								</select>
							</td>
							<th>부서코드</th>
							<td>
								<div class="form_wrap_ico">
									<input type="text" id="deptNm" style="width:40%;" readOnly/>&nbsp;<input type="text" id="deptCd" style="width:50%;" readOnly />
									<a href="#" id="openModalPopup" ><img title="[[#{screen.text.user.img.dept}]]" class="ico_search" alt="Search" src="/images/common/ico_search.png"></a>
								</div>
							</td>
						</tr>
						<tr>
							<th>이메일</th>
							<td><input type="text" id="email" style="width:100%;"/></td>
							<th>전화번호</th>
							<td><input type="text" id="telno" style="width:100%;"/></td>
						</tr>
						<tr>
							<th>성별</th>
							<td><select id="sex" style="width:100%;">
									<option value="M">[[#{screen.text.user.male}]]</option>
									<option value="F">[[#{screen.text.user.female}]]</option>
								</select>
							</td>
							<th>사용여부</th>
							<td ><select id="useYn" style="width:100%;">
									<option value="Y">[[#{screen.text.user.use}]]</option>
									<option value="N">[[#{screen.text.user.unused}]]</option>
								</select>
							</td>
						</tr>
					</table>
				<!-- //detail_table -->
				 
	     	</div>
     	</div>
     	
     	<div id="excelDownTarget"></div>
	
	</div>
	
</html>