<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout/popup2">

	<head>
	    <title>[[#{screen.text.inv.screen.title2}]]</title>
	</head>
        
	<!-- css -->
	<th:block layout:fragment="css">
	    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600,400' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/jsgrid.css" />
		<link rel="stylesheet" href="/css/theme.css" />
		
	</th:block>
	
	<th:block layout:fragment="script">
		<script src="/js/jsgrid/db.js"></script>
	    <script src="/js/jsgrid/jsgrid.core.js"></script>
	    <script src="/js/jsgrid/jsgrid.load-indicator.js"></script>
	    <script src="/js/jsgrid/jsgrid.load-strategies.js"></script>
	    <script src="/js/jsgrid/jsgrid.sort-strategies.js"></script>
	    <script src="/js/jsgrid/jsgrid.field.js"></script>
	    <script src="/js/jsgrid/fields/jsgrid.field.text.js"></script>
	    <script src="/js/jsgrid/fields/jsgrid.field.number.js"></script>
	    <script src="/js/jsgrid/fields/jsgrid.field.select.js"></script>
	    <script src="/js/jsgrid/fields/jsgrid.field.checkbox.js"></script>
	    <script src="/js/jsgrid/fields/jsgrid.field.control.js"></script>	
		
	    <script>
	    
	    let invData = $.commLoadSearchParams("invData");
	    var asetType = [];
	    
	    $(function(){
	    	
            let url = "/common/comm/selectBox";
			let reqType = 'GET';	

	    	$.commRequestSelectbox(url, reqType, "#bspic", "SITE");
	    	$.commRequestSelectbox(url, reqType, "#buld", "BUILDING");
	    	$.commRequestSelectbox(url, reqType, "#floor", "FLOOR");
	    	$.commRequestSelectbox(url, reqType, "#expDeptCd", "COST_CENTER");
	    	$.commRequestSelectbox(url, reqType, "#expAccp", "COST_ACCOUNT");
	    	
	    	//작업해당하는 투자정보
			$("#invNo").val(invData.invNo);
			$("#invTtl").val(invData.invTtl);
			$("#poNo").val(invData.poNo);
			$("#mfgdNm").val(invData.mfgdNm);
			$("#qty").val(invData.qty);
			$("#uppDeptNm").val(invData.uppDeptNm);
			$("#deptNm").val(invData.deptNm);
			$("#invReqr").val(invData.invReqr);
	    	
	        
    	    $(".btn_srch").on("click",function (){
    	    	if (validationCheck() == '202') {
	    	   		$("#jsGrid").jsGrid().trigger("loadData");
    	    	}
	        });
	        
    	    //팝업창 닫기
			$("#btn_close_pop").on("click",function(){ 
				window.close();
			});
	        
          	//리셋 버튼
    	    $(".btn_reset").click(function() {
    	    	$("#invNo").val("");
    	    	$("#invTtl").val("");
    	    	$("#poNo").val("");
    	    	$("#mfgdNm").val("");
    	    	$("#deptNm").val("");
    	    	$("#deptCd").val("");
    	    	$("#userNm").val("");
    	    	$("#userId").val("");
    	    	$("#fromDate").val("");
    	    	$("#toDate").val("");
    	    	$("#regYn").val("");
    	    });
          	
			// 신규 자산 등록
    	    $("#newAsetRegist").on("click", function() { 
    	        // 팝업 호출 url
    	        var url = "/asset/regist/invest/newAsetReg";
    	        var popId = "newAsetRegist";
    	        var args = {};
    	        args.width = 1350;
    	        args.height = 850;
    	        args.fullscreen = "no";
    	        args.resizable = "no";
    	        
    	        openPopup(popId, url, args);
    	    });
			
			// 사용자 팝업 호출 
    	    $("#openUserPopup").on("click", function() { 
    	        // 팝업 호출 url
    	        var url = "/common/popup/userPopup";
    	        var popId = "userPopup";
    	        var args = {};
    	        args.width = 650;
    	        args.height = 416;
    	        args.fullscreen = "no";
    	        args.resizable = "no";
    	        
    	        var param = {};
 	        	param.userId = "#userId";
 	        	param.userNm = "#userNm";
    	        
    	        openPopup2(popId, url, args, param);
    	    });
			
    	  	//공통코드팝업(트리) 호출 
     	    $("#openDeptPopup1").on("click", function() { 
     	    // 팝업 호출 url
    	        var url = "/common/popup/deptTreePopup";
    	        var popId = "DeptPopup";
    	        var args = {
    	        };
    	        args.width = 500;
    	        args.height = 450;
    	        args.fullscreen = "no";
    	        args.resizable = "no";
    	        
    	        var param = {};
    	        param.searchType = "BIZ_DEPT";
 	        	param.deptCd = "#deptCd1";
 	        	param.deptNm = "#deptNm1";
    	         	  
 	           openPopup2(popId, url, args, param);
     	    });
			
    	  	//공통코드팝업(트리) 호출 
     	    $("#openDeptPopup").on("click", function() { 
     	    // 팝업 호출 url
    	        var url = "/common/popup/deptTreePopup";
    	        var popId = "DeptPopup";
    	        var args = {
    	        };
    	        args.width = 500;
    	        args.height = 450;
    	        args.fullscreen = "no";
    	        args.resizable = "no";
    	        
    	        var param = {};
    	        param.searchType = "DEPT";
 	        	param.deptCd = "#deptCd2";
 	        	param.deptNm = "#deptNm2"; 
    	        
    	        openPopup2(popId, url, args, param);
     	    });
     	    
    	    asetTypeList();
    	    
    		// 자산 유형 선택 2레벨 그리기
    	    $('#asetType1').on('change', function() {
    	    	var asetType1 = event.srcElement.value;
    	    	
    	    	makeAsetCombo("#asetType2", getAsetType(asetType1))
    	    	makeAsetCombo("#asetType3", "")
    	    	$("#asetType3").prepend('<option value="">' + "[[#{screen.text.comm.choice}]]" + '</option>');
    	    	$("#asetType2").prepend('<option value="">' + "[[#{screen.text.comm.choice}]]" + '</option>');
    	    	$('#asetType2 option:contains("[[#{screen.text.comm.choice}]]")').prop('selected', true);
    	    });
    		
    	 	// 자산 유형 선택 3레벨 그리기
    	    $('#asetType2').on('change', function() {
    	    	var asetType2 = event.srcElement.value;
    	    	
    	    	makeAsetCombo("#asetType3", getAsetType(asetType2))
    	    	$("#asetType3").prepend('<option value="">' + "[[#{screen.text.comm.choice}]]" + '</option>');
    	    	$('#asetType3 option:contains("[[#{screen.text.comm.choice}]]")').prop('selected', true);
    	    });
    	 	
    		// 자산 유형 선택 2레벨 그리기
    	    $('#asetType3').on('change', function() {
    	    	
    	    	if($(this).val() != ""){
    	    		
					let url = "/asset/regist/invest/asetTypeInfo";
					let reqType = "POST";
					let data = {
						"asetType3" : $(this).val()
					};
					
					$.commRequest(url, reqType, JSON.stringify(data))
					.then((res) => {
						console.log(res);
						appendRow(res.data);
					})
					.catch((error) => {
						console.log("[[#{screen.info.status.error.search}]]");
					});
					
    	    	}
    	    	
    	    });
    	 	
    	});
	    
		//사용자팝업(자산담당자)에서 받은 결과 처리
		function setResult(obj) {
			$("#userId").val(obj.userId);
			$("#userNm").val(obj.userNm);
		}
		
	    function returnResult(item) {
			opener.selectAsetList(item);
			window.close(); 
	    }
	    
	    function appendRow(data){
	    	var leng = data.length;
	    	var str = '<colgroup>';
	    		str += '<col style="width:5%"/>';
	    		str += '<col style="width:10%"/>';
	    		str += '<col style="width:15%"/>';
	    		str += '<col style="width:5%"/>';
	    		str += '<col style="width:10%"/>';
	    		str += '<col style="width:15%"/>';
	    		str += '<col style="width:5%"/>';
	    		str += '<col style="width:10%"/>';
	    		str += '<col style="width:15%"/>';
	    		str = '</colgroup>';
	    	
	    	for (var i = 0; i < leng; i++) {
				str += '<tr><td></td>';
				str += '<th style="text-align:center;">' + data[i].code1 + '</th>';
				str += '<td><input type="text" id="' + data[i].codeVal1 + '" style="width:100%;"></td>';
				str += '<td></td>';
				if(data[i].codeVal2 != null){
					str += '<th style="text-align:center;">' + data[i].code2 + '</th>';
					str += '<td><input type="text" id="' + data[i].codeVal2 + '" style="width:100%;"></td>';
				}else{
					str += '<th></th>';
					str += '<td></td>';
				}
				str += '<td></td>';
				if(data[i].codeVal3 != null){
					str += '<th style="text-align:center;">' + data[i].code3 + '</th>';
					str += '<td><input type="text" id="' + data[i].codeVal3 + '" style="width:100%;"></td>';
				}else{
					str += '<th></th>';
					str += '<td></td>';
				}
				str += '<td></td>';
				str += '<td></td></tr>';
			}
	    	
	    	$('#append_table').empty();
	    	$('#append_table').append(str);
	    }
	    </script>
	</th:block>

	<div layout:fragment="content">
	<!-- [D] 현재 팝업창 크기는 600*600 입니다. 콘텐츠에 따라서 크기를 변경하여 주십시오.-->	
	<!-- pop_alert -->
	<div id="pop_wrap" >
			<!-- contents_head -->
			<!-- <div class="bc">Home &gt; <span th:text="${menuDesc}"></span></div> -->
			<h3><span>[[#{screen.text.inv.screen.title2}]]</span></h3>
			<!-- //contents_head -->
			<!-- contents -->
			<div id="contents">
				<div class="srch_wrap">
					<!-- search_form -->
					<div class="srch_wrap single">
						<table class="srch_table">
							<colgroup>
								<col style="width:5%"/>
								<col style="width:10%"/>
								<col style="width:15%"/>
								<col style="width:5%"/>
								<col style="width:10%"/>
								<col style="width:15%"/>
								<col style="width:5%"/>
								<col style="width:10%"/>
								<col style="width:15%"/>
							</colgroup>
							<tr>
								<td></td>
								<th style="text-align:center;">[[#{screen.text.inv.no}]]</th>
								<td><input type="text" id="invNo" onkeyup="enterkey()" style="width:100%;"></td>
								<td></td>
								<th style="text-align:center;">[[#{screen.text.inv.ttl}]]</th>
								<td><input type="text" id="invTtl" onkeyup="enterkey()" style="width:100%;"></td>
								<td></td>
								<th style="text-align:center;">[[#{screen.text.po.no}]]</th>
								<td><input type="text" id="poNo" onkeyup="enterkey()" style="width:100%;"></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<th style="text-align:center;">[[#{screen.text.po.mfgdnm}]]</th>
								<td><input type="text" id="mfgdNm" onkeyup="enterkey()" style="width:100%;"></td>
								<td></td>
								<th style="text-align:center;">[[#{screen.text.comm.qty}]]</th>
								<td><input type="text" id="qty" onkeyup="enterkey()" style="width:100%;"></td>
								<td></td>
								<th style="text-align:center;">[[#{screen.text.asset.bizDeptCd}]]</th>
                                <td><input type="text" id="uppDeptNm" onkeyup="enterkey()" style="width:100%;"></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<th style="text-align:center;">[[#{screen.text.asset.deptCd}]]</th>
                                <td><input type="text" id="deptNm" onkeyup="enterkey()" style="width:100%;"></td>
								<td></td>
								<th style="text-align:center;">[[#{screen.text.asset.chrgr}]]</th>
                                <td><input type="text" id="invReqr" onkeyup="enterkey()" style="width:100%;"></td>
								<td></td>
								<th style="text-align:center;"></th>
								<td></td>
							</tr>
						</table>
					 </div>
				</div>
					<div class="list_head">
						<div class="result"><h6>[[#{screen.text.inv.screen.subtitle1}]]</h6></div>
						<!-- list_button -->
						<div class="button">
							<a class="btn_sel" id="newAsetRegist">저장</a>
							<a class="btn_sel" id="excelDown">삭제</a>
						</div>
						<!-- list_button -->
					</div>
				<div class="srch_wrap single">
					<table class="srch_table">
							<colgroup>
								<col style="width:5%"/>
								<col style="width:10%"/>
								<col style="width:15%"/>
								<col style="width:5%"/>
								<col style="width:10%"/>
								<col style="width:15%"/>
								<col style="width:5%"/>
								<col style="width:10%"/>
								<col style="width:15%"/>
							</colgroup>
							<tr>
								<td></td>
								<th style="text-align:center;">[[#{screen.popup.text.asset.no}]]</th>
								<td><input type="text" id="asetNo" onkeyup="enterkey()" style="width:100%;"></td>
								<td></td>
								<th style="text-align:center;">[[#{screen.text.aset.nm2}]]</th>
								<td><input type="text" id="asetNm" onkeyup="enterkey()" style="width:100%;"></td>
								<td></td>
								<th style="text-align:center;"></th>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<th style="text-align:center;">[[#{screen.popup.text.asset.type1}]]</th>
								<td>
									<select id="asetType1" style="width:100%;">
										<option value="">[[#{screen.text.comm.choice}]]</option>
									</select>
								</td>
								<td></td>
								<th style="text-align:center;">[[#{screen.popup.text.asset.type2}]]</th>
								<td>
									<select id="asetType2" style="width:100%;">
										<option value="">[[#{screen.text.comm.choice}]]</option>
									</select>
								</td>
								<td></td>
								<th style="text-align:center;">[[#{screen.popup.text.asset.type3}]]</th>
								<td>
									<select id="asetType3" style="width:100%;">
										<option value="">[[#{screen.text.comm.choice}]]</option>
									</select>
								</td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<th style="text-align:center;">[[#{screen.text.asset.mftco}]]</th>
                                <td><input type="text" id="deptNm" onkeyup="enterkey()" style="width:100%;"></td>
								<td></td>
								<th style="text-align:center;">[[#{screen.text.asset.model}]]</th>
                                <td><input type="text" id="invReqr" onkeyup="enterkey()" style="width:100%;"></td>
								<td></td>
								<th style="text-align:center;">[[#{screen.text.asset.sn}]]</th>
								<td><input type="text" id="invReqr" onkeyup="enterkey()" style="width:100%;"></td>
							</tr>
							<tr>
								<td></td>
								<th style="text-align:center;">[[#{screen.text.asset.bizDeptCd}]]</th>
                                <td th:if="${session.MenuRoleCheck.roleId}=='ROLE_ADMIN'">
									<input type="hidden" id="deptCd1"/>
									<div class="inqr_popup_btn">
										<input type="text" id="deptNm1" style="width:100%; border-right: 1px none;" />
										<a href="#" id="openDeptPopup1" ><img title="사용자검색" class="ico_search" alt="Search" src="/images/common/ico_search.png"></a>
									</div>
								</td>
								<td></td>
								<th style="text-align:center;">[[#{screen.text.asset.deptCd}]]</th>
                                <td th:if="${session.MenuRoleCheck.roleId}=='ROLE_ADMIN'">
									<input type="hidden" id="deptCd2"/>
									<div class="inqr_popup_btn">
										<input type="text" id="deptNm2" style="width:100%; border-right: 1px none;" />
										<a href="#" id="openDeptPopup" ><img title="사용자검색" class="ico_search" alt="Search" src="/images/common/ico_search.png"></a>
									</div>
								</td>
								<td></td>
								<th style="text-align:center;">[[#{screen.text.asset.asetChrgr}]]</th>
								<td>
									<input type="hidden" id="userId"/>
									<div class="inqr_popup_btn">
										<input type="text" id="userNm" style="width:100%; border-right: 1px none;" />
										<a href="#" id="openUserPopup" ><img title="사용자검색" class="ico_search" alt="Search" src="/images/common/ico_search.png"></a>
									</div>
								</td>
							</tr>
							<tr>
								<td></td>
								<th style="text-align:center;">[[#{screen.text.aset.bspic}]]</th>
                                <td>
	                                <select id="bspic" style="width:100%;">
	                                	<option value="">[[#{screen.text.comm.choice}]]</option>
	                                </select>
                                </td>
								<td></td>
								<th style="text-align:center;">[[#{screen.text.aset.buld}]]</th>
                                <td>
	                                <select id="buld" style="width:100%;">
	                                	<option value="">[[#{screen.text.comm.choice}]]</option>
	                                </select>
                                </td>
								<td></td>
								<th style="text-align:center;">[[#{screen.text.aset.floor}]]</th>
								<td>
	                                <select id="floor" style="width:100%;">
	                                	<option value="">[[#{screen.text.comm.choice}]]</option>
	                                </select>
                                </td>
							</tr>
							<tr>
								<td></td>
								<th style="text-align:center;">[[#{screen.text.aset.loc}]]</th>
                                <td><input type="text" id="deptNm" onkeyup="enterkey()" style="width:100%;"></td>
								<td></td>
								<th style="text-align:center;"></th>
                                <td></td>
								<td></td>
								<th style="text-align:center;">[[#{screen.text.tag.tagKey}]]</th>
								<td><input type="text" id="invReqr" onkeyup="enterkey()" style="width:100%;"></td>
							</tr>
							<tr>
								<td></td>
								<th style="text-align:center;">[[#{screen.text.aset.expDeptCd}]]</th>
                                <td>
	                                <select id="expDeptCd" style="width:100%;">
	                                	<option value="">선택</option>
	                                </select>
                                </td>
								<td></td>
								<th style="text-align:center;">[[#{screen.text.aset.expAcct}]]</th>
                                <td>
	                                <select id="expAccp" style="width:100%;">
	                                	<option value="">선택</option>
	                                </select>
                                </td>
								<td></td>
								<th style="text-align:center;">[[#{screen.text.aset.durYear}]]</th>
								<td><input type="text" id="durYear" onkeyup="enterkey()" style="width:100%;"></td>
							</tr>
							<tr>
								<td></td>
								<th style="text-align:center;">[[#{screen.text.aset.acqPrc}]]</th>
                                <td><input type="text" id="arqPrc" onkeyup="enterkey()" style="width:100%;"></td>
								<td></td>
								<th style="text-align:center;">[[#{screen.text.aset.svalPrc}]]</th>
                                <td><input type="text" id="svalPrc" onkeyup="enterkey()" style="width:100%;"></td>
								<td></td>
								<th style="text-align:center;">[[#{screen.text.aset.acqDt}]]</th>
								<td><input type="date" id="acqDt" onkeyup="enterkey()" style="width:100%;"></td>
							</tr>
					</table>
				</div>
				<div class="list_head">
					<div class="result"><h6>[[#{screen.text.inv.screen.subtitle2}]]</h6></div>
				</div>
				<div class="srch_wrap single">
					<table class="srch_table" id="append_table">
							<colgroup>
								<col style="width:5%"/>
								<col style="width:10%"/>
								<col style="width:15%"/>
								<col style="width:5%"/>
								<col style="width:10%"/>
								<col style="width:15%"/>
								<col style="width:5%"/>
								<col style="width:10%"/>
								<col style="width:15%"/>
							</colgroup>
					</table>		
				</div>
			</div>
			</div>
			<!-- //pop_alert -->
		</div>			
</html>