<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        layout:decorator="layout/none">
	<head>
		<meta charset="UTF-8">
		<title>Login</title>
		
	<th:block layout:fragment="script">	
		<script>
		
			if( opener != null ) {
				console.log('부모창있음!!');
				opener.top.location.href="/user/login";
				self.close();
			}
			
			$(function(){
				//div 가운데로
	             $.fn.center = function () { 
	                this.css("position","absolute");
	                this.css("top", Math.max(0, (($(window).height() - $(this).outerHeight()) / 2) + $(window).scrollTop()) + "px");
	                this.css("left", Math.max(0, (($(window).width() - $(this).outerWidth()) / 2) + $(window).scrollLeft()) + "px");
	                return this;
	            } 
	            
				//로그인 폼 가운데 위치
				$("#divMain").center();
				$("#divLogin").center();
				
				//메인 div 사이즈 조정
				$("#divCont").css("width", ($(window).width() - 50)+"px");
				$("#divCont").css("height", ($(window).height() - 210)+"px");
				
				//브라우저 사이즈 변경시...
				$(window).resize(function(){ 
					$("#divMain").center();
					$("#divLogin").center();
				});
				
				
				//로그인 버튼 클릭시...
				$("#btnLogin").on("click", function(){
					goLogin();
				});
				
				$("#userId").keydown(function(key){
					if (key.keyCode == 13) {
	                	goLogin();
	                }
				});
				$("#userPw").keydown(function(key){
					if (key.keyCode == 13) {
	                	goLogin();
	                }
				});
				
				//리셋 버튼 클릭시 입력값 초기화
				$("#btnReset").on("click", function(){ console.log("reset");
					$("#userId").val("");   
					$("#userPw").val("");   
				});
				
				$("#btnJoin").on("click", function(){
					//
				});
				
			});
			
			//로그인 처리
			function goLogin() {
				
				var userId = $("#userId").val();
				var userPw = $("#userPw").val();
				
				if( userId == null || userId == "" ) {
					alert("사용자 ID를 입력하세요");
					$("#userId").focus();
					return false;
				}
				if( userPw == null || userPw == "" ) {
					alert("비밀번호를 입력하세요");
					$("#userPw").focus();
					return false;
				}
				
				//  
				 var $form = $('<form></form>'); 
				 $form.attr('action', "/login"); 
				 $form.attr('method', 'post'); 
				 $form.appendTo('body'); 
				 var userIdStr 	= $('<input type="hidden" value="'+userId+'" name="userId">'); 
				 var userPwStr 	= $('<input type="hidden" value="'+userPw+'" name="userPw">'); 
				 $form.append(userIdStr).append(userPwStr);
				 $form.submit();
			}
			
		</script>
	</th:block>
		
	</head>
	<body>
	
	<div layout:fragment="content" id="divCont">
	
		<div id="divMain" style="position:absoulte;width:340px;height:200px;background-color:rgba(237, 233, 232, 0.7);"></div>
		<div id="divLogin" style="position:absoulte;width:300px;height:160px;">
			<div sec:authorize="!isAuthenticated()">
			<h2>로그인 </h2>
				<table  class="detail_table">
					<colgroup>
						<col width="30%">
						<col width="70%">
					</colgroup>
				    <tr>
				        <th>사용자 ID</th>
				        <td><input type="text" id="userId" value=""></td>
				    </tr>
				    <tr>
				        <th>비밀번호</th>
				        <td><input type="password" id="userPw" value="1111"></td>
				    </tr>
				</table>
				<table>
				    <tr>
				        <td align="center"><input type="button" id="btnLogin" class="btn_list" value="로그인"></td>
				        <td align="center"><input type="button" id="btnReset" class="btn_list" value="리셋"></td>
				        <td align="center">
				        	<input type="button" value="회원가입" id="btnJoin" class="btn_list"  onClick="location.href='/signupView'">
				        </td>				        
				    </tr>
				</table>
			</div>
		</div>
		
	</div>
	
	</body>
</html>