<!DOCTYPE html>
<html 	lang="ko" 
        xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<!-- [head] 영역 시작 -->
	<head th:replace="layout/fragments/head :: headFragment">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	</head>
	<!-- [head] 영역 끝 -->

	<body>
	
		<!-- [menu] 영역 시작 -->
		<div th:replace="layout/fragments/menu :: menuFragment"></div>
		<!-- [menu] 영역 끝 -->
		
		<!-- [content] 영역 시작 -->
		<div layout:fragment="content"></div>
		<!-- [content] 영역 끝 -->
	
	</body>
</html>