<!DOCTYPE html>
<html 	lang="ko" 
        xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<!-- [head] -->
	<head th:replace="layout/fragments/head :: headFragment">
		<title layout:title-pattern="TAMS-$CONTENT_TITLE">default</title>
	</head>
	<!-- [head] -->

	<body>
	
		<!-- [menu] -->
		<header th:replace="layout/fragments/menu :: menuFragment"></header>
		<!-- [menu] -->
		
		<div id="container">
			<div id="content">
				<!-- [content] -->
				<div layout:fragment="content"></div>
				<!-- [footer] -->
				<footer th:replace="layout/fragments/footer :: footerFragment"></footer>
			</div>
		</div>
	
	</body>
</html>